
<div id="wrapper_header_template">
	<div id="header_logo">
		<img style="width:300px; margin-top:0px; margin-left:0px" src="C:\Users\Administrator\Desktop\cabletracker\app\assets\images\logo.png" />
	</div>
TESSSSSSSSSSSSSSSSSSSSSSSSSSSSSST
	<div id="header_address">
		<p>
			seesys GmbH
			<br />
			Max-Stromeyer-Str. 116
			<br />
			78467 Konstanz
		</p>
		<p>
			Tel: +49 (0)7531/80 229-0
			<br />
			Fax: +49 (0)7531/80 229-99
		</p>
	</div>
</div>
<br style="clear:both">
<hr />