<li class="first <%= controller.controller_path == 'management/reports' ? 'active' : '' %>"><%= link_to "Übersicht", management_reports_path %></li>
<li class="first <%= controller.controller_path == 'management/reports/crp_reports' ? 'active' : ''%>"><%= link_to "Kapazitätenbedarfsplanung", management_reports_crp_reports_path %></li>
<li class="first <%= controller.controller_path == 'management/reports/quality_reports' ? 'active' : '' %>"><%= link_to "Qualitätsreport", management_reports_quality_reports_path %></li>
<li class="first <%= controller.controller_path == 'management/reports/total_evaluation_reports' ? 'active' : ''%>"><%= link_to "Auswertungen", management_reports_total_evaluation_reports_path %></li>
