<% page_param_name ||= "page" %>
<% search_param_name ||= "q" %>
<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<div class="block">
	<div class="secondary-navigation">
		<ul class="wat-cf">
			<%= render "sub_menu" %>
		</ul>
	</div>

	<div class="content">

		<iframe src="/management/reports/overview_performance_appointments" width="310" height="400" frameborder="0" scrolling="no"></iframe>
		<iframe src="/management/reports/overview_performance_success" width="310" height="400" frameborder="0" scrolling="no"></iframe>
		<iframe src="/management/reports/overview_dispositions" width="310" height="400" frameborder="0" scrolling="no"></iframe>

		<!-- <div id="quality_report" style="padding-top: 50px;">
		<h2 class="title">Testreport</h2>
		<a class="button" href="/management/reports/test_reports/test?tid=1">Test1</a>
		<a class="button" href="/management/reports/test_reports/test?tid=2">Test2</a>
		<a class="button" href="/management/reports/test_reports/test?tid=3">Test3</a>
		<a class="button" href="/management/reports/test_reports/test?tid=4">Test4</a>
		<a class="button" href="/management/reports/test_reports/test?tid=5">Test5</a>
		<a class="button" href="/management/reports/test_reports/test?tid=6">Test6</a>
		</div> -->
		<br style="clear:both"/>
	</div>

	<!-- <% content_for :bottom do %>
	<script>
	$(function() {
	$("#wrapper_crp .button").click(function() {
	var oldUrl = $(this).attr("href");

	//Mandant auswählen
	var clientId = $("#client_id_select").val();
	var newUrl = oldUrl + clientId;

	//Format auswählen
	var format = $("#format_select").val();
	if (format == 'pdf') {
	newUrl = newUrl.replace("?", ".pdf?");
	}
	if (format == 'csv') {
	newUrl = newUrl.replace("?", ".csv?");
	}
	$(this).attr("href", newUrl);
	})
	});

	</script>
	<% end %> -->
</div>

<!-- <script type="text/javascript">
function setColspan() {

}
=======
<% page_param_name ||= "page" %>
<% search_param_name ||= "q" %>
<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<div class="block">
	<div class="secondary-navigation">
		<ul class="wat-cf">
			<%= render "sub_menu" %>
		</ul>
	</div>

	<div class="content">

		<iframe src="/management/reports/overview_performance_appointments" width="310" height="400" frameborder="0" scrolling="no"></iframe>
		<iframe src="/management/reports/overview_performance_success" width="310" height="400" frameborder="0" scrolling="no"></iframe>
		<iframe src="/management/reports/overview_dispositions" width="310" height="400" frameborder="0" scrolling="no"></iframe>

		<!-- <div id="quality_report" style="padding-top: 50px;">
		<h2 class="title">Testreport</h2>
		<a class="button" href="/management/reports/test_reports/test?tid=1">Test1</a>
		<a class="button" href="/management/reports/test_reports/test?tid=2">Test2</a>
		<a class="button" href="/management/reports/test_reports/test?tid=3">Test3</a>
		<a class="button" href="/management/reports/test_reports/test?tid=4">Test4</a>
		<a class="button" href="/management/reports/test_reports/test?tid=5">Test5</a>
		<a class="button" href="/management/reports/test_reports/test?tid=6">Test6</a>
		</div> -->
		<br style="clear:both"/>
	</div>

	<!-- <% content_for :bottom do %>
	<script>
	$(function() {
	$("#wrapper_crp .button").click(function() {
	var oldUrl = $(this).attr("href");

	//Mandant auswählen
	var clientId = $("#client_id_select").val();
	var newUrl = oldUrl + clientId;

	//Format auswählen
	var format = $("#format_select").val();
	if (format == 'pdf') {
	newUrl = newUrl.replace("?", ".pdf?");
	}
	if (format == 'csv') {
	newUrl = newUrl.replace("?", ".csv?");
	}
	$(this).attr("href", newUrl);
	})
	});

	</script>
	<% end %> -->
</div>

<!-- <script type="text/javascript">
function setColspan() {

}
>>>>>>> 95f555e8826e1534374a6520d0d8ab16a682f413
</script> -->