<div style="position:absolute; right:0px; z-index:2">
<label for="client_id_select">Mandant</label> <%= select_tag "client_id_select", options_for_select(Client.find(current_user.client_ids).collect {|p| [ p.name, p.id]},params[:client_id]) %>
</div> 
<div style="position:absolute; top:0px; z-index:1">
<%= raw @report.render_html %>
</div>
<script>
	$(function() {
		$("#client_id_select").change(function() {
			var oldUrl = window.location.toString();

			//Mandant auswählen
			var clientId = $("#client_id_select").val();
			if (oldUrl.indexOf("client_id=") == -1)
				oldUrl += "?client_id="
			var newUrl = oldUrl.toString().split("=")[0] +"="+ clientId;
			window.location = newUrl;
		})
	});

</script>