<% disabled = false unless defined?(disabled) %>

<% if @article_availability.errors.any? %>
<%= render :partial => "general/error_messages", :locals => { :current_model => @article_availability } %>
<% end %>

<fieldset class="group">
  <legend>Artikelverfügbarkeitsdetails</legend>
  <div class="c">
    <%= simple_select(f, @article_availability, :supplier_id, "Lieferant", Supplier.belonging_to_user_client(current_user).collect {|c| [ c.name, c.id ] }, disabled, true) %>
    <%= simple_select(f, @article_availability, :article_id, "Artikel", Article.belonging_to_user_client(current_user).collect {|c| [ c.name, c.id ] }, disabled, true) %>
    <%= simple_text_field(f, @article_availability, :delivery_time_in_days, "Lieferzeit", disabled, true)  %>
    <%= simple_text_field(f, @article_availability, :purchase_price, "Einkaufspreis", disabled, true)  %>
  </div>
</fieldset>


<% begin %>  
<div class="navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "speichern")%> speichern
  </button>

  <% if (!@article_availability.errors.any?) && (params[:action] != "new") then %>
  <%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen")+" löschen", purchase_article_availability_path(@article_availability), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}", :class=>"button" %>
  <% end %>
  <span class="text_button_padding"> oder </span>
  <%= link_to "abbrechen", purchase_article_availabilities_path, :class => "text_button_padding link_button" %>
</div>
<% end unless disabled %>
