<li class="first <%= params[:action]  == 'index' ? 'active' : '' %>"><%= link_to "Alle Artikelverfügbarkeiten", purchase_article_availabilities_path %></li>
<li class="<%= params[:action] == 'new' ? 'active' : '' %>"><%= link_to "Neue Artikelverfügbarkeit anlegen", new_purchase_article_availability_path %></li>
<% if params[:action] == 'edit' then %>
<li class="active"><%= link_to "Artikelverfügbarkeit bearbeiten", edit_purchase_article_availability_path %></li>
<% end %>
<% if params[:action] == 'show' then %>
<li class="active"><%= link_to "Artikelverfügbarkeitsansicht", purchase_article_availability_path %></li>
<% end %>

