<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title">Alle Artikelverfügbarkeiten</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first" style="width:200px">Artikel</th>
          <th style="width:400px">Lieferant</th>
          <th style="width:100px">Einkaufspreis</th>
          <th style="width:100px">Lieferzeit</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @article_availabilities.each do |article_availability| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= article_availability.article.name %>
          </td>
          <td>
            <%= article_availability.supplier.name  %>
          </td>
          <td>
            <%= article_availability.purchase_price %>
          </td>
          <td>
            <%= article_availability.delivery_time_in_days %>
          </td>
          <td class="last">
            <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), purchase_article_availability_path(article_availability) %>
            <%= link_to image_tag("/assets/icons/edit.png", :title=>"Bearbeiten", :alt=>"Bearbeiten"), edit_purchase_article_availability_path(article_availability) %>
            <%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen"), purchase_article_availability_path(article_availability), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <%= page_entries_info %><br/><br/><br/>
      <%= will_paginate @article_availabilities %><br/><br/><br/>
    </div>
  </div>
</div>

