<div id='test_chart'></div>

<script src="/assets/jquery.js?body=1" type="text/javascript"></script>
<script src="/assets/highcharts.js?body=1" type="text/javascript"></script>
<script type="text/javascript" charset="UTF-8">
 $(function(){
 	new Highcharts.Chart({
 	 chart: {
 	 	renderTo: test_chart
 	 }	,
 	 title:{
 	 	text: "test_chart"
 	 },
 	 xAxis:{
 	 	type:"date"
 	 },
 	 yAxis:{
 	 	title:{
 	 		text: "test"
 	 	}
 	 },
 	 series:[{
 	 	data: [1,2,5,3]
 	 }]
 	});
 });
	
</script>

