
<%= form_for :article_availability, :url => url_for([current_view, @article_availability.article, :article_availabilities])+"?fromPath=#{params[:fromPath]}", :html => { :class => :form } do |f| -%>
<%= render :partial => "general/article_article_availability_form", :locals => {:f => f, :disabled => true} %>
<% end -%>
