<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Terminanfrage bearbeiten<%= raw " für Auftrag "+link_to(@appointment_request.job.short_description, [current_view, @appointment_request.job]) if @appointment_request.job %></h2>
    <div class="inner">
      <%= form_for @appointment_request, :url => [current_view, @appointment_request], :html => { :class => :form } do |f| -%>
        <%= render :partial => "general/appointment_request_form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>
