<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Terminanfrage<%= raw " für Auftrag "+link_to(@appointment_request.job.short, [current_view, @appointment_request.job], :class => "link") if @appointment_request.job %></h2>
    <div class="inner">
    <div class="inner">
      <%= form_for @appointment_request, :url => [current_view, @appointment_request], :html => { :class => :form } do |f| -%>
        <%= render :partial => "general/appointment_request_form", :locals => {:f => f, :disabled => true} %>
      <% end -%>
        <% if ["admin","scheduling","scheduling_leader"].include?(current_view) then %>
       <div class="navform wat-cf">
        <a class="button" href="<%= url_for([:edit, current_view, @appointment_request]) %>">
          <%= image_tag("/assets/icons/edit.png", :alt => "bearbeiten")%> bearbeiten
        </a>

        <a class="button" href="<%= url_for([:new, current_view, @appointment_request.job, :appointment])+"?requestId="+@appointment_request.id.to_s %>">
        <%= image_tag("/assets/icons/calendar.png", :alt => "Termin erstellen")%> Termin erstellen
        </a>

      </div>
        <% end %>
    </div>
  </div>
</div>
