<% disabled = false unless defined?(disabled) %>

  <% if @client.errors.any? %>
    <%= render :partial => "general/error_messages", :locals => { :current_model => @client } %>
  <% end %>
  
  <fieldset class="group">
    <legend>Mandantendetails</legend>
    <div class="cc" >
    <%= f.label :name, t("activerecord.attributes.client.start", :default => "Name"), :class => :label %>
    <%= f.text_field :name, :class => 'text_field', :disabled => disabled %>

    <%= f.label :ot_login, "OT Login", :class => :label %>
    <%= f.text_field :ot_login, :class => 'text_field', :disabled => disabled %>
  
    <%= f.label :ot_password, "OT Passwort", :class => :label %>
    <%= f.text_field :ot_password, :class => 'text_field', :disabled => disabled %>

    <%= f.label :active, t("activerecord.attributes.active", :default => "aktiv"), :class => :label %>
    <%= f.check_box :active, :class => 'check_box', :disabled => disabled %>
  </div>
  </fieldset>
<% begin %>  
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "speichern")%> speichern
  </button>

<% if (!@client.errors.any?) &&(params[:action] != "new") then %>
  <%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen")+" löschen", admin_client_path(@client), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}", :class=>"button" %>
<% end %>
  <span class="text_button_padding"> oder </span>
	<%= link_to "abbrechen", admin_clients_path, :class => "text_button_padding link_button" %>
</div>
<% end unless disabled %>