<li class="first <%= params[:action]  == 'index' ? 'active' : '' %>"><%= link_to "Alle Mandanten", admin_clients_path %></li>
<li class="<%= params[:action] == 'new' ? 'active' : '' %>"><%= link_to "Neuen Mandanten anlegen", new_admin_client_path %></li>
<% if params[:action] == 'edit' then %>
<li class="active"><%= link_to "Mandanten bearbeiten", edit_admin_client_path %></li>
<% end %>
<% if params[:action] == 'show' then %>
<li class="active"><%= link_to "Mandantenansicht", admin_client_path %></li>
<% end %>

