<!DOCTYPE html>
<html>
<head>
  <title><%= Settings.PRODUCT_NAME %></title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body style="background-color:white;">
<body>
  <div>
    <div id="header" style="background-color:white;  border-bottom: 2px solid #aaa; height: 90px">
      <a href="/"><%= image_tag "logo.png", :style => "width:500px; position:relative; top:15px" %></a>
    </div>
    <div class="login-form">
      <h2 class="header">Anmeldung</h2>
      <%= form_for(resource, :url => session_path(resource_name)) do |f| %>
        <p><%= f.label :email, "Email", :class => "label" %></p>
        <p><%= f.text_field :email %></p>

        <p><%= f.label :password, "Passwort", :class => "label" %></p>
        <p><%= f.password_field :password %></p>

        <p><%= f.submit "anmelden", :class => "button primary" %></p>
      <% end %>

<center>
<%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
<%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
<%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
</center>

  </div>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript">
   document.getElementById("user_email").focus();
  </script>
</body>
<html>