<!DOCTYPE html>
<html>
<head>
  <title>scheduling mobile</title>
  <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1">
  <%= stylesheet_link_tag 'http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.css' %>
  <%= javascript_include_tag 'http://code.jquery.com/jquery-1.4.3.min.js' %>
  <%= javascript_include_tag 'jquery_ujs' %>
  <%= javascript_include_tag 'http://code.jquery.com/mobile/1.0a4/jquery.mobile-1.0a4.min.js' %> 
  
  <% stylesheet_link_tag 'http://code.jquery.com/mobile/1.0rc1/jquery.mobile-1.0rc1.min.css' %>
  <% javascript_include_tag 'http://code.jquery.com/jquery-1.6.4.min.js' %>
  <% javascript_include_tag 'jquery_ujs' %>
  <% javascript_include_tag 'http://code.jquery.com/mobile/1.0rc1/jquery.mobile-1.0rc1.min.js' %>
  <%= csrf_meta_tag %>
  <style type="text/css">
    h1{
      font-size: 25px;
    }
    .odd{
      background-color:white;
    }
    .even{
      background-color:#ebebeb;
    }
  .panel 
  {
      width:100%;
    border-collapse:collapse;
  }
  .panel ,th, td
  {
    border: 1px solid #ddd;
  }
    .panel .name{
      padding:10px;
      background-color:#ebebeb;
      
    }
    .panel .value{
      padding:10px;
      background-color:#fff;
      
    }
    .small-header{
      font-weight: bold;
    }
    h2{
      font-size:16px;
      padding:0;
      margin:0;
    }
    .group .cc{
      padding:10px;
    }
  </style>

  </head>
  <body>
  <div>
  <div style="background-color:#36393d">
<center>
<%= image_tag "/images/mobile_logo.png" %>
</center>
</div>
<br/>
    <div class="login-form" style="width:330px; margin-left:auto; margin-right:auto">
      <h1>Anmeldung</h1>
      <%= form_for(resource_name, resource, :url => session_path(resource_name)) do |f| %>
        <p><%= f.label :email, "Email", :class => "label" %></p>
        <p><%= f.text_field :email, :style => "width:90%" %></p>

        <p><%= f.label :password, "Passwort", :class => "label" %></p>
        <p><%= f.password_field :password, :style => "width:90%" %></p>

<br/>
        <p><%= f.submit "anmelden", :class => "btn primary", "data-inline" => true %></p>
      <% end %>
  </div>
  <script type="text/javascript">
        
$(document).bind("mobileinit", function(){
  $.extend(  $.mobile , {
    foo: bar
  });
});
    </script>

</div>
</body>
</html>