<li class="first <%= params[:action]  == 'index' ? 'active' : '' %>"><%= link_to "Alle Auftragsabschlüsse", scheduling_completions_path %></li>
<% if params[:action] == 'edit' then %>
<li class="active"><%= link_to "Auftragsabschluss bearbeiten", edit_scheduling_completion_path %></li>
<% end %>
<% if params[:action] == 'show' then %>
<li class="active"><%= link_to "Auftragsabschlussansicht", scheduling_completion_path %></li>
<% end %>

