<div class="navform wat-cf button-bar">
	<%= link_to(image_tag("/assets/icons/application_view_list.png", :alt => "PDF mit Terminen erzeugen")+"PDF mit Terminen erzeugen", "/scheduling/service_users/#{@service_user.id}/create_pdf", :class => "button", :target => "_blank") %>
	<%= link_to(image_tag("/assets/icons/email_go.png", :alt => "Email mit Terminen für morgen schicken")+"Email mit Terminen für morgen schicken", "/scheduling/service_users/#{@service_user.id}/mail_appointments_list", :class => "button") %>
	<%= link_to(image_tag("/assets/icons/email_go.png", :alt => "Formular schicken für jeden Termin morgen")+"Formular schicken für jeden Termin morgen", "/scheduling/service_users/#{@service_user.id}/mail_tomorrow_appointments_forms", :class => "button") %>
</div>
