<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Termine für <%= @service_user.full_name %></h2>
    <div id="service-user-selection">
      <label for="service-users">Techniker:</label>
      <%= select_tag "service-users", options_for_select(ServiceUserGroup.available_service_users_for(current_user).collect{|u| [u.full_name, u.id]}, :selected => params[:id]) %>
    </div>
    <div class="clear">&nbsp;</div>
    <div class="inner">
      <%= render :partial => "general/calendar", :locals => { :users => [@service_user], :data_url =>  "/scheduling/service_users/#{@service_user.id.to_s}/appointments_data", :on_click_path => "/scheduling/appointments/CAL_EVENT_ID/edit", :read_only => false } %>
    </div>
  </div>
</div>

<%= content_for :bottom do %>
<script type="text/javascript">
  $(function() {
  $("#service-users").change(function(){
   window.location = "/scheduling/service_users/"+$("#service-users").val()+"/appointments" 
  });
});
</script>
<% end %>
