<% page_param_name ||= "page" %>
<% search_param_name ||= "q" %>
<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title">Alle bekannten Techniker</h2>
    <div class="inner">
      <table class="table users">
        <tr>             
          <th class="first"><%= sort_link_custom search_param_name, :vorname, "Vorname" %></th>
          <th class='nachname'><%= sort_link_custom search_param_name, :nachname, "Nachname" %></th>
          <th class='client_names'><%= sort_link_custom search_param_name, :client_names, "zugehörig" %></th>
          <th class='telefon'><%= sort_link @search, :telefon, {}, :method => :get %></th>
          <th class='mobil'><%= sort_link @search, :telefon_mobil, {}, :method => :get %></th>
          <th class='plz'><%= sort_link_custom search_param_name, :plz, "Plz" %></th>
          <th class='ort'><%= sort_link_custom search_param_name, :ort, "Ort" %></th>
          <th class='strasse'><%= sort_link_custom search_param_name, :strasse, "Strasse" %></th>
          <th class='hausnummer'><%= sort_link_custom search_param_name, :hausnummer, "Hausnummer" %></th>
          <th class="last">&nbsp;</th>
        </tr>

        <% @service_users.each do |service_user| %>
          <tr class="<%= cycle("odd", "even") %>">
            <td><%= service_user.vorname %></td>
            <td><%= service_user.nachname %></td>
            <td><%= service_user.client_names %></td>
            <td><%= service_user.telefon %></td>
            <td><%= service_user.telefon_mobil %></td>
            <td><%= service_user.plz %></td>
            <td><%= service_user.ort %></td>
            <td><%= service_user.strasse %></td>
            <td><%= service_user.hausnummer %></td>
            <td class="last">
                <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), scheduling_service_user_path(service_user) %>
                <%= link_to image_tag("/assets/icons/date.png", :title=>"Kalender", :alt=>"Kalender"), appointments_scheduling_service_user_path(service_user) %>
              </td>
          </tr>
        <% end %>
      </table>
      <div class="navform wat-cf">
        <div class="page-entries"><%= page_entries_info %></div>
        <%= will_paginate @jobs %>
      </div>

    </div>
  </div>
</div>

