<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Klärungsfall bearbeiten<%= raw " für Auftrag "+link_to(@cancellation.job.short_description, [current_view, @cancellation.job]) if @cancellation.job %></h2>
    <div class="inner">
      <%= form_for @cancellation, :url => url_for([current_view, @cancellation])+"?fromPath=#{params[:fromPath]}", :html => { :class => :form, :multipart => true } do |f| -%>
        <%= render :partial => "general/cancellation_form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>
