<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title">Alle Klärungsfälle</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first" style="width:600px">Auftrag</th>
          <th style="width:150px">erstellt am</th>
          <th style="width:150px">Techniker</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @cancellations.each do |cancellation| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= link_to cancellation.job.short_description, [current_view, cancellation.job] unless cancellation.job.blank? %>
          </td>
          <td>
            <%= cancellation.created_at.strftime("%d.%m.%Y %H:%M") %>
          </td>
          <td>
            <%= link_to cancellation.user.full_name, [current_view, cancellation.user] unless cancellation.user.blank? %>
          </td>
          <td class="last">
            <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), [current_view, cancellation] %>
            <%= link_to image_tag("/assets/icons/edit.png", :title=>"Bearbeiten", :alt=>"Bearbeiten"), [:edit, current_view, cancellation] %>
            <%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen"), [current_view, cancellation], :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <%= page_entries_info %><br/><br/><br/>
      <%= will_paginate @posts %><br/><br/><br/>
    </div>
  </div>
</div>

