<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Klärungsfall<%= raw " für Auftrag "+link_to(@cancellation.job.short, [current_view, @cancellation.job], :class => "link") if @cancellation.job %></h2>
    <div class="inner">
    <div class="inner">
      <%= form_for @cancellation, :url => url_for([current_view, @cancellation]), :html => { :class => :form } do |f| -%>
        <%= render :partial => "general/cancellation_form", :locals => {:f => f, :disabled => true} %>
      <% end -%>
       <div class="navform wat-cf">
        <a class="button" href="<%= url_for([:edit, current_view, @cancellation]) %>">
          <%= image_tag("/assets/icons/edit.png", :alt => "bearbeiten")%> bearbeiten
        </a>
      </div>
    </div>
  </div>
</div>
