
<%= render :partial => "general/uploader_base_header", :locals => {:model_name => "service_completion"} %>
<style type="text/css">
.thumb{
  width:100px;
  height:75px;
  border: 1px solid #aaa;
}
.time_select select{
  margin-top: 10px;
}
</style>
<% disabled = false unless defined?(disabled) %>
<% if @service_completion.errors.any? %>
<%= render :partial => "general/error_messages", :locals => { :current_model => @service_completion } %>
<% end %>
<%= hidden_field :service_completion, :service_appointment_id, :value => @service_completion.service_appointment_id %>

<% # render :partial => "general/job_details", :locals => { :job => @service_completion.service_appointment.job } %>

<fieldset class="group">
  <legend>Auftragdetails</legend>
  <div class="cc" >
    <%= simple_text_field(f, @service_completion, :order_number, "OT Auftragsnummer", disabled, false)  %>
  <%= simple_date_select(f, @service_completion, :date, "Datum", disabled, false)  %>
  <%= simple_time_select(f, @service_completion, :start_time, "Beginn", disabled, false)  %>
  <%= simple_time_select(f, @service_completion, :end_time, "Ende", disabled, false)  %>
    <%= simple_text_field(f, @service_completion, :customer_number, "Kundennummer", disabled, false)  %>
    <%= simple_select(f, @service_completion, :service_type_id, "Auftragsart", [[ "Gewährleistung", 0 ],[ "Störung", 1 ]], disabled, true) %>
    <%= simple_select(f, @service_completion, :invoice_option_id, "Kostenart", [[ "Auftraggeber/Rechnungsempfänger", 0 ],[ "KabelBW", 1 ],[ "Tiefbau-/montage-Rechnung folgt", 2 ]], disabled, true) %>
  </div>
<div class="cc">
  <%= simple_text_field(f, @service_completion, :service, "Service", disabled, false)  %>
  <%= simple_text_field(f, @service_completion, :appartment_number, "Wohnungsnumer", disabled, false)  %>
      <%= simple_text_field(f, @service_completion, :group_name, "Kräftegruppe", disabled, false)  %>
    <%= simple_text_field(f, @service_completion, :sk_order_number, "SK-Auftragsnummer", disabled, false)  %>
    <%= simple_text_field(f, @service_completion, :debitor_sap_number, "Debitoren-/SAP-Nr.", disabled, false)  %>
    <%= simple_text_field(f, @service_completion, :vp_number, "VP Nummer", disabled, false)  %>
    <%= simple_text_field(f, @service_completion, :sap_order_number, "SAP Bestellenummer", disabled, false)  %>
  </div>
</fieldset>

<fieldset class="group">
  <legend>Kunde</legend>
  <div class="cc">
    <span style="margin-left:160px; font-size:16px; font-weight:bold; color:#555">Auftraggeber</span>
    <br/><br class="clear"/>
    <%= simple_select(f, @service_completion, :invoice_recipient_type_id, "Anrede", [[ "Frau", 0 ],[ "Herr", 1 ],[ "Firma", 2 ]], disabled, false) %>
    <%= simple_text_field(f, @service_completion, :customer_first_name, "Vorname", disabled, false)  %>
    <%= simple_text_field(f, @service_completion, :customer_last_name, "Nachname", disabled, false)  %>
    <%= simple_text_field(f, @service_completion, :customer_street_name, "Strasse", disabled, false)  %>
    <%= simple_text_field(f, @service_completion, :customer_house_number, "Hausnummer", disabled, false)  %>
    <%= simple_text_field(f, @service_completion, :customer_postal_code, "PLZ", disabled, false)  %>
    <%= simple_text_field(f, @service_completion, :customer_city, "Ort", disabled, false)  %>

  </div>
  <div class="cc">
    <span style="margin-left:160px; font-size:16px; font-weight:bold; color:#555">Rechnungsempfänger</span>
    <br/><br class="clear"/>
    <%= simple_select(f, @service_completion, :invoice_recipient_type_id, "Anrede", [[ "Frau", 0 ],[ "Herr", 1 ],[ "Firma", 2 ]], disabled, false) %>
    <%= simple_text_field(f, @service_completion, :invoice_recipient_first_name, "Vorname", disabled, false)  %>
    <%= simple_text_field(f, @service_completion, :invoice_recipient_last_name, "Nachname", disabled, false)  %>
    <%= simple_text_field(f, @service_completion, :invoice_recipient_street_name, "Strasse", disabled, false)  %>
    <%= simple_text_field(f, @service_completion, :invoice_recipient_house_number, "Hausnummer", disabled, false)  %>
    <%= simple_text_field(f, @service_completion, :invoice_recipient_postal_code, "PLZ", disabled, false)  %>
    <%= simple_text_field(f, @service_completion, :invoice_recipient_city, "Ort", disabled, false)  %>

  </div>

</fieldset>

<fieldset class="group">
  <legend>Pauschalen</legend>

  <style type="text/css">
  .dingens-table{
    background-color:#EEE;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
  }
  .dingens-table th{
    border: 2px #ddd solid;
  }
  .dingens-table td {
    padding:10px;
    border: 2px #ddd solid;
  }
  .dingens-table th {
    padding:10px;
    font-weight:bold;
    color:#333;
    font-size:14px;
  }
  </style>
  <table class="dingens-table">
    <tr>
      <th></th>
      <th>Datum</th>
      <th>Anzahl</th>
      <th>Einzelpreis</th>
      <th>Summe (brutto)</th>
      <th>Summe (netto)</th>
    </tr>
    <tr>
      <td>
        <label style="width:60px">Anfahrt</label>
      </td>
      <td>
        <%= f.date_select(:call_out_cost_date, {:use_month_names => german_month_names, :include_blank => '-'}, {:class => 'date_select', :disabled => disabled, :style => "width:102px"}) %>
      </td>
      <td>
        <%= f.text_field(:call_out_cost_quantity, :disabled => disabled, :style => "width:100px") %>
      </td>
      <td>
        <%= f.text_field(:call_out_cost_per_unit, :disabled => disabled, :style => "width:60px") %>
      </td>
      <td>
        <input type="text" disabled="disabled" style="width:100px" id="service_completion_call_out_cost_sum_after_taxes"/>
      </td>
      <td>
        <input type="text" disabled="disabled" style="width:100px" id="service_completion_call_out_cost_sum_before_taxes"/>
      </td>
    </tr>
    <tr>
      <td>
        <label style="width:60px">Servicezeit</label>
      </td>
      <td>
        <%= f.date_select(:service_time_cost_date, {:use_month_names => german_month_names, :include_blank => '-'}, {:class => 'date_select', :disabled => disabled, :style => "width:102px"}) %>
      </td>
      <td>
        <%= f.text_field(:service_time_cost_quantity, :disabled => disabled, :style => "width:100px") %>
      </td>
      <td>
        <%= f.text_field(:service_time_cost_per_unit, :disabled => disabled, :style => "width:60px") %>
      </td>
      <td>
        <input type="text" disabled="disabled" style="width:100px"  id="service_completion_service_time_cost_sum_after_taxes"/>
      </td>
      <td>
        <input type="text" disabled="disabled" style="width:100px" id="service_completion_service_time_cost_sum_before_taxes"/>
      </td>
    </tr>

    <tr>
      <td>
        <label style="width:60px">Zuschlag</label>
      </td>
      <td>
        <%= f.date_select(:additional_cost_date, {:use_month_names => german_month_names, :include_blank => '-'}, {:class => 'date_select', :disabled => disabled, :style => "width:102px"}) %>
      </td>
      <td>
        <%= f.text_field(:additional_cost_quantity, :disabled => disabled, :style => "width:100px") %>
      </td>
      <td>
        <%= f.text_field(:additional_cost_per_unit, :disabled => disabled, :style => "width:60px") %>
      </td>
      <td>
        <input type="text" disabled="disabled" style="width:100px" id="service_completion_additional_cost_sum_after_taxes"/>
      </td>
      <td>
        <input type="text" disabled="disabled" style="width:100px" id="service_completion_additional_cost_sum_before_taxes"/>
      </td>
    </tr>
  </table>

</fieldset>

<fieldset class="group">
  <legend>Messungen</legend>

  <table class="dingens-table">
    <tr>
      <th></th>
      <th>Messwerte</th>
      <th>Typ/Hersteller</th>
      <th>getauscht</th>
      <th>Typ (Neu)</th>
      <th>Einzelpreis</th>
      <th>Summe (brutto)</th>
      <th>Summe (netto)</th>
    </tr>
    <tr>
      <td>
        <label style="width:75px" class="required"class="required">ÜP</label>
      </td>
      <td>
        <%= f.text_field(:transfer_point_reading, :disabled => disabled, :style => "width:60px") %>
      </td>
      <td>
        <%= f.text_field(:transfer_point_type, :disabled => disabled, :style => "width:100px") %>
      </td>
      <td>
        <%= f.select(:transfer_point_changed, options_for_select([["ja", true],["nein",false]],@service_completion.transfer_point_changed), {:include_blank => "-"}, :class => "select radiobuttons", :disabled => disabled) %>
      </td>
      <td>
        <%= f.text_field(:transfer_point_new_type, :disabled => disabled, :style => "width:80px") %>
      </td>
      <td>
        <%= f.text_field(:transfer_point_cost_per_unit, :disabled => disabled, :style => "width:60px") %>
      </td>
      <td>
        <input type="text" disabled="disabled" style="width:100px" id="service_completion_transfer_point_sum_after_taxes"/>
      </td>
      <td>
        <input type="text" disabled="disabled" style="width:100px" id="service_completion_transfer_point_sum_before_taxes"/>
      </td>

    </tr>
    <tr>
      <td>
        <label style="width:75px" class="required">Verstärker</label>
      </td>
      <td>
        <%= f.text_field(:amplifier_reading, :disabled => disabled, :style => "width:60px") %>
      </td>
      <td>
        <%= f.text_field(:amplifier_type, :disabled => disabled, :style => "width:100px") %>
      </td>
      <td>
        <%= f.select(:amplifier_changed, options_for_select([["ja", true],["nein",false]],@service_completion.amplifier_changed), {:include_blank => "-"}, :class => "select radiobuttons", :disabled => disabled) %>
      </td>
      <td>
        <%= f.text_field(:amplifier_new_type, :disabled => disabled, :style => "width:80px") %>
      </td>
      <td>
        <%= f.text_field(:amplifier_cost_per_unit, :disabled => disabled, :style => "width:60px") %>
      </td>
      <td>
        <input type="text" disabled="disabled" style="width:100px" id="service_completion_amplifier_sum_after_taxes"/>
      </td>
      <td>
        <input type="text" disabled="disabled" style="width:100px" id="service_completion_amplifier_sum_before_taxes"/>
      </td>

    </tr>

    <tr>
      <td>
        <label style="width:75px" class="required">MMD</label>
      </td>
      <td>
        <%= f.text_field(:mmd_reading, :disabled => disabled, :style => "width:60px") %>
      </td>
      <td>
        <%= f.text_field(:mmd_type, :disabled => disabled, :style => "width:100px") %>
      </td>
      <td>
        <%= f.select(:mmd_changed, options_for_select([["ja", true],["nein",false]],@service_completion.mmd_changed), {:include_blank => "-"}, :class => "select radiobuttons", :disabled => disabled) %>
      </td>
      <td>
        <%= f.text_field(:mmd_new_type, :disabled => disabled, :style => "width:80px") %>
      </td>
      <td>
        <%= f.text_field(:mmd_cost_per_unit, :disabled => disabled, :style => "width:60px") %>
      </td>
      <td>
        <input type="text" disabled="disabled" style="width:100px" id="service_completion_mmd_sum_after_taxes"/>
      </td>
      <td>
        <input type="text" disabled="disabled" style="width:100px" id="service_completion_mmd_sum_before_taxes"/>
      </td>
    </tr>
  </table>
</fieldset>

<fieldset class="group">
  <legend>Material</legend>
  <table class="dingens-table">
    <tr>
      <th></th>
      <th>Materialbezeichnung</th>
      <th>Menge</th>
      <th>Einzelpreis</th>
      <th>Summe (brutto)</th>
      <th>Summe (netto)</th>
    </tr>
    <% (1..5).each do |number|%>
    <tr>
      <td>
        <label style="width:45px"><%= number %></label>
      </td>
      <td>
        <%= f.text_field("material_description_#{number}".to_sym, :disabled => disabled, :style => "width:355px") %>
      </td>
      <td>
        <%= f.text_field("material_quantity_#{number}".to_sym, :disabled => disabled, :style => "width:60px") %>
      </td>
      <td>
        <%= f.text_field("material_quantity_#{number}_cost_per_unit".to_sym, :disabled => disabled, :style => "width:60px") %>
      </td>
      <td>
        <input type="text" disabled="disabled" style="width:100px" id="service_completion_material_sum_after_taxes_<%= number %>"/>
      </td>
      <td>
        <input type="text" disabled="disabled" style="width:100px" id="service_completion_material_sum_before_taxes_<%= number %>"/>
      </td>
    </tr>
    <% end %>

  </table>
</fieldset>


<fieldset class="group">
  <legend>Gesamt</legend>
  <table class="dingens-table" style="width:920px">
    <th></th>
    <th>Summe (brutto)</th>
    <th>Summe (netto)</th>
    <tr>
      <td style="width:800px">
      </td>
      <td>
        <input type="text" disabled="disabled" style="width:100px" id="sum_total_after_taxes"/>
      </td>
      <td>
        <input type="text" disabled="disabled" style="width:100px" id="sum_total_before_taxes"/>
      </td>
    </tr>
  </table>
</fieldset>

<fieldset class="group">
  <legend>Besonderheiten</legend>
  <div class="c padding-20" >
    <%= f.text_area :additional_description, :class => "text_area", :disabled => disabled %>
  </div>
</fieldset>


<%= render :partial => "general/additional_attachments", :locals => {:current_object => @service_completion, :disabled => disabled, :f => f, :uploader_id => 0, :model_name => "service_completion"}%>


<fieldset class="group">
  <legend>Abschluss</legend>
  <div>
   <div class="c padding-20" >
    <h1>Hiermit bestätige ich, dass die Entstörung durch '<%= @service_completion.service_job.client.name %>' zu meiner Zufriedenheit durchgeführt wurde.</h1>

    <%= render :partial => "general/signature_field", :locals => {:f => f, :disabled => disabled, :model_name => "service_completion"} %>
    
  </fieldset>

  <% begin %>        
  <div class="navform wat-cf">
    <button class="button" type="submit" id="save-button">
      <%= image_tag("web-app-theme/icons/tick.png", :alt => "speichern") %> speichern
    </button>
    <span class="text_button_padding"> oder </span>
    <%= link_to "abbrechen", params[:fromPath] || [current_view, :service_completions], :class => "text_button_padding link_button" %>
  </div>
  <% end unless disabled  %>
  <% if !@service_completion.new_record? %>
  <% link_to image_tag("/assets/icons/application_put.png")+"Zip erstellen", [:get_zip, current_view, @service_completion ], :class => "button" %>
  <% end %>
  <%= content_for :bottom do %>
  <script type="text/javascript">
  $(function(){

  $('#add-attachment-button').click(function(){
    $('.additional-attachment-row').filter(function() { return $(this).css("display") == "none" }).first().show();

    if ($('.additional-attachment-row').filter(function() { return $(this).css("display") == "none" }).length == 0)
      $('#add-attachment-button').hide();

    return false;
  })


  //Get Exising Select Options    
  $('select.radiobuttons').each(function(i, select){
    var $select = $(select);
    var $div = $('<div style="margin-top:15px; height:30px; float:left"/>');
    $select.before($div);
    
    $select.find('option').each(function(j, option){
      var $option = $(option);

      if (($option.val() == "true") || ($option.val() == "false")) {
          // Create a radio:
          var $radio = $('<input type="radio" <%= 'disabled="disabled"' if disabled %>/>');
          // Set name and value:
          $radio.attr('name', $select.attr('name')).attr('value', $option.val());
          // Set checked if the option was selected
          if ($option.attr('selected')) $radio.attr('checked', 'checked');
          // Insert radio before select box:
          $div.append($radio);

          // Insert a <br />:
          //$select.before("<br/>");

           // Insert a label:
           $radio.before(
            $("<span style='margin:0 10px 0 10px'/>").attr('for', $select.attr('name')).text($option.text())
            );

         }
       });
    $select.remove();
  });


$("a.lightbox").fancybox({
  'transitionIn'  : 'elastic',
  'transitionOut' : 'elastic',
  'speedIn'   : 200, 
  'speedOut'    : 200, 
  'overlayShow' : false,
  'cyclic' : true,
  'opacity' : true,
  'titlePosition' : 'over'
});

updateView();

$('#save-button').click(function(){    
  $('#loading-animation').show();
})

//pauschalen
$("#service_completion_call_out_cost_quantity").change(function(event){
  updateSums($("#service_completion_call_out_cost_quantity"),$("#service_completion_call_out_cost_per_unit"),$("#service_completion_call_out_cost_sum_before_taxes"),$("#service_completion_call_out_cost_sum_after_taxes"));
})

$("#service_completion_call_out_cost_per_unit").change(function(event){
  updateSums($("#service_completion_call_out_cost_quantity"),$("#service_completion_call_out_cost_per_unit"),$("#service_completion_call_out_cost_sum_before_taxes"),$("#service_completion_call_out_cost_sum_after_taxes"));
})

$("#service_completion_service_time_cost_quantity").change(function(event){
  updateSums($("#service_completion_service_time_cost_quantity"),$("#service_completion_service_time_cost_per_unit"),$("#service_completion_service_time_cost_sum_before_taxes"),$("#service_completion_service_time_cost_sum_after_taxes"));
})

$("#service_completion_service_time_cost_per_unit").change(function(event){
  updateSums($("#service_completion_service_time_cost_quantity"),$("#service_completion_service_time_cost_per_unit"),$("#service_completion_service_time_cost_sum_before_taxes"),$("#service_completion_service_time_cost_sum_after_taxes"));
})

$("#service_completion_additional_cost_quantity").change(function(event){
  updateSums($("#service_completion_additional_cost_quantity"),$("#service_completion_additional_cost_per_unit"),$("#service_completion_additional_cost_sum_before_taxes"),$("#service_completion_additional_cost_sum_after_taxes"));
})

$("#service_completion_additional_cost_per_unit").change(function(event){
  updateSums($("#service_completion_additional_cost_quantity"),$("#service_completion_additional_cost_per_unit"),$("#service_completion_additional_cost_sum_before_taxes"),$("#service_completion_additional_cost_sum_after_taxes"));
})

 //messungen
 $("#service_completion_transfer_point_cost_per_unit").change(function(event){
  updateSums(null,$("#service_completion_transfer_point_cost_per_unit"),$("#service_completion_transfer_point_sum_before_taxes"),$("#service_completion_transfer_point_sum_after_taxes"));
})
 $("#service_completion_amplifier_cost_per_unit").change(function(event){
  updateSums(null,$("#service_completion_amplifier_cost_per_unit"),$("#service_completion_amplifier_sum_before_taxes"),$("#service_completion_amplifier_sum_after_taxes"));
})
 $("#service_completion_mmd_cost_per_unit").change(function(event){
  updateSums(null,$("#service_completion_mmd_cost_per_unit"),$("#service_completion_mmd_sum_before_taxes"),$("#service_completion_mmd_sum_after_taxes"));
})

 
//material
for (var i = 1 ; i <= 5 ; i++){
  $("#service_completion_material_quantity_"+i).change({number: i}, function(event){
    updateSums($("#service_completion_material_quantity_"+event.data.number),$("#service_completion_material_quantity_"+event.data.number+"_cost_per_unit"),$("#service_completion_material_sum_before_taxes_"+event.data.number),$("#service_completion_material_sum_after_taxes_"+event.data.number));
  })
  $("#service_completion_material_quantity_"+i+"_cost_per_unit").change({number: i}, function(event){
    updateSums($("#service_completion_material_quantity_"+event.data.number),$("#service_completion_material_quantity_"+event.data.number+"_cost_per_unit"),$("#service_completion_material_sum_before_taxes_"+event.data.number),$("#service_completion_material_sum_after_taxes_"+event.data.number));
  })
}

function updateSums(quantityField,costField,sumBeforeTaxesField,sumAfterTaxesField){
  var taxes = 19;
  var quantity = 1
  if (quantityField != null)
    quantity = quantityField.val();
  var cost_per_unit = (costField.val()+"").replace(",",".");
  var sum_before_taxes = (quantity * cost_per_unit);
  var sum_after_taxes = sum_before_taxes * (100+taxes)/100;

  sumBeforeTaxesField.val(formatCurrencyOutput(sum_before_taxes));
  sumAfterTaxesField.val(formatCurrencyOutput(sum_after_taxes));

  updateTotalSums();  
}

function updateTotalSums(){
  var sumTotalBeforeTaxes = 0;
  var sumTotalAfterTaxes = 0;

  //pauschalen
  sumTotalBeforeTaxes += addIfExists("#service_completion_call_out_cost_sum_before_taxes")
  sumTotalBeforeTaxes += addIfExists("#service_completion_service_time_cost_sum_before_taxes")
  sumTotalBeforeTaxes += addIfExists("#service_completion_additional_cost_sum_before_taxes")

  sumTotalAfterTaxes += addIfExists("#service_completion_call_out_cost_sum_after_taxes")
  sumTotalAfterTaxes += addIfExists("#service_completion_service_time_cost_sum_after_taxes")
  sumTotalAfterTaxes += addIfExists("#service_completion_additional_cost_sum_after_taxes")

  //messungen
  sumTotalBeforeTaxes += addIfExists("#service_completion_transfer_point_sum_before_taxes")
  sumTotalBeforeTaxes += addIfExists("#service_completion_amplifier_sum_before_taxes")
  sumTotalBeforeTaxes += addIfExists("#service_completion_mmd_sum_before_taxes")

  sumTotalAfterTaxes += addIfExists("#service_completion_transfer_point_sum_after_taxes")
  sumTotalAfterTaxes += addIfExists("#service_completion_amplifier_sum_after_taxes")
  sumTotalAfterTaxes += addIfExists("#service_completion_mmd_sum_after_taxes")

  //material
  for (var i = 1 ; i <= 5 ; i++){
    sumTotalBeforeTaxes += addIfExists("#service_completion_material_sum_before_taxes_"+i)
    sumTotalAfterTaxes += addIfExists("#service_completion_material_sum_after_taxes_"+i)
  }

  $("#sum_total_after_taxes").val(formatCurrencyOutput(sumTotalAfterTaxes));
  $("#sum_total_before_taxes").val(formatCurrencyOutput(sumTotalBeforeTaxes));
}


function addIfExists(id){
 var newValue = $(id).val()+"".replace(",",".");
 if (newValue)
  return parseFloat(newValue.replace(",", "."));
else
  return 0;
}

function formatCurrencyOutput(number){
  return parseFloat(number).toFixed(2).replace(".", ",");
}

function updateView(){

//pauschalen
updateSums($("#service_completion_call_out_cost_quantity"),$("#service_completion_call_out_cost_per_unit"),$("#service_completion_call_out_cost_sum_before_taxes"),$("#service_completion_call_out_cost_sum_after_taxes"));

updateSums($("#service_completion_call_out_cost_quantity"),$("#service_completion_call_out_cost_per_unit"),$("#service_completion_call_out_cost_sum_before_taxes"),$("#service_completion_call_out_cost_sum_after_taxes"));

updateSums($("#service_completion_service_time_cost_quantity"),$("#service_completion_service_time_cost_per_unit"),$("#service_completion_service_time_cost_sum_before_taxes"),$("#service_completion_service_time_cost_sum_after_taxes"));

updateSums($("#service_completion_service_time_cost_quantity"),$("#service_completion_service_time_cost_per_unit"),$("#service_completion_service_time_cost_sum_before_taxes"),$("#service_completion_service_time_cost_sum_after_taxes"));

updateSums($("#service_completion_additional_cost_quantity"),$("#service_completion_additional_cost_per_unit"),$("#service_completion_additional_cost_sum_before_taxes"),$("#service_completion_additional_cost_sum_after_taxes"));

updateSums($("#service_completion_additional_cost_quantity"),$("#service_completion_additional_cost_per_unit"),$("#service_completion_additional_cost_sum_before_taxes"),$("#service_completion_additional_cost_sum_after_taxes"));

  //messungen
  updateSums(null,$("#service_completion_transfer_point_cost_per_unit"),$("#service_completion_transfer_point_sum_before_taxes"),$("#service_completion_transfer_point_sum_after_taxes"));
  updateSums(null,$("#service_completion_amplifier_cost_per_unit"),$("#service_completion_amplifier_sum_before_taxes"),$("#service_completion_amplifier_sum_after_taxes"));
  updateSums(null,$("#service_completion_mmd_cost_per_unit"),$("#service_completion_mmd_sum_before_taxes"),$("#service_completion_mmd_sum_after_taxes"));

//material
for (var i = 1 ; i <= 5 ; i++){
  updateSums($("#service_completion_material_quantity_"+i),$("#service_completion_material_quantity_"+i+"_cost_per_unit"),$("#service_completion_material_sum_before_taxes_"+i),$("#service_completion_material_sum_after_taxes_"+i));
  updateSums($("#service_completion_material_quantity_"+i),$("#service_completion_material_quantity_"+i+"_cost_per_unit"),$("#service_completion_material_sum_before_taxes_"+i),$("#service_completion_material_sum_after_taxes_"+i));
}

}


});
</script>
<% end %>