<li class="first <%= params[:action]  == 'index' ? 'active' : '' %>"><%= link_to "Alle Entstörungsabschlüsse", [current_view, :service_completions] %></li>
<% if params[:action] == 'edit' then %>
<li class="active"><%= link_to "Entstörungsabschluss bearbeiten", [:edit, current_view, @service_completion] %></li>
<% end %>
<% if params[:action] == 'show' then %>
<li class="active"><%= link_to "Entstörungsabschlussansicht", [current_view, @service_completion] %></li>
<% end %>

