<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Entstörungsabschluss <%= raw " für Entstörung "+link_to(@service_completion.service_job.short, [current_view, @service_completion.service_job], :class => "link") if @service_completion.service_job %></h2>
    <div class="inner">
      <%= form_for @service_completion, :url => url_for([current_view, @service_completion])+"?fromPath=#{params[:fromPath]}", :html => { :class => :form, :multipart => true } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>
