<% 
completion = @service_completion if @service_completion 
empty_form = @empty_form if @empty_form 
%>
<HTML>
	<HEAD><TITLE></TITLE>
 		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<STYLE type="text/css">
		body {margin-top: 0px;margin-left: 0px;font-family:"Helvetica Neue";}
		</STYLE>
	</HEAD>

	<BODY>

		<img style="position:absolute; z-index:-100; left:65px;" src="<%= Settings.ASSET_HOST %>/service_completion_form_v2/service_completion_form_small.jpg"/>

		<div id="formular">

<% if empty_form #get date from service_job for sending pdf before the appointment takes place %>

			<!-- auftraggeber -->

			<div style="position:absolute;top:175px;left:90px; z-index:-100;">
				<%= completion.service_job.kunde_vorname  %>
			</div>
			<div style="position:absolute;top:209px;left:90px; z-index:-100;">
				<%= completion.service_job.kunde_nachname  %>
			</div>
			<div style="position:absolute;top:240px;left:90px; z-index:-100;">
				<%= completion.service_job.kunde_strasse  %>
			</div>
			<div style="position:absolute;top:240px;left:320px; z-index:-100;">
				<%= completion.service_job.kunde_hausnummer  %>
			</div>
			<div style="position:absolute;top:270px;left:90px; z-index:-100;">
				<%= completion.service_job.kunde_plz  %>
			</div>
			<div style="position:absolute;top:270px;left:180px; z-index:-100;">
				<%= completion.service_job.kunde_ort  %>
			</div>

			<div style="position:absolute;top:212px;left:705px; z-index:-100;">
				<%= completion.service_job.kunde_kundennummer %>
			</div>
<% end %>

<% unless empty_form #get data from service_completion after appointment jas taken place %>
			<!--first row-->
			<div style="position:absolute;top:96px;left:164px; z-index:-100;">
				<%= "X" if completion.service_type_id == 0 %>
			</div>	
			<div style="position:absolute;top:116px;left:164px; z-index:-100;">
				<%= "X" if completion.service_type_id == 1 %>
			</div>	

			<div style="position:absolute;top:96px;left:334px; z-index:-100;">
				<%= "X" if completion.invoice_option_id == 0 %>
			</div>	
			<div style="position:absolute;top:116px;left:334px; z-index:-100;">
				<%= "X" if completion.invoice_option_id == 1 %>
			</div>	

			<div style="position:absolute;top:94px;left:542px; z-index:-100;">
				<%= "X" if completion.invoice_option_id == 2 %>
			</div>

			<div style="position:absolute;top:105px;left:710px; z-index:-100;">
				<%= completion.debitor_sap_number %>
			</div>

			<!--second row-->
			<div style="position:absolute;top:155px;left:182px; z-index:-100;">
				<%= "X" if completion.customer_type_id == 0 %>
			</div>
			<div style="position:absolute;top:155px;left:242px; z-index:-100;">
				<%= "X" if completion.customer_type_id == 1 %>
			</div>
			<div style="position:absolute;top:155px;left:302px; z-index:-100;">
				<%= "X" if completion.customer_type_id == 2 %>
			</div>

			<div style="position:absolute;top:153px;left:522px; z-index:-100;">
				<%= "X" if completion.invoice_recipient_type_id == 0 %>
			</div>
			<div style="position:absolute;top:153px;left:572px; z-index:-100;">
				<%= "X" if completion.invoice_recipient_type_id == 1  %>
			</div>
			<div style="position:absolute;top:153px;left:622px; z-index:-100;">
				<%= "X" if completion.invoice_recipient_type_id == 2  %>
			</div>

			<!-- auftraggeber -->

			<div style="position:absolute;top:175px;left:90px; z-index:-100;">
				<%= completion.customer_first_name  %>
			</div>
			<div style="position:absolute;top:209px;left:90px; z-index:-100;">
				<%= completion.customer_last_name  %>
			</div>
			<div style="position:absolute;top:240px;left:90px; z-index:-100;">
				<%= completion.customer_street_name  %>
			</div>
			<div style="position:absolute;top:240px;left:320px; z-index:-100;">
				<%= completion.customer_house_number  %>
			</div>
			<div style="position:absolute;top:270px;left:90px; z-index:-100;">
				<%= completion.customer_postal_code  %>
			</div>
			<div style="position:absolute;top:270px;left:180px; z-index:-100;">
				<%= completion.customer_city  %>
			</div>

			<!-- rechnungsempfänger -->

			<div style="position:absolute;top:175px;left:380px; z-index:-100;">
				<%= completion.invoice_recipient_first_name  %>
			</div>
			<div style="position:absolute;top:209px;left:380px; z-index:-100;">
				<%= completion.invoice_recipient_last_name  %>
			</div>
			<div style="position:absolute;top:240px;left:380px; z-index:-100;">
				<%= completion.invoice_recipient_street_name  %>
			</div>
			<div style="position:absolute;top:240px;left:610px; z-index:-100;">
				<%= completion.invoice_recipient_house_number  %>
			</div>
			<div style="position:absolute;top:270px;left:380px; z-index:-100;">
				<%= completion.invoice_recipient_postal_code  %>
			</div>
			<div style="position:absolute;top:270px;left:470px; z-index:-100;">
				<%= completion.invoice_recipient_city  %>
			</div>

			<!--other-->
			<div style="position:absolute;top:152px;left:705px; z-index:-100;">
				<%= date_format(completion.date) %>
			</div>
			<div style="position:absolute;top:182px;left:705px; z-index:-100; width:130px">
				<%= completion.order_number %>
			</div>
			<div style="position:absolute;top:212px;left:705px; z-index:-100;">
				<%= completion.customer_number %>
			</div>
			<div style="position:absolute;top:242px;left:705px; z-index:-100;">
				<%= completion.group_name %>
			</div>
			<div style="position:absolute;top:272px;left:705px; z-index:-100;">
				<%= completion.sk_order_number %>
			</div>

			<!--3rd row -->
			<div style="position:absolute;top:320px;left:90px; z-index:-100;">
				<%= completion.service %>
			</div>
			<div style="position:absolute;top:320px;left:490px; z-index:-100;">
				<%= completion.appartment_number %>
			</div>
			<div style="position:absolute;top:320px;left:610px; z-index:-100;">
				<%= time_format_short(completion.start_time) %>
			</div>
			<div style="position:absolute;top:320px;left:730px; z-index:-100;">
				<%= time_format_short(completion.end_time) %>
			</div>

			<!--pauschalen-->
			<div style="position:absolute;top:390px;left:220px; z-index:-100;">
				<%= date_format(completion.call_out_cost_date) %>
			</div>
			<div style="position:absolute;top:390px;left:340px; z-index:-100;">
				<%= completion.call_out_cost_quantity %>
			</div>
			<div style="position:absolute;top:410px;left:220px; z-index:-100;">
				<%= date_format(completion.service_time_cost_date) %>
			</div>
			<div style="position:absolute;top:410px;left:340px; z-index:-100;">
				<%= completion.service_time_cost_quantity %>
			</div>
			<div style="position:absolute;top:430px;left:220px; z-index:-100;">
				<%= date_format(completion.additional_cost_date) %>
			</div>
			<div style="position:absolute;top:430px;left:340px; z-index:-100;">
				<%= completion.additional_cost_quantity %>
			</div>

			<div style="position:absolute;top:390px;left:570px; z-index:-100;">
				<%= currency_format(completion.call_out_cost_per_unit) %>
			</div>
			<div style="position:absolute;top:410px;left:570px; z-index:-100;">
				<%= currency_format(completion.service_time_cost_per_unit) %>
			</div>
			<div style="position:absolute;top:430px;left:570px; z-index:-100;">
				<%= currency_format(completion.additional_cost_per_unit) %>
			</div>

			<div style="position:absolute;top:390px;left:650px; z-index:-100;">
				<%= currency_format(completion.call_out_cost_sum_after_taxes) %>
			</div>
			<div style="position:absolute;top:410px;left:650px; z-index:-100;">
				<%= currency_format(completion.service_time_cost_sum_after_taxes) %>
			</div>
			<div style="position:absolute;top:430px;left:650px; z-index:-100;">
				<%= currency_format(completion.additional_cost_sum_after_taxes) %>
			</div>

			<div style="position:absolute;top:390px;left:750px; z-index:-100;">
				<%= currency_format(completion.call_out_cost_sum_before_taxes) %>
			</div>
			<div style="position:absolute;top:410px;left:750px; z-index:-100;">
				<%= currency_format(completion.service_time_cost_sum_before_taxes) %>
			</div>
			<div style="position:absolute;top:430px;left:750px; z-index:-100;">
				<%= currency_format(completion.additional_cost_sum_before_taxes) %>
			</div>
			

			
			<!--messwerte-->

			<div style="position:absolute;top:480px;left:140px; z-index:-100;">
				<%= completion.amplifier_reading %>
			</div>
			<div style="position:absolute;top:500px;left:140px; z-index:-100;">
				<%= completion.transfer_point_reading %>
			</div>
			<div style="position:absolute;top:520px;left:140px; z-index:-100;">
				<%= completion.mmd_reading %>
			</div>

			<div style="position:absolute;top:480px;left:240px; z-index:-100;">
				<%= completion.amplifier_type%>
			</div>
			<div style="position:absolute;top:500px;left:240px; z-index:-100;">
				<%= completion.transfer_point_type%>
			</div>
			<div style="position:absolute;top:520px;left:240px; z-index:-100;">
				<%= completion.mmd_type%>
			</div>

			<div style="position:absolute;top:480px;left:386px; z-index:-100;">
				<%= "X" if (completion.amplifier_changed) %>
			</div>
			<div style="position:absolute;top:500px;left:386px; z-index:-100;">
				<%= "X" if (completion.transfer_point_changed) %>
			</div>
			<div style="position:absolute;top:520px;left:386px; z-index:-100;">
				<%= "X" if (completion.mmd_changed) %>
			</div>

			<div style="position:absolute;top:480px;left:420px; z-index:-100;">
				<%= completion.amplifier_new_type %>
			</div>
			<div style="position:absolute;top:500px;left:420px; z-index:-100;">
				<%= completion.transfer_point_new_type %>
			</div>
			<div style="position:absolute;top:520px;left:420px; z-index:-100;">
				<%= completion.mmd_new_type %>
			</div>






			<div style="position:absolute;top:480px;left:570px; z-index:-100;">
				<%= currency_format(completion.amplifier_cost_per_unit) %>
			</div>
			<div style="position:absolute;top:500px;left:570px; z-index:-100;">
				<%= currency_format(completion.transfer_point_cost_per_unit) %>
			</div>
			<div style="position:absolute;top:520px;left:570px; z-index:-100;">
				<%= currency_format(completion.mmd_cost_per_unit) %>
			</div>

			<div style="position:absolute;top:480px;left:650px; z-index:-100;">
				<%= currency_format(completion.amplifier_sum_after_taxes) %>
			</div>
			<div style="position:absolute;top:500px;left:650px; z-index:-100;">
				<%= currency_format(completion.transfer_point_cost_sum_after_taxes) %>
			</div>
			<div style="position:absolute;top:520px;left:650px; z-index:-100;">
				<%= currency_format(completion.mmd_cost_sum_after_taxes) %>
			</div>

			<div style="position:absolute;top:480px;left:750px; z-index:-100;">
				<%= currency_format(completion.amplifier_sum_before_taxes) %>
			</div>
			<div style="position:absolute;top:500px;left:750px; z-index:-100;">
				<%= currency_format(completion.transfer_point_cost_sum_before_taxes) %>
			</div>
			<div style="position:absolute;top:520px;left:750px; z-index:-100;">
				<%= currency_format(completion.mmd_cost_sum_before_taxes) %>
			</div>
			
			<!--material-->

			<div style="position:absolute;top:585px;left:140px; z-index:-100;">
				<%= completion.material_description_1 %>
			</div>
			<div style="position:absolute;top:585px;left:500px; z-index:-100;">
				<%= completion.material_quantity_1 %>
			</div>
			<div style="position:absolute;top:585px;left:570px; z-index:-100;">
				<%= currency_format(completion.material_quantity_1_cost_per_unit) %>
			</div>
			<div style="position:absolute;top:585px;left:650px; z-index:-100;">
				<%= currency_format(completion.material_1_sum_after_taxes) %>
			</div>
			<div style="position:absolute;top:585px;left:750px; z-index:-100;">
				<%= currency_format(completion.material_1_sum_before_taxes) %>
			</div>


			<div style="position:absolute;top:602px;left:140px; z-index:-100;">
				<%= completion.material_description_2 %>
			</div>
			<div style="position:absolute;top:602px;left:500px; z-index:-100;">
				<%= completion.material_quantity_2 %>
			</div>
			<div style="position:absolute;top:602px;left:570px; z-index:-100;">
				<%= currency_format(completion.material_quantity_2_cost_per_unit) %>
			</div>
			<div style="position:absolute;top:602px;left:650px; z-index:-100;">
				<%= currency_format(completion.material_2_sum_after_taxes) %>
			</div>
			<div style="position:absolute;top:602px;left:750px; z-index:-100;">
				<%= currency_format(completion.material_2_sum_before_taxes) %>
			</div>


			<div style="position:absolute;top:621px;left:140px; z-index:-100;">
				<%= completion.material_description_3 %>
			</div>
			<div style="position:absolute;top:621px;left:500px; z-index:-100;">
				<%= completion.material_quantity_3 %>
			</div>
			<div style="position:absolute;top:621px;left:570px; z-index:-100;">
				<%= currency_format(completion.material_quantity_3_cost_per_unit) %>
			</div>
			<div style="position:absolute;top:621px;left:650px; z-index:-100;">
				<%= currency_format(completion.material_3_sum_after_taxes) %>
			</div>
			<div style="position:absolute;top:621px;left:750px; z-index:-100;">
				<%= currency_format(completion.material_3_sum_before_taxes) %>
			</div>


			<div style="position:absolute;top:642px;left:140px; z-index:-100;">
				<%= completion.material_description_4 %>
			</div>
			<div style="position:absolute;top:642px;left:500px; z-index:-100;">
				<%= completion.material_quantity_4 %>
			</div>
			<div style="position:absolute;top:642px;left:570px; z-index:-100;">
				<%= currency_format(completion.material_quantity_4_cost_per_unit) %>
			</div>
			<div style="position:absolute;top:642px;left:650px; z-index:-100;">
				<%= currency_format(completion.material_4_sum_after_taxes) %>
			</div>
			<div style="position:absolute;top:642px;left:750px; z-index:-100;">
				<%= currency_format(completion.material_4_sum_before_taxes) %>
			</div>


			<div style="position:absolute;top:660px;left:140px; z-index:-100;">
				<%= completion.material_description_5 %>
			</div>
			<div style="position:absolute;top:660px;left:500px; z-index:-100;">
				<%= completion.material_quantity_5 %>
			</div>
			<div style="position:absolute;top:660px;left:570px; z-index:-100;">
				<%= currency_format(completion.material_quantity_5_cost_per_unit) %>
			</div>
			<div style="position:absolute;top:660px;left:650px; z-index:-100;">
				<%= currency_format(completion.material_5_sum_after_taxes) %>
			</div>
			<div style="position:absolute;top:660px;left:750px; z-index:-100;">
				<%= currency_format(completion.material_5_sum_before_taxes) %>
			</div>


			<!--total sums-->

			<div style="position:absolute;top:694px;left:652px; z-index:-100;">
				<%= currency_format(completion.total_after_taxes) %>
			</div>
			<div style="position:absolute;top:695px;left:750px; z-index:-100;">
				<%= currency_format(completion.total_before_taxes) %>
			</div>

			<!--description-->

			<div style="position:absolute;top:760px;left:100px; z-index:-100; line-height:23px; width:700px">
				<%= completion.additional_description %>
			</div>
<% end %>
			<div style="position:absolute;top:910px;left:100px; z-index:-100;">
				<%= completion.service_job.client.name %>
			</div>

<% unless empty_form %>
			<div style="position:absolute;top:910px;left:580px; z-index:-100;">
				<%= completion.vp_number %>
			</div>
			<div style="position:absolute;top:910px;left:720px; z-index:-100;">
				<%= completion.sap_order_number %>
			</div>

			<!--signatures-->
			<div style="position:absolute;top:980px;left:140px; z-index:-100;">
				<%= date_format(completion.created_at) %>
			</div>
			<div style="position:absolute;top:1020px;left:140px; z-index:-100;">
				<%= date_format(completion.created_at) %>
			</div>
			<div style="position:absolute;top:965px;left:340px; z-index:-100;">
				<%= image_tag "https://s3.amazonaws.com/#{S3_CONFIG[Rails.env]['bucket']}/signatures/signature_technician_#{completion.technician.id}.gif",:size => "144x36", :alt => "Technikerunterschrift" %>
			</div>
			<div style="position:absolute;top:1008px;left:340px; z-index:-100;">
				<%= image_tag "https://s3.amazonaws.com/#{S3_CONFIG[Rails.env]['bucket']}/signatures/signature_#{completion.service_job.ot_auftragsnummer}.gif",:size => "144x36", :alt => "Kundenunterschrift" %>
			</div>
<% end %> 
</div>
		</BODY></HTML>
