<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Entstörungsabschluss für <%= link_to(@service_completion.job.short_description,[current_view, @service_completion.job], :class => "link") if @service_completion.job %></h2>
    <div class="inner">
      <%= form_for @service_completion, :url => url_for([current_view, @service_completion]), :html => { :class => :form } do |f| -%>
      <%= render :partial => "form", :locals => {:f => f, :disabled => true} %>
      <% end -%>
      <div class="navform wat-cf">
        <a class="button" href="<%= url_for([:edit, current_view, @service_completion]) %>">
          <%= image_tag("/assets/icons/edit.png", :alt => "bearbeiten")%> bearbeiten
        </a>
        <%= link_to image_tag("/assets/icons/PDF.png")+"Abschluss als PDF", "/#{ current_view}/service_completions/#{@service_completion.id}/pdf", :class => "button", :style => "width:150px; text-left:center", :target => "_blank" %>
          <!--        <%= link_to image_tag("/assets/icons/application_put.png")+"Zip erstellen", [:get_zip, current_view, @service_completion ], :class => "button", :style => "width:150px; text-left:center" %>      
          -->
      </div>
    </div>
  </div>
</div>
