<% disabled = true %>
  <fieldset class="group">
    <legend>Kontaktdaten</legend>
    <div class="cl">
      <p><%= f.label :vorname, :class => :label %></p>
      <p><%= f.text_field :vorname, :class => :text_field, :disabled => disabled %></p>
      <p><%= f.label :nachname, :class => :label %></p>
      <p><%= f.text_field :nachname, :class => :text_field, :disabled => disabled %></p>
      <p><%= f.label :telefon, :class => :label %></p>
      <p><%= f.text_field :telefon, :class => :text_field, :disabled => disabled %></p>
      <p><%= f.label :telefon_mobil, :class => :label %></p>
      <p><%= f.text_field :telefon_mobil, :class => :text_field, :disabled => disabled %></p>
      <p><%= f.label :email, :class => :label %></p>
      <p><%= f.text_field :email, :class => :text_field, :disabled => disabled %></p>
      <p><%= f.label :plz, :class => :label %></p>
      <p><%= f.text_field :plz, :class => :text_field, :disabled => disabled %></p>
      <p><%= f.label :ort, :class => :label %></p>
      <p><%= f.text_field :ort, :class => :text_field, :disabled => disabled %></p>
      <p><%= f.label :strasse, :class => :label %></p>
      <p><%= f.text_field :strasse, :class => :text_field, :disabled => disabled %></p>
      <p><%= f.label :hausnummer, :class => :label %></p>
      <p><%= f.text_field :hausnummer, :class => :text_field, :disabled => disabled %></p>
      <br class="clear" />
    </div>
  </fieldset>

<h2>Ausstattung</h2>
<%= render :partial => "general/equipment_table", :locals => {:equipments => @equipments} %>
