<li class="first <%= params[:action] == "technicians" && params[:action]  == 'edit' ? 'active' : '' %>"><%= link_to "Alle bekannten Techniker", purchase_technicians_path %></li>

<% if ['show'].include?(params[:action]) then %>
<li class="<%= params[:action]  == 'show' ? 'active' : '' %>"><%= link_to "Technikeransicht", purchase_technicians_path %></li>
<% end %>

