<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title">Alle bekannten Techniker</h2>
    <div class="inner">
      <table class="table">
        <tr>             

    <th class="first" >Vorname</th>
    <th>Nachname</th>
    <th>zugehörig</th>
    <th>Telefon</th>
    <th>Telefon mobil</th>
    <th>Plz</th>
    <th>Ort</th>
    <th>Strasse</th>
    <th>Hausnummer</th>
    <th class="last">&nbsp;</th>
  </tr>

<% @technicians.each do |technician| %>
  <tr class="<%= cycle("odd", "even") %>">
    <td><%= technician.vorname %></td>
    <td><%= technician.nachname %></td>
    <td><%= technician.client_names %></td>
    <td><%= technician.telefon %></td>
    <td><%= technician.telefon_mobil %></td>
    <td><%= technician.plz %></td>
    <td><%= technician.ort %></td>
    <td><%= technician.strasse %></td>
    <td><%= technician.hausnummer %></td>
    <td class="last">
        <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), purchase_technician_path(technician) %>
      </td>
  </tr>
<% end %>
   </table>
<div class="navform wat-cf">
  <div class="page-entries"><%= page_entries_info %></div>
  <%= will_paginate @jobs %>
</div>

    </div>
  </div>
</div>

