<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Technikeransicht: <%= @technician.full_name %></h2>
    <div class="inner">
      <%= form_for @technician, :url => purchase_technician_path(@technician), :html => { :class => :form } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f, :disabled => true} %>
      <% end -%>
    </div>
  </div>
</div>
