<% disabled = false unless defined?(disabled) %>

<% if @delivery.errors.any? %>
<%= render :partial => "general/error_messages", :locals => { :current_model => @delivery } %>
<% end %>

<fieldset class="group">
  <legend>Lieferungdetails</legend>
  <div class="cc">
    <%= simple_select(f, @delivery, :type_id, "Art", [["extern",1],["intern",2],], disabled, true) %>
    <%= simple_select(f, @delivery, :status_id, "Status", [["geordert",1],["empfangen",2],["storniert",3]], disabled, true) %>
  </div>
  <div class="cc">
    <%= simple_select(f, @delivery, :supplier_id, "Lieferant", Supplier.all.collect {|c| [ c.name, c.id ] }, disabled, true)  %>
    <%= simple_select(f, @delivery, :technician_id, "Techniker", User.service.assigned_to_same_company(current_user).collect {|c| [ c.full_name, c.id ] }, disabled, true)  %>
  </div>
</fieldset>
<% begin %> 
<fieldset class="group">
  <legend>Artikel</legend>
  <div id="delivery-availabilities">
    <%= render :partial => "general/delivery_items_table", :locals => {:delivery_items => @delivery_items} %>

</div >
 <a href="#" class="button" style="margin:5px" id="add-delivery-item">
  <%= image_tag("web-app-theme/icons/tick.png", :alt => "Artikel hinzufügen") %> Artikel hinzufügen
</a>

<% content_for :bottom do %>
<script type="text/javascript">
$(function() {
  $("#delivery-availabilities .table tr").unbind("click");
  $("#delivery-availabilities .table tr").live("click",function(event) {
    var ev = arguments[0] || window.event,
      origEl = ev.target || ev.srcElement;
      if ((origEl.tagName == "A"))
        return; //don't mess with real links

      var href = $(this).find("td.last a").attr("href"); //else: use first link from edit column
      if(href){
        //window.location = href;

        $.fancybox({
        'href': href,
        'autoDimensions': false,
        'width'      : 600,
        'height'      : 430,
        'autoScale'     : false,
        'transitionIn'    : 'none',
        'transitionOut'   : 'none',
        'centerOnScroll'  : true,
        'type'        : 'iframe',
        'onClosed'    : function(){
        $('#delivery-availabilities').load('/<%= current_view %>/deliveries/<%= @delivery.id %>/delivery_items', function() {
        });
      }
        });
      }
      event.preventDefault();
  });


  $("#add-delivery-item").click(function(){
    $.fancybox({
      'href':'/<%= current_view %>/deliveries/<%= @delivery.id %>/delivery_items/new',
      'autoDimensions': false,
      'width'      : 600,
      'height'      : 430,
      'autoScale'     : false,
      'transitionIn'    : 'none',
      'transitionOut'   : 'none',
      'centerOnScroll'  : true,
      'type'        : 'iframe',
      'onClosed'    : function(){
        $('#delivery-availabilities').load('/<%= current_view %>/deliveries/<%= @delivery.id %>/delivery_items', function() {
        });
      }
    });
    return false;
  })
});

</script>
<% end %>
</fieldset>
<% end if true %>

<% begin %>  
<div class="navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "speichern")%> speichern
  </button>

  <% if (!@delivery.errors.any?) && (params[:action] != "new") then %>
  <%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen")+" löschen", purchase_delivery_path(@delivery), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}", :class=>"button" %>
  <% end %>
  <span class="text_button_padding"> oder </span>
  <%= link_to "abbrechen", purchase_deliveries_path, :class => "text_button_padding link_button" %>
</div>
<% end unless disabled %>
