<li class="first <%= params[:action]  == 'index' ? 'active' : '' %>"><%= link_to "Alle Lieferungen", purchase_deliveries_path %></li>
<li class="<%= params[:action] == 'new' ? 'active' : '' %>"><%= link_to "Neue Lieferung anlegen", new_purchase_delivery_path %></li>
<% if params[:action] == 'edit' then %>
<li class="active"><%= link_to "Lieferung bearbeiten", edit_purchase_delivery_path %></li>
<% end %>
<% if params[:action] == 'show' then %>
<li class="active"><%= link_to "Lieferungansicht", purchase_delivery_path %></li>
<% end %>

