<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title">Alle Lieferungen</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first" style="width:200px">Art</th>
          <th style="width:200px">Lieferant</th>
          <th style="width:100px">Techniker</th>
          <th style="width:100px">Status</th>
          <th style="width:100px">Erstellt am</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @deliveries.each do |delivery| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= delivery.type %>
          </td>
          <td>
            <%= delivery.supplier.name if delivery.supplier%>
          </td>
          <td>
            <%= delivery.technician.full_name if delivery.technician %>
          </td>
          <td>
            <%= delivery.status %>
          </td>
          <td>
            <%= delivery.created_at.strftime("%d.%m.%Y-%H:%M") %>
          </td>
          <td class="last">
            <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), purchase_delivery_path(delivery) %>
            <%= link_to image_tag("/assets/icons/edit.png", :title=>"Bearbeiten", :alt=>"Bearbeiten"), edit_purchase_delivery_path(delivery) %>
            <%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen"), purchase_delivery_path(delivery), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <%= page_entries_info %><br/><br/><br/>
      <%= will_paginate @deliveries %><br/><br/><br/>
    </div>
  </div>
</div>

