<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Lieferungansicht</h2>
    <div class="inner">
      <%= form_for @delivery, :url => purchase_delivery_path(@delivery), :html => { :class => :form } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f, :disabled => true} %>
      <% end -%>
       <div class="navform wat-cf">
        <a class="button" href="<%= edit_purchase_delivery_path(@delivery) %>">
          <%= image_tag("/assets/icons/edit.png", :alt => "bearbeiten")%> bearbeiten
        </a>
        <a class="button" href="<%= order_purchase_delivery_path(@delivery) %>">
          <%= image_tag("/assets/icons/basket_go.png", :alt => "ordern")%> ordern
        </a>
        <% begin %>
        <a class="button" href="<%= process_delivery_purchase_delivery_path(@delivery) %>">
          <%= image_tag("/assets/icons/lightning_go.png", :alt => "durchführen")%> durchführen
        </a>
        <% end unless (@delivery.status_id == 2) %>
      </div>
    </div>
  </div>
</div>
