<li class="first <%= params[:action]  == 'index' ? 'active' : '' %>"><%= link_to "Alle Termine", admin_appointments_path %></li>
<li class="<%= params[:action] == 'new' ? 'active' : '' %>"><%= link_to "Neuen Termin anlegen", new_admin_appointment_path %></li>
<% if params[:action] == 'edit' then %>
<li class="active"><%= link_to "Termin bearbeiten", edit_admin_appointment_path %></li>
<% end %>
<% if params[:action] == 'show' then %>
<li class="active"><%= link_to "Terminansicht", admin_appointment_path %></li>
<% end %>

