<div class="block">
<div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "users/sub_menu" %>  
    </ul>
  </div>   
  <div class="content">            
    <h2 class="title">Anmeldung und Passwort</h2>
    <div class="inner">
        
    <%= form_for(resource, :url => "/d/registration", :html => { :method => :put }) do |f| %>

    <% if @user.errors.any? %>
      <%= render :partial => "general/error_messages", :locals => { :current_model => @user } %>
    <% end %>
  
      <fieldset class="group">
        <div class="cc" style="width:920px">
          <p><%= f.label :email, "Login / Email", :class => :label, :style => "width:300px"%></p>
          <p><%= f.text_field :email %></p>
          <br/>
          <p><%= f.label :password, "Neues Passwort", :class => "label", :style => "width:300px" %> </p>
          <p><%= f.password_field :password %></p>
          <p><%= f.label :password_confirmation, "Passwortwiederholung", :style => "width:300px" %></p>
          <p><%= f.password_field :password_confirmation %></p>
          <br/>
          <p><%= f.label :current_password, "Altes Passwort", :style => "width:300px" %></p>
          <p><%= f.password_field :current_password %></p>
          </div>
      </fieldset>
    <br/>
    <div class="navform wat-cf">
      <button class="button" type="submit">
        <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "speichern") %>
      </button>
      <span class="text_button_padding"><%= t("web-app-theme.or", :default => "oder") %></span>
      <%= link_to t("web-app-theme.cancel", :default => "abbrechen"), "/", :class => "text_button_padding link_button", :style =>  "color:red" %>

    </div>
    <% end %>
    </div>
  </div>
</div>