<table class="table">
  <tr>
    <th class="first" style="width:150px">am</th>
    <th>von</th>
    <th>Kommentar</th>
    <th class="last">&nbsp;</th>
  </tr>
<% @comments.order("created_at ASC").each do |comment| %>
  <tr>
    <td><%= comment.created_at.strftime("%d.%m.%Y-%H:%M") %></td>
    <td><%= link_to(comment.user.full_name, [current_view, comment.user]) %></td>
    <td><%= comment.body %></td>
    <td></td>
  </tr>
<% end %>
</table>