<div class="block">        
  <div class="content">            
    <div class="inner">
      <%= form_for :comment, :url => url_for([current_view, @comment.job, :comments])+"?fromPath=#{params[:fromPath]}", :html => { :class => :form } do |f| -%>
        <%= render :partial => "general/comment_form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>