<% 
	start_date_1 = "01-01-#{start_date.year}".to_date
	start_date_2 = "01-02-#{start_date.year}".to_date
	start_date_3 = "01-03-#{start_date.year}".to_date
	
	start_date_4 = "01-04-#{start_date.year}".to_date
	start_date_5 = "01-05-#{start_date.year}".to_date
	start_date_6 = "01-06-#{start_date.year}".to_date
	
	start_date_7 = "01-07-#{start_date.year}".to_date
	start_date_8 = "01-08-#{start_date.year}".to_date
	start_date_9 = "01-09-#{start_date.year}".to_date
	
	start_date_10 = "01-10-#{start_date.year}".to_date
	start_date_11 = "01-11-#{start_date.year}".to_date
	start_date_12 = "01-12-#{start_date.year}".to_date
	
	end_date_1 = "31-01-#{end_date.year}".to_date
	end_date_2 = "28-02-#{end_date.year}".to_date
	end_date_3 = "31-03-#{end_date.year}".to_date
	
	end_date_4 = "30-04-#{end_date.year}".to_date
	end_date_5 = "31-05-#{end_date.year}".to_date
	end_date_6 = "30-06-#{end_date.year}".to_date
	
	end_date_7 = "31-07-#{end_date.year}".to_date
	end_date_8 = "31-08-#{end_date.year}".to_date
	end_date_9 = "30-09-#{end_date.year}".to_date
	
	end_date_10 = "31-10-#{end_date.year}".to_date
	end_date_11 = "30-11-#{end_date.year}".to_date
	end_date_12 = "31-12-#{end_date.year}".to_date
%>

<!-- year -->
<% if(month_name == ["Jan","Feb","März","April","Mai","Juni","Juli","Aug","Sept","Okt","Nov","Dez"]) %>
	<td> <%= user.get_total_days_of_absence(start_date_1, end_date_1).length %> </td>
	<td> <%= user.get_total_days_of_absence(start_date_2, end_date_2).length %> </td>
	<td> <%= user.get_total_days_of_absence(start_date_3, end_date_3).length %> </td>
	<td> <%= user.get_total_days_of_absence(start_date_4, end_date_4).length %> </td>
	<td> <%= user.get_total_days_of_absence(start_date_5, end_date_5).length %> </td>
	<td> <%= user.get_total_days_of_absence(start_date_6, end_date_6).length %> </td>
	<td> <%= user.get_total_days_of_absence(start_date_7, end_date_7).length %> </td>
	<td> <%= user.get_total_days_of_absence(start_date_8, end_date_8).length %> </td>
	<td> <%= user.get_total_days_of_absence(start_date_9, end_date_9).length %> </td>
	<td> <%= user.get_total_days_of_absence(start_date_10, end_date_10).length %> </td>
	<td> <%= user.get_total_days_of_absence(start_date_11, end_date_11).length %> </td>
	<td> <%= user.get_total_days_of_absence(start_date_12, end_date_12).length %> </td>
<% end %>