<% page_param_name ||= "page" %>
<% search_param_name ||= "q" %>
<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<div class="block">
	<div class="secondary-navigation">
		<ul class="wat-cf">
			<%= render "/management/reports/sub_menu" %>
		</ul>
	</div>

	<div class="content">
		
		<h2 class="title">Kapazitätsbedarfsplanung</h2>
		<div class="inner">
			<label for="client_id_select">Mandant</label> <%= select_tag "client_id_select", options_for_select(Client.find(current_user.client_ids).collect {|p| [ p.name, p.id]}) %> <label for="client_id_select">Format</label> <%= select_tag "format_select", options_for_select(['html','pdf','csv']) %>
			<br />

			<div id="wrapper_crp" style="width: 600px">
				<br />
				<div id="current_crp" style="width: 600px; padding-bottom: 30px">
					
					<a class="button" href="/management/reports/crp_reports/capacity_requirements_planning?start=<%= Date.today.beginning_of_week.strftime("%Y-%m-%d") %>&end=<%= Date.today.end_of_week.strftime("%Y-%m-%d") %>&period=week&layout=reports&client=">Aktuelle Woche</a>

					<a class="button" href="/management/reports/crp_reports/capacity_requirements_planning?start=<%= Date.today.beginning_of_month.strftime("%Y-%m-%d") %>&end=<%= Date.today.end_of_month.strftime("%Y-%m-%d") %>&period=month&layout=reports&client=">Aktueller Monat</a>

					<a class="button" href="/management/reports/crp_reports/capacity_requirements_planning?start=<%= Date.today.beginning_of_quarter.strftime("%Y-%m-%d") %>&end=<%= Date.today.end_of_quarter.strftime("%Y-%m-%d") %>&period=quarter&layout=reports&client=">Aktuelles Quartal</a>

					<a class="button" href="/management/reports/crp_reports/capacity_requirements_planning?start=<%= Date.today.beginning_of_year.strftime("%Y-%m-%d") %>&end=<%= Date.today.end_of_year.strftime("%Y-%m-%d") %>&period=year&layout=reports&client=">Aktuelles Jahr</a>

					<br />
					<br />
					<br />
					<hr />
					<a class="button" href="/management/reports/crp_reports/capacity_requirements_planning?start=<%= Date.today.next_week.beginning_of_week.strftime("%Y-%m-%d")%>&end=<%= Date.today.next_week.end_of_week.strftime("%Y-%m-%d") %>&period=week&layout=reports&client=">Kommende Woche</a>

					<a class="button" href="/management/reports/crp_reports/capacity_requirements_planning?start=<%= Date.today.beginning_of_month.next_month.strftime("%Y-%m-%d") %>&end=<%= Date.today.next_month(1).end_of_month.strftime("%Y-%m-%d") %>&period=month&layout=reports&client=">Kommender Monat</a>

					<a class="button" href="/management/reports/crp_reports/capacity_requirements_planning?start=<%= Date.today.beginning_of_month.next_month(3).beginning_of_quarter.strftime("%Y-%m-%d") %>&end=<%= Date.today.end_of_month.next_month(3).end_of_quarter.strftime("%Y-%m-%d") %>&period=quarter&layout=reports&client=">Kommendes Quartal</a>

					<a class="button" href="/management/reports/crp_reports/capacity_requirements_planning?start=<%= Date.today.beginning_of_year.next_year.strftime("%Y-%m-%d") %>&end=<%= Date.today.end_of_year.next_year.strftime("%Y-%m-%d") %>&period=year&layout=reports&client=">Kommendes Jahr</a>
				</div>

				<div id="quarter">
					<br />
					<hr />
					<a class="button" href="/management/reports/crp_reports/capacity_requirements_planning?start=<%= Date.today.strftime("%Y-01-01") %>&end=<%= Date.today.strftime("%Y-03-31") %>&period=quarter&layout=reports&client=">1. Quartal</a>

					<a class="button" href="/management/reports/crp_reports/capacity_requirements_planning?start=<%= Date.today.strftime("%Y-04-01") %>&end=<%= Date.today.strftime("%Y-06-30") %>&period=quarter&layout=reports&client=">2. Quartal</a>

					<a class="button" href="/management/reports/crp_reports/capacity_requirements_planning?start=<%= Date.today.strftime("%Y-07-01") %>&end=<%= Date.today.strftime("%Y-09-30") %>&period=quarter&layout=reports&client=">3. Quartal</a>

					<a class="button" href="/management/reports/crp_reports/capacity_requirements_planning?start=<%= Date.today.strftime("%Y-10-01") %>&end=<%= Date.today.strftime("%Y-12-31") %>&period=quarter&layout=reports&client=">4. Quartal</a>

				</div>

			</div>
			<br style="clear:both"/>
		</div>
	</div>
	<% content_for :bottom do %>
	<script>
		$(function() {
			$("#wrapper_crp .button").click(function() {
				var oldUrl = $(this).attr("href");

				//Mandant auswählen
				var clientId = $("#client_id_select").val();
				var newUrl = oldUrl + clientId;

				//Format auswählen
				var format = $("#format_select").val();
				if (format == 'pdf') {
					newUrl = newUrl.replace("?", ".pdf?");
				}
				if (format == 'csv') {
					newUrl = newUrl.replace("?", ".csv?");
				}
				$(this).attr("href", newUrl);
			})
		});

	</script>
	<% end %>
</div>

<script type="text/javascript">
	function setColspan() {

	}
</script>