<<<<<<< HEAD
<h1 style="font-weight:bold; font-size: 30px;">Reporttest mit Kitties im Layout mit eigener Template	</h1>
<h2>Irgendwelches HTML</h2>
<%= raw @report.render_html %>
=======
<h1 style="font-weight:bold; font-size: 30px;">Reporttest mit Kitties im Layout mit eigener Template	</h1>
<h2>Irgendwelches HTML</h2>
<%= raw @report.render_html %>
>>>>>>> 95f555e8826e1534374a6520d0d8ab16a682f413
<h2>Irgendwelches HTML</h2>