<%- if controller_name != 'sessions' %>
  <%= link_to "Anmelden", new_session_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
  <%= link_to "Passwort vergessen?", new_password_path(resource_name) %><br />
<% end -%>