<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>  
  <div class="content">            
    <h2 class="title">Lagerbestand</h2>
    <div class="inner">
     <div id="storage">
      <table class="table">
        <tr>             
          <th class="first" style="width:200px">Name</th>
          <th style="width:100px">Lagerbestand</th>
          <th style="width:100px">Mindestbestand</th>
          <th style="width:100px">Restmenge</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @articles_in_storage.each do |article| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= article.name %>
          </td>
          <td>
            <%= article.current_quantity_in_storage %>
          </td>
          <td>
            <%= article.minimum_quantity_in_storage %>
          </td>
          <td>
            <%= article.residue %>
          </td>
          <td class="last">
            <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), purchase_article_path(article) %>
            <%= link_to image_tag("/assets/icons/edit.png", :title=>"Bearbeiten", :alt=>"Bearbeiten"), edit_purchase_article_path(article) %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <%= page_entries_info @articles_in_storage %><br/><br/><br/>
      <%= will_paginate @articles_in_storage %><br/><br/><br/>
     </div>
   </div>  

     <h2 class="title">neu zu ordern</h2>
    <div class="inner">
     <div id="storage">
      <table class="table">
        <tr>             
          <th class="first" style="width:200px">Name</th>
          <th style="width:100px">Lagerbestand</th>
          <th style="width:100px">Mindestbestand</th>
          <th style="width:100px">Restmenge</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @articles_to_order.each do |article| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= article.name %>
          </td>
          <td>
            <%= article.current_quantity_in_storage %>
          </td>
          <td>
            <%= article.minimum_quantity_in_storage %>
          </td>
          <td>
            <%= article.residue %>
          </td>
          <td class="last">
            <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), purchase_article_path(article) %>
            <%= link_to image_tag("/assets/icons/edit.png", :title=>"Bearbeiten", :alt=>"Bearbeiten"), edit_purchase_article_path(article) %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <%= page_entries_info @articles_to_order %><br/><br/><br/>
      <%= will_paginate @articles_to_order %><br/><br/><br/>
     </div>
    </div>
    <h2 class="title">Bestellungen in Bearbeitung</h2>
    <div class="inner">
     <div id="storage">
      <table class="table">
        <tr>             
          <th class="first" style="width:200px">Lieferant</th>
          <th style="width:100px">Positionen</th>
          <th style="width:100px">Status</th>
          <th class="last">&nbsp;</th>
        </tr>
      </table>
      <%= page_entries_info @articles_to_order %><br/><br/><br/>
      <%= will_paginate @articles_to_order %><br/><br/><br/>
     </div>
    </div>
    <h2 class="title">Ausstehende Lieferungen</h2>
    <div class="inner">
     <div id="storage">
      <table class="table">
        <tr>             
          <th class="first" style="width:200px">Lieferant</th>
          <th style="width:100px">Bestelldatum</th>
          <th style="width:100px">Positionen</th>
          <th class="last">&nbsp;</th>
        </tr>
      </table>
      <%= page_entries_info @articles_to_order %><br/><br/><br/>
      <%= will_paginate @articles_to_order %><br/><br/><br/>
     </div>
   </div>  
 </div>
</div>
