<% disabled = false unless defined?(disabled) %>

  <% if @article_group.errors.any? %>
    <%= render :partial => "general/error_messages", :locals => { :current_model => @article_group } %>
  <% end %>
  
  <fieldset class="group">
    <legend>Warengruppedetails</legend>
  <div class="cc">
    <%= simple_text_field(f, @article_group, :name, "Name", disabled, true) %>
    <%= simple_boolean_select(f, @article_group, :active, "aktiv", disabled, true) %>
    <%= simple_select(f, @article_group, :type_id, "Typ", [["Beistellung",1],["Kauf",2],], disabled, true) %>
  </div>
  </fieldset>

<% begin %>  
<div class="navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "speichern")%> speichern
  </button>

<% if (!@article_group.errors.any?) && (params[:action] != "new") then %>
  <%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen")+" löschen", purchase_article_group_path(@article_group), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}", :class=>"button" %>
<% end %>
  <span class="text_button_padding"> oder </span>
	<%= link_to "abbrechen", purchase_article_groups_path, :class => "text_button_padding link_button" %>
</div>
<% end unless disabled %>