<li class="first <%= params[:action]  == 'index' ? 'active' : '' %>"><%= link_to "Alle Warengruppen", purchase_article_groups_path %></li>
<li class="<%= params[:action] == 'new' ? 'active' : '' %>"><%= link_to "Neue Warengruppe anlegen", new_purchase_article_group_path %></li>
<% if params[:action] == 'edit' then %>
<li class="active"><%= link_to "Warengruppe bearbeiten", edit_purchase_article_group_path %></li>
<% end %>
<% if params[:action] == 'show' then %>
<li class="active"><%= link_to "Warengruppeansicht", purchase_article_group_path %></li>
<% end %>

