<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title">Alle Warengruppen</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first" style="width:500px">Name</th>
          <th style="width:200px">Typ</th>
          <th style="width:100px">aktiv</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @article_groups.each do |article_group| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= article_group.name %>
          </td>
          <td>
            <%= article_group.type %>
          </td>
          <td>
            <%= display_active_state(article_group.active) %>
          </td>
          <td class="last">
            <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), purchase_article_group_path(article_group) %>
            <%= link_to image_tag("/assets/icons/edit.png", :title=>"Bearbeiten", :alt=>"Bearbeiten"), edit_purchase_article_group_path(article_group) %>
            <%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen"), purchase_article_group_path(article_group), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <%= page_entries_info %><br/><br/><br/>
      <%= will_paginate @article_groups %><br/><br/><br/>
    </div>
  </div>
</div>

