<html>
<head>
	<title></title>
</head>
<body>

<div class="block">
	<div class="content">          
    	<h2 class="title">Rechteverletzung:</h2>
    	<div class="inner">
    	<% if !@desired_view.blank? then %>
			<p>Sie haben nicht die benötigten Rechte um auf die Ansicht "<%= @desired_view %>" zuzugreifen.</p>
		<% end %>
			<p>Bitte wählen Sie eine der für Sie zulässigen Ansichten oder sprechen Sie mit Ihrem Administrator.</p>
		</div>
	</div>
</div>
</body>
</html>


