<div class="block">        
  <div class="content">            
    <div class="inner">
      <%= form_for :days_of_absence, :url => url_for([current_view, @days_of_absence.user, :days_of_absence, :index])+"?fromPath=#{params[:fromPath]}", :html => { :class => :form } do |f| -%>
        <%= render :partial => "general/user_days_of_absence_form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>