
<%= form_for :days_of_absence, :url => url_for([current_view, @days_of_absence.user, :days_of_absence, :index])+"?fromPath=#{params[:fromPath]}", :html => { :class => :form } do |f| -%>
<%= render :partial => "general/article_days_of_absence_form", :locals => {:f => f, :disabled => true} %>
<% end -%>
