<li class="first <%= controller.controller_path == 'admin/base' ? 'active' : '' %>"><%= link_to "Übersicht", admin_path %></li>
<li>
	<a href="#">Aufträge & Termine</a>
	<ul class="submenu">
		<li class="<%= (controller.controller_path == 'admin/jobs' && ["index","new","edit","show"].include?(params[:action])) ? 'active' : '' %>"><a href="<%= admin_jobs_path %>">Aufträge</a></li>
		<li class="<%= controller.controller_path == 'admin/appointments' ? 'active' : '' %>"><a href="<%= admin_appointments_path %>">Termine</a></li>
		<li class="<%= controller.controller_path == 'admin/completions' ? 'active' : '' %>"><a href="<%= admin_completions_path %>">Auftragsabschlüsse</a></li>
		
		<li class="<%= controller.controller_path == 'admin/cancellations' ? 'active' : '' %>"><a href="<%= admin_cancellations_path %>">Klärungsfälle</a></li>
		<li class="<%= controller.controller_path == 'admin/appointment_requests' ? 'active' : '' %>"><a href="<%= admin_appointment_requests_path %>">Terminanfragen</a></li>
		<li class="<%= controller.controller_path == 'admin/special_expenses' ? 'active' : '' %>"><a href="<%= admin_special_expenses_path %>">Mehraufwendungen</a></li>
	</ul>
</li>

<li>
	<a href="#">Stammdaten</a>
	<ul class="submenu">
		<li class="<%= (controller.controller_path == 'admin/building_types' && ["index","new","edit","show"].include?(params[:action])) ? 'active' : '' %>"><a href="<%= admin_building_types_path %>">Objektarten</a></li>

		<li class="<%= (controller.controller_path == 'admin/network_types' && ["index","new","edit","show"].include?(params[:action])) ? 'active' : '' %>"><a href="<%= admin_network_types_path %>">Netztopologien</a></li>

		<li class="<%= (controller.controller_path == 'admin/modem_types' && ["index","new","edit","show"].include?(params[:action])) ? 'active' : '' %>"><a href="<%= admin_modem_types_path %>">Modem</a></li>
		<li class="<%= (controller.controller_path == 'admin/job_types' && ["index","new","edit","show"].include?(params[:action])) ? 'active' : '' %>"><a href="<%= admin_job_types_path %>">Auftragsarten</a></li>
		<li class="<%= (controller.controller_path == 'admin/clients' && ["index","new","edit","show"].include?(params[:action])) ? 'active' : '' %>"><a href="<%= admin_clients_path %>">Mandanten</a></li>
		<li class="<%= (controller.controller_path == 'admin/waiting_causes' && ["index","new","edit","show"].include?(params[:action])) ? 'active' : '' %>"><a href="<%= admin_waiting_causes_path %>">Wartegründe</a></li>
	</ul>
</li>
	
<li>
	<a href="#">Benutzerverwaltung</a>
	<ul class="submenu">
		<li class="<%= controller.controller_path == 'admin/´users' ? 'active' : '' %>"><a href="<%= admin_users_path %>">Benutzer</a></li>

		<li class="<%= controller.controller_path == 'admin/service_user_groups' ? 'active' : '' %>"><a href="<%= admin_service_user_groups_path %>">Technikergruppen</a></li>

	</ul>	
</li>

<li>
	<a href="#">Website Wartung</a>
	<ul class="submenu">
		<li class="<%= controller.controller_path == 'admin/delayed_jobs' ? 'active' : '' %>"><a href="<%= admin_delayed_jobs_path %>">Prozess-Warteschlange</a></li>
		<li class="<%= controller.controller_path == 'admin/logs' ? 'active' : '' %>"><a href="<%= admin_logs_path %>">Logs</a></li>
		<li class="<%= controller.controller_path == 'admin/bugtracker' ? 'active' : '' %>"><a href="<%= admin_bugtrackers_path %>">Bugtracker</a></li>
	</ul>
</li>


