<h1>Test-Seite 6</h1>

<div id="canvasDiv" style="border:2px solid #aaa; background-color:white; cursor:pointer"></div>

<button type="button" class="button" id="clear-canvas">Feld löschen</button>

<%= text_field_tag :test_signature, nil, :style => "display:none" %>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<%= content_for :bottom do %>
<script type="text/javascript">
$(function(){

	var canvasWidth = $('#canvasDiv').width();
	var canvasHeight = 200;

	var canvasDiv = document.getElementById('canvasDiv');
	canvas = document.createElement('canvas');
	canvas.setAttribute('width', canvasWidth);
	canvas.setAttribute('height', canvasHeight);
	canvas.setAttribute('id', 'canvas');
	canvasDiv.appendChild(canvas);
	if(typeof G_vmlCanvasManager != 'undefined') {
		canvas = G_vmlCanvasManager.initElement(canvas);
	}
	context = canvas.getContext("2d");


	$('#canvas').mousedown(function(e){
	  var mouseX = e.pageX - this.offsetLeft;
	  var mouseY = e.pageY - this.offsetTop;
			
	  paint = true;
	  addClick(e.pageX - this.offsetLeft, e.pageY - this.offsetTop);
	  redraw();
	});

	$('#clear-canvas').click(function(e){
		clearSignatureField();
	})

/*
	$('#canvas').mousemove(function(e){
	  if(paint){
	    addClick(e.pageX - this.offsetLeft, e.pageY - this.offsetTop, true);
	    redraw();
	  }
	});
	*/

	$('#canvas').bind('touchmove', function(jQueryEvent) {
		//console.log('sd');
		//jQueryEvent.preventDefault();
	   	
   		var event = window.event;
	   	if(true){
	    	addClick(event.pageX - this.offsetLeft, event.pageY - this.offsetTop, true);
			redraw();
	 	}
	  /*
	   var event = window.event;
	   console.log('x='+event.touches[0].pageX + '  y= ' + event.touches[0].pageY);
	   */
	});

	$('#canvas').mouseup(function(e){
	  paint = false;
	});

	$('#canvas').mouseleave(function(e){
	  paint = false;
	});

	var clickX = new Array();
	var clickY = new Array();
	var clickDrag = new Array();
	var paint;

	if ($('#test_signature').val())
		updateFromString($('#test_signature').val());

	function addClick(x, y, dragging){
		clickX.push(x);
		clickY.push(y);
		clickDrag.push(dragging);
		updateTextField();
	}

	function clearSignatureField(){
		clickX = [];
		clickY = [];
		clickDrag = [];
		canvas.width = canvas.width; //redraw
	}

	function updateFromString(s){
		var parts = s.split(";");
		var xs = parts[0];
		var ys = parts[1];
		var drags = parts[2];
		
		clickX = xs.split(",");
		clickY = ys.split(",");
		clickDrag = _.map(drags.split(","), function(num){ if(num == 1) return true; });

		redraw();
	}

	function updateTextField(){

		var s = "";
		for (var i = 0 ; i < clickX.length ; i++)
		{
			s+=clickX[i]+","
		}
		s+=";"
		for (var i = 0 ; i < clickY.length ; i++)
		{
			s+=clickY[i]+","
		}
		s+=";"
		for (var i = 0 ; i < clickDrag.length ; i++)
		{
			if (clickDrag[i])
				s+="1,";
			else
				s+="0,";
		}
		s+=";"
		$('#test_signature').val(s);
	}

	function redraw(){
	  canvas.width = canvas.width; // Clears the canvas
	  
	  context.strokeStyle = "#000";
	  context.lineJoin = "round";
	  context.lineWidth = 5;
				
	  for(var i=0; i < clickX.length; i++)
	  {		
	    context.beginPath();
	    if(clickDrag[i] && i){
	      context.moveTo(clickX[i-1], clickY[i-1]);
	     }else{
	       context.moveTo(clickX[i]-1, clickY[i]);
	     }
	     context.lineTo(clickX[i], clickY[i]);
	     context.closePath();
	     context.stroke();
	  }
	}
});

</script>
<% end %> 



<%
=begin

<h2>PDF</h2>
<a href="/test/pdf">PDF</a>


<h2>Mobil-Ansicht</h2>
<iframe src="/mobile" height="508" width="320"></iframe>

=end
%>