<li class="first <%= params[:action]  == 'index' ? 'active' : '' %>"><%= link_to "Alle Terminanfragen", admin_appointment_requests_path %></li>
<li class="<%= params[:action] == 'new' ? 'active' : '' %>"><%= link_to "Neuer Terminanfrage anlegen", new_admin_appointment_request_path %></li>
<% if params[:action] == 'edit' then %>
<li class="active"><%= link_to "Terminanfrage bearbeiten", edit_admin_appointment_request_path %></li>
<% end %>
<% if params[:action] == 'show' then %>
<li class="active"><%= link_to "Terminanfrageansicht", admin_appointment_request_path %></li>
<% end %>

