<% disabled = false unless defined?(disabled) %>

<% if @scheduling_user_group.errors.any? %>
<%= render :partial => "general/error_messages", :locals => { :current_model => @scheduling_user_group } %>
<% end %>

<fieldset class="group">
	<legend>Disponentengruppendetails</legend>
	<div class="c">
		<%= simple_text_field(f, @scheduling_user_group, :name, "Gruppenbezeichnung", disabled, true) %>
		<%= simple_select(f, @scheduling_user_group, :client_id, "Mandant", current_user.clients.collect {|c| [ c.name, c.id ] }, disabled, true)  %>
		<br class="clear"/><br/><br/>
		<span class="left-floating-span">
			<%= f.label :postal_codes, "PLZ-Gebiete", :class => :label %>
			<%= text_area :postal_codes_csv, nil,:value => @scheduling_user_group.postal_codes_csv, :class => "text_area", :style => "width:400px", :disabled => disabled %>
		</span>
		<span style="float:left; width:400px; margin-left:130px; margin-top:10px"> - PLZ per Komma trennen. <br/> - PLZ können jeweils nur einer Dispogruppe zugeordnet werden.<br/>-> Wenn Sie eine PLZ eintragen die bereits von einer anderen Dispogruppe verwaltet wird, so wird diese automatisch von dort entfernt und hier zugeordnet. </span>
		<div class="clear"></div>
	</div>
</fieldset>
<fieldset class="group">
	<legend>Disponenten</legend>
	<div class="c">
		<span class="simple_field"><%= f.label :users, "Disponenten in dieser Gruppe", :class => :label %></span>

		<div style="float:left">
			<% SchedulingUserGroup.available_scheduling_users_for(current_user).each do |user| %>
			<%= check_box_tag "scheduling_user_group[user_ids][]", user.id, @scheduling_user_group.users.include?(user), :disabled => disabled %> <%= link_to user.full_name, [current_view, user] %><br/><br/><br/>
			<% end %>
		</div>   
		<span style="float:left; width:400px; margin-left:150px; margin-top:10px"> - Disponenten können jeweils nur einer Dispogruppe zugeordnet werden.<br/> -> Wenn Sie einen Disponenten eintragen der bereits von einer anderen Dispogruppe verwaltet wird, so wird dieser automatisch von dort entfernt und hier zugeordnet. </span>
	</div></fieldset>

	<fieldset class="group">
		<legend>Email-Einstellungen</legend>
		<div class="c">
			<%= simple_text_field(f, @scheduling_user_group, :sender_email, "Absender-Email", disabled, true) %>
			<%= simple_text_field(f, @scheduling_user_group, :bcc_email_receiver, "CC Email", disabled) %>
		</div></fieldset>
		<% begin %>  
		<div class="navform wat-cf">
			<button class="button" type="submit">
				<%= image_tag("web-app-theme/icons/tick.png", :alt => "speichern")%> speichern
			</button>

			<% if (!@scheduling_user_group.errors.any?) &&(params[:action] != "new") then %>
			<%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen")+" löschen", [current_view, @scheduling_user_group], :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}", :class=>"button" %>
			<% end %>
			<span class="text_button_padding"> oder </span>
			<%= link_to "abbrechen", [current_view, :scheduling_user_groups], :class => "text_button_padding link_button" %>
		</div>
		<% end unless disabled %>