<li class="first <%= params[:action]  == 'index' ? 'active' : '' %>"><%= link_to "Alle Disponentengruppen", [current_view, :scheduling_user_groups] %></li>
<li class="<%= params[:action] == 'new' ? 'active' : '' %>"><%= link_to "Neue Disponentengruppe anlegen", [:new, current_view, :scheduling_user_group] %></li>
<% if params[:action] == 'edit' then %>
<li class="active"><%= link_to "Disponentengruppe bearbeiten", [:edit, current_view, :scheduling_user_group] %></li>
<% end %>
<% if params[:action] == 'show' then %>
<li class="active"><%= link_to "Disponentengruppeansicht", [current_view, :scheduling_user_group] %></li>
<% end %>
