<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title">Alle Disponentengruppen</h2>
    <div class="inner">
      <table class="table">
        <tr>             

    <th class="first" style="width:200px" >Gruppennamen</th>
    <th>Disponenten</th>
    <th class="last">&nbsp;</th>
  </tr>

<% @scheduling_user_groups.each do |scheduling_user_group| %>
  <tr class="<%= cycle("odd", "even") %>">
    <td><%= link_to scheduling_user_group.name, [current_view, scheduling_user_group] %></td>
    <td><%= raw scheduling_user_group.users.collect{|u| link_to(u.full_name,scheduling_leader_scheduling_user_path(u))}.join(", ") %></td>
     <td class="last">
        <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), [current_view, scheduling_user_group] %>
        <%= link_to image_tag("/assets/icons/edit.png", :title=>"Bearbeiten", :alt=>"Bearbeiten"), [:edit, current_view, scheduling_user_group] %>
        <%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen"), [current_view, scheduling_user_group], :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}"  %>
      </td>
  </tr>
<% end %>
</table>
<div class="navform wat-cf">
  <div class="page-entries"><%= page_entries_info %></div>
  <%= will_paginate @scheduling_user_groups %>
</div>


    </div>
  </div>
</div>
