<p id="notice"><%= notice %></p>
<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Disponentengruppenansicht</h2>
    <div class="inner">
      <%= form_for @scheduling_user_group, :url => [current_view, @scheduling_user_group], :html => { :class => :form } do |f| -%>
        <%= render :partial => "scheduling_user_groups/form", :locals => {:f => f, :disabled => true} %>
      <% end -%>
      <div class="navform wat-cf">
        <a class="button" href="<%= url_for([:edit, current_view, @scheduling_user_group]) %>">
          <%= image_tag("/assets/icons/edit.png", :alt => "bearbeiten")%> bearbeiten
        </a>
      </div>
    </div>
  </div>
</div>
