<li class="first <%= params[:action]  == 'index' ? 'active' : '' %>"><%= link_to "Alle Auftragsabschlüsse", scheduling_leader_completions_path %></li>
<% if params[:action] == 'show' then %>
<li class="active"><%= link_to "Auftragsabschlussansicht", scheduling_leader_completion_path %></li>
<% end %>

