<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>
  <div class="content">
    <h2 class="title">Einzelnen Auftrag per Hand importieren</h2>
    <div class="inner">
      <h2>Anleitung</h2>
      <p class="instructions">
          1) Melden Sie sich bei <a target="_blank" style="text-decoration:underline" href="https://otweb.kabelbw.com/sp">OMNITRACKER</a> an.<br/>
          2) Wählen Sie den Punkt "03. KI-Installation" für Installationen oder den Punkt "01. SK Aufträge" für Störungen <br/>
          3) Suchen Sie Ihren Auftrag und öffnen Sie die Detailansicht.<br/>
          4) Öffnen Sie den Datensatz OHNE Menü indem Sie einen Rechtsklick in den Datensatz machen und "Frame in neuem Fenster öffnen" o.ä. wählen.<br/>
          5) Ermitteln Sie die OT-ID aus der URL des neuen Fensters. <br/>
          Bsp.: https://otweb.kabelbw.com/otwg/OTWGObjForm.aspx?id=32859392&popup=0&ShortCutBarID=0 => OT-ID = 32859392<br/>
          6) Kopieren Sie die OT-ID aus der URL in untenstehendes Feld.<br/>
          7) Wählen Sie den passenden Mandanten (mit dem Sie sich auch im OT eingeloggt haben)<br/>
          8) Klicken Sie auf "Importieren" und haben Sie einen Moment Geduld.<br/>
          <b>OT-ID ist nicht die OT-Auftragsnummer!</b><br/>
      </p>
      <%= form_tag :action => "create_job" do %>

        <%= label_tag :job_id, "OT-ID" %>
        <%= text_field_tag :job_id, nil %>
<br/><br/>

        <%= label_tag :job_id, "Mandant" %>
        <%= select_tag :client_id, options_for_select(current_user.clients.options_for_select }) %>
<br/><br/>

        <%= submit_tag "Importieren", :class => "button", :style => "margin-left:190px" %>
      <% end %>
    </div>
  </div>
</div>


