<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>  
  <div class="content">            
    <h2 class="title">Aufträge auf 'wk' länger als 4 Tage</h2>
    <div class="inner">
     <div id="waiting_jobs"><%= render :partial => "scheduling_leader/jobs/jobs", :locals => {:jobs => @open_wk_jobs, :search => @search_open_wk_jobs, :search_param_name => "search_open_wk_jobs", :page_param_name => "search_open_wk_jobs", :from_path => "/scheduling_leader"} %></div>
   </div>
   <h2 class="title">Genehmigung benötigt</h2>
    <div class="inner">
     <div id="cancelled_jobs"><%= render :partial => "scheduling_leader/jobs/jobs", :locals => {:jobs => @cancelled_jobs, :search => @search_cancelled_jobs, :search_param_name => "search_cancelled_jobs", :page_param_name => "search_cancelled_jobs", :from_path => "/scheduling_leader"} %></div>
   </div>
 </div>
 <div class="content">            
    <h2 class="title">Erfolgsraten pro Disponent</h2>
    <div class="inner">
       <iframe src="/scheduling_leader/quotes_per_controller?frameWidth=940" frameborder="0" width="100%" height="330" ></iframe>
    </div>
    <h2 class="title">Auftragsvolumen pro Disponent</h2>
    <div class="inner">
       <iframe src="/scheduling_leader/volume_per_controller?frameWidth=940" frameborder="0" width="100%" height="330" ></iframe>
    </div>
  <br style="clear:both" />
</div>
