<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>

  <div class="content">
    <% if @new_job.blank? then %>
      <h2>Keinen NEUEN Auftrag erhalten.</h2><br/>
    <% else %>
      <h2 class="title">neuer Auftrag: <%= link_to @new_job.ot_auftragsnummer, [current_view, @new_job], :style => "text-decoration:underline" %> </h2>
      <div class="inner">

      </div>
    <% end %>
  </div>
</div>
