<div class="navform wat-cf button-bar">
  <% if (!@job.new_record? && !@job.errors.any? && ["scheduling", "admin"].include?(current_view) && !@job.abgeschlossen?) %>   
  <a class="button" href="<%= url_for([:edit, current_view, @job]) %>">
    <%= image_tag("/assets/icons/edit.png", :alt => "bearbeiten")%> bearbeiten
  </a>
          
       <a href="<%= url_for([:new, current_view, @job, :appointment])+((params[:fromPath].blank?) ? "" : "?fromPath="+params[:fromPath]) %>" class="button">
      <%= image_tag("/assets/icons/calendar_add.png", :alt => "Neuen Termin erstellen") %> Neuen Termin erstellen
    </a>
  
  <%= link_to(image_tag("/assets/icons/application_link.png", :alt => "In OT anzeigen")+"In OT anzeigen", "https://otweb.kabelbw.com/otwg/OTWGObjForm.aspx?id=#{@job.ot_id}&popup=0&ShortCutBarID=0", :target => "_blank", :class => "button") %>
  <% end %>
</div>
