 <div class="filter-panel">
      <h3>Filter:</h3>
      <fieldset class="search-panel" style="width:195px; min-height:150px">
      <legend>Auftragsdaten</legend>
        <table>
          <tr><td><label>OT-Nummer:</label></td><td><%= f.text_field :ot_auftragsnummer_cont, :class => "text_field" %></label></td></tr>
          <tr><td><label>Workorder:</label></td><td><%= f.text_field :workorder_cont, :class => "text_field"  %></td></tr>
          <tr><td><label>Mandant:</label></td><td><%= f.select("client_id_eq", Client.all.collect {|c| [ c.name, c.id ] }, {:include_blank => '-'}, :class => 'select', :style => "width:120px")  %></td></tr>
           <tr><td><label>Status:</label></td><td>
            <% if status_closed then %>
              <input type="text" class="text_field" value="abgeschlossen" disabled="disabled"></input>
            <% else %>
              <%= f.select("status_eq", (0..5).collect {|c| [ "#{status_name(c)} (#{status_short(c)})",c ] }, {:include_blank => '-'}, :class => 'select', :style => "width:120px")  %>
            <% end %>
           </td></tr>
        </table>
      </fieldset>
      <fieldset class="search-panel" style="width:210px; min-height:150px">
      <legend>Objekt</legend>
        <table>
          <tr><td><label>PLZ:</label></td><td><%= f.text_field :kunde_plz_cont, :class => "text_field"  %></td></tr>
          <tr><td><label>Ort:</label></td><td><%= f.text_field :kunde_ort_cont, :class => "text_field"  %></td></tr>
          <tr><td><label>Strasse:</label></td><td><%= f.text_field :kunde_strasse_cont, :style => "width:77px" , :class => "text_field" %>
          <%= f.text_field :kunde_hausnummer_cont, :style => "width:18px; margin:0px", :class => "text_field"  %></td></tr>
          <tr><td><label>Wohneinheiten:</label></td><td><%= f.text_field :wohneinheiten_eq, :class => "text_field"  %></td></tr>

        </table>
      </fieldset>
      <fieldset class="search-panel" style="width:220px; min-height:150px">
      <legend>Kunde</legend>
        <table>
          <tr><td><label>Nachname:</label></td><td><%= f.text_field :kunde_nachname_cont, :class => "text_field" %></td></tr>
          <tr><td><label>Vorname:</label></td><td><%= f.text_field :kunde_vorname_cont, :class => "text_field"  %></td></tr>
          <tr><td><label>Kundennummer:</label></td><td><%= f.text_field :kunde_kundennummer_cont, :class => "text_field"  %></td></tr>
          <tr><td><label>Email:</label></td><td><%= f.text_field :kunde_email_cont, :class => "text_field"  %></td></tr>
          <tr><td><label>Telefon:</label></td><td><%= f.text_field :kunde_telefon_mobil_or_kunde_telefon_privat_or_kunde_telefon_geschaeftlich_cont, :class => "text_field"  %></td></tr>
        </table>
      </fieldset>
      <fieldset class="search-panel" style="width:175px; min-height:150px">
      <legend>Eigentümer</legend>
        <table>
          <tr><td><label>Nachname:</label></td><td><%= f.text_field :eigentuemer_nachname_cont, :class => "text_field", :style => "width:100px"  %></td></tr>
          <tr><td><label>Vorname:</label></td><td><%= f.text_field :eigentuemer_vorname_cont, :class => "text_field", :style => "width:100px"  %></td></tr>
          </table>
      </fieldset>
      <button class="button" type="submit" style="margin: 7px">
        <%= image_tag "icons/magnifier.png?1313764869", :alt => "filtern", :title => "filtern" %> filtern
      </button>
      </div>