<fieldset class="group">
    <legend>zusätzliche Fotos (und Anhänge)</legend>
    <div class="c">
      <% if disabled %>
        <% (1..10).each do |number| %>
        <% if !current_object["additional_attachment_#{number}_file_name"].blank? then %>
          <% if current_object["additional_attachment_#{number}_file_name"].ends_with?(".pdf") then %>
            <div class="uneditable-photo"><span><%= current_object["additional_attachment_#{number}_description"] ? current_object["additional_attachment_#{number}_description"] : current_object["additional_attachment_#{number}_file_name"] %></span>
            <%= link_to(image_tag("icons/pdf_big_icon.png", :class => "thumb", :style => "width:80px; margin-left:10px") ,current_object.send("additional_attachment_#{number}_url"), :title => current_object["additional_attachment_#{number}_description"]) %>
            </div>
          <% else %>
            <div class="uneditable-photo"><span><%= current_object["additional_attachment_#{number}_description"] %></span>
            <%= link_to(image_tag(current_object.send("additional_attachment_#{number}_url"), :class => "thumb") ,current_object.send("additional_attachment_#{number}_url"), :class => "lightbox", :rel => "completion_photos", :title => current_object["additional_attachment_#{number}_description"]) %>
            </div>
          <% end %>
          <% end %>

        <% end %>
      <% else %>
        <div style="padding:20px; width:750px; padding-left:150px">
          <span class="simple-field photo-field">
            <% #uploader_id = 0 %>
            <table width="100%">
              <% (1..10).each do |number| %>
              <tr class="additional-attachment-row" <%= "style='display:none'" if current_object["additional_attachment_#{number}_file_name"].blank? %>>
                <td>
                  <label style="margin-left:20px">Beschreibung</label><%= f.text_field "additional_attachment_#{number}_description".to_sym, :style => "width:201px" %>
                  <%= render :partial => "general/upload_image", :locals => {:completion => current_object, :uploader_id => uploader_id += 1, :field_name => "additional_attachment_#{number}_file_name", :title => "", :required => false, :allow_non_images => true, :model_name => model_name} %></td></tr>
                  <% end %>
                </table>

                <button class="button" type="submit" id="add-attachment-button" style="margin-left:-130px">
                  <%= image_tag("icons/add.png", :alt => "weiteren Anhang hinzufügen") %> Anhang hinzufügen
                </button>
              </div>
      <% end %>

          </div>
        </fieldset>