[
  <% 
    user = @service_user
    start_day = Date.today
    end_day = Date.today
  %>
  
<% 
	#installation_appointments = user.appointments.where("day >= ?",start_day).where("day <= ?",end_day).collect{ |a|
    installation_appointments = user.appointments.collect{ |a|
       '{"id":'+a.id.to_s+', "start":"'+a.day.strftime('%Y-%m-%d')+a.start_time.strftime(' %H:%M:00')+'", "end":"'+ a.day.strftime('%Y-%m-%d')+a.end_time.strftime(' %H:%M:00')+'", "title":"'+a.job.short_description+'", "userId":'+0.to_s+', "color":"'+a.job.job_type.color+'", "highPriority":'+(a.high_priority ? "true" : "false")+' }'
    }.delete_if{|x| x.blank?}.join(",") 
	
	#service_appointments = user.service_appointments.where("day >= ?",start_day).where("day <= ?",end_day).collect{ |a|
    service_appointments = user.service_appointments.collect{ |a|
       '{"id":'+a.id.to_s+', "start":"'+a.day.strftime('%Y-%m-%d')+a.start_time.strftime(' %H:%M:00')+'", "end":"'+ a.day.strftime('%Y-%m-%d')+a.end_time.strftime(' %H:%M:00')+'", "title":"'+a.job.short_description+'", "userId":'+0.to_s+', "color":"'+"#0f0"+'", "highPriority":'+(a.high_priority ? "true" : "false")+' }'
    }.delete_if{|x| x.blank?}.join(",") 
    #raw user.service_appointments.collect{ |a| a }
%>
<%= raw installation_appointments if !installation_appointments.blank? %>
<%= "," if (!installation_appointments.blank? && !service_appointments.blank?) %>
<%= raw service_appointments if !service_appointments.blank? %>
]