<% disabled = false unless defined?(disabled) %>

  <% if @appointment.errors.any? %>
    <%= render :partial => "general/error_messages", :locals => { :current_model => @appointment } %>
  <% end %>

  <fieldset class="group">
      <legend>Termindetails</legend>
    <div class="c">
    <% if @job then %>
      <%= hidden_field :appointment, :job_id, :value => @job.id %>
      <%# if disabled then %>
        <%= f.label :job_id, "Auftrag", :class => :label %>
        <%= link_to @appointment.job.short, [current_view, @appointment.job], :class => "link" %>
      <%# else %>
        <%#= simple_select(f, @appointment, :job_id, "Auftrag", Job.all.collect {|p| [ p.short_description, p.id ] }, disabled) %>
        <%#= link_to "-> Auftragsansicht", [current_view, @appointment.job], :style => " margin-left:10px" %>

      <%# end %>
    <% end %>
<br class="clear"/><br/>
    <%= simple_date_select(f, @appointment, :day, "Tag", nil, disabled) %>
<br class="clear"/><br/>
    <%= simple_time_select(f, @appointment, :start_time, "Beginn", nil, disabled) %>
<br class="clear"/><br/>
    <%= simple_time_select(f, @appointment, :end_time, "Ende", nil, disabled) %>
<br class="clear"/><br/>
    <% if !disabled then %>
      <%= f.label :user_id, "Techniker", :class => :label %>
      <%
      opt = Hash.new
      pc = PostalCode.where(:code => @appointment.job.kunde_plz)[0]
      if (!pc.blank?) then
        pc.service_user_groups.each do |sug|
          users = sug.users.collect{|u| [u.full_name, u.id] }.sort{|a,b| a <=> b}
          opt.merge!({sug.name => users})
        end
      end
      opt.merge!({"zuständige Techniker" => User.array_assigned_to_company(@job.client).sort{|a,b| a <=> b}}) %>
      <%= f.select(:user_id, grouped_options_for_select(opt,@appointment.user_id), {:include_blank => '-'}, :class => 'select', :disabled => disabled)
     %>
    <%= image_tag "/assets/icons/date.png", :id => "open-calendar-pop-up", :class => "calender-popup-button" %>
     <% else %>
      <%= f.label :user_id, "Techniker", :class => :label %>
      <%= link_to @appointment.user.full_name, [current_view, @appointment.user] %>
    <% end %>
<% if (!pc.blank?) then %>
<br class="clear"/>
    <%= f.label :service_user_groups, "zuständige Technikergruppen", :class => :label %>
    <% pc.service_user_groups.each do |sug| %>
      <a href="#" style="position:relative; top:-24px" data-service-user-group-id="<%= sug.id %>" class="service-user-group-link"><%= sug.name %>
    <%= image_tag "/assets/icons/date.png", :id => "open-calendar-pop-up", :class => "calender-popup-button", :style => "position:relative; top:10px" %></a>
  <% end %>
<% end %>
<br class="clear"/><br/>

  <div>
    <%= f.label :bemerkungen, t("activerecord.attributes.appointment.bemerkungen", :default => "Bemerkungen"), :class => :label %>
    <%= f.text_area :bemerkungen, :class => 'text_area', :style => "width:500px", :disabled => disabled %>
  </div>
  <div>
     <%= simple_boolean_select(f, @appointment, :high_priority, "Hohe Priorität", disabled, false, false) %>
  </div>
<br/>
<br/>
<br/>
<br/>
<br/>
     <% if (params[:action] == "new" || params[:action] == "edit") then %>
     <span class="simple-field" style="display:block<%= raw(';visibility:hidden') if Rails.env == "development" %>">
      <label class="label" for="update_ot">OT Updaten</label>
      <% params[:update_ot] = false if Rails.env == "development" %>
      <%= check_box_tag 'update_ot', '1', params[:update_ot] %>
    </span>
     <% end %>

  </div>
  </fieldset>
<% begin %>
<div class="navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "speichern")%> speichern
  </button>
  <input type="hidden" name="popup" value="<%= params[:popup] if params[:popup] %>">

<% if (["admin","scheduling"].include?(current_view)) && (!@appointment.errors.any?) && (params[:action] != "new") && !@appointment.processed_already? then %>
  <%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen")+" löschen", [current_view, @appointment], :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}", :class=>"button" %>
<% end %>
  <span class="text_button_padding"> oder </span>
	<%= link_to "abbrechen", [current_view, :appointments], :class => "text_button_padding link_button" %>
</div>
<% end unless disabled %>


<%= content_for :bottom do %>
<script type="text/javascript">
function updateView(){
  if($('#appointment_user_id').val())
    $('#open-calendar-pop-up').attr("src", "<%=asset_path 'icons/date.png' %>");
  else
    $('#open-calendar-pop-up').attr("src", "<%=asset_path 'icons/date_disabled.png' %>");
}

$(function(){
  updateView();

  $('#appointment_user_id').change(function(){
    updateView();
  });

  $('#open-calendar-pop-up').click(function(){
    var userId = $('#appointment_user_id').val();
    if(userId)
      window.open("/scheduling/appointments/calendar?users=USER:"+userId,"Kalender",
"menubar=no,width=1800,height=640,toolbar=no");

  });

  $('.service-user-group-link').click(function(){
    var userGroupId = $(this).attr('data-service-user-group-id');
    if(userGroupId)
      window.open("/scheduling/appointments/calendar?users=USER:"+userGroupId,"Kalender",
"menubar=no,width=900,height=640,toolbar=no");
  });

  $('#appointment_start_time_1i').change(function(){ checkStartBeforeEnde(); });
  $('#appointment_start_time_2i').change(function(){ checkStartBeforeEnde(); });
  $('#appointment_start_time_3i').change(function(){ checkStartBeforeEnde(); });
  $('#appointment_start_time_4i').change(function(){ checkStartBeforeEnde(); });
  $('#appointment_start_time_5i').change(function(){ checkStartBeforeEnde(); });

});

function checkStartBeforeEnde(){
  var start = new Date($('#appointment_start_time_1i').val(), $('#appointment_start_time_2i').val()-1, $('#appointment_start_time_3i').val(), $('#appointment_start_time_4i').val(), $('#appointment_start_time_5i').val(), 0, 0);

  var ende = new Date($('#appointment_end_time_1i').val(), $('#appointment_end_time_2i').val()-1, $('#appointment_end_time_3i').val(), $('#appointment_end_time_4i').val(), $('#appointment_end_time_5i').val(), 0, 0);
  if (start > ende){ //set ende = start
    $('#appointment_end_time_1i').val($('#appointment_start_time_1i').val());
    $('#appointment_end_time_2i').val($('#appointment_start_time_2i').val());
    $('#appointment_end_time_3i').val($('#appointment_start_time_3i').val());
    $('#appointment_end_time_4i').val($('#appointment_start_time_4i').val());
    $('#appointment_end_time_5i').val($('#appointment_start_time_5i').val());
  }

}
</script>
<% end %>

