<table class="table">
  <thead>
    <tr>             
      <th class="first" style="width:150px"><%= "OT-Nummer" %></th>
      <th style="width:70px"><%= "Tag" %></th>
      <th style="width:70px"><%= "Uhrzeit" %></th>
      <th><%=  "PLZ" %></th>
      <th><%=  "Ort" %></th>
      <th><%=  "Strasse" %></th>
      <th><%= "Kunde" %></th>
      <th><%=  "Telefon privat" %></th>
      <th><%= "Telefon mobil" %></th>
      <th><%=  "Auftragsart" %></th>
      <th class="last" style="width:10px">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% appointments.each do |appointment| -%>
    <tr class="<%= cycle("odd", "even") %>" data-id="<%= appointment.id.to_s %>">
      <td>
        <%= appointment.job.ot_auftragsnummer %>
      </td>
      <td>
        <%= appointment.day.strftime("%d.%m.%Y") %>
      </td>
      <td>
        <%= appointment.start_time.strftime("%H:%M")+"-"+appointment.end_time.strftime("%H:%M") %>
      </td>
      <td>
        <%= appointment.job.kunde_plz %>
      </td>
      <td>
        <%= appointment.job.kunde_ort %>
      </td>
      <td>
        <%= appointment.job.kunde_strasse_full %>
      </td>
      <td>
        <%= appointment.job.kunde_name %>
      </td>
      <td>
        <%= appointment.job.kunde_telefon %>
      </td>
      <td>
        <%= appointment.job.kunde_telefon_mobil %>
      </td>
      <td>
        <%= appointment.job.job_type.name %>
      </td>
      <td class="last">
        <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), [current_view, appointment] %>
        <%= link_to image_tag("/assets/icons/edit.png", :title=>"Bearbeiten", :alt=>"Bearbeiten"), [:edit, current_view, appointment] if ["admin","scheduling"].include?(current_view) %>
      </td>
    </tr>          
    <% end -%>
  </tbody>
</table>
<div class="navform wat-cf">
  <div class="page-entries"><%= page_entries_info appointments %></div>
  <%= will_paginate appointments %>
</div>