<% disabled = false unless defined?(disabled) %>

  <% if @appointment_request.errors.any? %>
    <%= render :partial => "general/error_messages", :locals => { :current_model => @appointment_request } %>
  <% end %>
  <%= hidden_field :appointment_request, :appointment_id, :value => @appointment_request.appointment.id %>
  
  <%= render :partial => "general/job_details", :locals => { :job => @appointment_request.appointment.job } %>
  
  <fieldset class="group">
    <legend>Objektbeschreibung</legend>
    <div class="c padding-20">
      <%= f.text_area :objekt_beschreibung, :class => "text_area" %>
    </div>
  </fieldset>

  <fieldset class="group">
    <legend class="required">Hinderungsgrund</legend>
    <div class="c padding-20">
      <%= f.text_area :hinderungsgrund, :class => "text_area" %>
    </div>
  </fieldset>

  <fieldset class="group">
    <legend>Installationsabschluss</legend>
    <div class="c">
      <p class="date_select">
      <%= f.label :termin_datum, "Neuer Termin", :class => :label %>
      <%= f.date_select :termin_datum, {:include_blank => true, :start_year => Date.today.year, :use_month_names => german_month_names,}, :disabled => disabled %>
      </p>
      <p class="time_select">
      <%= f.label :zeitfenster_start, "Zeitfenster Start", :class => :label %>
      <%= f.time_select :zeitfenster_start, {:include_blank => true, :minute_step => 15}, :disabled => disabled %>
      </p>
      <p class="time_select">
      <%= f.label :zeitfenster_ende, "Zeitfenster Ende", :class => :label %>
      <%= f.time_select :zeitfenster_ende, {:include_blank => true, :minute_step => 15}, :disabled => disabled %>
      </p>
        <br/><br/>

      <%= simple_select(f, @appointment_request, :scheduling_user_id, "Abgesprochen mit Disponent", User.scheduling_options_for_select, disabled, true) %>
    </div>
  </fieldset>

<% begin %>        
<div class="navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "speichern") %> speichern
  </button>
  <span class="text_button_padding"> oder </span>
  <%= link_to "abbrechen", params[:fromPath] || [current_view, :appointment_requests], :class => "text_button_padding link_button" %>
</div>
<% end unless disabled  %>


<%= content_for :bottom do %>
<script type="text/javascript">

$(function(){

  $('#appointment_request_zeitfenster_start_1i').change(function(){ checkStartBeforeEnde(); });
  $('#appointment_request_zeitfenster_start_2i').change(function(){ checkStartBeforeEnde(); });
  $('#appointment_request_zeitfenster_start_3i').change(function(){ checkStartBeforeEnde(); });
  $('#appointment_request_zeitfenster_start_4i').change(function(){ checkStartBeforeEnde(); });
  $('#appointment_request_zeitfenster_start_5i').change(function(){ checkStartBeforeEnde(); });

});

  function checkStartBeforeEnde(){
    var start = new Date($('#appointment_request_zeitfenster_start_1i').val(), $('#appointment_request_zeitfenster_start_2i').val()-1, $('#appointment_request_zeitfenster_start_3i').val(), $('#appointment_request_zeitfenster_start_4i').val(), $('#appointment_request_zeitfenster_start_5i').val(), 0, 0);
    
    var ende = new Date($('#appointment_request_zeitfenster_ende_1i').val(), $('#appointment_request_zeitfenster_ende_2i').val()-1, $('#appointment_request_zeitfenster_ende_3i').val(), $('#appointment_request_zeitfenster_ende_4i').val(), $('#appointment_request_zeitfenster_ende_5i').val(), 0, 0);
    if (start > ende){ //set ende = start
      $('#appointment_request_zeitfenster_ende_1i').val($('#appointment_request_zeitfenster_start_1i').val());
      $('#appointment_request_zeitfenster_ende_2i').val($('#appointment_request_zeitfenster_start_2i').val());
      $('#appointment_request_zeitfenster_ende_3i').val($('#appointment_request_zeitfenster_start_3i').val());
      $('#appointment_request_zeitfenster_ende_4i').val($('#appointment_request_zeitfenster_start_4i').val());
      $('#appointment_request_zeitfenster_ende_5i').val($('#appointment_request_zeitfenster_start_5i').val());
    }

  }
</script>
<% end %>