<% 
  user = @service_user
  start_day = Date.today
  end_day = Date.today

	#installation_appointments = user.appointments.where("day >= ?",start_day).where("day <= ?",end_day).collect{ |a|
    installation_appointments = user.appointments.collect{ |a|
       '{"id":'+a.id.to_s+', "start":"'+a.day.strftime('%Y-%m-%d')+a.start_time.strftime(' %H:%M:00')+'", "end":"'+ a.day.strftime('%Y-%m-%d')+a.end_time.strftime(' %H:%M:00')+'", "title":"'+a.job.short_description+'", "userId":'+0.to_s+', "color":"'+a.job.job_type.color+'", "highPriority":'+(a.high_priority ? "true" : "false")+' }'
    }.delete_if{|x| x.blank?}.join(",") 
	
	#service_appointments = user.service_appointments.where("day >= ?",start_day).where("day <= ?",end_day).collect{ |a|
    service_appointments = user.service_appointments.collect{ |a|
       '{"id":'+a.id.to_s+', "start":"'+a.day.strftime('%Y-%m-%d')+a.start_time.strftime(' %H:%M:00')+'", "end":"'+ a.day.strftime('%Y-%m-%d')+a.end_time.strftime(' %H:%M:00')+'", "title":"'+a.job.short_description+'", "userId":'+0.to_s+', "color":"'+"#0f0"+'", "highPriority":'+(a.high_priority ? "true" : "false")+' }'
    }.delete_if{|x| x.blank?}.join(",") 
    #raw user.service_appointments.collect{ |a| a }

    holidays = user.days_of_absence.where(:cause_id => 1).collect{ |h|
			h.starting_point.to_date.upto(h.end_point.to_date).collect{|day| 
			'{"id":'+h.id.to_s+', "start":"'+day.strftime('%Y-%m-%d 06:00:00')+'", "end":"'+ day.strftime('%Y-%m-%d 21:00:00')+'", "title":"'+h.cause+'", "userId":'+0.to_s+', "color":"'+"#e0e"+'", "highPriority":'+"false"+' }'
			}
    }.delete_if{|x| x.blank?}.join(",") 
    
    sick_days = user.days_of_absence.where(:cause_id => 2).collect{ |h|
			h.starting_point.to_date.upto(h.end_point.to_date).collect{|day| 
			'{"id":'+h.id.to_s+', "start":"'+day.strftime('%Y-%m-%d 06:00:00')+'", "end":"'+ day.strftime('%Y-%m-%d 21:00:00')+'", "title":"'+h.cause+'", "userId":'+0.to_s+', "color":"'+"#0ee"+'", "highPriority":'+"false"+' }'
			}
    }.delete_if{|x| x.blank?}.join(",") 
    

output = "["+[installation_appointments, service_appointments, holidays, sick_days].join(",")+"]" 
%>
<%= raw output.gsub(",,",",").gsub(",,",",").gsub("},]","}]").gsub("}, ]","}]")  %>
<% #sub!(/^,/, '') %>