[
  <% 
    @id_map = Hash.new
    i=0
    @service_user_group.users.each do |u|
      @id_map[u.id] = i
      i += 1
    end

    def get_local_id(id)
      return @id_map[id]
    end
  %>
  
 <%=raw @service_user_group.users.collect { |user| 
   user.appointments.collect{ |a|
       '{"id":'+a.id.to_s+', "start":"'+a.day.strftime('%Y-%m-%d')+a.start_time.strftime(' %H:%M:00')+'", "end":"'+ a.day.strftime('%Y-%m-%d')+a.end_time.strftime(' %H:%M:00')+'", "title":"'+a.job.short_description+'", "userId":'+get_local_id(user.id).to_s+', "color":"'+a.job.job_type.color+'", "highPriority":'+(a.high_priority ? "true" : "false")+' }'
    }.delete_if{|x| x.blank?}.join(",") 
    
    }.delete_if{|x| x.blank?}.join(",") 
     %>
]