<% disabled = false unless defined?(disabled) %>

  <% if @article_availability.errors.any? %>
    <%= render :partial => "general/error_messages", :locals => { :current_model => @article_availability } %>
  <% end %>  

  <fieldset class="group" style="width:575px">
    <legend>Artikelverfügbarkeit</legend>
    <div class="cc" style="width:560px">
      <%= simple_select(f, @article_availability, :supplier_id, "Lieferant", Supplier.belonging_to_user_client(current_user).collect {|c| [ c.name, c.id ] }, disabled, true) %>
      <%= simple_text_field(f, @article_availability, :purchase_price, "Preis", disabled, true)  %>
      <%= simple_text_field(f, @article_availability, :delivery_time_in_days, "Lieferzeit (in Tagen)", disabled, true)  %>
    </div>
  </fieldset>
  
<% begin %>
<div class="navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "speichern")%> speichern
  </button>
  <% begin %>
  <%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen")+" löschen", [current_view, @article_availability.article, @article_availability], :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}", :class=>"button" %>
  <% end unless (params[:action] == "new") %>
</div>
<% end unless disabled %>