<table class="table">
  <thead>
    <tr>             
      <th class="first" style="width:600px"><%= "Name" %></th>
      <th style="width:100px"><%= "Preis" %></th>
      <th style="width:100px"><%= "Lieferzeit" %></th>
      <th class="last">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% article_availabilities.each do |article_availability| -%>
    <tr class="<%= cycle("odd", "even") %>" data-id="<%= article_availability.id.to_s %>">
      <td>
        <%= link_to(article_availability.article.name, [current_view, article_availability.supplier]) %>
      </td>
       <td>
        <%= article_availability.purchase_price %>
      </td>
      <td>
        <%= article_availability.delivery_time_in_days %>
      </td>
      <td class="last">
        <%= link_to image_tag("/assets/icons/edit.png", :title=>"Bearbeiten", :alt=>"Bearbeiten"), [:edit, current_view, article_availability.supplier, article_availability] %>
      </td>
    </tr>          
    <% end -%>
  </tbody>
</table>
<div class="navform wat-cf">
  <div class="page-entries">
    <%= page_entries_info article_availabilities %></div>
  	<%= will_paginate article_availabilities %>
</div>
