<% is_pop_up ||= false %>
<%= content_for :head do %>
   <% stylesheet_link_tag 'http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css' %>

	<style type="text/css">
		span.label {color:black;height:20;text-align:center;font:bold 16px Arial}
		span.c1 {cursor:hand;color:black;width:30;height:16;text-align:center;margin-top:0;background:#ffF;font:bold 13px Arial}
		span.c2 {cursor:hand;color:red;width:30;height:16;text-align:center;margin-top:0;background:#ffF;font:bold 13px Arial}
		span.c3 {cursor:hand;color:#b0b0b0;width:30;height:16;text-align:center;margin-top:0;background:#ffF;font:bold 12px Arial}

		ul.day_schedule li {
			border-bottom:1px solid #F8F8FF;
			height:30px;
			line-height:1.25;
			color: #333;
			z-index:0;
		}

		ul.day_schedule li:hover {
			border-bottom: 1px solid silver;
			/*cursor: pointer;
			-moz-border-radius:5px;
			-webkit-border-radius:5px;
			border-radius:5px;*/
		}

		table#task_time_table td{
			border-bottom: 1px solid #6699FF;
		}

		table#task_time_table a:link, table#task_time_table a:visited{
			font-size:22px;
			color:#333333;
			text-decoration:none;
		}

		.resizable {
		    height: 15px;
		    padding: 0.5em;
		}

		.ui-draggable-dragging{
			z-index:99;
		}

		.celltype1 {
			background-color:#6495ED;
			border-bottom:1px solid #6495ED;
		}

		.celltype2 {
			background-color:#BCEE68;
			border-bottom:1px solid #BCEE68;
		}

		.tdType1 {
			width:210px;
			border-right:1px solid gainsboro;
			border-bottom:1px solid silver;
			text-align:center;
		}

		.calendarForm {
			margin-bottom:400px;
		}

		.tableStyle {
			width:1700px;
		}

		.tFixed {
			position:fixed;
			z-index:1;
		}

		.trStyle {
			z-index:1;
			background-color:whitesmoke;
			border-left:2px solid gray;
			border-right:2px solid gray;
			border-bottom:2px solid gray;
			border-top:1px solid whitesmoke;
			position:fixed;
		}

		.tdStyleLT {
			text-align:left;
			vertical-align:top;
		}

		.tdStyleRT {
			text-align:right;
			vertical-align:top;
		}

		.tdStyle1 {
			width:190px;
			border-bottom:1px solid silver;
			padding: 5px 0 5px 0;
		}

		.tdStyle2 {
			border-right:1px solid silver;
			background-color:whitesmoke;
			color:#90B1F8;
		}

		.center210 {
			text-align:center;
			width:210px;
		}

		.h25vBot {
			height:25px;
			vertical-align:bottom;
		}

		.ulStyle {
			list-style-type:none;
			font-size:11px;
			padding:0;
			margin:0;
		}

		.liStyle {
			border-bottom:1px solid gainsboro;
		}

		.divStyle {
			width:100%;
			padding-left:5px;
			text-align:left;
		}

		.taskcell {
			font-size:11px !important;
		}

		#loading {
			display:none;
			position:fixed;
			top:41px;
			left:-6px;
			border:none;
		}

		#resizable { width: 150px; height: 150px; padding: 0.5em; }
		#resizable h3 { text-align: center; margin: 0; }
	</style>
<% end %>

<%= content_for :bottom do %>

	<script type="text/javascript">

			var MD5 = function (string) {

				function RotateLeft(lValue, iShiftBits) {
					return (lValue<<iShiftBits) | (lValue>>>(32-iShiftBits));
				}

				function AddUnsigned(lX,lY) {
					var lX4,lY4,lX8,lY8,lResult;
					lX8 = (lX & 0x80000000);
					lY8 = (lY & 0x80000000);
					lX4 = (lX & 0x40000000);
					lY4 = (lY & 0x40000000);
					lResult = (lX & 0x3FFFFFFF)+(lY & 0x3FFFFFFF);
					if (lX4 & lY4) {
						return (lResult ^ 0x80000000 ^ lX8 ^ lY8);
					}
					if (lX4 | lY4) {
						if (lResult & 0x40000000) {
							return (lResult ^ 0xC0000000 ^ lX8 ^ lY8);
						} else {
							return (lResult ^ 0x40000000 ^ lX8 ^ lY8);
						}
					} else {
						return (lResult ^ lX8 ^ lY8);
					}
			 	}

			 	function F(x,y,z) { return (x & y) | ((~x) & z); }
			 	function G(x,y,z) { return (x & z) | (y & (~z)); }
			 	function H(x,y,z) { return (x ^ y ^ z); }
				function I(x,y,z) { return (y ^ (x | (~z))); }

				function FF(a,b,c,d,x,s,ac) {
					a = AddUnsigned(a, AddUnsigned(AddUnsigned(F(b, c, d), x), ac));
					return AddUnsigned(RotateLeft(a, s), b);
				};

				function GG(a,b,c,d,x,s,ac) {
					a = AddUnsigned(a, AddUnsigned(AddUnsigned(G(b, c, d), x), ac));
					return AddUnsigned(RotateLeft(a, s), b);
				};

				function HH(a,b,c,d,x,s,ac) {
					a = AddUnsigned(a, AddUnsigned(AddUnsigned(H(b, c, d), x), ac));
					return AddUnsigned(RotateLeft(a, s), b);
				};

				function II(a,b,c,d,x,s,ac) {
					a = AddUnsigned(a, AddUnsigned(AddUnsigned(I(b, c, d), x), ac));
					return AddUnsigned(RotateLeft(a, s), b);
				};

				function ConvertToWordArray(string) {
					var lWordCount;
					var lMessageLength = string.length;
					var lNumberOfWords_temp1=lMessageLength + 8;
					var lNumberOfWords_temp2=(lNumberOfWords_temp1-(lNumberOfWords_temp1 % 64))/64;
					var lNumberOfWords = (lNumberOfWords_temp2+1)*16;
					var lWordArray=Array(lNumberOfWords-1);
					var lBytePosition = 0;
					var lByteCount = 0;
					while ( lByteCount < lMessageLength ) {
						lWordCount = (lByteCount-(lByteCount % 4))/4;
						lBytePosition = (lByteCount % 4)*8;
						lWordArray[lWordCount] = (lWordArray[lWordCount] | (string.charCodeAt(lByteCount)<<lBytePosition));
						lByteCount++;
					}
					lWordCount = (lByteCount-(lByteCount % 4))/4;
					lBytePosition = (lByteCount % 4)*8;
					lWordArray[lWordCount] = lWordArray[lWordCount] | (0x80<<lBytePosition);
					lWordArray[lNumberOfWords-2] = lMessageLength<<3;
					lWordArray[lNumberOfWords-1] = lMessageLength>>>29;
					return lWordArray;
				};

				function WordToHex(lValue) {
					var WordToHexValue="",WordToHexValue_temp="",lByte,lCount;
					for (lCount = 0;lCount<=3;lCount++) {
						lByte = (lValue>>>(lCount*8)) & 255;
						WordToHexValue_temp = "0" + lByte.toString(16);
						WordToHexValue = WordToHexValue + WordToHexValue_temp.substr(WordToHexValue_temp.length-2,2);
					}
					return WordToHexValue;
				};

				function Utf8Encode(string) {
					string = string.replace(/\r\n/g,"\n");
					var utftext = "";

					for (var n = 0; n < string.length; n++) {

						var c = string.charCodeAt(n);

						if (c < 128) {
							utftext += String.fromCharCode(c);
						}
						else if((c > 127) && (c < 2048)) {
							utftext += String.fromCharCode((c >> 6) | 192);
							utftext += String.fromCharCode((c & 63) | 128);
						}
						else {
							utftext += String.fromCharCode((c >> 12) | 224);
							utftext += String.fromCharCode(((c >> 6) & 63) | 128);
							utftext += String.fromCharCode((c & 63) | 128);
						}

					}

					return utftext;
				};

				var x=Array();
				var k,AA,BB,CC,DD,a,b,c,d;
				var S11=7, S12=12, S13=17, S14=22;
				var S21=5, S22=9 , S23=14, S24=20;
				var S31=4, S32=11, S33=16, S34=23;
				var S41=6, S42=10, S43=15, S44=21;

				string = Utf8Encode(string);

				x = ConvertToWordArray(string);

				a = 0x67452301; b = 0xEFCDAB89; c = 0x98BADCFE; d = 0x10325476;

				for (k=0;k<x.length;k+=16) {
					AA=a; BB=b; CC=c; DD=d;
					a=FF(a,b,c,d,x[k+0], S11,0xD76AA478);
					d=FF(d,a,b,c,x[k+1], S12,0xE8C7B756);
					c=FF(c,d,a,b,x[k+2], S13,0x242070DB);
					b=FF(b,c,d,a,x[k+3], S14,0xC1BDCEEE);
					a=FF(a,b,c,d,x[k+4], S11,0xF57C0FAF);
					d=FF(d,a,b,c,x[k+5], S12,0x4787C62A);
					c=FF(c,d,a,b,x[k+6], S13,0xA8304613);
					b=FF(b,c,d,a,x[k+7], S14,0xFD469501);
					a=FF(a,b,c,d,x[k+8], S11,0x698098D8);
					d=FF(d,a,b,c,x[k+9], S12,0x8B44F7AF);
					c=FF(c,d,a,b,x[k+10],S13,0xFFFF5BB1);
					b=FF(b,c,d,a,x[k+11],S14,0x895CD7BE);
					a=FF(a,b,c,d,x[k+12],S11,0x6B901122);
					d=FF(d,a,b,c,x[k+13],S12,0xFD987193);
					c=FF(c,d,a,b,x[k+14],S13,0xA679438E);
					b=FF(b,c,d,a,x[k+15],S14,0x49B40821);
					a=GG(a,b,c,d,x[k+1], S21,0xF61E2562);
					d=GG(d,a,b,c,x[k+6], S22,0xC040B340);
					c=GG(c,d,a,b,x[k+11],S23,0x265E5A51);
					b=GG(b,c,d,a,x[k+0], S24,0xE9B6C7AA);
					a=GG(a,b,c,d,x[k+5], S21,0xD62F105D);
					d=GG(d,a,b,c,x[k+10],S22,0x2441453);
					c=GG(c,d,a,b,x[k+15],S23,0xD8A1E681);
					b=GG(b,c,d,a,x[k+4], S24,0xE7D3FBC8);
					a=GG(a,b,c,d,x[k+9], S21,0x21E1CDE6);
					d=GG(d,a,b,c,x[k+14],S22,0xC33707D6);
					c=GG(c,d,a,b,x[k+3], S23,0xF4D50D87);
					b=GG(b,c,d,a,x[k+8], S24,0x455A14ED);
					a=GG(a,b,c,d,x[k+13],S21,0xA9E3E905);
					d=GG(d,a,b,c,x[k+2], S22,0xFCEFA3F8);
					c=GG(c,d,a,b,x[k+7], S23,0x676F02D9);
					b=GG(b,c,d,a,x[k+12],S24,0x8D2A4C8A);
					a=HH(a,b,c,d,x[k+5], S31,0xFFFA3942);
					d=HH(d,a,b,c,x[k+8], S32,0x8771F681);
					c=HH(c,d,a,b,x[k+11],S33,0x6D9D6122);
					b=HH(b,c,d,a,x[k+14],S34,0xFDE5380C);
					a=HH(a,b,c,d,x[k+1], S31,0xA4BEEA44);
					d=HH(d,a,b,c,x[k+4], S32,0x4BDECFA9);
					c=HH(c,d,a,b,x[k+7], S33,0xF6BB4B60);
					b=HH(b,c,d,a,x[k+10],S34,0xBEBFBC70);
					a=HH(a,b,c,d,x[k+13],S31,0x289B7EC6);
					d=HH(d,a,b,c,x[k+0], S32,0xEAA127FA);
					c=HH(c,d,a,b,x[k+3], S33,0xD4EF3085);
					b=HH(b,c,d,a,x[k+6], S34,0x4881D05);
					a=HH(a,b,c,d,x[k+9], S31,0xD9D4D039);
					d=HH(d,a,b,c,x[k+12],S32,0xE6DB99E5);
					c=HH(c,d,a,b,x[k+15],S33,0x1FA27CF8);
					b=HH(b,c,d,a,x[k+2], S34,0xC4AC5665);
					a=II(a,b,c,d,x[k+0], S41,0xF4292244);
					d=II(d,a,b,c,x[k+7], S42,0x432AFF97);
					c=II(c,d,a,b,x[k+14],S43,0xAB9423A7);
					b=II(b,c,d,a,x[k+5], S44,0xFC93A039);
					a=II(a,b,c,d,x[k+12],S41,0x655B59C3);
					d=II(d,a,b,c,x[k+3], S42,0x8F0CCC92);
					c=II(c,d,a,b,x[k+10],S43,0xFFEFF47D);
					b=II(b,c,d,a,x[k+1], S44,0x85845DD1);
					a=II(a,b,c,d,x[k+8], S41,0x6FA87E4F);
					d=II(d,a,b,c,x[k+15],S42,0xFE2CE6E0);
					c=II(c,d,a,b,x[k+6], S43,0xA3014314);
					b=II(b,c,d,a,x[k+13],S44,0x4E0811A1);
					a=II(a,b,c,d,x[k+4], S41,0xF7537E82);
					d=II(d,a,b,c,x[k+11],S42,0xBD3AF235);
					c=II(c,d,a,b,x[k+2], S43,0x2AD7D2BB);
					b=II(b,c,d,a,x[k+9], S44,0xEB86D391);
					a=AddUnsigned(a,AA);
					b=AddUnsigned(b,BB);
					c=AddUnsigned(c,CC);
					d=AddUnsigned(d,DD);
				}

				var temp = WordToHex(a)+WordToHex(b)+WordToHex(c)+WordToHex(d);

				return temp.toLowerCase();
			}

			// initialize global variables
			oldHash = MD5("");
			tcID = 0;

	    $(function () {
			dateObj = new Date(<%=raw date = "\"" + params[:date] + "\"" if !params[:date].nil? %>)
			writeCalendar(dateObj)

	    });

	    $(document).ready(function() {
        $.ajaxSetup({
            async:true //set all global ajax requests as asynchronus
        });
      });

	    function draggable_droppable(){
	    	var selectedClass = 'ui-state-highlight';
	        $(".draggable").draggable({
		        start: function(event, ui) {
		            var pos = $(this).attr('class').split(' ') // [2]: technician_id, [3]: date, [4]: time
		            if (pos[5] == "start"){
		            	if(pos[0] != "a-1"){
		            		$('.'+pos[0]+"."+pos[2]+"."+pos[3]).addClass(selectedClass)
		            	}
		            	if(pos[1] != "sa-1"){
		            		$("."+pos[1]+"."+pos[2]+"."+pos[3]).addClass(selectedClass)
		            	}
		            }
		            else return false;
		        },
		        stop: function(event, ui){
	            	$('.a-1').css({top: 0, left: 0})
	            	$('.sa-1').css({top: 0, left: 0})
	            	$('.'+selectedClass).removeClass(selectedClass)
		        },
	            drag: function (event, ui) {
					if ($(this).attr('class').split(' ')[5] == "start"){
		                $('.' + selectedClass).css({
		                    top: ui.position.top,
		                    left: ui.position.left
		                });
					}
	            },
			    snap: ".droppable",
			    snapMode: "inner"
	        });
	        $(".droppable").droppable({
	            drop: function (event, ui) {


					positionNew = new Array() // [2]: technician_id, [3]: date, [4]: time
					positionNew = $(this).attr('class').split(' ')
					positionOld = new Array()
					positionOld = ui.draggable.attr('class').split(' ')
					appointment = ui.draggable.attr('class').split(' ')[0]
					service_appointment = ui.draggable.attr('class').split(' ')[1]

					if(appointment != "a-1") {
						task_length = $("."+appointment+"."+positionOld[2]+"."+positionOld[3]).length
					}
					else if(service_appointment != "sa-1") {
						task_length = $("."+service_appointment+"."+positionOld[2]+"."+positionOld[3]).length
					}

					var timeframe_in_use = false
					posNew4 = parseInt(positionNew[4].substring(1))
					for(i=0;i<task_length;i++){
						if((posNew4+i) < 10) {
							prefix_posNew4 = "t0"
						}
						else {
							prefix_posNew4 = "t"
						}
						if($("."+positionNew[2]+"."+positionNew[3]+"."+prefix_posNew4+(posNew4+i)).html()){
							timeframe_in_use = true
						}
					}
					if(timeframe_in_use) alert("Terminüberschneidung")

					if(!timeframe_in_use){
						posNew4 = parseInt(positionNew[4].substring(1))
						for(i=0;i<task_length;i++){
							if((posNew4+i) < 10) {
								prefix_posNew4 = "t0"
							}
							else {
								prefix_posNew4 = "t"
							}
							if(i==0){
								startZelle	= "start"
								text = ui.draggable.text()
							}
							else {
								startZelle = ""
								text = ", , ,"
							}
							$("."+positionNew[2]+"."+positionNew[3]+"."+prefix_posNew4+(posNew4+i))
								.css('backgroundColor', ui.draggable.css("backgroundColor"))
								.css("border-bottom-color", ui.draggable.css("border-bottom-color"))
								.html(text)
								.attr('class', appointment + " " + service_appointment + " " + positionNew[2] + " " + positionNew[3] + " " + prefix_posNew4 + (posNew4+i) + " " + startZelle + " draggable droppable ui-draggable ui-droppable ")
								.parent().attr("onclick", "$(this).children().attr(\"id\",\"newTask\");return saveNewTask("+appointment.substring(1)+", "+service_appointment.substring(2)+");");
						}


						posOld4 = parseInt(positionOld[4].substring(1))
						for(i=0;i<task_length;i++){
							if((posOld4+i) < 10) {
								prefix_posOld4 = "t0"
							}
							else {
								prefix_posOld4 = "t"
							}
		                	$("."+positionOld[2]+"."+positionOld[3]+"."+prefix_posOld4+(posOld4+i))
		                		.css("backgroundColor", "transparent")
		                		.css("border-bottom-color", "whitesmoke")
		                		.html("")
		                		.attr('class', "a-1 sa-1 " + positionOld[2] + " " + positionOld[3] + " " + prefix_posOld4 + (posOld4+i))
		                		.parent().attr("onclick", "$(this).children().attr(\"id\",\"newTask\");return saveNewTask(-1, -1);");
						}

						ajax_saveNewPosition(appointment.substring(1), service_appointment.substring(2), positionNew[2].substring(1), positionNew[3].substring(1), positionNew[4].substring(1), task_length)
					}
					else if((task_length+parseInt(positionNew[4].substring(1))) > 19){ // 19:00
						alert("Termin ist zu lang")
					}

				}
	        });

	        $( ".resizable" ).resizable();
	    }

	    function countdown_reload(seconds, callBack){

	    	if(seconds>0){
				seconds--;
				$("#reload_msg").html("Kalender wird aktualisiert in <span style='font-weight:bold;' id='reload_counter'>30</span> Sekunden")
				$("#reload_counter").html(seconds)
			    setTimeout(function() {
			        if(!timer_stopped) countdown_reload(seconds, callBack);
			    },1000);
			}
			else return callBack(true)

	    }

	    // after the position of a task is changed
	    function ajax_saveNewPosition(appointment_id, service_appointment_id, technician_id, date, time, hours){
	        // hours = 0
	        // if(appointment_id != -1) {
	        	// hours = $(".a"+appointment_id+".u"+technician_id+".d"+date).length
	        // }
	        // if(service_appointment_id != -1) {
	        	// hours = $(".sa"+service_appointment_id+".u"+technician_id+".d"+date).length
	        // }
	        $("#loading").show();
	        $.ajax({
	             type: 'post',
	             url: "/scheduling/appointments/save_calendar_position",
	             data: 'appointment_id='+appointment_id+'&service_appointment_id='+service_appointment_id+'&technician_id='+technician_id+'&hours='+hours
	             +'&date='+date+'&time='+time,
	             success: function(msg){
	             	 //alert(msg)
	             	 $("#loading").hide();
	             }
	         });
	    }

	    function saveNewTask(termin_id, service_termin_id){
	    	// edit appointment/ service appointment
	    	if(termin_id!=-1 || service_termin_id !=-1){

				if(termin_id != -1)
					window.open("/scheduling/appointments/"+termin_id+"/edit?popup=1","Termin bearbeiten", "menubar=no,width=1000,height=700,toolbar=no")
				if(service_termin_id != -1)
					window.open("/scheduling/service_appointments/"+service_termin_id+"/edit?popup=1","Termin bearbeiten", "menubar=no,width=1000,height=700,toolbar=no")
	    	}
	    	// new appointment/ service appointment
	    	else{
	    		var ot = prompt('Bitte die OT-Auftragsnummer eingeben:');
					if (ot!=null && ot!=""){
						newTask_position = new Array()
						newTask_position = $("#newTask").attr('class').split(' ') // [2]: technician_id, [3]: date, [4]: time

						ajax_getJobID(ot, function(job_id){
							if(!job_id){
								alert("OT-Auftragsnummer existiert nicht.")
							}
							else{
						    	// Appointments, Jobs
						    	if(ot.substring(0,2) == "OT"){
									window.open("/scheduling/jobs/"+job_id+"/appointments/new?popup=1&technician="+newTask_position[2].substring(1)+"&date="+newTask_position[3].substring(1)+"&start="+newTask_position[4].substring(1),
											"Neuer Termin", "menubar=no,width=1000,height=650,toolbar=no")
						    	}
						    	// ServiceAppointments, ServiceJobs
						    	else if(ot.substring(0,1) == "S"){
									window.open("/scheduling/service_jobs/"+job_id+"/service_appointments/new?popup=1&technician="+newTask_position[2].substring(1)+"&date="+newTask_position[3].substring(1)+"&start="+newTask_position[4].substring(1),
											"Neuer Termin", "menubar=no,width=1000,height=900,toolbar=no")
						    	}
							}
						});
					}
					return false;
	    	}

	    	$("#newTask").attr("id", "")
	    }

	    function ajax_getJobID(ot, callBack){
	        $.ajax({
	             type: 'post',
	             url: "/scheduling/appointments/get_job_id",
	             dataType: 'json',
	             data: 'ot='+ot,
	             success: function(result){
					if(result){
						return callBack(result["job_id"])
					}
		            else {
		            	return callBack(false)
		            }
	             }
	         });
	    }

	    function ajax_getTasks(date, callBack){
	    	$.ajax({
				  url: '/scheduling/appointments/calendar_data?date='+date+"<%= "&users="+params[:users] if params[:users] %>",
				  method: 'GET',
          async: true,
          cache: true,
				  dataType: "script",
				  success: function(data) {
									 	 return callBack(true)
									 }
				});
	    }

		function maxDays(mm, yyyy){
			var mDay;
				if((mm == 3) || (mm == 5) || (mm == 8) || (mm == 10)){
					mDay = 30;
			  	}
			  	else{
			  		mDay = 31
			  		if(mm == 1){
			   			if (yyyy/4 - parseInt(yyyy/4) != 0){
			   				mDay = 28
			   			}
					   	else{
			   				mDay = 29
			  			}
					}
			  }
			return mDay;
		}

		function reloadCalendar(){
			timer_stopped = true;
			$("#loading").show(function() {
				$("#reload_msg").html("<span style='color:green'>Kalender wird aktualisiert ...</span>");
				writeCalendar(dateObj);
			});
		}

		function writeCalendar(dateObj){
			<%
			if !params[:date].nil?
				date = Date.parse(params[:date])
			else
				date = Date.today
			end
			%>

			ajax_getTasks("<%= date %>", function(){

				timer_stopped = false
				countdown_reload(60, function(){
					$("#reload_msg").html("<span style='color:green'>Kalender wird aktualisiert ...</span>")
					writeCalendar(dateObj)
				})

				var text = ""
				text = "<div id='loading'><img src='/assets/hourglass.gif' /></div>"
				text+= "<form class=calendarForm>"

				<%

					(get_route == "/scheduling/appointments") ? top = "50px" : top = "260px"

=begin
					if(route == "/service/appointments" || route == "/scheduling_leader/service_users" || route == "/scheduling/service_users" || route == "/management/service_users")

					 top = "260px"
					else
					 top = "50px"
					end
=end
				%>
				text += "<table class='tableStyle tFixed' style='top:<%= top %>'><tr>"
				text += "<td class=tdStyleLT>"
				text += "<select name=selMonth style='margin-left:5px' onChange='location = this.options[this.selectedIndex].value'>"
				if(dd<10) dd_0 = "0"+dd
				else dd_0 = dd
				for (mm_counter=0;mm_counter<=11;mm_counter++){
					if(mm_counter<9) mm_0 = "0"+(mm_counter+1)
					else mm_0 = (mm_counter+1)

					if (mm_counter==mm){
						text += "<option value='?date=" + yyyy + "-" + mm_0 + "-" + dd_0 + "' selected>" + arrM[mm_counter] + "</option>"
					}
					else{
						text += "<option value='?date=" + yyyy + "-" + mm_0 + "-" + dd_0 + "'>" + arrM[mm_counter] + "</option>"
					}
				}
				text += "</select>"
				text += "<select name=selYear onChange='location = this.options[this.selectedIndex].value'>"
				if(mm<9) mm_0 = "0"+(mm+1)
				else mm_0 = (mm+1)
				for (ii=0;ii<=4;ii++){
					if (ii==2){
						text += "<option value='?date=" + arrY[ii] + "-" + mm_0 + "-" + dd_0 + "' selected>" + arrY[ii] + "</option>"
					}
					else{
						text += "<option value='?date=" + arrY[ii] + "-" + mm_0 + "-" + dd_0 + "'>" + arrY[ii] + "</option>"
					}
				}
				text += "</select><!--&nbsp;&raquo;<a href='#' onClick='writeCalendar(dateObj);return false'>Kalender neu laden</a>-->"
				text += "</td>"
				text += "<td class=tdStyleRT>"
				param_users = "ALL"
				param_users = "<%= params[:users] if(params[:users]) %>"
				text += "<a href='?date=<%= date-7.days %>&users="+param_users+"'><img src='/assets/calendar/images/arrow_left_32.png' alt='letzte Woche' title='letzte Woche'></a> "
				text += "<a href='?date=<%= date+7.days %>&users="+param_users+"'><img src='/assets/calendar/images/arrow_right_32.png' alt='nächste Woche' title='nächste Woche'></a>"
				text += "</td>"
				text += "</tr></table>"
				text += "</td></tr>"
				text += "<tr><td>"
				text += "<table id='task_time_table' cellspacing=0 class=tableStyle>"
				text += "<tr><td colspan=9 style='height:50px;'></td></tr>"
				text += "<tr class=trStyle>"
				text += "<td width=190 ><span class=label>Techniker</span></td><td width=40 ><span class=label></span></td>"
				// Mo - Fr BEZEICHNUNGEN
				for (day_index=1; day_index<=7; day_index++){
					// Vorheriger Monat
					if((first_dow+day_index) < 1) {
						text += "<td class=center210><span class=label>"+ arrD[day_index] + " / "+(maxDays(mm,yyyy)+first_dow+day_index)+". "+arrM[mm]+"</span></td>"
					}
					// Sprung von Dezember (letztes Jahr) auf Januar (aktuelles Jahr)
					else if(first_dow < 1){
						if(mm==11) mm_helper = 0
						else mm_helper = mm+1
						text += "<td class=center210><span class=label>"+ arrD[day_index] + " / "+(first_dow+day_index)+". "+arrM[mm_helper]+"</span></td>"
					}
					// Sprung von Dezember (aktuelles Jahr) auf Januar (nÃ¤chstes Jahr)
					else if((first_dow+day_index) > maxDays(mm,yyyy)){
						if(mm==11) mm_helper = 0
						else mm_helper = mm+1
						text += "<td class=center210><span class=label>"+ arrD[day_index] + " / "+((first_dow+day_index)-maxDays(mm,yyyy))+". "+arrM[mm_helper]+"</span></td>"
					}
					else text += "<td class=center210><span class=label>"+ arrD[day_index] + " / "+(first_dow+day_index)+". "+arrM[mm]+"</span></td>"
				}
				text += "</tr><tr><td colspan=9 class=h25vBot>&nbsp;"
				text += "</td></tr>"

				var time = 0
				var active = null
				var task = null
				var droppable = null
				// TECHNIKER AUSGEBEN
				for (techniker=0;techniker<arrT.length;techniker++){
					text += "<tr>"
					text += "<td class=tdStyle1>"
					text += "<a href='#'>"+arrT[techniker]['full_name']+"</a></td>"
					text += "<td width=40 class=tdStyle2>"
					text += "<ul class='ulStyle day_schedule schedule_"+arrT[techniker]["id"]+"'>"

					// 08:00 - 17:00
					for(zeit=8;zeit<=18;zeit++){
						if(zeit < 10) time = "0"+zeit+":00"
						else time = zeit+":00"
						text += "<li class=liStyle><div class=divStyle>"+time+"</div></li>"
					}
					text += "</ul></td>"


					// Mo - Fr
					for (day_index=1; day_index<=7; day_index++){
						today = new Date()
						if((dateObj.getDate()+dateObj.getMonth()+dateObj.getFullYear()) == (today.getDate()+today.getMonth()+today.getFullYear())) {
							curr_day_color = "background-color:#FFFFCC"
						}
						else curr_day_color = ""

						dateObj.setDate(dateObj.getDate()+1);	// Anfangsdatum der Woche für jeden Techniker hochählen ...
						if(day_index==7) dateObj.setDate(dateObj.getDate()-7); // ... und danach wieder auf Anfangsdatum setzen

						text += "<td class='tdType1'";
						if ($.trim(curr_day_color) != "") text += " style='"+curr_day_color+"'";
						text += ">"
						text += "<ul id='sortable"+techniker+day_index+"' class='ulStyle connectedSortable day_schedule schedule_"+arrT[techniker]["id"]+"'>"

						bg = ""
						border = ""
						task = ""
						termin_id = -1
						service_termin_id = -1
						startZelle = ""

						// Tasks von 08:00 - 17:00
						for(zeit=8;zeit<=18;zeit++){

							if(zeit < 10) time = "0"+zeit
							else time = zeit

							cellclass = "";

							//Blauer Hintergrund für bestimmten Task
							for(task_counter=0; task_counter < arrTermine[techniker][day_index].length; task_counter++){

								if(arrTermine[techniker][day_index][task_counter]){
								if(arrTermine[techniker][day_index][task_counter]["time"] == time){
									// appointments
									if(arrTermine[techniker][day_index][task_counter]["workorder"] != null){
										if(arrTermine[techniker][day_index][task_counter]["auftragsart"]=="EA"){
											cellclass="cellType1";
										}
										else if(arrTermine[techniker][day_index][task_counter]["auftragsart"]=="FA"){
											cellclass="cellType1";
										}
									}
									// service_appointments
									else if(arrTermine[techniker][day_index][task_counter]["ot_id"] != null){
										if(arrTermine[techniker][day_index][task_counter]["auftragsklasse"]=="SK - Serviceauftrag"){
											cellclass="cellType2";
										}
										else if(arrTermine[techniker][day_index][task_counter]["auftragsklasse"]=="DL - Dienstleistungsauftrag"){
											cellclass="cellType1";
										}
									}
									task = arrTermine[techniker][day_index][task_counter]["ot_auftragsnummer"]
									task += ", "+arrTermine[techniker][day_index][task_counter]["kunde_nachname"]
									task += " "+arrTermine[techniker][day_index][task_counter]["kunde_vorname"]
									task += arrTermine[techniker][day_index][task_counter]["kunde_plz"]
									task += ", "+arrTermine[techniker][day_index][task_counter]["kunde_ort"]
									task += ", "+arrTermine[techniker][day_index][task_counter]["kunde_strasse"]
									task += arrTermine[techniker][day_index][task_counter]["kunde_hausnummer"]

									// appointments
									if(arrTermine[techniker][day_index][task_counter]["workorder"]!=null){
										termin_id = arrTermine[techniker][day_index][task_counter]["id"]
										service_termin_id = -1
									}
									// service_appointments
									else if(arrTermine[techniker][day_index][task_counter]["ot_id"]!=null){
										service_termin_id = arrTermine[techniker][day_index][task_counter]["id"]
										termin_id = -1
									}

									// multiple draggable elements; Startzelle ermitteln
									if(arrTermine[techniker][day_index][task_counter]["ot_auftragsnummer"]){
										startZelle = "start"
									}
									else startZelle = ""
								}
								}
							}


							// Vorheriger Monat
							if((first_dow+day_index) < 1) {
								date = yyyy+"-"+(mm+1)+"-"+(maxDays(mm,yyyy)+first_dow+day_index)
							}
							// Sprung von: letzter Monat => aktueller Monat
							else if(first_dow < 1){
								if(mm==11) {
									mm_helper = 1
									yyyy_helper = yyyy+1
								}
								else {
									mm_helper = mm+2
									yyyy_helper = yyyy
								}
								date = yyyy_helper+"-"+(mm_helper)+"-"+(first_dow+day_index)
							}
							// Sprung von: aktueller Monat => nächsten Monat
							else if((first_dow+day_index) > maxDays(mm,yyyy)){
								if(mm==11) {
									mm_helper = 1
									yyyy_helper = yyyy+1
								}
								else {
									mm_helper = mm+2
									yyyy_helper = yyyy
								}
								date = yyyy_helper+"-"+(mm_helper)+"-"+((first_dow+day_index)-maxDays(mm,yyyy))
							}
							else{
								date = yyyy+"-"+(mm+1)+"-"+(first_dow+day_index)
							}

							// Task Zelle
							text += "<a href='#' class=taskcell id='i" + (++tcID) + "_t" + termin_id + "_s" + service_termin_id + "'>";
							text += "<li class='a"+termin_id+" sa"+service_termin_id+" u"+arrT[techniker]['id']+" d"+date+" t"+time;
							if ($.trim(startZelle) != "") text += " " + startZelle;
						  if ($.trim(cellclass) != "") text += " " + cellclass;
						  text += " droppable draggable";
						  text += "'>"+task+"</li>"
							text += "</a>"

							bg = ""
							border = ""
							task = ""
							termin_id = -1
							service_termin_id = -1
							task_type = ""
						}
						text += "</ul>"
						text += "</td>"
					}
					text += "</tr>"
				}
				text += "</table>"
				text += "</td></tr>"
				text += "</table>"
				text += "</form>"
				//document.write(text)
				currentHash = MD5(text);
				if (currentHash != oldHash) $("#calendar_container").html(text)
				oldHash = currentHash;
				//$(".day_schedule").hide()
				//changeCal()
				draggable_droppable()
				$(document).ready(function() {
	    		$(".taskcell").click(function() {
		    		$(this).children().attr("id","newTask");
		    		idParts = $(this).attr("id").replace(/[a-z]/gi, "").split(/_/);
		    		return saveNewTask(idParts[1], idParts[2]);
	    		});
	    		$("#loading").hide();
	    		$("#reload_msg").click(function() { reloadCalendar() });
	    	});

			});	// end ajax call
		}

	</script>
<% end %>

<div id="helper"></div>
<div id="calendar_container"></div>

