<% is_pop_up ||= false %>
<%= content_for :head do %>
   <%= stylesheet_link_tag 'calendar/jquery-ui-1.8.11.custom.css' %>
   <%= stylesheet_link_tag 'calendar/jquery.weekcalendar.css' %>
<% end %>

<%= content_for :bottom do %>
    <%= javascript_include_tag '/javascripts/calendar/libs/jquery-ui-1.8.11.custom.min.js' %> 
    <%= javascript_include_tag '/javascripts/calendar/libs/date.js' %> 
    <%= javascript_include_tag '/javascripts/calendar/jquery.weekcalendar.js' %> 
    <%= javascript_include_tag '/javascripts/calendar/libs/jquery-ui-i18n.js' %> 
    <%= javascript_include_tag '/javascripts/calendar/libs/date.js' %> 

    <script type='text/javascript'> 
    
  var lastUpdate = "";
  var updateInterval = 30000

  $(document).ready(function() {
 
    $('#calendar').weekCalendar({
      "colors": { 
        "m0": "green", 
        "m1": "orange", 
        "m2": "red", 
        "m3": "blue" 
      },    
      users: [<%= users.collect{|u| "'#{u.full_name}'"}.join(",") %>],
      showAsSeparateUser: true,
      switchDisplay: {"1 Tag": 1,"3 Tage": 3,"5 Tage": 5, "Woche": 7},
      showTimeOnEvents: false,
      dateFormat: "d.m.",
      timeslotsPerHour: <%= Settings.CALENDAR.TIMESLOTS_PER_HOUR %>,
      oneDaySteps: true,
      use24Hour: true,
      timeSeparator: " bis ",
      allowEventCreation: false,
      readonly: <%= read_only %>,
      startOnFirstDayOfWeek: false,
      allowCalEventOverlap: true,
      daysToShow: <%= @days_to_show ? @days_to_show :Settings.DEFAULT_DAYS_TO_SHOW %>,
      overlapEventsSeparate: true,
      newEventText: "Neuer Termin",
      firstDayOfWeek: <%= Time.now.wday %>,
      shortDays: $.datepicker.regional['de'].dayNamesShort,
      longDays: $.datepicker.regional['de'].dayNames,
      shortMonths: $.datepicker.regional['de'].monthNamesShort,
      longMonths: $.datepicker.regional['de'].monthNames,
      businessHours: {
        start: <%= Settings.CALENDAR.BUSINESS_HOURS.START %>, 
        end: <%= Settings.CALENDAR.BUSINESS_HOURS.END %>, 
        limitDisplay: <%= Settings.CALENDAR.BUSINESS_HOURS.LIMIT_DISPLAY %>
      }, 
      buttonText: {today : "heute", lastWeek : "zurueck", nextWeek : "weiter"},
      height: function($calendar){
        return $(window).height() - $("h1").outerHeight(true) <%= "-300" if (!is_pop_up) %>;
      },
      eventRender : function(calEvent, $event) {
        if (calEvent.color) { 
          var tc=calEvent.color } else { var tc="<%= Settings.DEFAULT_EVENT_COLOR %>" }; 
          // Assign the defined color in the event css 
          $event.css("backgroundColor", tc ); 

          if(calEvent.highPriority) { 
            $event.css("backgroundColor", "<%= Settings.HIGH_PRIORITY_EVENT_COLOR %>"); 
          }

          if(calEvent.end.getTime() < new Date().getTime()) { 
            $event.css("backgroundColor", "<%= Settings.PAST_EVENT_COLOR %>"); 
         } 
      },
      eventNew : function(calEvent, $event) {
          alert(calEvent.userId);
      },
      eventDrop : function(calEvent, $event) {
        updateAppointment(calEvent);
      },
      eventResize : function(calEvent, $event) {
        updateAppointment(calEvent);
      },
      <% if !is_pop_up then %>
      eventClick : function(calEvent, $event) {
        if(calEvent.title.indexOf("S-") == 0)
          window.location = '<%= on_click_path.gsub("/appointments","/service_appointments").gsub("CAL_EVENT_ID","'+calEvent.id+'") %>';
        else
          window.location = '<%= on_click_path.gsub("CAL_EVENT_ID","'+calEvent.id+'") %>';
        
      },
      <% else %>
      eventClick : function(calEvent, $event) {
        if(calEvent.title.indexOf("S-") == 0)
          window.open('<%= on_click_path.gsub("/appointments","/service_appointments").gsub("CAL_EVENT_ID","'+calEvent.id+'") %>');
        else
          window.open('<%= on_click_path.gsub("CAL_EVENT_ID","'+calEvent.id+'") %>')
        
      },
      <% end %>
      eventMouseover : function(calEvent, $event) {
        displayMessage("<strong>Mouseover Event</strong><br/>Start: " + calEvent.start + "<br/>End: " + calEvent.end);
      },
      eventMouseout : function(calEvent, $event) {
        displayMessage("<strong>Mouseout Event</strong><br/>Start: " + calEvent.start + "<br/>End: " + calEvent.end);
      },
      noEvents : function() {
//        displayMessage("There are no events for this week");
      },
      data: function(startDate, endDate, callback) {
        $.get("<%= data_url %>?users=<%=params[:users] %>&startDate="+formatDate(startDate)+"&endDate="+formatDate(endDate), function(data) {
          //alert('Load was performed:'+data);
          var jsonData = $.parseJSON('{"events" : '+data+'}')
          callback(jsonData);
        });
      }
      //"<%= data_url %>"
    });
 
    function formatDate(d){
      return d.getFullYear()+"/"+(d.getMonth()+1)+"/"+d.getDate();
    }


    function displayMessage(message) {
     // $("#message").html(message).fadeIn();
    }
 
    function updateAppointment(calEvent)
    {
        var userId = getGlobalUserIdFromLocalId(calEvent.userId);
        $.ajax({
            url: '/<%= current_view %>/appointments/'+calEvent.id+'/update_from_js?end='+calEvent.end.getTime()+'&start='+calEvent.start.getTime()+'&userId='+userId,
            type: 'GET',
            dataType: 'script', 
            complete: function(request){alert("Termin gespeichert")
                   }
        });
    }

    var id_map = [<%= users.collect{|u| "'#{u.id}'"}.join(",") %>];


    function getGlobalUserIdFromLocalId(localId)
    {
      return id_map[localId];
    }

    $("<div id=\"message\" class=\"ui-corner-all\"></div>").prependTo($("body"));
   
   /* 
    $("#days").change(function(){
      $("#calendar").weekCalendar("setDaysToShow",$("#days").val()); 
      $("#calendar").weekCalendar("refresh");
    });
*/
  });
 
  function updateCalendar(){
   $.get("/<%= current_view %>/appointments/latest_update", function(data) {
        if(data != lastUpdate){
          lastUpdate = data;
          $("#calendar").weekCalendar("refresh");
        }
      });
  }
  window.setInterval(updateCalendar, updateInterval);

</script> 
<% end %> 

<!--
  <div id="days-to-show-select">
  <span>Tage:</span><%= select_tag(:days, options_for_select((1..7).to_a, Settings.DEFAULT_DAYS_TO_SHOW)) %></div>

-->
<% if (!is_pop_up) then %>
<a href="#" id="pop-out" class="button" style="float:right; padding:5px 3px 5px 7px; margin:5px 10px 0 5px"><%= image_tag("/assets/icons/application_go.png", :alt => "als extra Fenster", :title => "als extra Fenster") %></a>
<%= content_for :bottom do %>
<script type="text/javascript">
$(function(){
  $('#pop-out').click(function(){
    window.open('<%= @pop_up_path ? @pop_up_path : "appointments/pop_up" %>',"Kalender","menubar=no,width="+window.screen.width+",height="+window.screen.height+",toolbar=no");
  })
  
})
</script>
<% end %>
<% end %>

<div id='calendar'></div> 