<% disabled = false unless defined?(disabled) %>

  <% if @cancellation.errors.any? %>
    <%= render :partial => "general/error_messages", :locals => { :current_model => @cancellation } %>
  <% end %>
  <%= hidden_field :cancellation, :appointment_id, :value => @cancellation.appointment.id %>
  
  <%= render :partial => "general/job_details", :locals => { :job => @cancellation.appointment.job } %>
  
  <fieldset class="group">
    <legend>Objektdaten</legend>
    <div class="cc" style="height:135px">
      <%= simple_text_field(f, @cancellation, :anzahl_der_etagen, "Anzahl der Etagen", disabled, true) %>
      <%= simple_text_field(f, @cancellation, :maximale_anzahl_HH_auf_etage, "Max. Anzahl HH auf Etage", disabled, true) %>
      <%= simple_select(f, @cancellation, :netztopologie_id, "Netztopologie", NetworkType.options_for_select, disabled, true) %>
    </div>
    <div class="cc" style="height:135px">
      <%= simple_boolean_select(f, @cancellation, :mitversorgung, "Mitversorgung", disabled, true) %>
      <%= simple_select(f, @cancellation, :mitversorgung_art_id, "Art der Mitversorgung", options_for_select([["aktiv", 1],["passiv",0]], @cancellation.mitversorgung_art_id), disabled, true) %>
    </div>
  </fieldset>

  
  <fieldset class="group">
    <legend>Problemdaten</legend>

    <div class="c">
    <%= simple_select(f, @cancellation, :cause_id, "Klärungsfallsgrund", [["Keine Installation möglich",0],["Genehmigung notwendig",1]], disabled, true) %>
</div>
<br/>
<br/>
<br/>
<br/>
    <div class="c">

      <%= simple_boolean_select(f, @cancellation, :up_rohre_vorhanden_und_geeignet, "UP-Rohre Tel./TV vorhanden und geeignet", disabled, true) %>
      <%= simple_select(f, @cancellation, :up_rohre_tausch_hinderungsgrund_id, "vorhandene Kabel können nicht getauscht werden",options_for_select([["UP-verlegt", 0],["im Rohr nicht zugfähig/voll",false]], @cancellation.up_rohre_tausch_hinderungsgrund_id), disabled, true) %>
      <%= simple_select(f, @cancellation, :ap_verlegung_option_id, "AP Verlegung moeglich ueber",options_for_select([["Fassade", 0],["Kamin",1],["Treppenhaus", 2],["Wohnraum",4]], @cancellation.ap_verlegung_option_id), disabled, true) %>
      <%= simple_boolean_select(f, @cancellation, :stromeinspeisung_per_dach_moeglich, "Stromeinspeisung ueber Dach", disabled, true) %>
      <%= simple_boolean_select(f, @cancellation, :pot_erstellung_moeglich, "POT Erstellung möglich", disabled, true) %>
    </div>
  </fieldset>

  <fieldset class="group">
    <legend>Besprochen mit</legend>
    <div class="cc">
      <%= simple_select(f, @cancellation, :installation_verweigerer_id, "Inst. verweigert durch",options_for_select([["Mieter", 0],["Eigentümer",1]], @cancellation.installation_verweigerer_id), disabled, true) %>
      <%= simple_text_field(f, @cancellation, :verweigerer_nachname, "Nachname", disabled, true) %>
      <%= simple_text_field(f, @cancellation, :verweigerer_vorname, "Vorname", disabled, true) %>
      <%= simple_text_field(f, @cancellation, :verweigerer_telefon, "Telefon", disabled, true) %>
    </div>
    <div class="cc">
      <%= simple_boolean_select(f, @cancellation, :eigentuemer_im_haus, "Eigentümer im Haus", disabled, true) %>
      <%= simple_text_field(f, @cancellation, :eigentuemer_nachname, "Nachname", disabled, true) %>
      <%= simple_text_field(f, @cancellation, :eigentuemer_vorname, "Vorname", disabled, true) %>
      <%= simple_text_field(f, @cancellation, :eigentuemer_telefon, "Telefon", disabled, true) %>
    </div>
  </fieldset>

  <fieldset class="group" id="verweigerungsgrund">
    <legend class="required">Verweigerungsgrund</legend>
    <div class="c">
      <%= simple_select(f, @cancellation, :verweigerungsgrund_id, "Installation verweigert wegen",options_for_select([["Kabelverlegung", 0],["sonstige bauliche Veraenderungen",1],["Standort Telefon/PC (P-LAN nicht moeglich)",2],["andere Gründe",3]], @cancellation.verweigerungsgrund_id), disabled, false) %>      
      <%= label_tag "cancellation_verweigerungsgrund_sonstiges_beschreibung", "andere Gruende", :class => "label" %>
      <%= f.text_area :verweigerungsgrund_sonstiges_beschreibung, :class => 'text_field', :disabled => disabled, :style => "width:400px; height:100px"  %>
      <%= simple_select(f, @cancellation, :zu_hoher_aufwand_id, "zu hoher Aufwand für", options_for_select([["Eigentümer",0],["Kunde",1],["Nachbar",2],["Techniker",3]], @cancellation.zu_hoher_aufwand_id), disabled, false) %>
      <%= label_tag "cancellation_zu_hoher_aufwand_beschreibung", "Beschreibung des zu hohen Aufwands", :class => "label" %>
      <%= f.text_area :zu_hoher_aufwand_beschreibung, :class => 'text_field', :disabled => disabled, :style => "width:400px; height:100px" %>
    </div>
  </fieldset>

  <fieldset class="group" id="installationsbschreibung">
    <legend class="required">Installationsbeschreibung</legend>
    <div class="c padding-20" >
      <%= f.text_area :installationsbeschreibung, :class => 'text_area', :disabled => disabled, :style => "height:200px"  %>
    </div>
  </fieldset>

  <fieldset class="group">
    <legend>Fotos</legend>
    <div class="c padding-20">

        <%= f.fields_for :photos do |photo| %>   
          <% unless photo.object.new_record? %>   
          <span>
            <%= link_to image_tag(photo.object.photo.url(:thumb), :class => "photo-thumb"), photo.object.photo.url(:original) %>
            <%= image_tag "/icons/cross.png", :class => "delete-photo" unless disabled %>
            <%= photo.check_box :_destroy, :style => "display:none" unless disabled %> 
          </span>
          <% end %>
        <% end %>
        <%= f.fields_for :photos do |photo| %>
          <% if photo.object.new_record? %>
            <p class="file-input" style="display:none"> 
            <%= photo.file_field :photo %><br/>
            </p>
          <% end %>
        <% end %>
        <br/>
        <% if !disabled then %>
        <button class="button" style="margin-top:10px" id="add-file-input-field"><%= image_tag "icons/add.png" %>Foto hinzufügen</button>
        <% end %>
        

    </div>
  </fieldset>
<% begin %>        
<div class="navform wat-cf">
  <button class="button" type="submit" id="save-button">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "speichern") %> speichern
  </button>
  <span class="text_button_padding"> oder </span>
  <%= link_to "abbrechen", params[:fromPath] || [current_view, :cancellations], :class => "text_button_padding link_button" %>
</div>
<% end unless disabled  %>

<%= content_for :bottom do %>
<script type="text/javascript">
$(function(){
  updateView();

  $('#save-button').click(function(){    
    $('#loading-animation').show();
  })

  $('#add-file-input-field').click(function(){    
    $('.file-input:hidden').first().show();
    if ($('.file-input:hidden').length == 0)
      $('#add-file-input-field').attr('disabled', 'disabled');
    return false;
  })

  $('.delete-photo').click(function(e){
    $(this).parent().find("input:checkbox").prop("checked", true);
    $(this).parent().fadeOut();
  })

  $('#cancellation_cause_id').change(function(){
    updateView();
  });

  $('#cancellation_eigentuemer_im_haus').change(function(){
    updateView();
  });

  $('#cancellation_verweigerungsgrund_id').change(function(){
    updateView();
  });

  $('#cancellation_zu_hoher_aufwand_id').change(function(){
    updateView();
  });

  function updateView(){
    if($('#cancellation_cause_id').val() == "0"){
      $('#verweigerungsgrund').show();
      $('#installationsbschreibung').hide();
    }
    else if($('#cancellation_cause_id').val() == "1"){
      $('#verweigerungsgrund').hide();
      $('#installationsbschreibung').show();
    }
    else{
      $('#verweigerungsgrund').hide();
      $('#installationsbschreibung').hide();
    }

    if($('#cancellation_eigentuemer_im_haus').val() == "false"){
      addRequired('#cancellation_eigentuemer_nachname')
      addRequired('#cancellation_eigentuemer_vorname')
      addRequired('#cancellation_eigentuemer_telefon')
    }
    else{
      removeRequired('#cancellation_eigentuemer_nachname')
      removeRequired('#cancellation_eigentuemer_vorname')
      removeRequired('#cancellation_eigentuemer_telefon')
    }

    if($('#cancellation_verweigerungsgrund_id').val() == 3){
      addRequired('#cancellation_verweigerungsgrund_sonstiges_beschreibung');
    }
    else{
      removeRequired('#cancellation_verweigerungsgrund_sonstiges_beschreibung');
    }

    if($('#cancellation_zu_hoher_aufwand_id').val()){
      addRequired('#cancellation_zu_hoher_aufwand_beschreibung');
    }
    else{
      removeRequired('#cancellation_zu_hoher_aufwand_beschreibung');
    }
  }
})
</script>
<% end %>