<table class="table">
  <tr>             
    <th class="first" style="width:600px">Auftrag</th>
    <th style="width:150px"><%= sort_link_custom search_param_name, :created_at, "erstellt am" %></th>
    <th style="width:150px">Techniker</th>
    <th class="last">&nbsp;</th>
  </tr>
  <% @completions.each do |completion| -%>
  <tr class="<%= cycle("odd", "even") %>">
    <td>
      <%= link_to completion.job.short_description, [current_view, completion.job] unless completion.job.blank? %>
    </td>
    <td>
      <%= completion.created_at.strftime("%d.%m.%Y %H:%M") %>
    </td>
    <td>
      <%= link_to completion.technician.full_name, [current_view, completion.technician] unless completion.technician.blank? %>
    </td>
    <td class="last">
      <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), [current_view, completion] %>
      <%= link_to image_tag("/assets/icons/edit.png", :title=>"Bearbeiten", :alt=>"Bearbeiten"), [:edit, current_view, completion] %>
      <%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen"), [current_view, completion], :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}" %>
    </td>
  </tr>          
  <% end -%>
</table>
<%= page_entries_info %><br/><br/><br/>
<%= will_paginate @posts %><br/><br/><br/>