 <div class="filter-panel">
 	<h3>Filter:</h3>
 	<fieldset class="search-panel" style="width:195px">
 		<legend>Auftragsdaten</legend>
 		<table>
 			<tr><td><label>Erstellt am:</label></td><td><%= f.text_field :created_at_cont, :class => "text_field" %></label></td></tr>
 		</table>
 	</fieldset> 
 	<button class="button" type="submit" style="float:right; margin:-15px 30px 0 0"> 
 		<%= image_tag "icons/magnifier.png?1313764869", :alt => "filtern", :title => "filtern" %> filtern
 	</button>        
 </div>