<% disabled = false unless defined?(disabled) %>

  <% if @comment.errors.any? %>
    <%= render :partial => "general/error_messages", :locals => { :current_model => @comment } %>
  <% end %>  

  <fieldset class="group" style="width:575px">
    <legend>Kommentar</legend>
    <div class="cc" style="width:560px">
    <%= f.text_area :body, :class => 'text_area', :style => "width:540px; height:80px; margin-left:10px", :disabled => disabled %>
 
    </div>
  </fieldset>
  
<div class="navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "speichern")%> speichern
  </button>
</div>
