
<%= render :partial => "general/uploader_base_header" %>
<style type="text/css">
.thumb{
  width:100px;
  height:75px;
  border: 1px solid #aaa;
}
</style>
<% disabled = false unless defined?(disabled) %>

<% if @completion.errors.any? %>
<%= render :partial => "general/error_messages", :locals => { :current_model => @completion } %>
<% end %>
<%= hidden_field :completion, :appointment_id, :value => @completion.appointment_id %>

<%= render :partial => "general/job_details", :locals => { :job => @completion.appointment.job } %>

<fieldset class="group">
  <legend>Leistungsmerkmale</legend>
  <div class="cc">
    <%= simple_boolean_select(f, @completion, :clever_pro, "Clever Pro", disabled, true) %>
    <%= simple_boolean_select(f, @completion, :unbundled, "unbundled", disabled, true) %>
  </div>

  <div class="cc">
    <%= simple_select(f, @completion, :modemtyp_id, "Modemtyp", ModemType.options_for_select, disabled, true) %>
    <%= simple_boolean_select(f, @completion, :umzug, "Umzug", disabled, true) %>
  </div>
</fieldset>

<fieldset class="group">
  <legend>Installationsmerkmale</legend>
  <div class="cc" style="min-height:280px">
    <%= simple_select(f, @completion, :installationsart_id, "Installationsart", [["andere", 1],["Keller",2],["Wohnzimmer",3]], disabled, true) %>

    <%= f.text_field(:installationsart_sonstiges, :class => "text_field", :style => "margin-left:240px;width:190px;position:relative;top:-10px;display:none" , :disabled => disabled) %>

    <%= simple_select(f, @completion, :fi_sicherung_id, "FI Sicherung", [["FI-Schutzschalter",1],["Bestandsschutz",2],["Verstaerker-Festanschluss",3],["BVT-Gehäuse",4]], disabled, true) %>

    <%= simple_select(f, @completion, :potentialausgleich_id, "Potentialausgleich", [["Potentialausgleich erstellt",1],["vorhanden",2],["Erdungsanlage erstellt",3]], disabled, true) %>

    <%= simple_select(f, @completion, :vorverstaerker_id, "Vorverstärker", options_for_select([["ja",1],["nein",0],["4c",2]],[@completion.vorverstaerker_id]),disabled, true) %>

    <%= f.text_field(:vorverstaerker_bezeichnung, :class => "text_field", :style => "margin-left:240px;width:190px;position:relative;top:-10px;display:none" , :disabled => disabled) %>

    <%= simple_boolean_select(f, @completion, :geschlossener_bvt, "Geschlossener BVT", disabled, true) %>
    
    <%= simple_boolean_select(f, @completion, :provisionierung, "Provisionierung", disabled, true) %>
  </div>
  <div class="cc" style="min-height:280px">

    <%= simple_select(f, @completion, :linienverstaerker_id, "Linienverstärker", [["Klasse 1", 0],["Klasse 2",1]], disabled, false) %>

    <%= simple_select(f, @completion, :auftragsart_id, "Auftragsart", JobType.options_for_select, disabled, true) %>

    <%= simple_select(f, @completion, :dosentausch, "Dosentausch", (1..3).collect{|n| [n.to_s, n]}, disabled, false) %>

    <%= simple_boolean_select(f, @completion, :kellerquerverkabelung, "Kellerquerverkabelung", disabled, true, '-', true) %>

    <%= f.text_field(:kellerquerverkabelung_laenge, :class => "text_field", :style => "margin-left:240px;position:relative;top:-10px;display:none", :disabled => disabled) %>

    <%= simple_boolean_select(f, @completion, :mehraufwand, "Mehraufwand beantragt", true, true, '-', true) %>
    <%= link_to (disabled ? "Mehraufwand einsehen" : "Mehraufwand verwalten"), [current_view, @completion.appointment, :special_expenses], :id => "special-services", :class => "button", :style => "float: right; margin-right:20px"%> 
  </div>
</fieldset>

<fieldset class="group">
  <legend>Objekt</legend>
  <div class="cc">
    <%= simple_text_field(f, @completion, :wohneinheiten, "WE im Objekt", disabled, true)  %>
  </div>

  <div class="cc">
    <% 
    available_network_types = NetworkType.options_for_select.delete_if{|item| item[0] == "unbekannt" }
    %>
    <%= simple_select(f, @completion, :netztopologie_id, "Netztopologie", available_network_types, disabled)  %>
  </div>
</fieldset>


<fieldset class="group">
  <legend class="required">Provisionierung</legend>
  <div class="cc" style="height:80px">
    <table>
      <tr>
        <td><%= f.label :D130, :class => "label", :style => "width:50px" %></td>
        <td><%= f.label :K5, :class => "label", :style => "width:50px" %></td>
        <td><%= f.label :K29, :class => "label", :style => "width:50px" %></td>
        <td><%= f.label :D802, :class => "label", :style => "width:50px" %></td>
      </tr>
      <tr>
        <td><%= f.text_field :D130, :class => "text_field", :style => "width:50px; margin-left:10px", :disabled => disabled %></td>
        <td><%= f.text_field :K5, :class => "text_field", :style => "width:50px; margin-left:10px", :disabled => disabled %></td>
        <td><%= f.text_field :K29, :class => "text_field", :style => "width:50px; margin-left:10px", :disabled => disabled %></td>
        <td><%= f.text_field :D802, :class => "text_field", :style => "width:50px; margin-left:10px", :disabled => disabled %></td>
      </tr>
    </table>
  </div>
  <div class="cc" style="height:80px; padding-top:10px">
    <%= simple_boolean_select(f, @completion, :adresspruefung, "Adresse korrekt?", disabled, true) %>

    <%= simple_select(f, @completion, :provisionierung_id, "Provisionierung", [["WASP",1],["Stormwatch",2],["Hotline",3]], disabled, true) %>
  </div>

  <div style="height:40px; padding:10px;;float:left;width: 900px;margin: 0px 5px 10px 5px;background-color: #eee;">
    <table class="mac_text_field">
      <tr>
        <td>
          <label class="label required" style="margin-left:100px">HFC-MAC</label>
        </td>
        <td><%= text_field_tag "mac1", nil, :disabled => disabled %></td>
        <td><%= text_field_tag "mac2", nil, :disabled => disabled %></td>
        <td>:</td>
        <td><%= text_field_tag "mac3", nil, :disabled => disabled %></td>
        <td><%= text_field_tag "mac4", nil, :disabled => disabled %></td>
        <td>:</td>
        <td><%= text_field_tag "mac5", nil, :disabled => disabled %></td>
        <td><%= text_field_tag "mac6", nil, :disabled => disabled %></td>
        <td>:</td>
        <td><%= text_field_tag "mac7", nil, :disabled => disabled %></td>
        <td><%= text_field_tag "mac8", nil, :disabled => disabled %></td>
        <td>:</td>
        <td><%= text_field_tag "mac9", nil, :disabled => disabled %></td>
        <td><%= text_field_tag "mac10", nil, :disabled => disabled %></td>
        <td>:</td>
        <td><%= text_field_tag "mac11", nil, :disabled => disabled %></td>
        <td><%= text_field_tag "mac12", nil, :disabled => disabled %></td>
      </tr>
    </table>
    <%= f.text_field :HFC_MAC, :class => "text_field", :style => "display:none", :disabled => disabled %> 


  </div>  
</fieldset>

<fieldset class="group">
  <legend>Besonderheiten</legend>
  <div class="c padding-20">
    <%= f.text_area :besonderheiten, :class => "text_area", :disabled => disabled %>
  </div>
</fieldset>

<fieldset class="group">
  <legend>Installationsüberprüfung</legend>
  <div class="c">
    <%= simple_boolean_select(f, @completion, :uebrige_modems_im_gebaeude_per_SBC_portal_geprueft, "Werte der übrigen Modems im Haus laut SBC Portal ok?", disabled, true) %>
    <%= simple_boolean_select(f, @completion, :sbc_meldung_erfolgt , "Meldung erfolgt", disabled, true) %>
    <%= simple_boolean_select(f, @completion, :tv_empfang_beim_kunden_erfolgreich_geprueft, "TV Empfang beim Kunden erfolgreich geprüft", disabled, true) %>

    <%= simple_boolean_select(f, @completion, :internetzugang_mit_montagelaptop_geprueft, "Internetzugang mit Montagelaptop geprüft", disabled, true) %>

    <%= simple_boolean_select(f, @completion, :telefon_abgehend_erfolgreich_getestet, "Telefon abgehend erfolgreich getestet", disabled, true) %>

    <%= simple_boolean_select(f, @completion, :telefon_ankommend_erfolgreich_getestet, "Telefon ankommend erfolgreich gestestet", disabled, true) %>

  </div>
</fieldset>

<fieldset class="group">
  <legend>erforderliche Fotos</legend>
  <div class="c">
    <% if disabled %>

    <% if @completion.messwerte_photo_file_name then %>
    <div class="uneditable-photo"><span>Messwerte-Screenshot</span>
      <%= link_to(image_tag(@completion.job.messwerte_photo_url, :class => "thumb") ,@completion.job.messwerte_photo_url, :class => "lightbox", :rel => "completion_photos", :title => "Messwerte-Screenshot") %>
    </div>
    <% end %>
    <% if @completion.bvt_photo_file_name then %>
    <div class="uneditable-photo"><span>BVT</span>
      <%= link_to(image_tag(@completion.job.bvt_photo_url, :class => "thumb") ,@completion.job.bvt_photo_url, :class => "lightbox", :rel => "completion_photos", :title => "BVT") %>
    </div>
    <% end %>
    <% if @completion.uep_photo_file_name then %>
    <div class="uneditable-photo"><span>ÜP</span>
      <%= link_to(image_tag(@completion.job.uep_photo_url, :class => "thumb") ,@completion.job.uep_photo_url, :class => "lightbox", :rel => "completion_photos", :title => "ÜP") %>
    </div>
    <% end %>
    <% if @completion.pot_schiene_photo_file_name then %>
    <div class="uneditable-photo"><span>POT-Schiene</span>
      <%= link_to(image_tag(@completion.job.pot_schiene_photo_url, :class => "thumb") ,@completion.job.pot_schiene_photo_url, :class => "lightbox", :rel => "completion_photos", :title => "POT-Schiene") %>
    </div>
    <% end %>
    <% if @completion.pot_gas_photo_file_name then %>
    <div class="uneditable-photo"><span>POT-GAS</span>
      <%= link_to(image_tag(@completion.job.pot_gas_photo_url, :class => "thumb") ,@completion.job.pot_gas_photo_url, :class => "lightbox", :rel => "completion_photos", :title => "POT-GAS") %>
    </div>
    <% end %>
    <% if @completion.pot_wasser_photo_file_name then %>
    <div class="uneditable-photo"><span>POT-Wasser</span>
      <%= link_to(image_tag(@completion.job.pot_wasser_photo_url, :class => "thumb") ,@completion.job.pot_wasser_photo_url, :class => "lightbox", :rel => "completion_photos", :title => "POT-Wasser") %>
    </div>
    <% end %>
    <% if @completion.pot_hak_photo_file_name then %>
    <div class="uneditable-photo"><span>POT-HAK</span>
      <%= link_to(image_tag(@completion.job.pot_hak_photo_url, :class => "thumb") ,@completion.job.pot_hak_photo_url, :class => "lightbox", :rel => "completion_photos", :title => "POT-HAK") %>
    </div>
    <% end %>
    <% if @completion.pot_heizung_photo_file_name then %>
    <div class="uneditable-photo"><span>POT-Heizung</span>
      <%= link_to(image_tag(@completion.job.pot_heizung_photo_url, :class => "thumb") ,@completion.job.pot_heizung_photo_url, :class => "lightbox", :rel => "completion_photos", :title => "POT-Heizung") %>
    </div>
    <% end %>
    <% if @completion.pot_oel_photo_file_name then %>
    <div class="uneditable-photo"><span>POT-Öl</span>
      <%= link_to(image_tag(@completion.job.pot_oel_photo_url, :class => "thumb") ,@completion.job.pot_oel_photo_url, :class => "lightbox", :rel => "completion_photos", :title => "POT-Öl") %>
    </div>
    <% end %>
    <% if @completion.mmd_unbundled_photo_file_name then %>
    <div class="uneditable-photo"><span>MMD unbundled</span>
      <%= link_to(image_tag(@completion.job.mmd_unbundled_photo_url, :class => "thumb") ,@completion.job.mmd_unbundled_photo_url, :class => "lightbox", :rel => "completion_photos", :title => "MMD unbundled") %>
    </div>
    <% end %>

    <% else %>

    <div style="padding:20px; width:750px; padding-left:150px">
      <span class="simple-field photo-field">

        <% uploader_id = 0 %>
        <table width="100%">
          <tr><td><%= render :partial => "general/upload_image", :locals => {:completion => @completion, :uploader_id => uploader_id += 1, :field_name => "messwerte_photo_file_name", :title => "Messwerte-Screenshot", :required => true} %></td></tr>
          <tr><td><%= render :partial => "general/upload_image", :locals => {:completion => @completion, :uploader_id => uploader_id += 1, :field_name => "bvt_photo_file_name", :title => "BVT", :required => true, :form => f, :no_access_option => "no_access_to_bvt"} %></td></tr>
          <tr><td><%= render :partial => "general/upload_image", :locals => {:completion => @completion, :uploader_id => uploader_id += 1, :field_name => "uep_photo_file_name", :title => "ÜP", :required => true, :form => f, :no_access_option => "no_access_to_uep"} %></td></tr>
          <tr><td><%= render :partial => "general/upload_image", :locals => {:completion => @completion, :uploader_id => uploader_id += 1, :field_name => "pot_schiene_photo_file_name", :title => "POT-Schiene", :required => true, :form => f, :no_access_option => "no_access_to_pot_schiene"} %></td></tr>
          <tr class="pot-image-upload" style="display:none"><td><%= render :partial => "general/upload_image", :locals => {:completion => @completion, :uploader_id => uploader_id += 1, :field_name => "pot_gas_photo_file_name", :title => "POT-Gas", :required => true, :form => f, :no_access_option => "no_access_to_pot_gas"} %></td></tr>
          <tr class="pot-image-upload" style="display:none"><td><%= render :partial => "general/upload_image", :locals => {:completion => @completion, :uploader_id => uploader_id += 1, :field_name => "pot_wasser_photo_file_name", :title => "POT-Wasser",:required => true, :form => f, :no_access_option => "no_access_to_pot_wasser"} %></td></tr>
          <tr class="pot-image-upload" style="display:none"><td><%= render :partial => "general/upload_image", :locals => {:completion => @completion, :uploader_id => uploader_id += 1, :field_name => "pot_hak_photo_file_name", :title => "POT-HAK",:required => true, :form => f, :no_access_option => "no_access_to_pot_hak"} %></td></tr>
          <tr class="pot-image-upload" style="display:none"><td><%= render :partial => "general/upload_image", :locals => {:completion => @completion, :uploader_id => uploader_id += 1, :field_name => "pot_heizung_photo_file_name", :title => "POT-Heizung",:required => true, :form => f, :no_access_option => "no_access_to_pot_heizung"} %></td></tr>
          <tr class="pot-image-upload" style="display:none"><td><%= render :partial => "general/upload_image", :locals => {:completion => @completion, :uploader_id => uploader_id += 1, :field_name => "pot_oel_photo_file_name", :title => "POT-Öl",:required => true, :form => f, :no_access_option => "no_access_to_pot_oel"} %></td></tr>
          <tr><td><%= render :partial => "general/upload_image", :locals => {:completion => @completion, :uploader_id => uploader_id += 1, :field_name => "mmd_unbundled_photo_file_name", :title => "MMD unbundled"} %></td></tr>
        </table>
      </div>
      <% end %>
    </div>
  </fieldset>

  <%= render :partial => "general/additional_attachments", :locals => {:current_object => @completion, :disabled => disabled, :f => f, :uploader_id => uploader_id, :model_name => "completion"}%>

        <fieldset class="group abschluss">
          <legend>Abschluss</legend>
          <div>
           <div class="c padding-20">
            <h1>Hiermit bestätige ich, dass die Internetinstallation durch '<%= @completion.job.client.name %>' zu meiner Zufriedenheit durchgeführt wurde.</h1>
            <%= simple_check_box(f, @completion, :telefon_ok, "Der Techniker hat mir die Funktion des Telefons vorgeführt", disabled = false, required = false)%>
            <%= simple_check_box(f, @completion, :internet_ok, "Der Techniker konnte mir den Zugang zum Internet an seinem Montagelaptop vorführen", disabled = false, required = false)%>
             <%= simple_check_box(f, @completion, :fernsehempfang_ok, "Mein Fernsehempfang ist noch genauso wie vor der Installation des Technikers", disabled = false, required = false)%>
             <%= simple_check_box(f, @completion, :installationsort_sauber_verlassen, "Der Installationsort wurde sauber veriassen", disabled = false, required = false)%>
            <%= simple_text_field(f, @completion, :bemerkungen_kunde, "Anmerkungen Kunde", disabled = false, required = false)%>
            <div style="clear:both"/>
            <%= render :partial => "general/signature_field", :locals => {:f => f, :disabled => disabled, :model_name => "completion"} %>

            <h1><%= @completion.appointment.job.kunde_nachname+", "+@completion.appointment.job.kunde_vorname %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @completion.appointment.job.kunde_ort %> der <%= Date.today.strftime("%d.%m.%Y") %></h1>
           </div>
          </fieldset>

          <% begin %>        
          <div class="navform wat-cf">
            <button class="button" type="submit" id="save-button">
              <%= image_tag("web-app-theme/icons/tick.png", :alt => "speichern") %> speichern
            </button>
            <span class="text_button_padding"> oder </span>
            <%= link_to "abbrechen", params[:fromPath] || [current_view, :completions], :class => "text_button_padding link_button" %>
          </div>
          <% end unless disabled  %>
          <% if !@completion.new_record? %>
          <% end %>
          <%= content_for :bottom do %>
          <script type="text/javascript">
//overwrite
function uploadCompleteHandler(upload_options,event,uploader_id,field_name){
  if(field_name == "bvt_photo_file_name")
    $("#completion_no_access_to_bvt").attr("checked",false);
  if(field_name == "uep_photo_file_name")
    $("#completion_no_access_to_uep").attr("checked",false);
  if(field_name == "pot_schiene_photo_file_name")
    $("#completion_no_access_to_pot_schiene").attr("checked",false);

  document.getElementById('completion_'+field_name).value = upload_options.FileName;
  queueBytesLoaded += parseInt(upload_options.FileSize);
  addFileToDoneList(upload_options.FileName,upload_options.FileSize,uploader_id);
}

$(function(){

  $('#completion_potentialausgleich_id').change(function(){
    updateView();
  })
  
  $('#add-attachment-button').click(function(){
    $('.additional-attachment-row').filter(function() { return $(this).css("display") == "none" }).first().show();

    if ($('.additional-attachment-row').filter(function() { return $(this).css("display") == "none" }).length == 0)
      $('#add-attachment-button').hide();

    return false;
  })

  $('.access-blocked').click(function(){
    if ($(this).attr('checked')){
      var result = confirm("Bitte bestätigen Sie dass kein Zugang möglich ist.\nEine Falschaussage ist eine strafbare Handlung.");
      if (result == false)
        $(this).attr('checked', false);
    };
  })

  //Get Exising Select Options    
  $('select.radiobuttons').each(function(i, select){
    var $select = $(select);
    var $div = $('<div style="margin-top:15px; height:30px; float:left"/>');
    $select.before($div);
    
    $select.find('option').each(function(j, option){
      var $option = $(option);

      if (($option.val() == "true") || ($option.val() == "false")) {
          // Create a radio:
          var $radio = $('<input type="radio" <%= 'disabled="disabled"' if disabled %> />');
          // Set name and value:
          $radio.attr('name', $select.attr('name')).attr('value', $option.val());
          // Set checked if the option was selected
          if ($option.attr('selected')) $radio.attr('checked', 'checked');
          // Insert radio before select box:
          $div.append($radio);

          // Insert a <br />:
          //$select.before("<br/>");

           // Insert a label:
           $radio.before(
            $("<span style='margin:0 10px 0 10px'/>").attr('for', $select.attr('name')).text($option.text())
            );

         }
       });
    $select.remove();
  });

$("a.lightbox").fancybox({
  'transitionIn'  : 'elastic',
  'transitionOut' : 'elastic',
  'speedIn'   : 200, 
  'speedOut'    : 200, 
  'overlayShow' : false,
  'cyclic' : true,
  'opacity' : true,
  'titlePosition' : 'over'
});

updateView();
deconstructMacAddress();
updateSpecialExpensesSelect();

$('#save-button').click(function(){    
  $('#loading-animation').show();
})

$("#special-services").fancybox({
  'autoDimensions': false,
  'height'      : 500,
  'height'      : 600,
  'autoScale'     : false,
  'transitionIn'    : 'none',
  'transitionOut'   : 'none',
  'centerOnScroll'  : true,
  'type'        : 'iframe',
  'onClosed'    : function(){updateSpecialExpensesSelect()}
});

$('#completion_installationsart_sonstiges').watermark("Installationsart angeben");
$('#completion_vorverstaerker_bezeichnung').watermark("Bezeichnung angeben");
$('#completion_kellerquerverkabelung_laenge').watermark("Länge angeben");

function updateSpecialExpensesSelect(){
  $.get('/<%= current_view %>/appointments/<%= @completion.appointment.id %>/has_special_expenses', function(data){
    $('#completion_mehraufwand').val(data);
  });
}

function updateView(){

  if (($('#completion_potentialausgleich_id').val() == 1) || ($('#completion_potentialausgleich_id').val() == 3))
    $(".pot-image-upload").show();
  else
    $(".pot-image-upload").hide();  

  if ($('#completion_installationsart_id').val() == 1)
    $('#completion_installationsart_sonstiges').show();
  else
    $('#completion_installationsart_sonstiges').hide();

  if ($('#completion_vorverstaerker_id').val() != 0)
    $('#completion_vorverstaerker_bezeichnung').show();
  else
    $('#completion_vorverstaerker_bezeichnung').hide();

  if ($('#completion_kellerquerverkabelung').val() == "true")
    $('#completion_kellerquerverkabelung_laenge').show();
  else
    $('#completion_kellerquerverkabelung_laenge').hide();

/*
<% if !disabled then %>
    if ($('#completion_unbundled').val() == "true")
      addRequired('#completion_mmd_unbundled_photo');
    else
      removeRequired('#completion_mmd_unbundled_photo');

    if ($('#completion_potentialausgleich_id').val() == "1"){
      addRequired('#completion_pot_gas_photo');
      addRequired('#completion_pot_wasser_photo');
      addRequired('#completion_pot_hak_photo');
      addRequired('#completion_pot_heizung_photo');
    }
    else
      removeRequired('#completion_mmd_unbundled_photo');

    if ($('#completion_pot_heizung_photo').val())
      addRequired('#completion_pot_oel_photo');
<% end %>
*/
}


  //completion_potentialausgleich_id
  $('#completion_potentialausgleich_id').change(function(){
    updateView();
  });

  //unbundled
  $('#completion_unbundled').change(function(){
    updateView();
  });

  //Installationsart
  $('#completion_installationsart_id').change(function(){
    updateView();
  });

  //vorverstaerker_bezeichnung
  $('#completion_vorverstaerker_id').change(function(){
    updateView();
  });
  
  //kellerquerverkabelung
  $('#completion_kellerquerverkabelung').change(function(){
    updateView();
  })

  //completion_pot_heizung_photo
  $('#completion_pot_heizung_photo').change(function(){
    updateView();
  })

  $(".mac_text_field input").click(function(e){
    e.target.focus();
    e.target.select();
  });

  $(".mac_text_field input").keyup(function(e){
    var originalValue = $(this).val();
    if (!_.include("abcdef1234567890".split(""), originalValue)){
      $(this).val("");
      preventDefault();
      return;
    }

    $(this).val(originalValue.toUpperCase());
    var currentFieldId = $(this).attr("id").replace("mac","");
    if (currentFieldId != 12)
    {
      var nextFieldId = "mac"+(parseInt(currentFieldId)+1);
      $("#"+nextFieldId).select();
      $("#"+nextFieldId).focus();
    }

    constructMacAddress();

  });
});

function deconstructMacAddress()
{
  var mac = $("#completion_HFC_MAC").val();
  var letters = mac.replace(/:/g,"").split("");
  for (var i = 1 ; i <= 12 ; i++)
  {
    $("#mac"+i).val(letters[i-1]);
  }
}

function constructMacAddress()
{
  var mac = "";
  for (var i = 1 ; i <= 12 ; i++)
  {
    var v = $("#mac"+i).val();
    if (v)
      mac += v;
    else
      mac += "-";
    if (((i+1) % 2) && (i != 12))
      mac += ":"
  }
  $("#completion_HFC_MAC").val(mac);
}
</script>
<% end %>
