<% exclude ||= [] %>
<%= select_tag "controller-selection", options_for_select([["Alle Disponenten","ALL"]]+User.scheduling.assigned_to_same_company(current_user).collect{|u| [u.full_name, u.id]},params[:controllers]), :class => "select" %>
<%= content_for :bottom do %>
<script type="text/javascript"> 
$(function(){
  $('#controller-selection').change(function(){
  	window.location.search = jQuery.query.set("controllers", $(this).val());
  });
});
</script>
<% end %>