<% disabled = false unless defined?(disabled) %>
<table class="table">
  <thead>
    <tr>             
      <th class="first" style="width:100px"><%= "von" %></th>
      <th style="width:100px"><%= "bis" %></th>
      <th style=""><%= "Grund" %></th>
      <% if !disabled %>
      <th class="last" style="width:10px">&nbsp;</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% days_of_absence_list.each do |days_of_absence| -%>
    <tr class="<%= cycle("odd", "even") %>" data-id="<%= days_of_absence.id.to_s %>">
      <td>
        <%= date_format(days_of_absence.starting_point) %>
      </td>
       <td>
        <%= date_format(days_of_absence.end_point) %>
      </td>
      <td>
        <%= days_of_absence.cause %>
      </td>
      <% if !disabled %>
      <td class="last">
        <%= link_to image_tag("/assets/icons/edit.png", :title=>"Bearbeiten", :alt=>"Bearbeiten"), [:edit, current_view, days_of_absence.user, days_of_absence] %>
      </td>
      <% end %>
    </tr>          
    <% end -%>
  </tbody>
</table>
<div class="navform wat-cf">
  <div class="page-entries">
    <%= page_entries_info days_of_absence_list %></div>
  	<%= will_paginate days_of_absence_list %>
</div>
