<table class="table">
  <thead>
    <tr>             
      <th class="first" style="width:300px"><%= "Artikel" %></th>
      <th style="width:500px"><%= "Beschreibung" %></th>
      <th style="width:200px"><%= "Menge" %></th>
      <th class="last">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% delivery_items.each do |delivery_item| -%>
    <tr class="<%= cycle("odd", "even") %>" data-id="<%= delivery_item.id.to_s %>">
      <td>
        <%= link_to(delivery_item.article.name, [current_view, delivery_item.article]) %>
      </td>
       <td>
        <%= delivery_item.article.description %>
      </td>
       <td>
        <%= delivery_item.quantity %>
      </td>
      <td class="last">
        <%= link_to image_tag("/assets/icons/edit.png", :title=>"Bearbeiten", :alt=>"Bearbeiten"), [:edit, current_view, delivery_item] %>
      </td>
    </tr>          
    <% end -%>
  </tbody>
</table>
<div class="navform wat-cf">
  <div class="page-entries">
    <%= page_entries_info delivery_items %></div>
  <%= will_paginate delivery_items %>
</div>
