<table class="table">
  <thead>
    <tr>             
      <th class="first" style="width:200px"><%= "Artikel" %></th>
      <th style="width:100px"><%= "Menge" %></th>
      <th class="last" style="width:400px"><%= "Beschreibung" %></th>
    </tr>
  </thead>
  <tbody>
    <% equipments.each do |equipment| -%>
    <tr class="<%= cycle("odd", "even") %>" data-id="<%= equipment.id.to_s %>">
      <td>
        <%= equipment.article.name %>
      </td>
      <td>
        <%= equipment.quantity_with_unit %>
      </td>
      <td>
        <%= equipment.article.description %>
      </td>
     </tr>          
    <% end -%>
  </tbody>
</table>
<div class="navform wat-cf">
  <div class="page-entries">
    <%= page_entries_info equipments %></div>
    <%= will_paginate equipments %>
</div>