
<style type="text/css">
#feedback {
	height: 104px;
	width: 104px;
	position: fixed;
  right: -65px;
	bottom: 40px;
	z-index: 1000;
	transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#feedback span {
	display: block;
	background: #333;
	height: 20px;
	width: 140px;
	padding: 8px 16px;
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 17px;
	font-weight: bold;
	text-decoration: none;
	border: solid 3px #fff;
	border-bottom: solid 0px #aaa;
}

#feedback span:hover {
	background: #a00;
}</style>
<div id="feedback">
	<span >Problem melden</span>
</div>


<%= content_for :bottom do %>
<script type="text/javascript">
$(function(){
  $("#feedback").click(function(){
    $.fancybox({
      'href':'/bugtrackers/new',
      'autoDimensions': false,
      'width'      : 800,
      'height'      : 680,
      'autoScale'     : false,
      'transitionIn'    : 'none',
      'transitionOut'   : 'none',
      'centerOnScroll'  : true,
      'type'        : 'iframe',
      'onClosed'    : function(){
      		if("<%= get_route %>" == "/admin/bugtrackers"){
      			$("#main").load("/<%= current_view %>/bugtrackers/reload_index", function() {
      			});
      		}
	   }
    });
    return false;
  });

});
</script>
<% end %>


