<table class="table">
  <tr>             
    <th class="first" style="width:150px"><%= sort_link_custom search_param_name, :ot_auftragsnummer, "OT-Nummer" %></th>
    <th><%= sort_link_custom search_param_name, :kunde_plz, "PLZ" %></th>
    <th><%= sort_link_custom search_param_name, :kunde_ort, "Ort" %></th>
    <th><%= sort_link_custom search_param_name, :kunde_strasse, "Strasse" %></th>
    <th><%= sort_link_custom search_param_name, :kunde_nachname, "Kunde" %></th>
    <th><%= sort_link_custom search_param_name, :kunde_telefon_privat, "Telefon" %></th>
    <th class="last">&nbsp;</th>
  </tr>
  <% jobs.each do |job| -%>
  <tr class="<%= cycle("odd", "even") %>">
    <td>
      <%= job.ot_auftragsnummer %>
    </td>
    <td>
      <%= job.kunde_plz %>
    </td>
    <td>
      <%= job.kunde_ort %>
    </td>
    <td>
      <%= job.kunde_strasse_full %>
    </td>
    <td>
      <%= job.kunde_name %>
    </td>
    <td>
      <%= job.kunde_telefon %>
    </td>
    <td class="last">
      <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), [current_view, job] %>
      <%= link_to image_tag("/assets/icons/edit.png", :title=>"Bearbeiten", :alt=>"Bearbeiten"), [:edit, current_view, job] %>
    </td>
  </tr>          
  <% end -%>
</table>
<div class="navform wat-cf">
  <div class="page-entries"><%= page_entries_info jobs %></div>
  <%= will_paginate jobs, :param_name => page_param_name %>
</div>