 <fieldset class="group">
    <legend>Auftragsdaten</legend>
    <div class="ccc" style="height:260px">
      <h3>Adresse</h3>
      <%= label_tag "kunde_plz", "PLZ", :class => "label" %><%= text_field_tag "kunde_plz",  job.kunde_plz, :class => "text_field", :disabled => true %>
     
      <%= label_tag "kunde_ort", "Ort", :class => "label" %><%= text_field_tag "kunde_ort",  job.kunde_ort, :class => "text_field", :disabled => true %>
     
      <%= label_tag "kunde_strasse", "Strasse", :class => "label" %><%= text_field_tag "kunde_strasse",  job.kunde_strasse+" "+ job.kunde_hausnummer, :class => "text_field", :disabled => true %>
     
      <%= label_tag "kunde_name", "Kunde", :class => "label" %><%= text_field_tag "kunde_name",  job.kunde_nachname+", "+ job.kunde_vorname, :class => "text_field", :disabled => true %>
    </div>
    <div class="ccc" style="height:260px">
      <h3>Telefon</h3>
      <%= label_tag "kunde_telefon_privat", "privat", :class => "label" %><%= text_field_tag "kunde_telefon_privat",  job.kunde_telefon_privat, :class => "text_field", :disabled => true %>
     
      <%= label_tag "kunde_telefon_geschaeftlich", "geschaeftlich", :class => "label" %><%= text_field_tag "kunde_telefon_geschaeftlich",  job.kunde_telefon_geschaeftlich, :class => "text_field", :disabled => true %>
     
      <%= label_tag "kunde_telefon_mobil", "mobil", :class => "label" %><%= text_field_tag "kunde_telefon_mobil",  job.kunde_telefon_mobil, :class => "text_field", :disabled => true %>
      
      <%= label_tag "telefon_neu", "Neue Nummer", :class => "label" %><%= text_field_tag "telefon_neu",  job.telefon_neu, :class => "text_field", :disabled => true %>
    </div>
    <div class="ccc" style="height:260px">
      <h3>Auftrag</h3>
      <%= label_tag "ot_auftragsnummer", "OT-Auftragsnummer", :class => "label" %><%= text_field_tag "ot_auftragsnummer",  job.ot_auftragsnummer, :class => "text_field", :disabled => true %>
      <%= label_tag "workorder", "Workorder", :class => "label" %><%= text_field_tag "workorder",  job.workorder, :class => "text_field", :disabled => true %>
      <%= label_tag "kunde_kundennummer", "Kundennummer", :class => "label" %><%= text_field_tag "kunde_kundennummer",  job.kunde_kundennummer, :class => "text_field", :disabled => true %>
      <%= label_tag "auftragsart", "Auftragsart", :class => "label" %><%= text_field_tag "auftragsart",  job.job_type.name, :class => "text_field", :disabled => true %>
      <%= label_tag "modemaktivierung", "Modemaktivierung", :class => :label %><%= text_field_tag "modemaktivierung",  job.modemaktivierung, :class => "text_field", :disabled => true %>
        <br/><br/><br/><br/><br/><br/><br/>
      
    </div>
  </fieldset>