<% disabled = false unless defined?(disabled) %>
  <%  !@job.valid? %>
  <% if @job.errors.any? %>
    <%= render :partial => "general/error_messages", :locals => { :current_model => @job } %>
  <% end %>

  <div class=" navform wat-cf">
    <% begin %>
      <button class="button" type="submit">
        <%= image_tag("web-app-theme/icons/tick.png", :alt => "speichern") %> speichern
      </button>
      <% if (current_view == "admin") && (!@job.errors.any?) && (params[:action] != "new") then %>
      <%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen")+" löschen", [current_view, @job], :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}", :class=>"button" %>
      <% end %>

      <span class="text_button_padding"> oder </span>
      <%= link_to "abbrechen", [current_view, :jobs], :class => "text_button_padding link_button" %>
    <% end unless disabled  %>

  </div>

  <fieldset class="group">
    <legend>Auftragsdaten</legend>
    <div class="cc" style="min-height: 180px">

      <%= raw simple_select(f, @job, :client_id, "Mandant", Client.where(:active => true).collect {|c| [ c.name, c.id ] }, disabled)  %>
      <%= simple_select(f, @job, :scheduling_user_group_id, "Dispogruppe", @job.client.scheduling_user_groups.collect {|c| [ c.name, c.id ] }, disabled)  %>
      <%= simple_select(f, @job, :status, "Status", (0..5).collect {|c| [ "#{status_name(c)} (#{status_short(c)})",c ] }, disabled)  %>
			<%= simple_select(f, @job, :auftragsart_id, "Auftragsart", JobType.where(:active => true).collect {|c| [ c.name, c.id ] }, disabled)  %>
      <%= simple_select(f, @job, :wartegrund_id, "Wartegrund", WaitingCause.where(:active => true).collect {|c| [ c.full_name, c.id ] }, disabled)  %>

      <%= simple_date_select(f, @job, :verbindlicher_installationstermin, "Verbindlicher Termin", nil, disabled)  %>
      <%= simple_text_field(f, @job, :verbindliche_tageszeit, "Verbindliche Tageszeit", disabled)  %>
    </div>
    <div class="cc" style="min-height: 180px">
      <%= simple_text_field(f, @job, :workorder, "Workorder", disabled)  %>
      <%= simple_text_field(f, @job, :kunde_kundennummer, "Kundennummer", disabled)  %>
      <%= simple_text_field(f, @job, :ot_auftragsnummer, "OT-Auftragsnummer", disabled)  %>
      <%= simple_text_field(f, @job, :ot_id, "OT-ID", disabled)  %>
      <%= simple_select(f, @job, :modemtyp_id, "Modemtyp", ModemType.options_for_select, disabled)  %>

      <%= simple_date_select(f, @job, :modemaktivierung, "Modemaktivierung", nil, true)  %>
      <%= simple_date_select(f, @job, :wiedervorlage, "Wiedervorlage", nil, disabled)  %>
    </div>
  </fieldset>

  <fieldset class="group">
    <legend>Adresse</legend>
    <div class="cc" style="min-height: 140px">
        <%= simple_text_field(f, @job, :kunde_plz, "PLZ", disabled)  %>
        <%= simple_text_field(f, @job, :kunde_ort, "Ort", disabled)  %>
        <%= simple_text_field(f, @job, :kunde_strasse, "Strasse", disabled)  %>
        <%= simple_text_field(f, @job, :kunde_hausnummer, "Hausnummer", disabled)  %>
        <%= simple_text_field(f, @job, :telefon_neu, "Neue Anschlussnummer", disabled)  %>
        <%= simple_boolean_select(f, @job, :kunde_is_eigentuemer, "Kunde ist Eigentümer", disabled)  %>
    </div>
    <div class="cc" style="min-height: 140px">
        <%= simple_text_field(f, @job, :kunde_nachname, "Nachname", disabled)  %>
        <%= simple_text_field(f, @job, :kunde_vorname, "Vorname", disabled)  %>
        <%= simple_text_field(f, @job, :kunde_telefon_privat, "Telefon privat", disabled)  %>
        <%= simple_text_field(f, @job, :kunde_telefon_mobil, "Telefon mobil", disabled)  %>
        <%= simple_text_field(f, @job, :kunde_telefon_geschaeftlich, "Telefon geschaeftlich", disabled)  %>
        <%= simple_text_field(f, @job, :kunde_email, "Email", disabled)  %>
    </div>
  </fieldset>

  <fieldset class="group" id="eigentuemer_fields">
    <legend>Eigentümer</legend>
    <div class="cc" style="min-height: 140px">
        <%= simple_text_field(f, @job, :eigentuemer_nachname, "Nachname", disabled)  %>
        <%= simple_text_field(f, @job, :eigentuemer_vorname, "Vorname", disabled)  %>
        <%= simple_text_field(f, @job, :eigentuemer_plz, "PLZ", disabled)  %>
        <%= simple_text_field(f, @job, :eigentuemer_ort, "Ort", disabled)  %>
        <%= simple_text_field(f, @job, :eigentuemer_strasse, "Strasse", disabled)  %>
        <%= simple_text_field(f, @job, :eigentuemer_hausnummer, "Hausnummer", disabled)  %>
    </div>

    <div class="cc" style="min-height: 140px">
        <%= simple_text_field(f, @job, :eigentuemer_telefon_1, "Telefon", disabled)  %>
        <%= simple_text_field(f, @job, :eigentuemer_telefon_2, "Telefon (alternativ)", disabled)  %>
        <%= simple_text_field(f, @job, :eigentuemer_email, "Email", disabled)  %>
        <%= simple_text_field(f, @job, :eigentuemer_ansprechpartner, "Ansprechpartner", disabled)  %>
        <%= simple_text_field(f, @job, :eigentuemer_telefon_ansprechpartner, "Telefon Ansprechpartner", disabled)  %>
    </div>
  </fieldset>

  <fieldset class="group">
    <legend>Objekt</legend>
    <div class="cc" style="min-height: 95px">
      <%= simple_select(f, @job, :objektart_id, "Objektart", BuildingType.options_for_select, disabled)  %>
      <%= simple_text_field(f, @job, :wohneinheiten, "WE im Objekt", disabled)  %>
      <%= simple_text_field(f, @job, :aktive_kunden, "aktuell aktive Kunden", disabled)  %>
    </div>

    <div class="cc" style="min-height: 95px">
      <%= simple_text_field(f, @job, :rks_anlagennummer, "RKS Anlagennummer", disabled)  %>
      <%= simple_select(f, @job, :netztopologie_id, "Netztopologie", NetworkType.options_for_select, disabled)  %>
      <%= simple_boolean_select(f, @job, :erstinstallation_erfolgt, "Erstinstallation erfolgt?", disabled)  %>
    </div>
  </fieldset>

<% if @job.transfer_point then %>
  <fieldset class="group" >
    <legend>ÜP</legend>
    <div class="c">
     <%= label_tag :uep_short_description, "Beschreibung", :class => "label", :style => "width:230px" %>
      <%= text_field_tag :uep_short_description, @job.transfer_point.short_description, :disabled => true, :class => "text_field", :style => "width:600px" %>
      <%= link_to(image_tag("icons/show.png"),[current_view, @job.transfer_point], :style => "margin-left:10px") %>
    </div>
    <div class="cc" style="min-height: 95px">
      <%= label_tag :uep_typ, "ÜP-Typ", :class => "label" %>
      <%= text_field_tag :uep_typ, @job.transfer_point.typ, :disabled => true, :class => "text_field" %>
      <%= label_tag :uep_zustand, "Zustand", :class => "label" %>
      <%= text_field_tag :uep_zustand, @job.transfer_point.zustand, :disabled => true, :class => "text_field" %>
      <%= label_tag :uep_dienstverfuegbarkeit, "Dienstverfügbarkeit", :class => "label" %>
      <%= text_field_tag :uep_dienstverfuegbarkeit, @job.transfer_point.dienstverfuegbarkeit, :disabled => true, :class => "text_field" %>
    </div>
    <div class="cc">
      <%= label_tag :we_am_uep, "WE am ÜP", :class => "label" %>
      <%= text_field_tag :we_am_uep, @job.transfer_point.we_am_uep, :disabled => true, :class => "text_field" %>
      <%= label_tag :aktive_kunden_am_uep, "aktive Kunden am ÜP", :class => "label" %>
      <%= text_field_tag :aktive_kunden_am_uep, @job.transfer_point.aktive_kunden_am_uep, :disabled => true, :class => "text_field" %>
      <%= label_tag :inbetriebnahme, "Inbetriebnahme", :class => "label" %>
      <%= text_field_tag :inbetriebnahme, @job.transfer_point.inbetriebnahme, :disabled => true, :class => "text_field" %>
    </div>
  </fieldset>
<% end %>

  <fieldset class="group">
    <legend>Beauftragte Leistungen</legend>
     <div class="c" >
      <%= f.text_area :beauftragte_leistungen, :class => 'text_area', :disabled => true %>
    </div>
  </fieldset>
  <fieldset class="group">
    <legend>Omnitracker Kommentare</legend>
     <div class="c" >
      <%= f.text_area :ot_kommentare, :class => 'text_area', :disabled => true %>
    </div>
  </fieldset>

<% if (!@other_jobs_in_object.blank?) then %>
  <fieldset class="group">
    <legend>Weitere Aufträge im Objekt</legend>
      <table class="table">
        <tr>
          <th class="first" style="width:300px">OT-Auftragsnummer</th>
          <th>Kunde</th>
          <th>Status</th>
          <th class="last">&nbsp;</th>
        </tr>
      <% @other_jobs_in_object.order(:id).each do |job| %>
        <tr>
          <td><%= link_to(job.ot_auftragsnummer, [current_view,job]) %></td>
          <td><%= job.kunde_nachname+", "+job.kunde_vorname %></td>
          <td><%= status_name job.status %></td>
          <td class="last">
            <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), [current_view, job] %>
          </td>
        </tr>
      <% end %>
      </table>
  </fieldset>
<% end %>

<% if !@job.new_record? then %>
  <fieldset class="group">
    <legend>Termine</legend>
    <% if !@job.appointments.blank? then %>
      <table class="table">
        <tr>
          <th class="first" style="width:300px">Beginn</th>
          <th>Techniker</th>
<%
=begin
          <th>Status</th>
=end
%>
          <th class="last" style="width:50px">&nbsp;</th>
        </tr>
      <% @job.appointments.order(:day, :start_time).each do |appointment| %>
        <tr>
          <td><%= link_to(appointment.day.strftime("%d.%m.%Y-")+appointment.start_time.strftime("%H:%M"), [current_view,appointment] ) %></td>
          <td><%= link_to(appointment.user.full_name, [current_view, appointment.user]) %></td>
<%
=begin
           display_state appointment.status
=end
%>
        <td class="last">
            <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), [current_view, appointment] %>
            <% if ["admin","scheduling"].include?(current_view) then %>
              <%= link_to image_tag("/assets/icons/edit.png", :title=>"Bearbeiten", :alt=>"Bearbeiten"), [:edit, current_view, appointment] %>
              <% if (!appointment.processed_already?) then %>
              <%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen"), [current_view, appointment], :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}" %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </table>
    <% else %>
      <label class="label" style="width:100%; text-align:center">Noch kein Termin disponiert.</label>
    <% end %>
  </fieldset>
<% end %>

<% if !@job.new_record? then %>
  <fieldset class="group">
    <legend>Verlinkungen</legend>
<div class="job-associaction-links">
    <%= link_to "Klärungsfall: "+@job.cancellations[0].short_description, [current_view, @job.cancellations[0]] if (!@job.cancellations[0].blank?)%>

    <%= link_to "Auftragsabschluss: "+@job.completions[0].short_description, url_for([current_view,@job.completions[0]]) if (!@job.completions[0].blank?)%>

    <% @job.appointment_requests.each do |ar| %>
      <%= link_to "Terminanfrage: "+ar.short_description, url_for([current_view,ar]) %>
  <% end %>
</div>
  </fieldset>
<% end %>

<% if !@job.new_record? then %>
  <fieldset class="group">
    <legend>Kommentare</legend>
      <div id="comments">
        <% if !@job.comments.blank? then %>
          <table class="table">
            <tr>
              <th class="first" style="width:150px">am</th>
              <th>von</th>
              <th>Kommentar</th>
              <th class="last">&nbsp;</th>
            </tr>
          <% @job.comments.order("created_at ASC").each do |comment| %>
            <tr>
              <td><%= comment.created_at.strftime("%d.%m.%Y-%H:%M") %></td>
              <td><%= link_to(comment.user.full_name, [current_view, comment.user]) %></td>
              <td><%= comment.body %></td>
              <td></td>
            </tr>
          <% end %>
          </table>
        <% else %>
          <label class="label" style="width:100%; text-align:center">Noch keine Kommentare.</label>
        <% end %>
      </div>

    <a href="#" class="button" style="margin:5px" id="add-comment">
      <%= image_tag("web-app-theme/icons/tick.png", :alt => "Kommentar hinzufügen") %> Kommentar hinzufügen
    </a>
  </fieldset>
<% end %>

<% if !@job.new_record? then %>
  <fieldset class="group">
    <legend>Historie</legend>
    <div class="c">
    <table class="table">
      <tr>
        <th class="first" style="width:150px">am</th>
        <th style="width:150px">von</th>
        <th class="last">geändert</th>
      </tr>
      <% @job.audits.each do |a| %>
      <% if a.user != nil then %>
      <tr>
        <td><%= a.created_at.strftime("%d.%m.%Y um %H:%M") %></td>
        <td><%= a.user.full_name %></td>
        <td>
          <% if (a.action == "create") then %>
            <b>Erstellt</b>
          <% elsif (a.action == "update") then %>
            <b>Änderung:</b><br/>
            <% a.audited_changes.each do |c| %>
            <% if (c[1][0] != nil) then %>
              <%= c[0].gsub("_"," ").gsub("id","").gsub(/\b\w/){$&.upcase} %>: "<b><%= c[1][0] %></b>" -> "<b><%= c[1][1] %></b>"<br/>
            <% end %>
          <% end %>
        <% end %>
      </td>
    </tr>
    <% end %>
    <% end %>
  </table>
    </div>
  </fieldset>
<% end %>




<div class=" navform wat-cf">
  <% begin %>
    <button class="button" type="submit">
      <%= image_tag("web-app-theme/icons/tick.png", :alt => "speichern") %> speichern
    </button>
    <% if (current_view == "admin") && (!@job.errors.any?) && (params[:action] != "new") then %>
      <%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen")+" löschen", [current_view, @job], :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}", :class=>"button" %>
    <% end %>

    <span class="text_button_padding"> oder </span>
    <%= link_to "abbrechen", [current_view, :jobs], :class => "text_button_padding link_button" %>
  <% end unless disabled  %>

</div>


<%= content_for :bottom do %>
<script type="text/javascript">
$(function(){
  setWaitingCauseState();

  $("#job_status").change(function(){
    setWaitingCauseState();
  })

  $("#add-comment").click(function(){
  	$.fancybox({
      'href':'/<%= current_view %>/jobs/<%= @job.id %>/comments/new',
      'autoDimensions': false,
      'width'      : 600,
      'height'      : 230,
      'autoScale'     : false,
      'transitionIn'    : 'none',
      'transitionOut'   : 'none',
      'centerOnScroll'  : true,
      'type'        : 'iframe',
      'onClosed'    : function(){
        $('#comments').load('/<%= current_view %>/jobs/<%= @job.id %>/comments', function() {
        });
      }
    });
    return false;
  })

  function setWaitingCauseState(){
    if($("#job_status").val() == 2)
      $("#job_wartegrund_id").removeAttr('disabled');
    else
      $("#job_wartegrund_id").attr('disabled', 'disabled');
  }


  $("#job_kunde_plz").autocomplete("/plz", {});
  $("#job_kunde_ort").autocomplete("/cities", {
    extraParams: {
       plz: function() { return $("#job_kunde_plz").val(); }
   }
  });
  $("#job_kunde_strasse").autocomplete("/streets", {
    extraParams: {
       ort: function() { return $("#job_kunde_ort").val(); }
   }
  });
  $("#job_kunde_hausnummer").autocomplete("/street_numbers", {
    extraParams: {
       street: function() { return $("#job_eigentuemer_strasse").val(); }
   }
  });

  $("#job_eigentuemer_plz").autocomplete("/plz", {});
  $("#job_eigentuemer_ort").autocomplete("/cities", {
    extraParams: {
       plz: function() { return $("#job_eigentuemer_plz").val(); }
   }
  });
  $("#job_eigentuemer_strasse").autocomplete("/streets", {
    extraParams: {
       ort: function() { return $("#job_eigentuemer_ort").val(); }
   }
  });
  $("#job_eigentuemer_hausnummer").autocomplete("/street_numbers", {
    extraParams: {
       street: function() { return $("#job_eigentuemer_strasse").val(); }
   }
  });

  $("#job_kunde_is_eigentuemer").change(function(){
    if ($("#job_kunde_is_eigentuemer").prop("checked"))
      $("#eigentuemer_fields input").attr("disabled", true);
    else
      $("#eigentuemer_fields input").attr("disabled", false);
  });

})
</script>
<% end %>