<% page_param_name ||= "page" %>
<% search_param_name ||= "q" %>


<div class="scroll-area">
<table class="table" >
  <tr>
    <th class="first" style="width:150px"><%= sort_link_custom search_param_name, :ot_auftragsnummer, "OT-Nummer" %></th>
    <th><%= sort_link_custom search_param_name, :kunde_plz, "PLZ" %></th>
    <th><%= sort_link_custom search_param_name, :kunde_ort, "Ort" %></th>
    <th><%= sort_link_custom search_param_name, :kunde_strasse, "Strasse" %></th>
    <th><%= sort_link_custom search_param_name, :kunde_nachname, "Kunde" %></th>
    <th><%= sort_link_custom search_param_name, :kunde_telefon_privat, "Telefon" %></th>
    <th><%= sort_link_custom search_param_name, :kunde_telefon_mobil, "Mobile" %></th>
    <th><%= sort_link_custom search_param_name, :auftragsart, "Art" %></th>
    <th><%= sort_link_custom search_param_name, :status, "Status" %></th>
    <th><%= sort_link_custom search_param_name, :unbunled, "unbundled" %></th>
    <th><%= sort_link_custom search_param_name, :modemaktivierung, "Modemaktivierung" %></th>
    <th><%= sort_link_custom search_param_name, :verbindlicher_installationstermin, "verb. Termin" %></th>
    <th><%= sort_link_custom search_param_name, :wiedervorlage, "Wiedervorlage" %></th>
    <th><%= sort_link_custom search_param_name, :scheduled_by, "disponiert von" %></th>
    <th class="last">&nbsp;</th>
  </tr>
  <% jobs.each do |job| -%>
  <tr class="<%= cycle("odd", "even") %>, <%= 'erstauftrag' if (job.job_type && job.job_type.shortname == 'EA') %>">
    <td>
      <%= job.ot_auftragsnummer %>
    </td>
    <td>
      <%= job.kunde_plz %>
    </td>
    <td>
      <%= job.kunde_ort %>
    </td>
    <td>
      <%= job.kunde_strasse_full %>
    </td>
    <td>
      <%= job.kunde_name %>
    </td>
    <td>
      <%= job.kunde_telefon_privat %>
    </td>
    <td>
      <%= job.kunde_telefon_mobil %>
    </td>
    <td>
      <%= job.job_type.shortname if job.job_type %>
    </td>
    <td>
      <%= status_short(job.status)%>
    </td>
    <td>
      <%= job.unbunled %>
    </td>
    <td>
      <%= job.modemaktivierung %>
    </td>
    <td>
      <%= date_format job.verbindlicher_installationstermin %>
    </td>
    <td>
      <%= job.wiedervorlage %>
    </td>
    <td>
      <%= job.scheduled_by %>
    </td>
    <td class="last">
      <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), [current_view, job] %>
      <% if ["admin","scheduling"].include?(current_view) then %>
      	<%= link_to image_tag("/assets/icons/edit.png", :title=>"Bearbeiten", :alt=>"Bearbeiten"), [:edit, current_view, job]  %>
      	<%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen"), [current_view,job], :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}" if (current_view == "admin") %>
      <% end %>
    </td>
  </tr>
  <% end -%>
</table>
</div>
<div class="navform wat-cf">
  <div class="page-entries">
    <%= page_entries_info jobs %>
  </div>
  <%= will_paginate jobs, :param_name => page_param_name %>
</div>