<% exclude ||= [] %>
<%= select_tag "period-selection", options_for_select(StatisticsHelper.get_periods(:exclude => exclude),params[:period]), :class => "select graph-period"  %>
<%= content_for :bottom do %>
<script type="text/javascript"> 
$(function(){
  $('#period-selection').change(function(){
  	window.location.search = jQuery.query.set("period", $(this).val());
  });
});
</script>
<% end %>