 <label class="required"><%= title %></label>
<% if field then %>
<%if !field.to_s.include? "missing.png" %>
  <%= link_to(image_tag(field.url(:thumb), :class => "thumb") ,field.url, :class => "lightbox", :rel => "completion_photos", :title => title) %>
  <br/><br><br/><br><br/><br><br/><br>
  <% end %>
<span style="margin-left:180px">&nbsp;</span>
<% end %>
  <%= f.file_field field_symbol %>
</span>
<br/><br/>
