<% disabled = false unless defined?(disabled) %>

  <% if @photo.errors.any? %>
    <%= render :partial => "general/error_messages", :locals => { :current_model => @photo } %>
  <% end %>
 
<%= f.file_field :photo %>

<% begin %>  
<div class="navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "speichern")%> speichern
  </button>

<% if (!@photo.errors.any?) && (params[:action] != "new") then %>
  <%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen")+" löschen", [current_view, @photo], :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}", :class=>"button" %>
<% end %>
  <span class="text_button_padding"> oder </span>
  <%= link_to "abbrechen", [current_view, :photos], :class => "text_button_padding link_button" %>
</div>
<% end unless disabled %>