<% page_param_name ||= "page" %>
<% search_param_name ||= "q" %>
<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

 <table class="table">
        <tr>
          <th class="first" style="width:100px">OT&nbsp;Auftragsnummer</th>
          <th style="width:100%">Kunde</th>
          <th style="width:150px">erstellt am</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% service_jobs.each do |service_job| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= service_job.ot_auftragsnummer %>
          </td>
          <td>
            <%= service_job.kunde_string %>
          </td>
          <td>
            <%= service_job.created_at.strftime("%d.%m.%Y %H:%M") %>
          </td>
          <td class="last">
            <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), [current_view, service_job] %>
          </td>
        </tr>
        <% end -%>
      </table>
<div class="navform wat-cf">
  <div class="page-entries"><%= page_entries_info service_jobs %></div>
  <%= will_paginate service_jobs, :param_name => page_param_name %>
</div>