
<div id="canvasDiv" style="border:2px solid #aaa; background-color:white; cursor:pointer"></div>
<% if !disabled then %>
	<button type="button" class="button" id="clear-canvas">Feld löschen</button>
<% end %>
<%= f.text_field :signature, :style => "display:none" %>

<%= content_for :bottom do %>
<script type="text/javascript">
$(function(){

	var canvasWidth = $('#canvasDiv').width();
	var canvasHeight = 200;

	var canvasDiv = document.getElementById('canvasDiv');
	canvas = document.createElement('canvas');
	canvas.setAttribute('width', canvasWidth);
	canvas.setAttribute('height', canvasHeight);
	canvas.setAttribute('id', 'canvas');
	canvasDiv.appendChild(canvas);
	if(typeof G_vmlCanvasManager != 'undefined') {
		canvas = G_vmlCanvasManager.initElement(canvas);
	}
	context = canvas.getContext("2d");

<% if !disabled then %>
	$('#canvas').mousedown(function(e){
	  var mouseX = e.pageX - this.offsetLeft;
	  var mouseY = e.pageY - this.offsetTop;
			
	  paint = true;
	  addClick(e.pageX - this.offsetLeft, e.pageY - this.offsetTop);
	  addLine();
	});

	$('#clear-canvas').click(function(e){
		clearSignatureField();
	})

	$('#canvas').mousemove(function(e){
	  if(paint){
	    addClick(e.pageX - this.offsetLeft, e.pageY - this.offsetTop, true);
	    addLine();
	  }
	});

	$('#canvas').mouseup(function(e){
	  paint = false;
	});

	$('#canvas').mouseleave(function(e){
	  paint = false;
	});
<% end %>

	var clickX = new Array();
	var clickY = new Array();
	var clickDrag = new Array();
	var paint;

	if ($('#<%= model_name %>_signature').val())
		updateFromString($('#<%= model_name %>_signature').val());

	function addClick(x, y, dragging){
		clickX.push(x);
		clickY.push(y);
		clickDrag.push(dragging);
		updateTextField();
	}

	function clearSignatureField(){
		clickX = [];
		clickY = [];
		clickDrag = [];
		canvas.width = canvas.width; //redraw

		$('#<%= model_name %>_signature').val("");
	}

	function updateFromString(s){
		var parts = s.split(";");
		var xs = parts[0];
		var ys = parts[1];
		var drags = parts[2];
		
		clickX = xs.split(",");
		clickY = ys.split(",");
		clickDrag = _.map(drags.split(","), function(num){ if(num == 1) return true; });

		redraw();
	}

	function updateTextField(){

		var s = "";
		for (var i = 0 ; i < clickX.length ; i++)
		{
			s+=clickX[i]+","
		}
		s+=";"
		for (var i = 0 ; i < clickY.length ; i++)
		{
			s+=clickY[i]+","
		}
		s+=";"
		for (var i = 0 ; i < clickDrag.length ; i++)
		{
			if (clickDrag[i])
				s+="1,";
			else
				s+="0,";
		}
		s+=";"
		$('#<%= model_name %>_signature').val(s);
	}

	function redraw(){
	  canvas.width = canvas.width; // Clears the canvas
	  
	  context.strokeStyle = "#000";
	  context.lineJoin = "round";
	  context.lineWidth = 5;
				
	  for(var i=0; i < clickX.length; i++)
	  {		
	    context.beginPath();
	    if(clickDrag[i] && i){
	      context.moveTo(clickX[i-1], clickY[i-1]);
	     }else{
	       context.moveTo(clickX[i]-1, clickY[i]);
	     }
	     context.lineTo(clickX[i], clickY[i]);
	     context.closePath();
	     context.stroke();
	  }
	}

	function addLine(){
	  context.strokeStyle = "#000";
	  context.lineJoin = "round";
	  context.lineWidth = 5;
				
	  for(var i=clickX.length-1; i < clickX.length; i++)
	  {		
	    context.beginPath();
	    if(clickDrag[i] && i){
	      context.moveTo(clickX[i-1], clickY[i-1]);
	     }else{
	       context.moveTo(clickX[i]-1, clickY[i]);
	     }
	     context.lineTo(clickX[i], clickY[i]);
	     context.closePath();
	     context.stroke();
	  }
	}
});

</script>
<% end %> 