<% exclude ||= [] %>
<%= select_tag "technician-selection", options_for_select([["Alle Techniker","ALL"]]+ User.array_assigned_to_same_company(current_user), params[:technicians]), :class => "select" %>
<%= content_for :bottom do %>
<script type="text/javascript"> 
$(function(){
  $('#technician-selection').change(function(){
  	window.location.search = jQuery.query.set("technicians", $(this).val());
  });
});
</script>
<% end %>