<% disabled = false unless defined?(disabled) %>

  <% if @transfer_point.errors.any? %>
    <%= render :partial => "general/error_messages", :locals => { :current_model => @transfer_point } %>
  <% end %>

  <fieldset class="group" >
    <legend>Adresse</legend>
    <div class="cc">
        <%= simple_text_field(f, @transfer_point, :plz, "PLZ", disabled)  %>
        <%= simple_text_field(f, @transfer_point, :ort, "Ort", disabled)  %>
    </div>
    <div class="cc">
        <%= simple_text_field(f, @transfer_point, :strasse, "Strasse", disabled)  %>
        <%= simple_text_field(f, @transfer_point, :hausnummer, "Hausnummer", disabled)  %>
    </div>
  </fieldset>

  <fieldset class="group" >
    <legend>Technische Daten</legend>
    <div class="cc">
        <%= simple_text_field(f, @transfer_point, :typ, "ÜP-Typ", disabled)  %>
        <%= simple_text_field(f, @transfer_point, :zustand, "Zustand", disabled)  %>
        <%= simple_text_field(f, @transfer_point, :dienstverfuegbarkeit, "Dienstverfügbarkeit", disabled)  %>
    </div>
    <div class="cc">
      <%= simple_text_field(f, @transfer_point, :we_am_uep, "WE am ÜP", disabled)  %>
      <%= simple_text_field(f, @transfer_point, :aktive_kunden_am_uep, "aktive Kunden am ÜP", disabled)  %>
      <%= simple_date_select(f, @transfer_point, :inbetriebnahme, "Inbetriebnahme", nil, disabled) %>
    </div>
  </fieldset>

  <h2 class="title">Aufträge zu diesem ÜP</h2>
  <div class="inner">  
    <%= render :partial => "general/jobs_table", :locals => {:jobs => @transfer_point.jobs.paginate({:per_page => 5, :page => params[:page_new]})} %>
  </div>

<% begin %>        
<div class="navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "speichern") %> speichern
  </button>
  <span class="text_button_padding"> oder </span>
  <%= link_to "abbrechen", params[:fromPath] || [current_view, :transfer_points], :class => "text_button_padding link_button" %>
</div>
<% end unless disabled  %>