<% model_name ||= "completion" %>

<style type="text/css">
.progress{
	margin-right:5px;
}
.file_name{
	margin-right:5px;
}
.file_size{
	font-style:italic; 
}
</style>

<script type="text/javascript">
var queueBytesLoaded = 0;
var queueBytesTotal = 0;
var myQueue = null;

var queueChangeHandler = function(queue,uploader_id){
	// alert('Uploading Started');
	myQueue = queue;
	// console.log("COLLECTION CHANGE!");
	var list = document.getElementById('file_todo_list_'+uploader_id);
	// Clear out the old
	while (list.hasChildNodes()){list.removeChild(list.firstChild);}

	// Add the new
	for (i=0;i<queue.files.length;i++)
	{
		addFileToTodoList(queue.files[i].name, queue.files[i].size, i, uploader_id);
	}
	//start right away
	if (queue.files.length == 1){
		var uploader_object = eval("s3_swf_" + uploader_id + "_object")
		uploader_object.startUploading();
	}

};

var uploadingStartHandler = function(uploader_id){

	queueBytesTotal = 0;
	queueBytesLoaded = 0;
	for (i=0;i<myQueue.files.length;i++)
	{
		queueBytesTotal += parseInt(myQueue.files[i].size);
	}
	document.getElementById('queue_size_'+uploader_id).innerHTML = "uploading"; 

};

var uploadingFinishHandler = function(uploader_id){
//	document.getElementById('overall_'+uploader_id).firstChild.style.width = '100%';
//	document.getElementById('overall_'+uploader_id).firstChild.firstChild.innerHTML = 'finished';

	document.getElementById('queue_size_'+uploader_id).innerHTML = "finished"; //readableBytes(queueBytesTotal);

  //alert('All files have been successfully uploaded');
};

var queueClearHandler = function(queue,uploader_id){
	document.getElementById('overall_'+uploader_id).firstChild.style.display = 'none';
	document.getElementById('overall_'+uploader_id).firstChild.style.width = '0%';
	document.getElementById('overall_'+uploader_id).firstChild.firstChild.innerHTML = '0%';
	var list = document.getElementById('file_done_list_'+uploader_id);
	while (list.hasChildNodes()){list.removeChild(list.firstChild);}
};

var addFileToDoneList = function(file_name, file_size,uploader_id){
	var list = document.getElementById('file_done_list_'+uploader_id);
//	alert(list)
	
/*
	var li = document.createElement("span");
	li.innerHTML = 
		'<span class="progress"><span class="amount">100%</span></span>'+
		'<span class="file_name">'+file_name+'</span>'+
		'<span class="file_size">'+readableBytes(file_size)+'</span>';
	list.appendChild(li);
*/

	var span = document.createElement("span");
	span.innerHTML = '<img src="/assets/icons/accept.png" style="float:right; margin-top:8px; "/>';
	list.appendChild(span);
};

var addFileToTodoList = function(file_name, file_size, index,uploader_id){

	document.getElementById('queue_size_'+uploader_id).innerHTML = ""; 

	var list = document.getElementById('file_done_list_'+uploader_id);
	// Clear out the old
	while (list.hasChildNodes()){list.removeChild(list.firstChild);}


	list = document.getElementById('file_todo_list_'+uploader_id);
	
/*
	var li = document.createElement("span");
	li.innerHTML = 
		//'<span class="progress"><span class="amount">0%</span></span>'+
		'<span class="file_name">'+file_name+'</span>'+
		'<span class="file_size">'+readableBytes(file_size)+'</span>',
		//'<span class="delete" onclick="javascript:s3_swf_1_object.removeFileFromQueue('+index+');">Delete</span>';
	list.appendChild(li);
*/

	var span = document.createElement("span");
	span.innerHTML = '<img src="/assets/ajax-loader.gif" style="width:16px; height:16px; margin-top:8px; float:right"/>';
	list.appendChild(span);

};

var progressHandler = function(progress_event,uploader_id){
	document.getElementById('file_todo_list_'+uploader_id).firstChild.children[3].style.display = 'none';
	var current_percentage = Math.floor((parseInt(progress_event.bytesLoaded)/parseInt(progress_event.bytesTotal))*100)+'%';
	document.getElementById('file_todo_list_'+uploader_id).firstChild.firstChild.style.display = 'block';
	document.getElementById('file_todo_list_'+uploader_id).firstChild.firstChild.style.width = current_percentage;
	document.getElementById('file_todo_list_'+uploader_id).firstChild.firstChild.firstChild.innerHTML = current_percentage;

	var overall_percentage = Math.floor(((queueBytesLoaded+parseInt(progress_event.bytesLoaded))/queueBytesTotal)*100)+'%';
	document.getElementById('overall_'+uploader_id).firstChild.style.display = 'block';
	document.getElementById('overall_'+uploader_id).firstChild.style.width = overall_percentage;
	document.getElementById('overall_'+uploader_id).firstChild.firstChild.innerHTML = overall_percentage;
};

var uploadCompleteHandler = function(upload_options,event,uploader_id, field_name){
	document.getElementById('<%= model_name %>_'+field_name).value = upload_options.FileName;
	queueBytesLoaded += parseInt(upload_options.FileSize);
	addFileToDoneList(upload_options.FileName,upload_options.FileSize,uploader_id);
};

var readableBytes = function(bytes) {
	var s = ['bytes', 'kb', 'MB', 'GB', 'TB', 'PB'];
	var e = Math.floor(Math.log(bytes)/Math.log(1024));
	return (bytes/Math.pow(1024, Math.floor(e))).toFixed(2)+" "+s[e];
}
</script>