<%
	required ||= false
	no_access_option ||= false
	allow_non_images ||= false
	model_name ||= "completion"

	allowed_files = "*.jpg;*.jpeg;*.gif;*.png;" 
	button_image_name = "/flash/select_image.png"	

	if allow_non_images then
		allowed_files += "*.pdf"
		button_image_name = "/flash/select_file.png"	 
	end

	completion_type = ""
	completion_type = "ServiceCompletions/" if (completion.class.name == "ServiceCompletion")
%>
<div id="wrapper_<%= uploader_id %>">
	<table>
		<tr>
			<td style="margin:0px; width:580px">
	<label for="<%= "#{model_name}_#{field_name}" %>" class="label <%= 'required' if required %>" style="width:200px"><%= title %></label>
	<%= text_field_tag model_name+"[#{field_name}]", completion[field_name], :class => "text_field" %> 

	<div style="position: relative; left:5px; top:5px; width:580px">
	<%=raw s3_swf_upload_tag(
		:keyPrefix => completion_type+completion.job.id.to_s+'/'+field_name.to_s+'/',
		:queueSizeLimit => 1,
		:buttonUpPath => button_image_name,
		:buttonOverPath => button_image_name,
		:buttonDownPath => button_image_name,
		:buttonWidth => '140',
		:fileTypes => allowed_files,
	  :fileTypeDescs => 'Image files.',
		:onFileNotInQueue => "alert('File not found in the queue');",
		:onFileSizeLimitReached => "alert('Die Datei ist zu groß.');",
		:onQueueChange => "queueChangeHandler(queue,#{uploader_id});",
		:onQueueSizeLimitReached => "alert('Sie können immer nur eine Datei pro Feld hochladen.');",
		:onQueueEmpty => "alert('You gotta have at least one file in there');",
		:onQueueClear => "queueClearHandler(queue,#{uploader_id});",
		:onUploadingStart => "uploadingStartHandler(#{uploader_id});",
		:onUploadingFinish => "uploadingFinishHandler(#{uploader_id});",
		:onSignatureIOError => "alert('Ein Fehler ist aufgetreten. Probieren Sie es später nochmal oder wenden Sie sich an Ihren Administrator.');",
		:onSignatureXMLError => "alert('Ein Fehler ist aufgetreten. Probieren Sie es später nochmal oder wenden Sie sich an Ihren Administrator.');",
		:onSignatureSecurityError => "alert('Ein Fehler ist aufgetreten. Probieren Sie es später nochmal oder wenden Sie sich an Ihren Administrator.');",
		:onUploadError => "alert('Ein Fehler ist aufgetreten. Probieren Sie es später nochmal oder wenden Sie sich an Ihren Administrator.');",
		:onUploadIOError => "alert('Ein Fehler ist aufgetreten. Probieren Sie es später nochmal oder wenden Sie sich an Ihren Administrator.');",
		:onUploadSecurityError => "alert('Ein Fehler ist aufgetreten. Probieren Sie es später nochmal oder wenden Sie sich an Ihren Administrator.');",
		:onUploadProgress => "progressHandler(progress_event,#{uploader_id});",
		:onUploadComplete => "uploadCompleteHandler(upload_options,event,#{uploader_id},'#{field_name}');"
	) %>

		<span style="position:relative; top:-8px; left:8px;">
			<span id="file_done_list_<%= uploader_id %>" ></span>
			<span id="file_todo_list_<%= uploader_id %>" ></span>
		</span>
	</div>
</td>
<td>
	<% if no_access_option then %>
	<label style="margin-top:-10px; width:90px">Kein Zugang</label><%= form.check_box no_access_option.to_sym, :class=>"access-blocked" , :style=>"margin-top:-15px; margin-left:5px" %>
	<% end %>
</td></tr></table>

	<div id="queue_size_<%= uploader_id %>" style="display:none"></div>

	<div id="overall_<%= uploader_id %>" style="display:none"><span class="progress"><span class="amount"></span></span><span id="status"></span></div>

<!--
	<div>
		<input type="submit" id="StartButton" value="Hochladen" onclick="s3_swf_<%= uploader_id %>_object.startUploading();" />
		<input type="submit" id="ResetButton" value="X" onclick="s3_swf_<%= uploader_id %>_object.clearQueue();" />
	</div>
-->
<br>
