<% disabled = false unless defined?(disabled) %>

  <% if @days_of_absence.errors.any? %>
    <%= render :partial => "general/error_messages", :locals => { :current_model => @days_of_absence } %>
  <% end %>  

  <fieldset class="group" style="width:575px">
    <legend>Fehlzeit</legend>
    <div class="cc" style="width:560px">
      <%= simple_select(f, @days_of_absence, :cause_id, "Grund", [["Urlaub",1],["Krankheit",2]], disabled, true) %><br/><br/><br/><br/>
      <%= simple_date_select(f, @days_of_absence, :starting_point, "Beginn", nil, disabled, true)  %><br/>
      <%= simple_date_select(f, @days_of_absence, :end_point, "Ende", nil, disabled, true)  %>
    </div>
  </fieldset>
  
<% begin %>
<div class="navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "speichern")%> speichern
  </button>
  <% begin %>
  <%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen")+" löschen", [current_view, @days_of_absence.user, @days_of_absence], :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}", :class=>"button" %>
  <% end unless (params[:action] == "new") %>
</div>
<% end unless disabled %>
