       <div class="images-row"><span>Bilder:</span>
          
      <% if job.completion.messwerte_photo_file_name then %>
        <div class="uneditable-photo"><span>Messwerte-Screenshot</span>
        <%= link_to(image_tag(job.completion.messwerte_photo.url(:thumb)) ,job.completion.messwerte_photo.url, :class => "lightbox", :rel => "completion_photos", :title => "Messwerte-Screenshot") %>
        </div>
      <% end %>
      <% if job.completion.bvt_photo_file_name then %>
        <div class="uneditable-photo"><span>BVT</span>
        <%= link_to(image_tag(job.completion.bvt_photo.url(:thumb)) ,job.completion.bvt_photo.url, :class => "lightbox", :rel => "completion_photos", :title => "BVT") %>
        </div>
      <% end %>
      <% if job.completion.uep_photo_file_name then %>
        <div class="uneditable-photo"><span>ÜP</span>
        <%= link_to(image_tag(job.completion.uep_photo.url(:thumb)) ,job.completion.uep_photo.url, :class => "lightbox", :rel => "completion_photos", :title => "ÜP") %>
        </div>
      <% end %>
      <% if job.completion.pot_schiene_photo_file_name then %>
        <div class="uneditable-photo"><span>POT-Schiene</span>
        <%= link_to(image_tag(job.completion.pot_schiene_photo.url(:thumb)) ,job.completion.pot_schiene_photo.url, :class => "lightbox", :rel => "completion_photos", :title => "POT-Schiene") %>
        </div>
      <% end %>
      <% if job.completion.pot_gas_photo_file_name then %>
        <div class="uneditable-photo"><span>POT-GAS</span>
        <%= link_to(image_tag(job.completion.pot_gas_photo.url(:thumb)) ,job.completion.pot_gas_photo.url, :class => "lightbox", :rel => "completion_photos", :title => "POT-GAS") %>
        </div>
      <% end %>
      <% if job.completion.pot_wasser_photo_file_name then %>
        <div class="uneditable-photo"><span>POT-Wasser</span>
        <%= link_to(image_tag(job.completion.pot_wasser_photo.url(:thumb)) ,job.completion.pot_wasser_photo.url, :class => "lightbox", :rel => "completion_photos", :title => "POT-Wasser") %>
        </div>
      <% end %>
      <% if job.completion.pot_hak_photo_file_name then %>
        <div class="uneditable-photo"><span>POT-HAK</span>
        <%= link_to(image_tag(job.completion.pot_hak_photo.url(:thumb)) ,job.completion.pot_hak_photo.url, :class => "lightbox", :rel => "completion_photos", :title => "POT-HAK") %>
        </div>
      <% end %>
      <% if job.completion.pot_heizung_photo_file_name then %>
        <div class="uneditable-photo"><span>POT-Heizung</span>
        <%= link_to(image_tag(job.completion.pot_heizung_photo.url(:thumb)) ,job.completion.pot_heizung_photo.url, :class => "lightbox", :rel => "completion_photos", :title => "POT-Heizung") %>
        </div>
      <% end %>
      <% if job.completion.pot_oel_photo_file_name then %>
        <div class="uneditable-photo"><span>POT-Öl</span>
        <%= link_to(image_tag(job.completion.pot_oel_photo.url(:thumb)) ,job.completion.pot_oel_photo.url, :class => "lightbox", :rel => "completion_photos", :title => "POT-Öl") %>
        </div>
      <% end %>
      <% if job.completion.mmd_unbundled_photo_file_name then %>
        <div class="uneditable-photo"><span>MMD unbundled</span>
        <%= link_to(image_tag(job.completion.mmd_unbundled_photo.url(:thumb)) ,job.completion.mmd_unbundled_photo.url, :class => "lightbox", :rel => "completion_photos", :title => "MMD unbundled") %>
        </div>
      <% end %>
        </td>
        <td class="last" style="text-align:left">
           <%= link_to image_tag("/assets/icons/show.png")+"Auftrag anzeigen", scheduling_job_path(job), :class => "button", :style => "width:150px; text-left:center" %>
    <br/>
    <br/>
    <br/>
    <br/>
            
            <%= link_to image_tag("/assets/icons/application_edit.png")+"Abschluss bearbeiten", edit_scheduling_completion_path(job.completion), :class => "button", :style => "width:150px; text-left:center" %>
    <br/>
    <br/>
    <br/>
    <br/>
    <%= link_to image_tag("/assets/icons/PDF.png")+"Abschluss als PDF", "/#{ current_view}/completions/#{job.completion.id}/pdf", :class => "button", :style => "width:150px; text-left:center" %>
    <br/>
    <br/>
    <br/>
    <br/>
    <%= link_to image_tag("/assets/icons/application_put.png")+"Zip erstellen", [:get_zip, current_view, job.completion ], :class => "button", :style => "width:150px; text-left:center" %>
    <br/>
    <br/>
    <br/>
    <br/>  
    <%= link_to image_tag("/assets/icons/application_get.png")+"nach OMNITRACKER", [:get_zip, current_view, job.completion ], :class => "button", :style => "width:150px; text-left:center"%>

