<table style="float:left; position:fixed">
  <tr>
    <td>
      <%= render(:partial => "general/period_selection", :locals => {:exclude => ["FOREVER"]}) if @period_selection != false %>
    </td>
    <td>
      <% if !@is_pop_up then %><a href="#" id="pop-out" class="button" style="float:right; padding:5px 3px 5px 7px;"><%= image_tag("/assets/icons/application_go.png", :alt => "als extra Fenster", :title => "als extra Fenster") %></a><% end %>
    </td>
  </tr>
</table>
<br><br style="clear:both" />
<div id="jobs-per-period-chart" style="width: <%= @chart_width %>; height: 250px; margin: 0"></div> 

<%= content_for :bottom do %>
<script type="text/javascript"> 
$(function(){
  $('#pop-out').click(function(){
    window.open(addParamToUrl('<%= request.url %>','popup',1),"","menubar=no,width="+window.screen.width+",height="+window.screen.height+",toolbar=no");
  })

  var chart;
    jQuery(document).ready(function() {
      chart = new Highcharts.Chart({
        chart: {
          renderTo: 'jobs-per-period-chart',
          defaultSeriesType: 'line',
          marginBottom: 50
        },
        credits: {
        	enabled: false
        },
        title: {
          text: ' ',
          x: -20 //center
        },
        subtitle: {
          text: ' ',
          x: -20
        },
        xAxis: {
          categories: <%= to_js_array @jobs_per_period.collect{|d| d[:date]} %>
        },
        yAxis: {
          title: {
            text: 'Anzahl'
          },
          min: 0,
          plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
          }]
        },
        tooltip: {
          formatter: function() {
                      return '<b>'+ this.series.name +'</b><br/>'+
              this.x +': '+ this.y;
          }
        },
        
        legend: {
          layout: 'vertical',
          backgroundColor: '#FFFFFF',
          align: 'left',
          verticalAlign: 'top',
          x: 100,
          y: 0,
          floating: true,
          shadow: true
        },
        series: [{
          name: 'Erstinstallationen',
          data: <%= to_js_array @jobs_per_period.collect{|d| d[:ea_jobs]} %>
        },{
          name: 'Folgeinstallationen',
          data: <%= to_js_array @jobs_per_period.collect{|d| d[:fa_jobs]} %>
        },{
          name: 'Entstörungen',
          data: <%= to_js_array @jobs_per_period.collect{|d| d[:service_jobs]} %>
        }]
      });
      
      
    });
})
</script>
<% end %>
