<!DOCTYPE html>
<html>
<head>
	<title><%= Settings.PRODUCT_NAME %></title>
	<%= stylesheet_link_tag "application" %>
	<%= csrf_meta_tag %>
</head>
<body style="background-color:white;">
	<div id="header" style="background-color:white;  border-bottom: 2px solid #aaa; height: 90px">
		<a href="/"><%= image_tag "logo.png", :style => "width:500px; position:relative; top:15px" %></a>
	</div>
	<div class="login-form">
		<h2 class="header">Zugriffsfehler</h2>
		<p>Sie versuchen auf einen Datensatz zuzugreifen der nicht existiert. </p>
		<p>Eventuell haben Sie auch nicht die benötigten Rechte, um auf diesen Datensatz zuzugreifen.</p>
		<p>Wenn Sie sicher sind, dass der Datensatz vorhanden ist und Sie die benötigten Zugriffsrechte haben, versuchen Sie es später noch einmal oder wenden Sie sich an Ihren Administrator.</p>
	</div>
	<%= javascript_include_tag "application" %>
</body>
<html>