<table style="float:left; position:fixed;">
  <tr>
    <td>
      <%= render "general/period_selection" if @period_selection != false %>
    </td>
    <td>
      <%= render "general/technician_selection" if @user_selection != false %>
    </td>
    <td>
      <% if !@is_pop_up then %><a href="#" id="pop-out" class="button" style="float:right; padding:5px 3px 5px 7px;"><%= image_tag("/assets/icons/application_go.png", :alt => "als extra Fenster", :title => "als extra Fenster") %></a><% end %>
    </td>
  </tr>
</table>
<br/><br style="clear:both" />
<div id="charts-quotes-per-technician" style="width: <%= @chart_width %>; height: 250px; margin: 0"></div> 
</div>
<% @quotes_per_technician.each_with_index do |q, i| %>
  <%= hidden_field_tag "user_#{i}", q[:user_id] %>
<% end %>
<% content_for :bottom do %>
<script type="text/javascript"> 
$(function(){
  $('#pop-out').click(function(){
    window.open(addParamToUrl('<%= request.url %>','popup',1),"","menubar=no,width="+window.screen.width+",height="+window.screen.height+",toolbar=no");
  })
})	

var chart;
jQuery(document).ready(function() {
  chart = new Highcharts.Chart({
    chart: {
      renderTo: 'charts-quotes-per-technician',
      defaultSeriesType: 'column'
    },
    title: {
      text: ''
    },
    subtitle: {
      text: ''
    },
    credits: {
        	enabled: false
    },
    xAxis: {
      categories: <%= to_js_array @quotes_per_technician.collect{|q| "'"+q[:user_name]+"'" } %>,

      labels: {
        style: {
          cursor: 'pointer',     
          'text-decoration': 'underline',
          color: '#315984'
        }
      },
    },
    yAxis: {
      min: 0,
      title: {
        text: 'Anzahl'
      }

    },
    legend: {
      layout: 'vertical',
      backgroundColor: '#FFFFFF',
      align: 'left',
      verticalAlign: 'top',
      x: 100,
      y: 0,
      floating: true,
      shadow: true
    },
    tooltip: {
      formatter: function() {
        return ''+
        this.x +': '+ this.y;
      }
    },
    plotOptions: {
      column: {
        pointPadding: 0.2,
        borderWidth: 0
      }
    },
    series: [{
      name: 'Termine',
      data: <%= to_js_array @quotes_per_technician.collect{|q| q[:number_of_appointments] } %>
      
    }, 
    {
      name: 'Abschlüsse',
      data: <%= to_js_array @quotes_per_technician.collect{|q| q[:number_of_completions] } %>
      
    }, {
      name: 'Klärungsfälle',
      data: <%= to_js_array @quotes_per_technician.collect{|q| q[:number_of_cancellations] } %>
      
    }, {
      name: 'Auftragsanfragen',
      data: <%= to_js_array @quotes_per_technician.collect{|q| q[:number_of_appointment_requests] } %>
      
    }]
  });
});
$(function(){
  $(".highcharts-axis:first text").each(function(i, label){
    var user = $("#user_"+i).val();
    $(label).click(function(){
      if ("<%=current_view%>" != "service" && "<%=current_view%>" != "scheduling")
        window.open( "service_users/"+user, '_parent');
    })
  })
})
</script>
<% end %>
