<table style="float:left; position:fixed">
  <tr>
    <td>
      <%= render "general/period_selection" if @period_selection != false %>
    </td>
    <td>
      <% if !@is_pop_up then %><a href="#" id="pop-out" class="button" style="float:right; padding:5px 3px 5px 7px;"><%= image_tag("/assets/icons/application_go.png", :alt => "als extra Fenster", :title => "als extra Fenster") %></a><% end %>
    </td>
  </tr>
</table>
<br><br style="clear:both" />

<div id="charts" style="width: <%= @chart_width %>; height: 250px; "></div> 
<!--
<div class="success-quotes">
<span style="padding-right:220px"><%= @quotes_per_job_type[:all][0].to_f == 0 ? 0 : ((@quotes_per_job_type[:succesfull][0].to_f / @quotes_per_job_type[:all][0].to_f) *100).to_i.to_s+"%" %></span>
<span style="padding-right:220px"><%= @quotes_per_job_type[:all][1].to_f == 0 ? 0 : ((@quotes_per_job_type[:succesfull][1].to_f / @quotes_per_job_type[:all][1].to_f) *100).to_i.to_s+"%" %></span>
<span><%= @quotes_per_job_type[:all][2].to_f == 0 ? 0 : ((@quotes_per_job_type[:succesfull][2].to_f / @quotes_per_job_type[:all][2].to_f) *100).to_i.to_s+"%" %></span>
</div>
-->
<% content_for :bottom do %>
<script type="text/javascript"> 
  var chart;
  $(document).ready(function() {
    $('#pop-out').click(function(){
    window.open(addParamToUrl('<%= request.url %>','popup',1),"","menubar=no,width="+window.screen.width+",height="+window.screen.height+",toolbar=no");
    })

    chart = new Highcharts.Chart({
      chart: {
        renderTo: 'charts',
        defaultSeriesType: 'column'
      },
      title: {
        text: ''
      },
      subtitle: {
        text: ''
      },
      credits: {
        	enabled: false
      },
      xAxis: {
        categories: [
          'Erstinstallationen', 
          'Folgeinstallationen', 
          'Entstörungen', 
        ]
      },
      yAxis: {
        min: 0,
        title: {
          text: 'Anzahl'
        }
      },
      legend: {
        borderColor: 'white'
/*
        layout: 'vertical',
        backgroundColor: '#FFFFFF',
        align: 'left',
        verticalAlign: 'top',
        x: 100,
        y: 70,
        floating: true,
        shadow: true
*/
      },
      tooltip: {
        formatter: function() {
          return ''+
            this.x +': '+ this.y;
        }
      },
      plotOptions: {
        column: {
          pointPadding: 0.2,
          borderWidth: 0
        }
      },
            series: [{
        name: 'erfolgreich',
        data: <%= to_js_array(@quotes_per_job_type[:succesfull])  %>
    
      }, {
        name: 'gesamt',
        data: <%= to_js_array(@quotes_per_job_type[:all])  %>
    
      }]
    });    
  });
</script> 
<% end %>