<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN""http://www.w3.org/TR/html4/loose.dtd"><html>
<head>
	<title>Neuer Termin</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"></head>
	<body>
		<div style="width:100%">
			<div style="width:1200px; margin-left:auto; margin-right:auto">
				<h1> Auftrags-Import abgeschlossen</h1>

				<% if @new_jobs.blank? then %>
				<h2>Keine NEUEN Aufträge enthalten.</h2><br/>
				<% else %>     
				<h2 class="title"><%= @new_jobs.length %> neue Aufträge</h2>
				<div class="inner">  

					<table class="table" >
						<tr>             
							<th class="first" style="width:150px">Auftragsnummer</th>
							<th>Links</th>
							<th class="last"></th>
						</tr>
						<% @new_jobs.each do |j| -%>
						<tr class="<%= cycle("odd", "even") %>">
							<td>
								<%= j["job"].ot_auftragsnummer %>
							</td>
							<td>
								<%= link_to("CT", "http://localhost:3000/scheduling/service_jobs/#{j["job"].id}") %> 
								<%= link_to("OT", Settings.OT_DETAILS_URL.gsub("##ID##",j["id"].to_s)) %><br/>
							</td>
							<td class="last">
							</td>
						</tr>          
						<% end -%>
					</table>
				</div>
				<% end %>
				<% if !@existing_jobs.blank? then %>
				<h2>Bereits existierende Aufträge</h2>
				<div class="inner">  
					<span>Folgende Aufträge konnten nicht importiert werden, da sie bereits im CT vorhanden sind:</span><br/>
					<% @existing_jobs.each do |j| %>
					CT: <%= link_to(j["job"].ot_auftragsnummer, "http://localhost:3000/scheduling/service_jobs/#{j["job"].id}") %>
					OT: <%= link_to(j["auftragsnummer"], Settings.OT_DETAILS_URL.gsub("##ID##",j["id"].to_s)) %><br/>
					<% end %>
				</div>
				<% end %>

				<% if !@blocked_jobs.blank? then %>
				<h2>Nicht blockierte Aufträge</h2>
				<div class="inner">  
					<span>Folgende Aufträge konnten nicht importiert werden, da sie im OT geblockt sind:</span><br/>
					<% @blocked_jobs.each do |j| %>
					<%= link_to(j["auftragsnummer"], Settings.OT_DETAILS_URL.gsub("##ID##",j["id"].to_s))%><br/>
					<% end %>
				</div>
				<% end %>

			</div>
		</div>
	</body>
	</html>
