<li class="first <%= params[:action]  == 'index' ? 'active' : '' %>"><%= link_to "Alle Modem", admin_modem_types_path %></li>
<li class="<%= params[:action] == 'new' ? 'active' : '' %>"><%= link_to "Neues Modem anlegen", new_admin_modem_type_path %></li>
<% if params[:action] == 'edit' then %>
<li class="active"><%= link_to "Modem bearbeiten", edit_admin_modem_type_path %></li>
<% end %>
<% if params[:action] == 'show' then %>
<li class="active"><%= link_to "Modemansicht", admin_modem_type_path %></li>
<% end %>

