<% disabled = false unless defined?(disabled) %>
<div class="block">
<div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "users/sub_menu" %>  
    </ul>
  </div>   
  <div class="content">            
    <h2 class="title">Benutzerdaten</h2>
    <div class="inner">
    

    <%= form_for(@user) do |f| %>
 
  <% if @user.errors.any? %>
    <%= render :partial => "general/error_messages", :locals => { :current_model => @user } %>
  <% end %>
  


  <fieldset class="group">
    <legend>Kontaktdaten</legend>
    <div class="cc">
      <p><%= f.label :vorname %></p>
      <p><%= f.text_field :vorname, :disabled => disabled %></p>
      <p><%= f.label :nachname %></p>
      <p><%= f.text_field :nachname, :disabled => disabled %></p>
      <p><%= f.label :telefon %></p>
      <p><%= f.text_field :telefon, :disabled => disabled %></p>
      <p><%= f.label :telefon_mobil %></p>
      <p><%= f.text_field :telefon_mobil, :disabled => disabled %></p>
      <p><%= f.label :email %></p>
      <p><%= f.text_field :email, :disabled => disabled %></p>
      <p><%= f.label :plz %></p>
      <p><%= f.text_field :plz, :disabled => disabled %></p>
      <p><%= f.label :ort %></p>
      <p><%= f.text_field :ort, :disabled => disabled %></p>
      <p><%= f.label :strasse %></p>
      <p><%= f.text_field :strasse, :disabled => disabled %></p>
      <p><%= f.label :hausnummer %></p>
      <p><%= f.text_field :hausnummer, :disabled => disabled %></p>
    </div>
  </fieldset>
   <fieldset class="group">
    <legend>Unterschrift</legend>
    <div>
 <div class="c padding-20">
    <% if !disabled then %>
    <h1>Bitte hier unterschreiben (mit Maus oder Pen):</h1>
    <% end %>
    <%= render :partial => "general/signature_field", :locals => {:f => f, :disabled => disabled, :model_name => "user"} %>
    </div>

  </fieldset>
<% if !disabled then %>
<br/>
<div class="navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "speichern") %> speichern
  </button>
  <span class="text_button_padding"> oder </span>
  <%= link_to "abbrechen", "/", :class => "text_button_padding link_button", :style=>"color:red"%>
</div>
<% end %>

<% end %>


    </div>
  </div>
</div>