<li class="first <%= params[:controller] == "devise/registrations" && params[:action]  == 'edit' ? 'active' : '' %>"><%= link_to "Anmeldung & Passwort", "/d/registration/edit" %></li>
<li class="<%= params[:controller] == "users" && params[:action]  == 'edit' ? 'active' : '' %>"><%= link_to "Benutzerdaten", edit_user_path(current_user) %></li>
