<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title">Alle Benutzer</h2>
    <div class="inner">
      <table class="table">
        <tr>             

    <th class="first" >Vorname</th>
    <th>Nachname</th>
    <th>Telefon</th>
    <th>Telefon mobil</th>
    <th>Plz</th>
    <th>Ort</th>
    <th>Strasse</th>
    <th>Hausnummer</th>
    <th class="last">&nbsp;</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.vorname %></td>
    <td><%= user.nachname %></td>
    <td><%= user.telefon %></td>
    <td><%= user.telefon_mobil %></td>
    <td><%= user.plz %></td>
    <td><%= user.ort %></td>
    <td><%= user.strasse %></td>
    <td><%= user.hausnummer %></td>
    <td class="last">
        <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), user_path(user) %>
        <%= link_to image_tag("/assets/icons/edit.png", :title=>"Bearbeiten", :alt=>"Bearbeiten"), edit_user_path(user) %>
        <%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen"), user_path(user), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}" %>
      </td>
  </tr>
<% end %>
   </table>
        <%= page_entries_info %><br/><br/><br/>
        <%= will_paginate @posts %><br/><br/><br/>
        <%= link_to '', new_user_path, :class=>"btn" %>


     
<div class=" navform wat-cf">
  <a href="<%= new_user_path %>" class="button" type="submit">
    <%= image_tag("/assets/icons/user_add.png", :alt => "Benutzer anlegen") %> Benutzer anlegen
  </a>
</div>


    </div>
  </div>
</div>

