<li class="first <%= controller.controller_path == 'scheduling_leader/base' ? 'active' : '' %>"><%= link_to "Übersicht", scheduling_leader_path %></li>
<li class="<%= controller.controller_path == 'scheduling_leader/clients' ? 'active' : '' %>"><%= link_to "Mandanten", scheduling_leader_clients_path %></li>


<li>
	<a href="#">Disponentenverwaltung</a>
	<ul class="submenu">
		<li class="<%= controller.controller_path == 'scheduling_leader/scheduling_users' ? 'active' : '' %>"><%= link_to "Disponenten", scheduling_leader_scheduling_users_path %></li>
		<li class="<%= controller.controller_path == 'scheduling_leader/scheduling_user_groups' ? 'active' : '' %>"><%= link_to "Disponentengruppen", scheduling_leader_scheduling_user_groups_path %></li>
	</ul>
</li>

<li>
	<a href="#">Technikerverwaltung</a>
	<ul class="submenu">
		<li class="<%= controller.controller_path == 'scheduling_leader/service_users' ? 'active' : '' %>"><%= link_to "Techniker", scheduling_leader_service_users_path %></li>
		<li class="<%= controller.controller_path == 'scheduling_leader/service_user_groups' ? 'active' : '' %>"><%= link_to "Technikergruppen", scheduling_leader_service_user_groups_path %></li>
	</ul>
</li>





<li class="<%= controller.controller_path == 'scheduling_leader/automatic_workflow_items' ? 'active' : '' %>"><%= link_to "Automatische Abläufe", scheduling_leader_automatic_workflow_items_path %></li>