<div id="short-info">
<%= link_to("ZDE: #{@job_count_by_status['ZDE']}","/#{current_view}/jobs?q[status_eq]=0") %>, 
<%= link_to("DI: #{@job_count_by_status['DI']}","/#{current_view}/jobs?q[status_eq]=1") %>, 
<%= link_to("WK: #{@job_count_by_status['WK']}","/#{current_view}/jobs?q[status_eq]=2") %>, 
<%= link_to("AG: #{@job_count_by_status['AG']}","/#{current_view}/jobs?q[status_eq]=3") %>, 
<%= link_to("TA: #{@job_count_by_status['TA']}","/#{current_view}/jobs?q[status_eq]=4") %>,
<%= link_to("OM: #{@job_count_by_status['OM']}","/#{current_view}/jobs?q[status_eq]=5") %>
</div>