Ihr gemeldetes Problem wurde behoben.

Zusammenfassung Ihrer Meldung:
	Problem gemeldet von: <%= @bug.user %>
	E-Mail: <%= @bug.email %>
	Problem: <%= @bug.bug %>
	Ort: <%= @bug.location %>
	Beschreibung: <%= @bug.description %>
