<h1>Ihr gemeldetes Problem wurde behoben.</h1>

<h2>Zusammenfassung Ihrer Meldung:</h2>
<div class="bug">
	<div><b>Problem gemeldet von:</b> <%= @bug.user %></div>
	<div style="margin-bottom: 10px;"><b>E-Mail:</b> <a href="mailto:<%= @bug.email %>"><%= @bug.email %></a></div>
	<div><b>Problem:</b> <%= @bug.bug %></div>
	<div><b>Ort:</b> <%= @bug.location %></div>
	<div><b>Beschreibung:</b> <%= @bug.description %></div>
</div>