Neue Problem-Meldung beim Cabletracker

Problem gemeldet von: <%= @bug.user %>
	E-Mail: <%= @bug.email %>
	Problem: <%= @bug.bug %>
	Ort: <%= @bug.location %>
	Beschreibung: <%= @bug.description %>
