<% if false %>
<li class="first <%= params[:action]  == 'calendar' ? 'active' : '' %>"><%= link_to "Kalender", calendar_scheduling_appointments_path %></li>
<li class="<%= params[:action]  == 'open' ? 'active' : '' %>"><%= link_to "Offene Termine", open_scheduling_appointments_path %></li>
<li class="<%= params[:action]  == 'index' ? 'active' : '' %>"><%= link_to "Alle Termine", scheduling_appointments_path %></li>
<% end %>
<% if params[:action] == 'edit' then %>
<li class="active"><%= link_to "Termin bearbeiten", edit_scheduling_appointment_path %></li>
<% end %>
<% if params[:action] == 'show' then %>
<li class="active"><%= link_to "Terminansicht", scheduling_appointment_path %></li>
<% end %>

