

<ul data-role="listview" data-theme="g">
<% appointments.each do |a| -%>
  <li class="<%= cycle("odd", "even") %>">
	<a href="<%= url_for(["mobile", a]) %>">
		<h2><%= a.start_time.strftime('%H:%M')+"-"+a.end_time.strftime('%H:%M') %> <%= a.job.job_type.name %></h2>
		<p><%= a.job.kunde_name %></p>
		<p><%= a.job.adresse_short %></p>
		<p><%= a.job.kunde_telefon %></p>
	</a>
  </li>          
  <% end -%>
</ul>
<br/>