<li class="first <%= params[:action]  == 'index' ? 'active' : '' %>"><%= link_to "Meine erledigten Aufträge", service_jobs_path %></li>
<% if params[:action] == 'show' then %>
<li class="active"><%= link_to "Auftragsansicht", service_job_path %></li>
<% end %>