
<center>
<br/>
	<h2>Meine Termine <%= (@day == Date.today) ? "heute" : "am #{@day.strftime("%d.%m.%Y")}" %></h2>

<div style="width:*;">
<div class="ui-grid-c" style="width:250px;">
	<div class="ui-block-a">
	<center>
		<a href="/mobile/appointments?day=<%= (@day-1.day).strftime('%d.%m.%Y') %>" data-role="button" data-inline="true" data-direction="reverse"><</a>
	</center>
	</div>
	<div class="ui-block-b"  style="margin-left:0px;width:105px">
	<center>
		<a href="/mobile/appointments?day=<%= Date.today.strftime('%d.%m.%Y') %>" data-role="button"  data-theme="b" data-inline="true" style="width:100px">heute</a>
	</center>
	</div>
	<div class="ui-block-c">
	<center>
		<a href="/mobile/appointments?day=<%= (@day+1.day).strftime('%d.%m.%Y') %>" data-role="button" data-inline="true">></a>
	</center>
	</div>
</div>
</div>
<br/>
<%= render :partial => "appointments", :locals => {:appointments => @appointments} %>

