
<div id='map' style='height:440px;width:380px'></div>


<script src="http://maps.google.com/maps?file=api&v=2&sensor=true&key=ABQIAAAA4oFpULlE5i-cLJHnkwt5ShQ2XrxOp3gmcZkm9jUXugUU1ZNDXhTBSLDIqJk5A_mZ9h9WjSFpPLiGmg" type="text/javascript"></script> 
<script type="text/javascript"> 
$(function(){
	initMap();
})


function initMap(){
	showMapForLocation('<%= @appointment.job.kunde_strasse+" "+@appointment.job.kunde_hausnummer+", "+@appointment.job.kunde_ort %>', '<%= @appointment.job.kunde_strasse+" "+@appointment.job.kunde_hausnummer+", "+@appointment.job.kunde_ort %>');
}

function showMapForLocation(name, adress) {
    name = name.replace("/","'");
    adress = adress.replace("/","'");
 	
   if (GBrowserIsCompatible()) {
		var directions;
		var map = new GMap2(document.getElementById("map"));
		map.addControl(new GSmallMapControl());
		map.addControl(new GMapTypeControl());

		var geocoder = new GClientGeocoder();
		function showAddress(titel,addressto, addressfrom) {
			geocoder.getLatLng(
				addressto,
				function(point) {
					if (!point) {
						document.getElementById("map").style.display="none";
					} else {

						directions = new GDirections(map);	
						directions.load("from: "+addressfrom+" to: "+addressto);
	         
						map.setCenter(point, 13);

						var infoTabs = [ 
							new GInfoWindowTab(name, "<b>"+name+"</b><br />"+addressto)
						];

						var marker = new GMarker(point);
						GEvent.addListener(marker, "click", function() {
							marker.openInfoWindowTabsHtml(infoTabs);
						});
						map.addOverlay(marker);
						marker.openInfoWindowTabsHtml(infoTabs);
					}
				}
			);
		}
	}
	
	showAddress(name, adress, "");	
}
</script>