<style type="text/css">
table td{
  width:200px;
  font-size:15px;
}
</style>
<h1>Auftrag: <%= @appointment.job.ot_auftragsnummer %></h1>
 <table class="panel">
<tr><td colspan="2"><h2>Termin</h2></td></tr>
      <tr><td class="name">Uhrzeit:</td><td class="value"><%= @appointment.start_time.strftime("%H:%M") %> - <%= @appointment.end_time.strftime("%H:%M") %></td></tr>


<tr><td colspan="2"><h2>Adresse</h2></td></tr>
      <tr><td class="name">PLZ:</td><td class="value"><%= @appointment.job.kunde_plz %></td></tr>
      <tr><td class="name">Ort:</td><td class="value"><%= @appointment.job.kunde_ort %></td></tr>
      <tr><td class="name">Strasse:</td><td class="value"><%= link_to "#{@appointment.job.kunde_strasse} #{@appointment.job.kunde_hausnummer}", map_mobile_appointment_path(@appointment), "data-ajax" => "false" %></td></tr>     
      <tr><td class="name">Kunde:</td><td class="value"><%= @appointment.job.kunde_name %></td></tr>

<tr><td colspan="2"><h2>Kontakt</h2></td></tr>
      <tr><td class="name">privat:</td><td class="value"><%= link_to_phone @appointment.job.kunde_telefon_privat %></td></tr>
      <tr><td class="name">geschäftlich:</td><td class="value"><%= link_to_phone @appointment.job.kunde_telefon_geschaeftlich %></td></tr>
      <tr><td class="name">mobil:</td><td class="value"><%= link_to_phone @appointment.job.kunde_telefon_mobil %></td></tr>
      <tr><td class="name">email:</td><td class="value"><%= link_to_email @appointment.job.kunde_email %></td></tr>

<tr><td colspan="2"><h2>Auftragsdaten</h2></td></tr>
      <tr><td class="name">OT-Auftragsnummer:</td><td class="value"><%= @appointment.job.ot_auftragsnummer %></td></tr>
      <tr><td class="name">Workorder:</td><td class="value"><%= @appointment.job.workorder %></td></tr>
      <tr><td class="name">Kundennummer:</td><td class="value"><%= @appointment.job.kunde_kundennummer %></td></tr>
      <tr><td class="name">Auftragsart:</td><td class="value"><%= @appointment.job.job_type.name %></td></tr>
</table>

<%= link_to "Mehraufwand verwalten", mobile_appointment_special_expenses_path(@appointment), "data-role" => "button", "data-inline"=>"true", :style => "margin:10px" %>
