<% disabled = false unless defined?(disabled) %>

<% if @service_appointment.errors.any? %>
<%= render :partial => "general/error_messages", :locals => { :current_model => @service_appointment } %>
<% end %>  

<fieldset class="group">
  <legend>Termindetails</legend>
  <div class="cc" style="width:900px">
    <% if @service_job then %>
    <%= hidden_field :service_appointment, :service_job_id, :value => @service_job.id %>
    <% else %>
    <% if disabled then %>
    <%= f.label :service_job_id, "Auftrag", :class => :label %>
    <%= link_to @service_appointment.service_job.short, [current_view, @service_appointment.service_job], :class => "link" %>
    <% else %>
    <%= simple_select(f, @service_appointment, :service_job_id, "Auftrag", Job.all.collect {|p| [ p.short_description, p.id ] }, disabled) %> 
    <%= link_to "-> Auftragsansicht", [current_view, @service_appointment.service_job], :style => " margin-left:10px" %>

    <% end %>
    <% end %>
    <br class="clear"/><br/>
    <%= simple_date_select(f, @service_appointment, :day, "Tag", nil, disabled) %>
    <br class="clear"/><br/>
    <%= simple_time_select(f, @service_appointment, :start_time, "Beginn", nil, disabled) %>
    <br class="clear"/><br/>
    <%= simple_time_select(f, @service_appointment, :end_time, "Ende", nil, disabled) %>
    <br class="clear"/><br/>
    <% if !disabled then %>
    <%= f.label :user_id, "Techniker", :class => :label %>
    <% 
    opt = Hash.new
    pc = PostalCode.where(:code => @service_appointment.service_job.kunde_plz)[0] 
    if (!pc.blank?) then
      pc.service_user_groups.each do |sug|
        users = sug.users.collect{|u| [u.full_name, u.id] }
        opt.merge!({sug.name => users})
      end
    end
    opt.merge!({"zuständige Techniker" => User.service.assigned_to_company(@service_job.client).collect{|p| [ p.full_name_and_companies, p.id ]}.sort{|a,b| a <=> b}})

    %>
    <%= f.select(:user_id, grouped_options_for_select(opt,@service_appointment.user_id), {:include_blank => '-'}, :class => 'select', :disabled => disabled)
    %>
    <%= image_tag "/assets/icons/date.png", :id => "open-calendar-pop-up", :class => "calender-popup-button" %>
    <% else %>
    <%= f.label :user_id, "Techniker", :class => :label %>
    <%= link_to @service_appointment.user.full_name, [current_view, @service_appointment.user] %>
    <% end %>
    <% if (!pc.blank?) then %>
    <br class="clear"/>
    <%= f.label :service_user_groups, "zuständige Technikergruppen", :class => :label %>
    <% pc.service_user_groups.each do |sug| %>
    <a href="#" style="position:relative; top:-24px" data-service-user-group-id="<%= sug.id %>" class="service-user-group-link"><%= sug.name %>
      <%= image_tag "/icons/date.png", :id => "open-calendar-pop-up", :class => "calender-popup-button", :style => "position:relative; top:10px" %></a>
      <% end %>
      <% end %>
      <br class="clear"/><br/>


      <%= f.label :bemerkungen, t("activerecord.attributes.service_appointment.bemerkungen", :default => "Bemerkungen"), :class => :label %>
      <%= f.text_area :bemerkungen, :class => 'text_area', :style => "width:500px", :disabled => disabled %>

      <%= simple_boolean_select(f, @service_appointment, :high_priority, "Hohe Priorität", disabled, false, false) %>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <% if (params[:action] == "new" || params[:action] == "edit") then %>
      <span class="simple-field" style="display:block">
        <label class="label" for="update_ot">OT Updaten</label>
        <%= check_box_tag 'update_ot', '1', params[:update_ot] %>
      </span>
      <% end %>

    </div>
  </fieldset>
  <% begin %>  
  <div class="navform wat-cf">
    <button class="button" type="submit">
      <%= image_tag("web-app-theme/icons/tick.png", :alt => "speichern")%> speichern
    </button>

    <% if (["admin","scheduling"].include?(current_view)) && (!@service_appointment.errors.any?) && (params[:action] != "new") && !@service_appointment.processed_already? then %>
    <%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen")+" löschen", [current_view, @service_appointment], :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}", :class=>"button" %>
    <% end %>
    <span class="text_button_padding"> oder </span>
    <%= link_to "abbrechen", [current_view, @service_appointment], :class => "text_button_padding link_button" %>
  </div>
  <% end unless disabled %>


  <%= content_for :bottom do %>
  <script type="text/javascript">
  function updateView(){
    if($('#service_appointment_user_id').val())
      $('#open-calendar-pop-up').attr("src", "<%=asset_path 'icons/date.png' %>");
    else
      $('#open-calendar-pop-up').attr("src", "<%=asset_path 'icons/date_disabled.png' %>");
  }

  $(function(){
    updateView();

    $('#service_appointment_user_id').change(function(){
      updateView();
    });

    $('#open-calendar-pop-up').click(function(){
      var userId = $('#service_appointment_user_id').val();
      if(userId)
        window.open("/scheduling/service_users/"+userId+"/appointments_pop_up","Kalender",
          "menubar=no,width=900,height=640,toolbar=no");
    });

    $('.service-user-group-link').click(function(){
      var userGroupId = $(this).attr('data-service-user-group-id');
      if(userGroupId)
        window.open("/scheduling/service_user_groups/"+userGroupId+"/appointments_pop_up","Kalender",
          "menubar=no,width=900,height=640,toolbar=no");
    });

    $('#service_appointment_start_time_1i').change(function(){ checkStartBeforeEnde(); });
    $('#service_appointment_start_time_2i').change(function(){ checkStartBeforeEnde(); });
    $('#service_appointment_start_time_3i').change(function(){ checkStartBeforeEnde(); });
    $('#service_appointment_start_time_4i').change(function(){ checkStartBeforeEnde(); });
    $('#service_appointment_start_time_5i').change(function(){ checkStartBeforeEnde(); });

  });

function checkStartBeforeEnde(){
  var start = new Date($('#service_appointment_start_time_1i').val(), $('#service_appointment_start_time_2i').val()-1, $('#service_appointment_start_time_3i').val(), $('#service_appointment_start_time_4i').val(), $('#service_appointment_start_time_5i').val(), 0, 0);
  
  var ende = new Date($('#service_appointment_end_time_1i').val(), $('#service_appointment_end_time_2i').val()-1, $('#service_appointment_end_time_3i').val(), $('#service_appointment_end_time_4i').val(), $('#service_appointment_end_time_5i').val(), 0, 0);
  if (start > ende){ //set ende = start
    $('#service_appointment_end_time_1i').val($('#service_appointment_start_time_1i').val());
    $('#service_appointment_end_time_2i').val($('#service_appointment_start_time_2i').val());
    $('#service_appointment_end_time_3i').val($('#service_appointment_start_time_3i').val());
    $('#service_appointment_end_time_4i').val($('#service_appointment_start_time_4i').val());
    $('#service_appointment_end_time_5i').val($('#service_appointment_start_time_5i').val());
  }

}
</script>
<% end %>

