<% if params[:action] == 'edit' then %>
<li class="active"><%= link_to "Termin bearbeiten", edit_scheduling_service_appointment_path %></li>
<% end %>
<% if params[:action] == 'show' then %>
<li class="active"><%= link_to "Terminansicht", scheduling_service_appointment_path %></li>
<% end %>

