<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Kalenderübersicht</h2>
    <div id="service-user-selection">
      <label for="service-users">Techniker:</label>
      <%= select_tag "service-users", grouped_options_for_select(@grouped_options, :selected => params[:users]) %>
    </div>
    <div class="clear">&nbsp;</div>
    <div class="inner">
      <%= render :partial => "general/calendar", :locals => { :users => @service_users, :data_url =>  "/#{current_view}/service_appointments/data?users=#{params[:users]}", :on_click_path => "/#{current_view}/service_appointments/CAL_EVENT_ID/edit", :read_only => false } %>
    </div>
  </div>
</div>

<%= content_for :bottom do %>
<script type="text/javascript">
  $(function() {
  $("#service-users").change(function(){
   window.location = "/scheduling/service_appointments/calendar/?users="+$("#service-users").val() 
  });
});
</script>
<% end %>

