<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Neuer Termin <%= raw "für Auftrag #{link_to @service_job.short,[current_view, @service_job], :class => "link" }" if @service_job %></h2>
    <div class="inner">
      <%= form_for :service_appointment, :url => scheduling_service_appointments_path, :html => { :class => :form } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>