  <%= render :partial => "general/calendar", :locals => { :users => @service_users, :data_url =>  "/scheduling/service_appointments/data", :read_only => true, :on_click_path => "/service/service_appointments/CAL_EVENT_ID", :is_pop_up => true }%>