<div class="bugtracker">
    <div class="bugtracker_inner">
		<h1>Problem bearbeiten</h1>

		<%= render 'form' %>

		<%= link_to 'Anzeigen', admin_bugtracker_path(@bugtracker) %> |
		<%= link_to 'Zurück', admin_bugtrackers_path %>
	</div>
</div>
