<div class="bugtracker">
    <div class="bugtracker_inner">
        <h1 class="bugtracker-index">Gefundene Bugs</h1>

        <table class="table">
          <tr>
            <th>User</th>
            <th>Email</th>
            <th>Problem</th>
            <th>Ort</th>
            <th>Beschreibung</th>
            <th>Problem behoben?</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>

        <% @bugtrackers.each do |bugtracker| %>
          <tr>
            <td><%= bugtracker.user %></td>
            <td><%= mail_to bugtracker.email %></td>
            <td><%= bugtracker.bug %></td>
            <td><%= bugtracker.location %></td>
            <td><%= bugtracker.description %></td>
            <td><%= bugtracker.bug_solved ? image_tag("icons/accept.png", :title => "Problem behoben", :alt => "Problem behoben") : image_tag("icons/delete.png", :title => "Problem nicht behoben", :alt => "Problem nicht behoben") %></td>

            <td><%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), admin_bugtracker_path(bugtracker) %></td>
            <td><%= link_to image_tag("/assets/icons/edit.png", :title=>"Bearbeiten", :alt=>"Bearbeiten"), edit_admin_bugtracker_path(bugtracker) %></td>
            <td><%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen"), admin_bugtracker_path(bugtracker), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}" %></td>
          </tr>
        <% end %>
        </table>

        <br />
    </div>
</div>