<div class="bugtracker">
    <div class="bugtracker_inner"><p id="notice"><%= notice %></p>
      <h1>Problem Zusammenfassung</h1>
      <p>
        <b>User:</b>
        <%= @bugtracker.user %>
      </p>

      <p>
        <b>Email:</b>
        <%= @bugtracker.email %>
      </p>

      <p>
        <b>Problem:</b>
        <%= @bugtracker.bug %>
      </p>

      <p>
        <b>Ort:</b>
        <%= @bugtracker.location %>
      </p>

      <p>
        <b>Beschreibung:</b>
        <%= @bugtracker.description %>
      </p>

      <p>
        <b>Problem behoben:</b>
        <%= @bugtracker.bug_solved ? image_tag("icons/accept.png", :title => "Problem behoben", :alt => "Problem behoben") : image_tag("icons/delete.png", :title => "Problem nicht behoben", :alt => "Problem nicht behoben") %>
      </p>


      <%= link_to 'Editieren', edit_admin_bugtracker_path(@bugtracker) %> |
      <%= link_to 'Zurück', admin_bugtrackers_path %>
    </div>
</div>