<li class="first <%= params[:action]  == 'index' ? 'active' : '' %>"><%= link_to "Alle Installationsaufträge", admin_jobs_path %></li>
<li class="<%= params[:action] == 'new' ? 'active' : '' %>"><%= link_to "Neuen Auftrag anlegen", new_admin_job_path %></li>
<% if params[:action] == 'edit' then %>
<li class="active"><%= link_to "Auftrag bearbeiten", edit_admin_job_path %></li>
<% end %>
<% if params[:action] == 'show' then %>
<li class="active"><%= link_to "Auftragsansicht", admin_job_path %></li>
<% end %>