<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title">Abgeschlossene Aufträge</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first" style="width:150px">OT-Nummer</th>
          <th>PLZ</th>
          <th>Ort</th>
          <th>Straße</th>
          <th>Hausnummer</th>
          <th>Nachname</th>
          <th>Vorname</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @closed_jobs.each do |job| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= job.ot_auftragsnummer %>
          </td>
          <td>
            <%= job.kunde_plz %>
          </td>
          <td>
            <%= job.kunde_ort %>
          </td>
          <td>
            <%= job.kunde_strasse %>
          </td>
          <td>
            <%= job.kunde_hausnummer %>
          </td>
          <td>
            <%= job.kunde_nachname %>
          </td>
          <td>
            <%= job.kunde_vorname %>
          </td>
          <td class="last">
            <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), admin_job_path(job) %>
            <%= link_to image_tag("/assets/icons/edit.png", :title=>"Bearbeiten", :alt=>"Bearbeiten"), edit_admin_job_path(job) %>
            <%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen"), admin_job_path(job), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <%= page_entries_info @closed_jobs %><br/><br/><br/>
      <%= will_paginate @closed_jobs %><br/><br/><br/>
    </div>
  </div>
</div>
