<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Auftrag bearbeiten</h2>
    <div class="inner">
      <%= form_for @job, :url => admin_job_path(@job), :html => { :class => :form } do |f| -%>
        <%= render :partial => "general/job_form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>