<div class="navform wat-cf button-bar">
	<%= link_to(image_tag("/assets/icons/edit.png", :alt => "Bearbeiten")+"Bearbeiten", "/scheduling_leader/scheduling_users/#{@scheduling_user.id}/edit", :class => "button") %>
</div>
