<% disabled = false unless defined?(disabled) %>

  <% if @scheduling_user.errors.any? %>
    <%= render :partial => "general/error_messages", :locals => { :current_model => @scheduling_user } %>
  <% end %>
  
  <fieldset class="group">
    <legend>Kontaktdaten</legend>
    <div class="cl">
      <p><%= f.label :vorname, :class => "label, required" %></p>
      <p><%= f.text_field :vorname, :class => :text_field, :disabled => disabled %></p>
      <p><%= f.label :nachname, :class => "label, required" %></p>
      <p><%= f.text_field :nachname, :class => :text_field, :disabled => disabled %></p>
      <p><%= f.label :telefon, :class => :label %></p>
      <p><%= f.text_field :telefon, :class => :text_field, :disabled => disabled %></p>
      <p><%= f.label :telefon_mobil, :class => :label %></p>
      <p><%= f.text_field :telefon_mobil, :class => :text_field, :disabled => disabled %></p>
      <p><%= f.label :email, :class => "label, required" %></p>
      <p><%= f.text_field :email, :class => :text_field, :disabled => disabled %></p>
      <p><%= f.label :plz, :class => :label %></p>
      <p><%= f.text_field :plz, :class => :text_field, :disabled => disabled %></p>
      <p><%= f.label :ort, :class => :label %></p>
      <p><%= f.text_field :ort, :class => :text_field, :disabled => disabled %></p>
      <p><%= f.label :strasse, :class => :label %></p>
      <p><%= f.text_field :strasse, :class => :text_field, :disabled => disabled %></p>
      <p><%= f.label :hausnummer, :class => :label %></p>
      <p><%= f.text_field :hausnummer, :class => :text_field, :disabled => disabled %></p>
	  <p><%= f.label :active, "aktiv" %></p>
	  <p><%= f.check_box :active, :class => 'check_box', :disabled => disabled %></p>      
      <br class="clear" />
    </div>
  </fieldset>
  <% if (["new","create"].include?(params[:action])) %>
<fieldset class="group">
  <legend>Anmeldung</legend>
  <div class="cc">
    <p><%= f.label :password, "Passwort" %></p>
    <p><%= f.password_field :password, :disabled => disabled %></p>
    <p><%= f.label :password_confirmation, "Passwortbestätigung" %></p>
    <p><%= f.password_field :password_confirmation, :disabled => disabled %></p>

  </div>
</fieldset>
<% end %>

	<fieldset class="group">
	  <legend>Mandanten</legend>
	  <div class="cc">
	    <% current_user.clients.each do |client| -%>
	    <div>
	      <p><%= label_tag :client_ids, client.name -%></p>
	      <p><%= check_box_tag :client_ids, client.id, @scheduling_user.clients.include?(client), :name => 'user[client_ids][]', :disabled => disabled -%></p>
	    </div>
	    <% end -%>
	  </div>
	</fieldset>

<% if !disabled then %>
<div class="navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "speichern") %> speichern
  </button>
  <span class="text_button_padding"> oder </span>
  <%= link_to "abbrechen", "/", :class => "text_button_padding link_button", :style=>"color:red"%>
</div>
<% end %>
