<li class="first <%= params[:action] == "scheduling_users" && params[:action]  == 'edit' ? 'active' : '' %>"><%= link_to "Alle Disponenten", scheduling_leader_scheduling_users_path %></li>

<li class="<%= params[:action] == 'new' ? 'active' : '' %>"><%= link_to "Neuen Disponenten anlegen", [:new, current_view, :scheduling_user] %></li>

<% if ['edit','show','appointments'].include?(params[:action]) then %>
<li class="<%= params[:action]  == 'show' ? 'active' : '' %>"><%= link_to "Disponentenansicht", scheduling_leader_scheduling_user_path %></li>
<% end %>