<div class="block">
	<div class="secondary-navigation">
		<ul class="wat-cf">
			<%= render "sub_menu" %>
		</ul>
	</div>

	<div class="content">
		<h2 class="title">Erfolgsraten pro Disponent</h2>
		<div class="inner">
			<iframe src="/scheduling_leader/quotes_per_controller?frameWidth=940" frameborder="0" width="100%" height="330" ></iframe>
		</div>

		<h2 class="title">Alle Disponenten</h2>
		<div class="inner">
			<table class="table">
				<tr>

					<th class="first" >Vorname</th>
					<th>Nachname</th>
					<th>Telefon</th>
					<th>Telefon mobil</th>
					<th>Plz</th>
					<th>Ort</th>
					<th>Strasse</th>
					<th>Hausnummer</th>
					<th class="last">&nbsp;</th>
				</tr>

				<% @scheduling_users.each do |scheduling_user| %>
				<tr class="<%= cycle("odd", "even") %>">
					<td><%= scheduling_user.vorname %></td>
					<td><%= scheduling_user.nachname %></td>
					<td><%= scheduling_user.telefon %></td>
					<td><%= scheduling_user.telefon_mobil %></td>
					<td><%= scheduling_user.plz %></td>
					<td><%= scheduling_user.ort %></td>
					<td><%= scheduling_user.strasse %></td>
					<td><%= scheduling_user.hausnummer %></td>
					<td class="last"> <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), scheduling_leader_scheduling_user_path(scheduling_user) %>
					<%= link_to image_tag("/assets/icons/edit.png", :title=>"Bearbeiten", :alt=>"Bearbeiten"), edit_scheduling_leader_scheduling_user_path(scheduling_user) %> </td>
				</tr>
				<% end %>
			</table>
			<div class="navform wat-cf">
				<div class="page-entries">
					<%= page_entries_info %>
				</div>
				<%= will_paginate @jobs %>
			</div>

		</div>
	</div>
</div>

