<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Neuer Disponent</h2>
    <div class="inner">
      <%= form_for @scheduling_user, :url => scheduling_leader_scheduling_users_path, :html => { :class => :form } do |f| -%>
		<%= render :partial => "form", :locals => {:disabled => false, :f => f} %>
      <% end -%>
    </div>
  </div>
</div>
