<li class="first <%= params[:action]  == 'index' ? 'active' : '' %>"><%= link_to "Mein Kalender", service_appointments_path %></li>
<% if params[:action] == 'show' then %>
<li class="active"><%= link_to "Terminansicht", service_appointment_path %></li>
<% end %>

