<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Termine für <%= @service_user.full_name %></h2>
    <div class="inner">
      <%= render :partial => "general/calendar", :locals => { :users => [@service_user], :data_url =>  "/service/appointments_data", :read_only => true, :on_click_path => "/service/appointments/CAL_EVENT_ID" }%>
    </div>
  </div>
</div>