
  <%= render :partial => "general/calendar", :locals => { :users => [@service_user], :data_url =>  "/scheduling/service_users/#{@service_user.id.to_s}/appointments_data", :read_only => true, :on_click_path => "/service/appointments/CAL_EVENT_ID", :is_pop_up => true }%>
