<div class="modal2" style="top:300px;left:200px" > 
  <div class="modal-header"> 
    <h3>Auftrag bearbeiten: <%= @appointment.job.ot_auftragsnummer %></h3> 
  </div> 
  <div class="modal-body form"> 
    <h4 style="margin:0px">Informationen zum Auftrag</h4>
    <div style="height:30px" >
    <table>
      <tr>
        <td style="width:80px;height:20px">Kunde:</td><td><%= @appointment.job.adresse %></td>
      </tr>
      <tr>
        <td>Modemtyp:</td><td><%= @appointment.job.modem_type.name %></td>
        </tr>
      </table>
    </div>
    <h4>Hinweise</h4>
    <div>
    <%= text_area_tag 'bemerkungen', @appointment.bemerkungen, :class => 'text_area', :style => "background-color:white;height:80px", :disabled => true %>
    </div>
  </div> 
  <div class="modal-footer"> 
  <center>
  <table>
  <tr>
  <td><label for="action" style="margin-right:10px; font-size:15px">Aktion:</label><%= select_tag "action", options_for_select([["-","0"],["Auftrag abschliessen","1"],["Auftrag stornieren","2"],["Folgetermin","3"]]), :style => "height:25px" %>
  </td>
  <td><a href="#" id="details" class="button" style="margin-left:10px">Details</a></td>
  </tr>
  </table>
  </center>
  </div> 
</div> 
<%= content_for :bottom do %>
<script type="text/javascript">
$(function(){

  $("#action").change(function(){
    switch ($("#action").val())
    {
      case "1":
        parent.window.location = "/service/appointments/<%= @appointment.id %>/completions/new?fromPath=/service"
        break;
      case "2":
        parent.window.location = "/service/appointments/<%= @appointment.id %>/cancellations/new?fromPath=/service"
        break;
      case "3":
        parent.window.location = "/service/appointments/<%= @appointment.id %>/appointment_requests/new?fromPath=/service"
        break;
    }
  });  
  $("#details").click(function(){
    parent.window.location = "/service/appointments/<%= @appointment.id %>?fromPath=/service";
  })
})
</script>
<% end %>