<li class="first <%= params[:action]  == 'index' ? 'active' : '' %>"><%= link_to "Alle Objektarten", admin_building_types_path %></li>
<li class="<%= params[:action] == 'new' ? 'active' : '' %>"><%= link_to "Neue Objektart anlegen", new_admin_building_type_path %></li>
<% if params[:action] == 'edit' then %>
<li class="active"><%= link_to "Objektart bearbeiten", edit_admin_building_type_path %></li>
<% end %>
<% if params[:action] == 'show' then %>
<li class="active"><%= link_to "Objektartansicht", admin_building_type_path %></li>
<% end %>

