<% disabled = false unless defined?(disabled) %>

  <% if @job_type.errors.any? %>
    <%= render :partial => "general/error_messages", :locals => { :current_model => @job_type } %>
  <% end %>
  
  <fieldset class="group">
    <legend>Auftragsartendetails</legend>
    <div class="cc" >
		<%= f.label :name, "Bezeichnung" , :class => :label %>
	    <%= f.text_field :name, :class => 'text_field', :disabled => disabled %>
      <%= f.label :shortname, "Abkürzung" , :class => :label %>
      <%= f.text_field :shortname, :class => 'text_field', :disabled => disabled , :style => "width:30px" %>
      <%= f.label :color, "Farbe" , :class => :label %>
      <%= f.text_field :color, :class => 'text_field', :disabled => disabled , :style => "width:60px" %><br/><br/><br/><br/><br/>
  
    <%= f.label :active, t("activerecord.attributes.active", :default => "aktiv"), :class => :label %>
    <%= f.check_box :active, :class => 'check_box', :disabled => disabled %>
  </div>
  </fieldset>
<% begin %>  
<div class="navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "speichern")%> speichern
  </button>

<% if (!@job_type.errors.any?) &&(params[:action] != "new") then %>
  <%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen")+" löschen", admin_job_type_path(@job_type), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}", :class=>"button" %>
<% end %>
  <span class="text_button_padding"> oder </span>
	<%= link_to "abbrechen", admin_job_types_path, :class => "text_button_padding link_button" %>
</div>
<% end unless disabled %>