<li class="first <%= params[:action]  == 'index' ? 'active' : '' %>"><%= link_to "Alle Auftragsarten", admin_job_types_path %></li>
<li class="<%= params[:action] == 'new' ? 'active' : '' %>"><%= link_to "Neuen Auftragsart anlegen", new_admin_job_type_path %></li>
<% if params[:action] == 'edit' then %>
<li class="active"><%= link_to "Auftragsart bearbeiten", edit_admin_job_type_path %></li>
<% end %>
<% if params[:action] == 'show' then %>
<li class="active"><%= link_to "Auftragsartansicht", admin_job_type_path %></li>
<% end %>

