<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title">Alle Auftragsarten</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first" style="width:300px">Name</th>
          <th style="width:300px">Abkürzung</th>
          <th style="width:300px">Farbe</th>
          <th style="width:300px">aktiv</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @job_types.each do |job_type| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= job_type.name %>
          </td>
          <td>
            <%= job_type.shortname %>
          </td>
          <td>
            <%= job_type.color %>
            <span style="width:100; height:50; border:1px solid black; background-color: <%= job_type.color %>">&nbsp;&nbsp;&nbsp;&nbsp;</span>
          </td>
          <td>
            <%= display_active_state job_type.active %>
          </td>
          <td class="last">
            <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), admin_job_type_path(job_type) %>
            <%= link_to image_tag("/assets/icons/edit.png", :title=>"Bearbeiten", :alt=>"Bearbeiten"), edit_admin_job_type_path(job_type) %>
            <%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen"), admin_job_type_path(job_type), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <%= page_entries_info %><br/><br/><br/>
      <%= will_paginate @posts %><br/><br/><br/>
    </div>
  </div>
</div>

