<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN""http://www.w3.org/TR/html4/loose.dtd"><html>
<head>
	<title>Fehler</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<body>
		<div style="width:100%">
			<div style="width:1200px; margin-left:auto; margin-right:auto">
				<h1> <%= @message %></h1>
				<p> 
					<%= @ex.to_s %> 
				</p>
			</div>
		</div>
	</body>
</html>
