<% disabled = false unless defined?(disabled) %>

<% if @quality_report.errors.any? %>
<%= render :partial => "general/error_messages", :locals => { :current_model => @quality_report } %>
<% end %>

<fieldset class="group">
  <legend>Qualitätsreport</legend>
  <div class="c block-form-wrapper">
    <%= simple_text_area(f, @quality_report, :planned_measures_next_two_month, "Geplante Maßnahmen für die kommenden zwei Monate", disabled, true)  %>
    <%= simple_text_area(f, @quality_report, :detected_quality_problems, "Erkannte Qualitätsprobleme", disabled, true)  %>
    <%= simple_text_area(f, @quality_report, :identified_necessary_measures, "Erkannte und Erforderliche Maßnahmen", disabled, true)  %>
    <%= simple_text_area(f, @quality_report, :launch_plannings, "Erarbeitete Einführungsplanung", disabled, true)  %>
    <%= simple_text_area(f, @quality_report, :implemented_measures, "Umgesetzte Maßnahmen", disabled, true)  %>
    <%= simple_text_area(f, @quality_report, :sustainability_control, "Nachhaltigkeitskontrolle", disabled, true)  %>
  </div>
</fieldset>


<% begin %>  
<div class="navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "speichern")%> speichern
  </button>

  <% if (!@quality_report.errors.any?) && (params[:action] != "new") then %>
  <%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen")+" löschen", management_reports_quality_report_path(@quality_report), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}", :class=>"button" %>
  <% end %>
  <span class="text_button_padding"> oder </span>
  <%= link_to "abbrechen", management_reports_quality_reports_path, :class => "text_button_padding link_button" %>
</div>
<% end unless disabled %>
