<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">

    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Qualitätsreport bearbeiten</h2>
    <div class="inner">
      <%= form_for @quality_report, :url => management_reports_quality_report_path(@quality_report), :html => { :class => :form } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>
