<div class="block">
	<div class="secondary-navigation">
		<ul class="wat-cf">
			<%= render "/management/reports/sub_menu" %>
		</ul>
	</div>

	<div class="content">
		<h2 class="title">Alle Qualitätsreports</h2>
		<div class="inner">
			<table class="table">
				<tr>
					<th>Erstellt von:</th>
					<th>Erstellt am:</th>
					<th>PDF erstellt am:</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>

				<% @quality_reports.each do |quality_report| %>
				<tr>
					<td><%= quality_report.user.nachname %></td>
					<td><%= quality_report.created_at.strftime("%d.%m.%Y") %></td>
					<td><%= quality_report.pdf_created.try(:strftime, "%d.%m.%Y") %></td>
					<td class="last"> <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), management_reports_quality_report_path(quality_report) %>
					<%= link_to image_tag("/assets/icons/edit.png", :title=>"Bearbeiten", :alt=>"Bearbeiten"), edit_management_reports_quality_report_path(quality_report) %>
					<%= link_to image_tag("/assets/icons/PDF.png", :title=>"PDF", :alt=>"PDF"), "/management/reports/quality_reports/#{quality_report.id}/show_as_pdf.pdf" %>
					<%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen"), management_reports_quality_report_path(quality_report), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}" %> </td>
				</tr>
				<% end %>
			</table>

			<br />
			<div class="navform wat-cf">
				<div class="page-entries">
					<%= page_entries_info %>
				</div>
				<%= will_paginate @jobs %>
			</div>

			<%= link_to 'Qualitätsreport erstellen', new_management_reports_quality_report_path, :class => 'button'%>
		</div>
		<br style="clear:both"/>
	</div>
</div>

