<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Neuer Qualitätsreport</h2>
    <div class="inner">
      <%= form_for :quality_report, :url => management_reports_quality_reports_path, :html => { :class => :form } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>
      
    </div>
    <br style="clear:both"/>
  </div>
</div>

