<%= render "management/reports/pdf_style"%>
<%= render "management/reports/header_template"%>

<div class="block">
	<div class="content">
		<div class="inner">
			<h2>Qualitätsreport</h2>

			<p>
				<b>Erstellt von:</b>
				<%= @quality_report.user.vorname %> <%= @quality_report.user.nachname %>

			<p>
				<b>Report erstellt am:</b>
				<%= @quality_report.created_at.strftime("%d.%m.%Y") %>
			</p>
			<p>
				<b>PDF erstellt am:</b>
				<%= @quality_report.pdf_created.try(:strftime, "%d.%m.%Y")%>
			</p>
			<hr noshade size=1>
			<br />
			<p>
				<b>Geplante Maßnahmen für die kommenden zwei Monate</b>
				<br />
				<%= simple_format(@quality_report.planned_measures_next_two_month) %>
			</p>
			<br />
			<p>
				<b>Erkannte Qualitätsprobleme:</b>
				<br />
				<%= simple_format(@quality_report.detected_quality_problems) %>
			</p>
			<br />
			<p>
				<b>Erkannte und Erforderliche Maßnahmen:</b>
				<br />
				<%= simple_format(@quality_report.identified_necessary_measures) %>
			</p>
			<br />
			<p>
				<b>Erarbeitete Einführungsplanung:</b>
				<br />
				<%= simple_format(@quality_report.launch_plannings) %>
			</p>
			<br />
			<p>
				<b>Umgesetzte Maßnahmen:</b>
				<br />
				<%= simple_format(@quality_report.implemented_measures) %>
			</p>
			<br />
			<p>
				<b>Nachhaltigkeitskontrolle:</b>
				<br />
				<%= simple_format(@quality_report.sustainability_control) %>
			</p>
		</div>
		<br style="clear:both"/>
	</div>
</div>
