<div class="block">
	<div class="secondary-navigation">
		<ul class="wat-cf">
			<%= render "/management/reports/sub_menu" %>
		</ul>
	</div>

	<div class="content">
		<div class="inner">

			<p>
				<b>Erstellt von:</b>
				<%= @quality_report.user.vorname %> <%= @quality_report.user.nachname %>
			</p>
			<p>
				<b>Report erstellt am:</b>
				<%= @quality_report.created_at.strftime("%d.%m.%Y") %>
			</p>

			<p>
				<b>PDF erstellt am:</b>
				<%= @quality_report.pdf_created.try(:strftime,"%d.%m.%Y") %>
			</p>

			<%= form_for :quality_report, :url => management_reports_quality_reports_path, :html => { :class => :form } do |f| -%>
			<%= render :partial => "form", :locals => {:f => f, :disabled => true} %>
			<% end -%>
			<div class="navform wat-cf">
				<a class="button" href="<%= edit_management_reports_quality_report_path(@quality_report) %>"> <%= image_tag("/assets/icons/edit.png", :alt => "bearbeiten")%> bearbeiten</a>
				<a class="button" href="/management/reports/quality_reports/<%= @quality_report.id %>/show_as_pdf.pdf"><%= image_tag("/assets/icons/PDF.png", :alt => "PDF")%>PDF erstellen</a> 
			</div>
			<br style="clear:both"/>
		</div>
	</div>
