<table class="table">
  <tr>
    <th class="first" style="width:1100px;">Text</th>
    <th></th>
    <th class="last"></th>
  </tr>
<% @logs.each do |log| %>
  <tr class="<%= cycle("odd", "even") %>">
      <td class="first">
      	<% if log.tbl.nil? %>
      		<%= log.text %>
      	<% else
      	
      		if log.tbl == "appointment" && Appointment.exists?(log.table_id) # if appointment still exists %>
      			<%= link_to(log.text, :controller => "scheduling/appointments", :action => "show", :id => log.table_id)  %>
      		<% elsif log.tbl == "service_appointment" && ServiceAppointment.exists?(log.table_id) %>
      			<%= link_to(log.text, :controller => "scheduling/service_appointments", :action => "show", :id => log.table_id)  %>
      		<% elsif log.tbl == "user" && User.exists?(log.table_id) %>
      			<%= link_to(log.text, :controller => "users", :action => "show", :id => log.table_id)  %>	
      		<% else # in case the appointment was deleted afterwards  %>
      			<%= log.text %>
      		<% end
      		
      	end %>
      	
      </td>
      <td><%= log.created_at %></td>
      <td class="last">
        <% link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), admin_log_path(log) %>
        <% link_to image_tag("/assets/icons/edit.png", :title=>"Bearbeiten", :alt=>"Bearbeiten"), edit_admin_log_path(log) %>
        <% link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen"), admin_log_path(log), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}" %>
      </td>		    
  </tr>
<% end %>
</table>

<%= page_entries_info %><br/><br/><br/>
<%= will_paginate @logs %><br/><br/><br/>


<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

