<%= content_for :bottom do %>
<script type="text/javascript">
	$(function() {
	  $("#logs th a, #logs .pagination a").live("click", function() {
	    $.getScript(this.href);
	    return false;
	  });
	  $("#logs_search input").keyup(function() {
	    $.get($("#logs_search").attr("action"), $("#logs_search").serialize(), null, "script");
	    return false;
	  });
	  $("#logs_search select").click(function() {
	    $.get($("#logs_search").attr("action"), $("#logs_search").serialize(), null, "script");
	    return false;
	  });	  
	});
</script>
<% end %>

<div class="block">
  <div class="content">          
    <h2 class="title">Listing logs</h2>
    <div class="inner">

		<%= form_tag admin_logs_path, :method => 'get', :id => "logs_search" do %>
		  <p>
		    <%= text_field_tag :search, params[:search] %>
			<%= select_tag "fieldtype", options_for_select([ "text", "user", "appointment", "service_appointment", "system"], "text") %>
		    <%= submit_tag "Search", :name => nil %>
		  </p>
		  <div id="logs"><%= render 'logs' %></div>
		<% end %>
		
    </div>
  </div>
</div>

