<li class="first <%= params[:action] == "service_users" && params[:action]  == 'edit' ? 'active' : '' %>"><%= link_to "Alle Techniker", management_service_users_path %></li>

<% if ['edit','show','appointments'].include?(params[:action]) then %>
<li class="<%= params[:action]  == 'show' ? 'active' : '' %>"><%= link_to "Technikeransicht", management_service_user_path %></li>
<li class="<%= params[:action]  == 'appointments' ? 'active' : '' %>"><%= link_to "Kalender", appointments_management_service_user_path %></li>
<% end %>

