<%= render :partial => "general/calendar", :locals => { :users => [@service_user], :data_url =>  "/scheduling/service_users/#{@service_user.id.to_s}/appointments_data", :on_click_path => "/scheduling/appointments/CAL_EVENT_ID/edit", :read_only => false, :is_pop_up => true } %>

<%= content_for :bottom do %>
<script type="text/javascript">
  $(function() {
  $("#service-users").change(function(){
   window.location = "/scheduling/service_users/"+$("#service-users").val()+"/appointments" 
  });
});
</script>
<% end %>
