<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Technikeransicht</h2>
    <div class="inner">
      <%= form_for @service_user, :url => management_service_user_path(@service_user), :html => { :class => :form } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f, :disabled => true} %>
      <% end -%>
       
    <div class="chart">
      <span class="title">Erfolgsrate</span>
      <div class="inner">
          <iframe src="/management/quotes_per_technician?technicians=<%= @service_user.id %>&userSelection=false&frameWidth=430" frameborder="0" width="430" height="330" ></iframe>
      </div>
    </div>
    <div class="chart">
      <span class="title">Auftragsvolumen über Zeitraum</span>
      <div class="inner">
          <iframe src="/management/appointments_per_period?technicians=<%= @service_user.id %>&frameWidth=430" frameborder="0" width="430" height="330" ></iframe>
      </div>
    </div>
    <br style="clear:both" />
    
 
    </div>
  </div>
</div>
