<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
    </ul>
  </div>  
  <div class="content">            
    <iframe src="https://www.standortanalyse.biz/standortcheck/travelling_salesman" height="2000" width="100%"></iframe>
  </div>
</div>
