<style type="text/css">
  #main-navigation ul.submenu li {
    width: 135px !important;
  }

  #main-navigation ul.submenu li.active {
    width: 159px !important;
  }
</style>

<li class="first <%= controller.controller_path == 'scheduling/base' ? 'active' : '' %>"><%= link_to "Übersicht", scheduling_path %></li>

<li class="<%= (controller.controller_path == 'scheduling/jobs' && ["index","new","edit","update","show","all"].include?(params[:action])) ? 'active' : '' %>"><a href="<%= scheduling_jobs_path %>">Installationen</a></li>
<li class="<%= (controller.controller_path == 'scheduling/service_jobs' && ["index","new","edit","update","show","all"].include?(params[:action])) ? 'active' : '' %>"><a href="<%= scheduling_service_jobs_path %>">Entstörungen</a></li>

<li class="<%= (controller.controller_path == 'scheduling/appointments' || controller.controller_path == 'scheduling/service_appointments') ? 'active' : '' %>"><a href="<%= scheduling_appointments_path %>">Termine</a></li>

<li class="<%= controller.controller_path == 'scheduling/service_users' || controller.controller_path == 'scheduling/service_user_groups' ? 'active' : '' %>">
	<a href="<%= scheduling_service_users_path %>">Technikerverwaltung</a>
	<ul class="submenu">
		<li class="<%= controller.controller_path == 'scheduling/service_users' ? 'active' : '' %>"><a href="<%= scheduling_service_users_path %>">Alle Techniker</a></li>

		<li class="<%= controller.controller_path == 'scheduling/service_user_groups' ? 'active' : '' %>"><a href="<%= scheduling_service_user_groups_path %>">Technikergruppen</a></li>
	</ul>
</li>



<li class="<%= (controller.controller_path == 'scheduling/jobs' && params[:action] == "closed") ? 'active' : '' %>"><a href="<%= closed_scheduling_jobs_path %>">abgeschlossene Aufträge</a></li>

<li class="<%= controller.controller_path == 'scheduling/route_planer' ? 'active' : '' %>"><%= link_to "Routenplaner (beta)", scheduling_route_planer_path %></li>
