<div id="short-info" >
<table>
	<tr>
		<td>
			<label>Installationen:</label>
			<%= link_to("ZDE: #{@job_count_by_status['ZDE']}","/#{current_view}/jobs?q[status_eq]=0") %>, 
			<%= link_to("DI: #{@job_count_by_status['DI']}","/#{current_view}/jobs?q[status_eq]=1") %>, 
			<%= link_to("WK: #{@job_count_by_status['WK']}","/#{current_view}/jobs?q[status_eq]=2") %>, 
			<%= link_to("AG: #{@job_count_by_status['AG']}","/#{current_view}/jobs?q[status_eq]=3") %>, 
			<%= link_to("TA: #{@job_count_by_status['TA']}","/#{current_view}/jobs?q[status_eq]=4") %>,
			<%= link_to("OM: #{@job_count_by_status['OM']}","/#{current_view}/jobs?q[status_eq]=5") %>
			<br/>
			<label>Entstörungen:</label>
			<%= link_to("ZDE: #{@service_job_count_by_status['ZDE']}","/#{current_view}/service_jobs?q[status_eq]=0") %>, 
			<%= link_to("DI: #{@service_job_count_by_status['DI']}","/#{current_view}/service_jobs?q[status_eq]=1") %>, 
			<%= link_to("WK: #{@service_job_count_by_status['WK']}","/#{current_view}/service_jobs?q[status_eq]=2") %>, 
			<%= link_to("AG: #{@service_job_count_by_status['AG']}","/#{current_view}/service_jobs?q[status_eq]=3") %>, 
			<%= link_to("TA: #{@service_job_count_by_status['TA']}","/#{current_view}/service_jobs?q[status_eq]=4") %>,
			<%= link_to("OM: #{@service_job_count_by_status['OM']}","/#{current_view}/jobs?q[status_eq]=5") %>
		</td>
		<td>
			<!--<a href="#" id="open-calendar-link"><%= image_tag("/assets/icons/calendar_link.png", :alt => "Kalender", :title => "Kalender") %></a>-->&nbsp;&nbsp;
			<a href="#" onClick="window.open('/scheduling/appointments/calendar?users=ALL', 'Kalender', 'width:100%,height:100%,scrollbars=1,resizable=1')"><%= image_tag("/assets/icons/calendar_link.png", :alt => "Kalender", :title => "Kalender") %></a>
		</td>
	</tr>
</table>
</div>

<%= content_for :bottom do %>
<script>
$(function() {
	  $('#open-calendar-link').click(function(){
    window.open('/scheduling/appointments/calendar?users=ALL',"Kalender","menubar=no,width="+window.screen.width+",height="+window.screen.height+",toolbar=no, scrollbars=yes");
  })

});
</script>
<% end %>
