<li class="first <%= params[:action]  == 'index' ? 'active' : '' %>"><%= link_to "Alle Mehraufwendungen für #{@appointment.job.short_description}", admin_special_expenses_path %></li>
<li class="<%= params[:action] == 'new' ? 'active' : '' %>"><%= link_to "Neuen Mehraufwand anlegen", new_admin_special_expense_path %></li>
<% if params[:action] == 'edit' then %>
<li class="active"><%= link_to "Mehraufwand bearbeiten", edit_admin_special_expense_path %></li>
<% end %>
<% if params[:action] == 'show' then %>
<li class="active"><%= link_to "Mehraufwandansicht", admin_special_expense_path %></li>
<% end %>

