<div class="block">
  <div class="content">          
    <h2 class="title">Mehraufwand</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th style="width:150px" class="first">Bezeichnung</th>
          <th style="width:150px">Euro</th>
          <th style="width:150px">Faktor</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @special_expenses.each do |special_expense| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= special_expense.name %>
          </td>
          <td>
            <%= number_format special_expense.costs %>
          </td>
          <td>
            <%= number_format special_expense.factor %>
          </td>
          <td class="last">
            <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), [current_view, @appointment, special_expense] %>
            <%= link_to image_tag("/assets/icons/edit.png", :title=>"Bearbeiten", :alt=>"Bearbeiten"), [:edit, current_view, @appointment, special_expense] %>
            <%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen"), [current_view, @appointment, special_expense], :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
    <%= page_entries_info %><br/>
	<%= will_paginate @posts %>
	<br/>
	<%= link_to "Neuen Mehraufwand anlegen", [:new, current_view, @appointment, :special_expense], :class => "button" unless @disabled %></li>
    </div>
  </div>
</div>

