<div class="block">
  <div class="content">            
    <h2 class="title">Mehraufwand</h2>
    <div class="inner">
      <%= form_for @special_expense, :url => [current_view, @special_expense], :html => { :class => :form } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f, :disabled => true} %>
      <% end -%>

       <div class="navform wat-cf">
        <a class="button" href="<%= url_for([:edit, current_view, @special_expense.appointment, @special_expense]) %>">
          <%= image_tag("/assets/icons/edit.png", :alt => "bearbeiten")%> bearbeiten
        </a>
	 	<span class="text_button_padding"> oder </span>
	  	<%= link_to "abbrechen", [current_view, @special_expense.appointment, :special_expenses], :class => "text_button_padding link_button", :style => "color:red" %>
      </div>
    </div>
  </div>
</div>
