<div class="block">
	<div class="secondary-navigation">
		<ul class="wat-cf">
			<%= render "sub_menu" %>
		</ul>
	</div>
	<div class="content">
		<h2 class="title">Lagerbestand</h2>
		<div class="inner">
			<div id="storage">
				<table class="table">
					<tr>
						<th class="first" style="width:200px">Name</th>
						<th style="width:100px">Lagerbestand</th>
						<th style="width:100px">Mindestbestand</th>
						<th style="width:100px">Restmenge</th>
						<th class="last">&nbsp;</th>
					</tr>
					<% @articles_in_storage.each do |article| -%>
					<tr class="<%= cycle("odd", "even") %>">
						<td> <%= article.name %> </td>
						<td> <%= article.current_quantity_in_storage %> </td>
						<td> <%= article.minimum_quantity_in_storage %> </td>
						<td> <%= article.residue %> </td>
						<td class="last"> <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), purchase_article_path(article) %>
						<%= link_to image_tag("/assets/icons/edit.png", :title=>"Bearbeiten", :alt=>"Bearbeiten"), edit_purchase_article_path(article) %> </td>
					</tr>
					<% end -%>
				</table>
				<%= page_entries_info @articles_in_storage %>
				<br/>
				<br/>
				<br/>
				<%= will_paginate @articles_in_storage %>
				<br/>
				<br/>
				<br/>

			</div>
		</div>
	</div>
</div>
