<% disabled = false unless defined?(disabled) %>
  <fieldset class="group">
    <legend>Wartegrunddetails</legend>
    <div class="cc">

    <%= simple_text_field(f, @job, :name, "Bezeichnung", disabled)  %>
    <%= simple_text_field(f, @job, :code, "Code", disabled)  %>
    <%= simple_text_field(f, @job, :ot_id, "OT-ID", disabled)  %>

    <%= f.label :active, t("activerecord.attributes.active", :default => "aktiv"), :class => :label %>
    <%= f.check_box :active, :class => 'check_box', :disabled => disabled %>
  </div>
  </fieldset>
<% begin %>  
<div class="navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "speichern")%> speichern
  </button>
  <span class="text_button_padding"> oder </span>
	<%= link_to "abbrechen", admin_waiting_causes_path, :class => "text_button_padding link_button" %>
</div>
<% end unless disabled %>