<li class="first <%= params[:action]  == 'index' ? 'active' : '' %>"><%= link_to "Alle Wartegründe", admin_waiting_causes_path %></li>
<li class="<%= params[:action] == 'new' ? 'active' : '' %>"><%= link_to "Neuen Wartegrund anlegen", new_admin_waiting_cause_path %></li>
<% if params[:action] == 'edit' then %>
<li class="active"><%= link_to "Wartegrund bearbeiten", edit_admin_waiting_cause_path %></li>
<% end %>
<% if params[:action] == 'show' then %>
<li class="active"><%= link_to "Wartegrundansicht", admin_waiting_cause_path %></li>
<% end %>

