<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title">Alle Wartegründe</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first" style="width:100px">Code</th>
          <th style="width:300px">Bezeichnung</th>
          <th style="width:300px">OT-ID</th>
          <th style="width:300px">aktiv</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @waiting_causes.each do |waiting_cause| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= waiting_cause.code %>
          </td>
          <td>
            <%= waiting_cause.name %>
          </td>
          <td>
            <%= waiting_cause.ot_id %>
          </td>
          <td>
            <%= display_active_state waiting_cause.active %>
          </td>
          <td class="last">
            <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), admin_waiting_cause_path(waiting_cause) %>
            <%= link_to image_tag("/assets/icons/edit.png", :title=>"Bearbeiten", :alt=>"Bearbeiten"), edit_admin_waiting_cause_path(waiting_cause) %>
            <%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen"), admin_waiting_cause_path(waiting_cause), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <%= page_entries_info %><br/><br/><br/>
      <%= will_paginate @posts %><br/><br/><br/>
    </div>
  </div>
</div>

