<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Wartegrundansicht</h2>
    <div class="inner">
      <%= form_for @waiting_cause, :url => admin_waiting_cause_path(@waiting_cause), :html => { :class => :form } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f, :disabled => true} %>
      <% end -%>
       <div class="navform wat-cf">
        <a class="button" href="<%= edit_admin_waiting_cause_path(@job) %>">
          <%= image_tag("/assets/icons/edit.png", :alt => "bearbeiten")%> bearbeiten
        </a>
      </div>
    </div>
  </div>
</div>
