<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
    </ul>
  </div>  
  <div class="content">  
  <br/>                  
    <div class="chart">
      <span class="title">Auftragsvolumen über Zeitraum</span>
      <div class="inner">
        <iframe src="/management/jobs_per_period?frameWidth=940" frameborder="0" width="100%" height="320" ></iframe>
      </div>
    </div>
                 
    <div class="chart">
      <span class="title">Erfolgsraten pro Auftragsart</span>
      <div class="inner">
          <iframe src="/management/quotes_per_job_type?frameWidth=450" frameborder="0" width="450" height="340" ></iframe>
      </div>
    </div>   
             
    <div class="chart">
      <span class="title">Erfolgsraten pro Techniker</span>
      <div class="inner">
          <iframe src="/management/quotes_per_technician?frameWidth=450" frameborder="0" width="450" height="340" ></iframe>
      </div>
    </div>
                
    <div class="chart">
      <span class="title">disponierte Termine und Folgen pro Disponent</span>
      <div class="inner">
          <iframe src="/management/quotes_per_controller?frameWidth=450" frameborder="0" width="450" height="340" ></iframe>
      </div>
    </div>
             
    <div class="chart">
      <span class="title">Arbeitsleistung pro Disponent</span>
      <div class="inner">
          <iframe src="/management/volume_per_controller?frameWidth=450" frameborder="0" width="450" height="340" ></iframe>
      </div>
    </div>
    <br style="clear:both" />
  </div>
</div>