<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>
  <div class="content">
    <h2 class="title">Meine erledigten Installationsaufträge</h2>
    <div class="inner">

    <%= form_for @search, :url => service_jobs_path do |f| %>
      <!--<%= render :partial => "jobs/jobs_filter_panel", :locals => {:f => f, :status_closed => true} %>-->
      <div id="jobs"><%= render :partial => "jobs", :locals => {:jobs => @jobs} %></div>
    <% end %>
    </div>
  </div>
   <div class="content">
    <h2 class="title">Meine erledigten Entstörungsaufträge</h2>
    <div class="inner">
      <%= render :partial => "general/service_jobs_table", :locals => {:service_jobs => @service_jobs} %>
    </div>

</div>

<%= content_for :bottom do %>
<script type="text/javascript">
/*
$(function() {
  $("#jobs th a, #jobs .pagination a").live("click", function(){
    $.getScript(this.href);
    return false;
  });

  $("#jobs_search").keyup(function(){
    $.get($("#jobs_search").attr("action"), $("#jobs_search").serialize(), null, "script");
    return false;
  });

});
*/
</script>
<% end %>