<li class="first <%= params[:action]  == 'index' ? 'active' : '' %>"><%= link_to "Alle Installationsaufträge", [current_view, :jobs] %></li>
<% if params[:action] == 'edit' then %>
<li class="active"><%= link_to "Auftrag bearbeiten", edit_scheduling_leader_job_path %></li>
<% end %>
<% if params[:action] == 'show' then %>
<li class="active"><%= link_to "Auftragsansicht", scheduling_leader_job_path %></li>
<% end %>