<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>       
  <div class="content">     
    <h2 class="title">Abgeschlossene Aufträge</h2>
    <div class="inner" id="closed_jobs">
      <table class="table">
        <tr>             
          <th class="first" style="width:150px">OT-Nummer</th>
          <th>PLZ</th>
          <th>Ort</th>
          <th>Straße</th>
          <th>Kunde</th>
          <th>erstellt am</th>
          <th>Techniker</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @closed_jobs.each do |job| %>
        <tr class="<%= cycle("odd", "even") %>" data-id="<%= job.id %>">
          <td>
            <%= job.ot_auftragsnummer %>
          </td>
          <td>
            <%= job.kunde_plz %>
          </td>
          <td>
            <%= job.kunde_ort %>
          </td>
          <td>
            <%= "#{job.kunde_strasse}  #{job.kunde_hausnummer}" %>
          </td>
          <td>
            <%= "#{job.kunde_nachname}, #{job.kunde_vorname}" %>
          </td>
          <td>
            <%= date_format job.completion.created_at %>
          </td>
          <td>
            <%= job.completion.technician.full_name %>
          </td>
          <td class="last">
            <%=  image_tag("/assets/icons/show.png", :title=>"Auftrag anzeigen", :alt=>"Auftrag anzeigen") %>
          </td>
        </tr>  

        <tr class="no-highlite review-row" style="display:none;" id="review-<%= job.id %>">
        <td colspan="7">
          <div class="images-row">
          
      <% if job.completion.messwerte_photo_file_name then %>
        <div class="uneditable-photo"><span>Messwerte-Screenshot</span>
        <%= link_to(image_tag(job.messwerte_photo_url) ,job.messwerte_photo_url, :class => "lightbox", :rel => "completion_photos", :title => "Messwerte-Screenshot") %>
        </div>
      <% end %>
      <% if job.completion.bvt_photo_file_name then %>
        <div class="uneditable-photo"><span>BVT</span>
        <%= link_to(image_tag(job.bvt_photo_url) ,job.bvt_photo_url, :class => "lightbox", :rel => "completion_photos", :title => "BVT") %>
        </div>
      <% end %>
      <% if job.completion.uep_photo_file_name then %>
        <div class="uneditable-photo"><span>ÜP</span>
        <%= link_to(image_tag(job.uep_photo_url) ,job.uep_photo_url, :class => "lightbox", :rel => "completion_photos", :title => "ÜP") %>
        </div>
      <% end %>
      <% if job.completion.pot_schiene_photo_file_name then %>
        <div class="uneditable-photo"><span>POT-Schiene</span>
        <%= link_to(image_tag(job.pot_schiene_photo_url) ,job.pot_schiene_photo_url, :class => "lightbox", :rel => "completion_photos", :title => "POT-Schiene") %>
        </div>
      <% end %>
      <% if job.completion.pot_gas_photo_file_name then %>
        <div class="uneditable-photo"><span>POT-GAS</span>
        <%= link_to(image_tag(job.pot_gas_photo_url) ,job.pot_gas_photo_url, :class => "lightbox", :rel => "completion_photos", :title => "POT-GAS") %>
        </div>
      <% end %>
      <% if job.completion.pot_wasser_photo_file_name then %>
        <div class="uneditable-photo"><span>POT-Wasser</span>
        <%= link_to(image_tag(job.pot_wasser_photo_url) ,job.pot_wasser_photo_url, :class => "lightbox", :rel => "completion_photos", :title => "POT-Wasser") %>
        </div>
      <% end %>
      <% if job.completion.pot_hak_photo_file_name then %>
        <div class="uneditable-photo"><span>POT-HAK</span>
        <%= link_to(image_tag(job.pot_hak_photo_url) ,job.pot_hak_photo_url, :class => "lightbox", :rel => "completion_photos", :title => "POT-HAK") %>
        </div>
      <% end %>
      <% if job.completion.pot_heizung_photo_file_name then %>
        <div class="uneditable-photo"><span>POT-Heizung</span>
        <%= link_to(image_tag(job.pot_heizung_photo_url) ,job.pot_heizung_photo_url, :class => "lightbox", :rel => "completion_photos", :title => "POT-Heizung") %>
        </div>
      <% end %>
      <% if job.completion.pot_oel_photo_file_name then %>
        <div class="uneditable-photo"><span>POT-Öl</span>
        <%= link_to(image_tag(job.pot_oel_photo_url) ,job.pot_oel_photo_url, :class => "lightbox", :rel => "completion_photos", :title => "POT-Öl") %>
        </div>
      <% end %>
      <% if job.completion.mmd_unbundled_photo_file_name then %>
        <div class="uneditable-photo"><span>MMD unbundled</span>
        <%= link_to(image_tag(job.mmd_unbundled_photo_url) ,job.mmd_unbundled_photo_url, :class => "lightbox", :rel => "completion_photos", :title => "MMD unbundled") %>
        </div>
      <% end %>
        </td>
        <td class="last" style="text-align:left;">
          <%= link_to image_tag("/assets/icons/show.png")+"Auftrag anzeigen", scheduling_job_path(job), :class => "button", :style => "width:150px; text-left:center" %>
    <br/>
    <br/>
    <br/>
    <br/>
        <%= link_to image_tag("/assets/icons/application_edit.png")+"Abschluss bearbeiten", edit_scheduling_completion_path(job.completion), :class => "button", :style => "width:150px; text-left:center" %>
    <br/>
    <br/>
    <br/>
    <br/>
    <%= link_to image_tag("/assets/icons/PDF.png")+"Abschluss als PDF", "/#{ current_view}/completions/#{job.completion.id}/pdf", :class => "button", :style => "width:150px; text-left:center", :target => "_blank" %>
    <br/>
    <br/>
    <br/>
    <br/>
    <%= link_to image_tag("/assets/icons/application_put.png")+"Zip erstellen", [:get_zip, current_view, job.completion ], :class => "button", :style => "width:150px; text-left:center" %>
    <!--<br/>
    <br/>
    <br/>
    <br/>  
    <%= link_to image_tag("/assets/icons/application_get.png")+"nach OMNITRACKER", [:get_zip, current_view, job.completion ], :class => "button", :style => "width:150px; text-left:center"%>-->
    <br/>
    <br/>
    <br/>
    <br/>  
    <%= link_to image_tag("/assets/icons/accept.png")+"komplett schliessen", [:close, current_view, job ], :class => "button", :style => "width:150px; text-left:center"%>

          </td>
        </tr>       

        <% end %>
      </table>
      <%= page_entries_info @closed_jobs %><br/>
      <%= will_paginate @closed_jobs %><br/>
    </div>
  </div>



  <div class="content">          
    <h2 class="title">Stornierte Aufträge</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first" style="width:150px">OT-Nummer</th>
          <th>PLZ</th>
          <th>Ort</th>
          <th>Straße</th>
          <th>Hausnummer</th>
          <th>Nachname</th>
          <th>Vorname</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @cancelled_jobs.each do |job| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= job.ot_auftragsnummer %>
          </td>
          <td>
            <%= job.kunde_plz %>
          </td>
          <td>
            <%= job.kunde_ort %>
          </td>
          <td>
            <%= job.kunde_strasse %>
          </td>
          <td>
            <%= job.kunde_hausnummer %>
          </td>
          <td>
            <%= job.kunde_nachname %>
          </td>
          <td>
            <%= job.kunde_vorname %>
          </td>
          <td class="last">
            <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), scheduling_job_path(job) %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <%= page_entries_info @cancelled_jobs %><br/><br/><br/>
      <%= will_paginate @cancelled_jobs %><br/><br/><br/>
    </div>
  </div>
</div>

<%= content_for :bottom do %>
<script type="text/javascript">
$(function(){

  $("a.lightbox").fancybox({
    'transitionIn'  : 'elastic',
    'transitionOut' : 'elastic',
    'speedIn'   : 200, 
    'speedOut'    : 200, 
    'overlayShow' : false,
    'cyclic' : true,
    'opacity' : true,
    'titlePosition' : 'over'
  });
});


var currentAppointmentId = -1;
$(function(){
  $("#closed_jobs .table tbody tr").unbind("click");
  $("#closed_jobs .table tbody tr").click(function(){
    //$(".review-row").hide();
    $("#review-"+$(this).attr("data-id")).toggle();
/*
    $.fancybox({
      'href':'/scheduling/jobs/'+$(this).attr("data-id")+'/review',
      'autoDimensions': false,
      'width'      : 810,
      'height'      : 330,
      'autoScale'     : false,
      'transitionIn'    : 'none',
      'transitionOut'   : 'none',
      'centerOnScroll'  : true,
      'type'        : 'iframe'
    });
    //$(".modal").show();
    return false;
*/
  });

});
</script>
<% end %>