<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Auftragsansicht: <%= @job.short %> </h2>
    <div class="inner">
      <%= render "button_bar" %>
      <%= form_for @job, :url => [current_view, @job], :html => { :class => :form } do |f| -%>
        <%= render :partial => "general/job_form", :locals => {:f => f, :disabled => true} %>
      <% end -%>
      <%= render "button_bar" %> 
    </div>
  </div>
</div>
