<li class="first <%= params[:action]  == 'index' ? 'active' : '' %>"><%= link_to "Alle Auftragsabschlüsse", admin_completions_path %></li>
<li class="<%= params[:action] == 'new' ? 'active' : '' %>"><%= link_to "Neuen Auftragsabschluss anlegen", new_admin_completion_path %></li>
<% if params[:action] == 'edit' then %>
<li class="active"><%= link_to "Auftragsabschluss bearbeiten", edit_admin_completion_path %></li>
<% end %>
<% if params[:action] == 'show' then %>
<li class="active"><%= link_to "Auftragsabschlussansicht", admin_completion_path %></li>
<% end %>

