<% disabled = false unless defined?(disabled) %>

  <% if @supplier.errors.any? %>
    <%= render :partial => "general/error_messages", :locals => { :current_model => @supplier } %>
  <% end %>
  
  <fieldset class="group">
    <legend>Lieferantdetails</legend>
  <div class="cc">
    <span style="margin-left:160px; font-size:16px; font-weight:bold; color:#555">Adresse</span>
    <br /><br class="clear" />
    <%= f.label :name, "Name", :class => :label %>
    <%= f.text_field :name, :class => 'text_field', :disabled => disabled %>

    <%= f.label :street, "Strasse", :class => :label %>
    <%= f.text_field :street, :class => 'text_field', :disabled => disabled %>
    <%= f.label :house_number, "Hausnummer", :class => :label %>
    <%= f.text_field :house_number, :class => 'text_field', :disabled => disabled %>
    <%= f.label :postal_code, "PLZ", :class => :label %>
    <%= f.text_field :postal_code, :class => 'text_field', :disabled => disabled %>
    <%= f.label :city, "Ort", :class => :label %>
    <%= f.text_field :city, :class => 'text_field', :disabled => disabled %>
  </div>

   <div class="cc">
    <span style="margin-left:160px; font-size:16px; font-weight:bold; color:#555">Ansprechpartner</span>
    <br /><br class="clear" />
    <%= f.label :contact_first_name, "Vorname", :class => :label %>
    <%= f.text_field :contact_first_name, :class => 'text_field', :disabled => disabled %>
    <%= f.label :contact_last_name, "Nachname", :class => :label %>
    <%= f.text_field :contact_last_name, :class => 'text_field', :disabled => disabled %>

    <%= f.label :phone, "Telefon", :class => :label %>
    <%= f.text_field :phone, :class => 'text_field', :disabled => disabled %>
    <%= f.label :fax, "Fax", :class => :label %>
    <%= f.text_field :fax, :class => 'text_field', :disabled => disabled %>
    <%= f.label :email, "Email", :class => :label %>
    <%= f.text_field :email, :class => 'text_field', :disabled => disabled %>
  </div>
  </fieldset>
<% begin %>  
<fieldset class="group">
	<legend>
		Artikel
	</legend>
	<div id="article-availabilities">
		<%= render :partial => "general/article_availabilities_table_supplier", :locals => {:article_availabilities => @article_availabilities} %>
	</div>
	<a href="#" class="button" style="margin:5px" id="add-article-availability"> <%= image_tag("web-app-theme/icons/tick.png", :alt => "Artikel hinzufügen") %> Artikel hinzufügen </a>
	
<% content_for :bottom do %>
<script type="text/javascript">
$(function() {
  $("#article-availabilities .table tr").unbind("click");
  $("#article-availabilities .table tr").live("click",function(event) {
    var ev = arguments[0] || window.event,
      origEl = ev.target || ev.srcElement;
      if ((origEl.tagName == "A"))
        return; //don't mess with real links

      var href = $(this).find("td.last a").attr("href"); //else: use first link from edit column
      if(href){
        //window.location = href;

        $.fancybox({
        'href': href,
        'autoDimensions': false,
        'width'      : 600,
        'height'      : 430,
        'autoScale'     : false,
        'transitionIn'    : 'none',
        'transitionOut'   : 'none',
        'centerOnScroll'  : true,
        'type'        : 'iframe',
        'onClosed'    : function(){
        $('#article-availabilities').load('/<%= current_view %>/suppliers/<%= @supplier.id %>/get_article_availabilities', function() {
        });
      }
        });
      }
      event.preventDefault();
  });


  $("#add-article-availability").click(function(){
    $.fancybox({
      'href':'/<%= current_view %>/suppliers/<%= @supplier.id %>/article_availabilities/new',
      'autoDimensions': false,
      'width'      : 600,
      'height'      : 430,
      'autoScale'     : false,
      'transitionIn'    : 'none',
      'transitionOut'   : 'none',
      'centerOnScroll'  : true,
      'type'        : 'iframe',
      'onClosed'    : function(){
        $('#article-availabilities').load('/<%= current_view %>/suppliers/<%= @supplier.id %>/article_availabilities', function() {
        });
      }
    });
    return false;
  })
});

</script>
<% end %>
</fieldset>
<% end if disabled %>



<% begin %>
<div class="navform wat-cf">
	<button class="button" type="submit">
		<%= image_tag("web-app-theme/icons/tick.png", :alt => "speichern")%> speichern
	</button>
	
	<span class="text_button_padding"> oder </span>
	<%= link_to "abbrechen", purchase_suppliers_path, :class => "text_button_padding link_button" %>
</div>
<% end unless disabled %>
