<li class="first <%= params[:action]  == 'index' ? 'active' : '' %>"><%= link_to "Alle Lieferanten", purchase_suppliers_path %></li>
<li class="<%= params[:action] == 'new' ? 'active' : '' %>"><%= link_to "Neuen Lieferanten anlegen", new_purchase_supplier_path %></li>
<% if params[:action] == 'edit' then %>
<li class="active"><%= link_to "Lieferant bearbeiten", edit_purchase_supplier_path %></li>
<% end %>
<% if params[:action] == 'show' then %>
<li class="active"><%= link_to "Lieferantansicht", purchase_supplier_path %></li>
<% end %>

