<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title">Alle Lieferanten</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first" style="width:100px">Name</th>
          <th style="width:300px">Adresse</th>
          <th style="width:100px">Ansprechpartner</th>
          <th style="width:100px">Telefon</th>
          <th style="width:100px">Email</th>
          <th style="width:200px">Order Portal</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @suppliers.each do |supplier| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= supplier.name %>
          </td>
          <td>
            <%= supplier.full_address %>
          </td>
          <td>
            <%= supplier.contact_full_name %>
          </td>
          <td>
            <%= supplier.phone %>
          </td>
          <td>
            <%= supplier.email %>
          </td>
          <td>
            <%= supplier.order_portal %>
          </td>
          <td class="last">
            <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), purchase_supplier_path(supplier) %>
            <%= link_to image_tag("/assets/icons/edit.png", :title=>"Bearbeiten", :alt=>"Bearbeiten"), edit_purchase_supplier_path(supplier) %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <%= page_entries_info %><br/><br/><br/>
      <%= will_paginate @suppliers %><br/><br/><br/>
    </div>
  </div>
</div>

