<div class="block">
	<div class="secondary-navigation">
		<ul class="wat-cf">
			<%= render "sub_menu" %>
		</ul>
	</div>
	<div class="content">
		<h2 class="title">Lieferantansicht</h2>
		<div class="inner">
			<%= form_for @supplier, :url => purchase_supplier_path(@supplier), :html => { :class => :form } do |f| -%>
			<%= render :partial => "form", :locals => {:f => f, :disabled => true} %>
			<% end -%>
			<div class="navform wat-cf">
				<a class="button" href="<%= edit_purchase_supplier_path(@supplier) %>"> <%= image_tag("/assets/icons/edit.png", :alt => "bearbeiten")%> bearbeiten </a>
			</div>
			<br />
		</div>
	</div>
</div>
