
<li class="<%= controller.controller_path == 'management/base' ? 'active' : '' %>"><a href="<%= management_path %>">Übersicht</a></li>

<li class="<%= controller.controller_path == 'management/jobs' ? 'active' : '' %>"><a href="<%= management_jobs_path %>">Aufträge</a></li>

<li class="<%= controller.controller_path == 'management/service_users' ? 'active' : '' %>"><a href="<%= management_users_path %>">Techniker</a></li>

<li class="<%= controller.controller_path == 'management/scheduling_users' ? 'active' : '' %>"><a href="<%= management_users_path %>">Disponenten</a></li>
