<% if params[:action] == 'edit' then %>
<li class="active"><%= link_to "Entstörungsauftrag bearbeiten", [:edit, current_view, @service_job] %></li>
<% end %>
<% if params[:action] == 'show' then %>
<li class="active"><%= link_to "Entstörungsauftragansicht", [current_view, @service_job] %></li>
<% end %>

