<% disabled = false unless defined?(disabled) %>

<% if @service_user_group.errors.any? %>
<%= render :partial => "general/error_messages", :locals => { :current_model => @service_user_group } %>
<% end %>

<fieldset class="group">
	<legend>Technikergruppendetails</legend>
	<div class="c">
		<%= simple_text_field(f, @service_user_group, :name, "Gruppenbezeichnung", disabled, true) %>
		<%= simple_select(f, @service_user_group, :client_id, "Mandant", current_user.clients.collect {|c| [ c.name, c.id ] }, disabled, true)  %>
		<br class="clear"/>

		<span class="left-floating-span">
			<%= f.label :postal_codes, "PLZ-Gebiete", :class => :label %>
			<%= text_area :postal_codes_csv, nil,:value => @service_user_group.postal_codes_csv, :class => "text_area", :style => "width:400px", :disabled => disabled %>
		</span>
		<span style="float:left; width:400px; margin-left:200px; margin-top:10px"> - PLZ per Komma trennen. <br/> - PLZ können mehreren Technikergruppe zugeordnet werden. </span>
		<br class="clear"/>
		<br/>
		<span class="simple_field"><%= f.label :technicians, "Techniker in dieser Gruppe", :class => :label %></span>
		<div style="float:left">
			<% ServiceUserGroup.available_service_users_for(current_user).each do |technician| %>
			<%= check_box_tag "service_user_group[user_ids][]", technician.id, @service_user_group.users.include?(technician), :disabled => disabled %> <%= link_to technician.full_name, [current_view, technician] %><br/><br/><br/>
			<% end %>
		</div>   
		<span style="float:left; width:400px; margin-left:465px; margin-top:10px"> - Techniker können mehreren Technikergruppen zugeordnet werden. <br> - Techniker können einer Technikergruppe nur zugeordnet werden, wenn sie für den gewählten Mandanten arbeiten. </span>
		<br class="clear"/><br/><br/>
	</div>
</fieldset>
<% begin %>  
<div class="navform wat-cf">
	<button class="button" type="submit">
		<%= image_tag("web-app-theme/icons/tick.png", :alt => "speichern")%> speichern
	</button>

	<% if (!@service_user_group.errors.any?) &&(params[:action] != "new") then %>
	<%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen")+" löschen", [current_view, @service_user_group], :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}", :class=>"button" %>
	<% end %>
	<span class="text_button_padding"> oder </span>
	<%= link_to "abbrechen", [current_view, :service_user_groups], :class => "text_button_padding link_button" %>
</div>
<% end unless disabled %>