<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Termine für <%= @service_user_group.name %></h2>
    <div class="inner">
      <%= render :partial => "general/calendar", :locals => { :users => @service_user_group.users, :data_url =>  "/#{current_view}/service_user_groups/#{@service_user_group.id.to_s}/appointments_data", :on_click_path => "/#{current_view}/appointments/CAL_EVENT_ID/edit", :read_only => false } %>
    </div>
  </div>
</div>
