<%= render :partial => "general/calendar", :locals => { :users => @service_user_group.users, :data_url =>  "/#{current_view}/service_user_groups/#{@service_user_group.id.to_s}/appointments_data", :on_click_path => "/#{current_view}/appointments/CAL_EVENT_ID/edit", :read_only => true, :is_pop_up => true } %>
