<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Technikergruppe bearbeiten</h2>
    <div class="inner">
      <%= form_for @service_user_group, :url => [current_view,@service_user_group], :html => { :class => :form } do |f| -%>
        <%= render :partial => "service_user_groups/form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>
