<% page_param_name ||= "page" %>
<% search_param_name ||= "q" %>
<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title">Alle Technikergruppen</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first" style="width:200px"><%= sort_link_custom search_param_name, :name, "Gruppennamen" %></th>
          <th><%= sort_link_custom search_param_name, :user, "Techniker" %></th>
          <th class="last">&nbsp;</th>
        </tr>

<% @service_user_groups.each do |service_user_group| %>
  <tr class="<%= cycle("odd", "even") %>">
    <td><%= link_to service_user_group.name, [current_view, service_user_group] %></td>
    <td><%= raw service_user_group.users.collect{|u| link_to(u.full_name,[current_view, u])}.join(", ") %></td>
     <td class="last">
        <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), [current_view, service_user_group] %>
        <%= link_to image_tag("/assets/icons/date.png", :title=>"Kalender", :alt=>"Kalender"), [:appointments, current_view, service_user_group] %>
        <%= link_to image_tag("/assets/icons/edit.png", :title=>"Bearbeiten", :alt=>"Bearbeiten"), [:edit, current_view, service_user_group] if (["admin", "scheduling_leader"].include?(current_view))%>
        <%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen"), [current_view, service_user_group], :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}" if (["admin", "scheduling_leader"].include?(current_view))%>

      </td>
  </tr>
<% end %>
</table>
<div class="navform wat-cf">
  <div class="page-entries"><%= page_entries_info %></div>
  <%= will_paginate @service_user_groups %>
</div>
<div class=" navform wat-cf">
<% if (current_view == "admin") then %>
  <a href="<%=  new_admin_service_user_group_path %>" class="button" type="submit">
    <%= image_tag("/assets/icons/user_add.png", :alt => "Technikergruppe erstellen") %> Technikergruppe erstellen
  </a>
<% end %>
</div>


    </div>
  </div>
</div>
