<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Neue Technikergruppe</h2>
    <div class="inner">
      <%= form_for :service_user_group, :url => admin_service_user_groups_path, :html => { :class => :form } do |f| -%>
        <%= render :partial => "service_user_groups/form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>