<p id="notice"><%= notice %></p>
<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Technikergruppeansicht</h2>
    <div class="inner">
      <%= form_for @service_user_group, :url => [current_view, @service_user_group], :html => { :class => :form } do |f| -%>
        <%= render :partial => "service_user_groups/form", :locals => {:f => f, :disabled => true} %>
      <% end -%>
      <div class="navform wat-cf">
        <a class="button" href="<%= url_for([:appointments, current_view, @service_user_group]) %>">
          <%= image_tag("/assets/icons/date.png", :alt => "Kalenderansicht")%> Kalenderansicht
        </a>
        <% if (["admin", "scheduling_leader"].include?(current_view)) then %>
        <a class="button" href="<%= url_for([:edit, current_view, @service_user_group]) %>">
          <%= image_tag("/assets/icons/edit.png", :alt => "bearbeiten")%> bearbeiten
        </a>
        <% end %>
      </div>
    </div>
  </div>
</div>
