<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title">Jobs in der Warteschlange</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">id</th>
          <th>priority</th>
          <th>attempts</th>
          <th>last_error</th>
          <th>run_at</th>
          <th>locked_at</th>
          <th>failed_at</th>
          <th>locked_by</th>
          <th>queue</th>
          <th>created_at</th>
          <th>updated_at</th>
        </tr>
        <% @delayed_jobs.each do |delayed_job| -%>
        <tr class="<%= cycle("odd", "even") %> no-highlite">
          <td>
            <%= delayed_job.id %>
          </td>
          <td>
            <%= delayed_job.priority %>
          </td>
          <td>
            <%= delayed_job.attempts %>
          </td>
          <td>
            <%= delayed_job.last_error %>
          </td>
          <td>
            <%= delayed_job.run_at %>
          </td>
          <td>
            <%= delayed_job.locked_at %>
          </td>
          <td>
            <%= delayed_job.failed_at %>
          </td>
          <td>
            <%= delayed_job.locked_by %>
          </td>
          <td>
            <%= delayed_job.queue %>
          </td>
          <td>
            <%= delayed_job.created_at %>
          </td>
          <td>
            <%= delayed_job.updated_at %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <%= page_entries_info %><br/><br/><br/>
      <%= will_paginate @posts %><br/><br/><br/>
    </div>
  </div>
</div>

