<div class="navform wat-cf button-bar">
	<% if (!@service_job.new_record? && !@service_job.errors.any? && ["scheduling", "admin"].include?(current_view)) # && !@service_job.abgeschlossen?) %>   
	<% if current_view == "scheduling" then %>
	<a class="button" href="<%= url_for([:edit, current_view, @service_job]) %>">
		<%= image_tag("/assets/icons/edit.png", :alt => "bearbeiten")%> bearbeiten
	</a>
	<% end %>
	<% if @service_job.service_appointment.blank? then %>
	<a href="<%= url_for([:new, current_view, @service_job, :service_appointment])+((params[:fromPath].blank?) ? "" : "?fromPath="+params[:fromPath]) %>" class="button">
		<%= image_tag("/assets/icons/calendar_add.png", :alt => "Neuen Termin erstellen") %> Neuen Termin erstellen
	</a>
	<%end %>
	<%= link_to(image_tag("/assets/icons/application_link.png", :alt => "In OT anzeigen")+"In OT anzeigen", "https://otweb.kabelbw.com/otwg/OTWGObjForm.aspx?id=#{@service_job.ot_id}&popup=0&ShortCutBarID=0", :target => "_blank", :class => "button") %>
	<% end %>
</div>
