
<%= render :partial => "general/uploader_base_header" %>
<style type="text/css">
.thumb{
  width:100px;
  height:75px;
  border: 1px solid #aaa;
}
</style>
<% disabled = false unless defined?(disabled) %>
<% if @service_job.errors.any? %>
<%= render :partial => "general/error_messages", :locals => { :current_model => @service_job } %>
<% end %>
<% # hidden_field :service_job, :appointment_id, :value => @service_job.appointment_id %>
<% # render :partial => "general/job_details", :locals => { :job => @service_job.service_appointment.job } %>

<% begin %>        
<div class="navform wat-cf">
  <button class="button" type="submit" id="save-button">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "speichern") %> speichern
  </button>
  <span class="text_button_padding"> oder </span>
  <%= link_to "abbrechen", params[:fromPath] || [current_view, :service_jobs], :class => "text_button_padding link_button" %>
</div>
<% end unless disabled  %>

<fieldset class="group">
  <legend>Ticketdaten</legend>
  <div class="cc">
    <%= raw simple_select(f, @service_job, :client_id, "Mandant", current_user.clients.where(:active => true).collect{|c| [ c.name, c.id ] }, disabled)  %>
    <%= simple_select(f, @service_job, :scheduling_user_group_id, "Dispogruppe", @service_job.client.scheduling_user_groups.collect {|c| [ c.name, c.id ] }, disabled)  %>
    <%= simple_select(f, @service_job, :status, "Status", (0..5).collect {|c| [ "#{status_name(c)} (#{status_short(c)})",c ] }, disabled)  %>
    <%= simple_text_field(f, @service_job, :ot_auftragsnummer, "OT-Auftragsnummer", disabled)  %>
    <%= simple_text_field(f, @service_job, :wirktiefe, "Wirktiefe", disabled)  %>
    <%= simple_text_field(f, @service_job, :auftragsklasse, "Auftragsklasse", disabled)  %>
  </div>
  <div class="cc">
    <%= simple_text_field(f, @service_job, :vorname_des_anrufers, :vorname_des_anrufers.to_s.titleize, disabled)  %>
    <%= simple_text_field(f, @service_job, :nachname_des_anrufers, :nachname_des_anrufers.to_s.titleize, disabled)  %>
    <%= simple_text_field(f, @service_job, :telefonnummer_des_anrufers, :telefonnummer_des_anrufers.to_s.titleize, disabled)  %>
    <%= simple_text_field(f, @service_job, :email_des_anrufers, :email_des_anrufers.to_s.titleize, disabled)  %>
    <%= simple_text_field(f, @service_job, :ot_id, "OT-ID", disabled)  %>
  </div>    
</fieldset>

<fieldset class="group">
  <legend>Kunde</legend>
  <div class="cc">

    <%= simple_text_field(f, @service_job, :kunde_vorname, "vorname".titleize, disabled) %>
    <%= simple_text_field(f, @service_job, :kunde_nachname, "nachname".titleize, disabled) %>
    <%= simple_text_field(f, @service_job, :kunde_plz, "plz".titleize, disabled) %>
    <%= simple_text_field(f, @service_job, :kunde_ort, "ort".titleize, disabled) %>
    <%= simple_text_field(f, @service_job, :kunde_strasse, "strasse".titleize, disabled) %>
    <%= simple_text_field(f, @service_job, :kunde_hausnummer, "hausnummer".titleize, disabled) %>
  </div>
  <div class="cc">
    <%= simple_text_field(f, @service_job, :kunde_telefon_privat, :telefon_privat.to_s.titleize, disabled) %>
    <%= simple_text_field(f, @service_job, :kunde_telefon_mobil, :telefon_mobil.to_s.titleize, disabled) %>
    <%= simple_text_field(f, @service_job, :kunde_telefon_geschaeftlich, :telefon_geschaeftlich.to_s.titleize, disabled) %>
    <%= simple_text_field(f, @service_job, :kunde_email, :kunde_email.to_s.titleize, disabled) %>
    <%= simple_text_field(f, @service_job, :kunde_kundennummer, "Kundennummer".titleize, disabled) %>
    

  </div>
</fieldset>


<fieldset class="group">
  <legend>ÜP</legend>
  <div class="cc">
    <%= simple_text_field(f, @service_job, :uep_string, :uep_string.to_s.titleize, disabled) %>
    <%= simple_text_field(f, @service_job, :uep_zustand, :uep_zustand.to_s.titleize, disabled) %>
    <%= simple_text_field(f, @service_job, :uebk, :uebk.to_s.titleize, disabled) %>
    <%= simple_text_field(f, @service_job, :asb, :asb.to_s.titleize, disabled) %>
    <%= simple_text_field(f, @service_job, :onkz, :onkz.to_s.titleize, disabled) %>
    <%= simple_text_field(f, @service_job, :we_angeschlossen, :we_angeschlossen.to_s.titleize, disabled) %>
    <%= simple_text_field(f, @service_job, :we_max, :we_max.to_s.titleize, disabled) %>
    <%= simple_text_field(f, @service_job, :uebk, :uebk.to_s.titleize, disabled) %>
    <%= simple_text_field(f, @service_job, :uep_zustand_klartext, :uep_zustand_klartext.to_s.titleize, disabled) %>
    <%= simple_text_field(f, @service_job, :grussz, :grussz.to_s.titleize, disabled) %>
  </div>
  <div class="cc">
    <%= simple_text_field(f, @service_job, :vrp, :vrp.to_s.titleize, disabled) %>
    <%= simple_text_field(f, @service_job, :c_linie, :c_linie.to_s.titleize, disabled) %>
    <%= simple_text_field(f, @service_job, :versorgte_objekt, :versorgte_objekt.to_s.titleize, disabled) %>
    <%= simple_text_field(f, @service_job, :inbetriebnahme, :inbetriebnahme.to_s.titleize, disabled) %>

    <%= simple_text_field(f, @service_job, :ad_zeitfenster_fruehester_beginn, :ad_zeitfenster_fruehester_beginn.to_s.titleize, disabled) %>
    <%= simple_text_field(f, @service_job, :e_vsip_kundentermin, :e_vsip_kundentermin.to_s.titleize, disabled) %>
    <%= simple_text_field(f, @service_job, :vereinbarter_kundentermin, :vereinbarter_kundentermin.to_s.titleize, disabled) %>
    <%= simple_text_field(f, @service_job, :ad_zeitfenster_spaetester_beginn, :ad_zeitfenster_spaetester_beginn.to_s.titleize, disabled) %>
    <%= simple_text_field(f, @service_job, :techniker, :techniker.to_s.titleize, disabled) %>

  </div>
</fieldset>


<fieldset class="group">
  <legend>Auftragdetails</legend>
  <div class="cc">
    <%= simple_text_field(f, @service_job, :wartegrund_beschreibung, :wartegrund_beschreibung.to_s.titleize, disabled) %>
    <%= simple_text_field(f, @service_job, :wiedervorlage, :wiedervorlage.to_s.titleize, disabled) %>
    <%= simple_text_field(f, @service_job, :netzebene, :netzebene.to_s.titleize, disabled) %>
    <%= simple_text_field(f, @service_job, :stoerungswirkbreite, :stoerungswirkbreite.to_s.titleize, disabled) %>
    <%= simple_text_field(f, @service_job, :abschlussgrund, :abschlussgrund.to_s.titleize, disabled) %>
  </div>
  <div class="cc">
    <%= simple_text_field(f, @service_job, :abschlussgrund_beschreibung, :abschlussgrund_beschreibung.to_s.titleize, disabled) %>
    <%= simple_text_field(f, @service_job, :stoerungsende_aus_kundensicht, :stoerungsende_aus_kundensicht.to_s.titleize, disabled) %>
    <%= simple_text_field(f, @service_job, :systemabschluss, :systemabschluss.to_s.titleize, disabled) %>
    <%= simple_text_field(f, @service_job, :leistungsnachweis_vorhanden, :leistungsnachweis_vorhanden.to_s.titleize, disabled) %>

  </div>
</fieldset>



<fieldset class="group">
  <legend>Störungsbeschreibung</legend>
  <div class="c" style="padding:20px; height:300px; width:96%">
    <%= raw f.text_area :beschreibung, :class => 'text_area', :style => "height:300px", :disabled => disabled %>
  </div>

  <div class="cc">
    <%= simple_text_field(f, @service_job, :textbaustein, :textbaustein.to_s.titleize, disabled) %>
    <%= simple_text_field(f, @service_job, :rx, :rx.to_s.titleize, disabled) %>
    <%= simple_text_field(f, @service_job, :tx, :tx.to_s.titleize, disabled) %>
    <%= simple_text_field(f, @service_job, :bandbreite_downstream, :bandbreite_downstream.to_s.titleize, disabled) %>
    <%= simple_text_field(f, @service_job, :rufnummer_1, :rufnummer_1.to_s.titleize, disabled) %>
    <%= simple_text_field(f, @service_job, :modemtyp, :modemtyp.to_s.titleize, disabled) %>
  </div>
  <div class="cc">
    <%= simple_text_field(f, @service_job, :mahnlauf, :mahnlauf.to_s.titleize, disabled) %>

    <%= simple_text_field(f, @service_job, :mac_adresse, :mac_adresse.to_s.titleize, disabled) %>
    <%= simple_text_field(f, @service_job, :snr, :snr.to_s.titleize, disabled) %>
    <%= simple_text_field(f, @service_job, :bandbreite_upstream, :bandbreite_upstream.to_s.titleize, disabled) %>
    <%= simple_text_field(f, @service_job, :rufnummer_2, :rufnummer_2.to_s.titleize, disabled) %>
    <%= simple_text_field(f, @service_job, :dienstmerkmalpaket, :dienstmerkmalpaket.to_s.titleize, disabled) %>
  </div>
</fieldset>

<!--
<fieldset class="group">
  <legend>Auftragdetails</legend>
  <div class="cc">
    <%
    fields = [
#      :ot_id,
#      :client_id,
#      :ot_auftragsnummer,
#      :wirktiefe,
#      :nachname_des_anrufers,
#      :telefonnummer_des_anrufers,
#:auftragsklasse,
# :zustand,
#      :vorname_des_anrufers,
#      :email_des_anrufers,
#:kunde_string,
#:kunde_telefon_privat,
#:kunde_telefon_mobil,
#:kunde_telefon_geschaeftlich,
#:kunde_email,
#:kunde_plz,
#:kunde_strasse,
#:kunde_hausnummer_zusatz,
#:kunde_ort,
#:kunde_hausnummer,

#:uep_string,
#:uep_zustand,
#:uebk,
#:asb,
#:onkz,
#:we_angeschlossen,
#:we_max,
#:uebk,
#:uep_zustand_klartext,
#:grussz,
#:vrp,
#:c_linie,
#:versorgte_objekt,
#:inbetriebnahme,

#:ad_zeitfenster_fruehester_beginn,
#:e_vsip_kundentermin,
#:vereinbarter_kundentermin,
#:ad_zeitfenster_spaetester_beginn,
#:techniker,

#:textbaustein,
#:beschreibung,

]

fields.each_with_index do |field, index| 
  %>  
  <%= simple_text_field(f, @service_job, field, field.to_s.titleize, disabled, false)  %>
  <% if ((index+1) % 5 == 0) then %>
</div>
<% if ((index+1) % 10 == 0) then %>
</fieldset>
<fieldset class="group">
  <legend>Auftragdetails</legend>
  <% end %>
  <div class="cc">
    <% end %>
    <% end %>
  </div>
</fieldset>
-->



<% if (!@other_jobs_in_object.blank?) then %>
<fieldset class="group">
  <legend>Weitere Aufträge im Objekt</legend>
  <table class="table">
    <tr>
      <th class="first" style="width:300px">OT-Auftragsnummer</th>
      <th>Kunde</th>
      <th>Status</th>
      <th class="last">&nbsp;</th>
    </tr>
    <% @other_jobs_in_object.order(:id).each do |job| %>
    <tr>
      <td><%= link_to(job.ot_auftragsnummer, [current_view,job]) %></td>
      <td><%= job.kunde_nachname+", "+job.kunde_vorname %></td>
      <td><%= status_name job.status %></td> 
      <td class="last">
        <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), [current_view, job] %>
      </td>
    </tr>
    <% end %>
  </table>
</fieldset>
<% end %>


<% if !@service_job.new_record? then %>
<fieldset class="group">
  <legend>Verlinkungen</legend>
  <div class="job-associaction-links">
    <%= link_to( "Termin: "+@service_job.service_appointment.short_description, [current_view, @service_job.service_appointment]) if (!@service_job.service_appointment.blank?)%>

    <%= link_to("Auftragsabschluss: "+@service_job.service_completion.short_description, url_for([current_view,@service_job.service_completion]), :style => "width:900px") if (!@service_job.service_completion.blank?)%>
  </div>
</fieldset>
<% end %>

<% if !@service_job.new_record? then %>
<fieldset class="group">
  <legend>Kommentare</legend>
  <div id="comments">
    <% if !@service_job.service_comments.blank? then %>
    <table class="table">
      <tr>
        <th class="first" style="width:150px">am</th>
        <th>von</th>
        <th>Kommentar</th>
        <th class="last">&nbsp;</th>
      </tr>
      <% @service_job.service_comments.order("created_at ASC").each do |comment| %>
      <tr>
        <td><%= comment.created_at.strftime("%d.%m.%Y-%H:%M") %></td>
        <td><%= link_to(comment.user.full_name, [current_view, comment.user]) %></td>
        <td><%= comment.body %></td>
        <td></td>
      </tr>
      <% end %>
    </table>
    <% else %>
    <label class="label" style="width:100%; text-align:center">Noch keine Kommentare.</label>
    <% end %>
  </div>

  <a href="#" class="button" style="margin:5px" id="add-comment">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "Kommentar hinzufügen") %> Kommentar hinzufügen
  </a>
</fieldset>
<% end %>

<% if !@service_job.new_record? then %>
<fieldset class="group">
  <legend>Historie</legend>
  <div class="c">
    <table class="table">
      <tr>
        <th class="first" style="width:150px">am</th>
        <th style="width:150px">von</th>
        <th class="last">geändert</th>
      </tr>
      <% @service_job.audits.each do |a| %> 
      <% if a.user != nil then %>
      <tr>
        <td><%= a.created_at.strftime("%d.%m.%Y um %H:%M") %></td>
        <td><%= a.user.full_name %></td>
        <td>
          <% if (a.action == "create") then %>
          <b>Erstellt</b>
          <% elsif (a.action == "update") then %>
          <b>Änderung:</b><br/>
          <% a.audited_changes.each do |c| %>
          <% if (c[1][0] != nil) then %>
          <%= c[0].gsub("_"," ").gsub("id","").gsub(/\b\w/){$&.upcase} %>: "<b><%= c[1][0] %></b>" -> "<b><%= c[1][1] %></b>"<br/>
          <% end %> 
          <% end %>  
          <% end %>
        </td>
      </tr>
      <% end %>
      <% end %>
    </table>
  </div>
</fieldset>
<% end %>


<% begin %>        
<div class="navform wat-cf">
  <button class="button" type="submit" id="save-button">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "speichern") %> speichern
  </button>
  <span class="text_button_padding"> oder </span>
  <%= link_to "abbrechen", params[:fromPath] || [current_view, :service_jobs], :class => "text_button_padding link_button" %>
</div>
<% end unless disabled  %>

<%= content_for :bottom do %>
<script type="text/javascript">
$(function(){

  //Get Exising Select Options    
  $('select.radiobuttons').each(function(i, select){
    var $select = $(select);
    var $div = $('<div style="margin-top:15px; height:30px; float:left"/>');
    $select.before($div);
    
    $select.find('option').each(function(j, option){
      var $option = $(option);

      if (($option.val() == "true") || ($option.val() == "false")) {
          // Create a radio:
          var $radio = $('<input type="radio" />');
          // Set name and value:
          $radio.attr('name', $select.attr('name')).attr('value', $option.val());
          // Set checked if the option was selected
          if ($option.attr('selected')) $radio.attr('checked', 'checked');
          // Insert radio before select box:
          $div.append($radio);

          // Insert a <br />:
          //$select.before("<br/>");

           // Insert a label:
           $radio.before(
            $("<span style='margin:0 10px 0 10px'/>").attr('for', $select.attr('name')).text($option.text())
            );

         }
       });
    $select.remove();
  });

$("a.lightbox").fancybox({
  'transitionIn'  : 'elastic',
  'transitionOut' : 'elastic',
  'speedIn'   : 200, 
  'speedOut'    : 200, 
  'overlayShow' : false,
  'cyclic' : true,
  'opacity' : true,
  'titlePosition' : 'over'
});

updateView();

$('#save-button').click(function(){    
  $('#loading-animation').show();
})


$("#add-comment").click(function(){
  $.fancybox({
    'href':'/<%= current_view %>/service_jobs/<%= @service_job.id %>/service_comments/new',
    'autoDimensions': false,
    'width'      : 600,
    'height'      : 230,
    'autoScale'     : false,
    'transitionIn'    : 'none',
    'transitionOut'   : 'none',
    'centerOnScroll'  : true,
    'type'        : 'iframe',
    'onClosed'    : function(){
      $('#comments').load('/<%= current_view %>/service_jobs/<%= @service_job.id %>/service_comments', function() {
      });
    }
  });
  return false;
})
function updateView(){
}


});
</script>
<% end %>