<li class="first <%= params[:action]  == 'index' ? 'active' : '' %>"><%= link_to "Entstörungsaufträge meiner Gruppe", [ current_view, :service_jobs] %></li>
<li class="<%= params[:action]  == 'all' ? 'active' : '' %>"><%= link_to "Alle Entstörungsaufträge", [:all, current_view, :service_jobs] %></li>
<% if params[:action] == 'edit' then %>
<li class="active"><%= link_to "Entstörungsauftrag bearbeiten", [:edit, current_view, @service_job] %></li>
<% end %>
<% if params[:action] == 'show' then %>
<li class="active"><%= link_to "Entstörungsauftragansicht", [current_view, @service_job] %></li>
<% end %>

