<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title">Alle Entstörungsaufträge</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first" style="width:260px">OT&nbsp;Auftragsnummer</th>
          <th style="width:100%">Kunde</th>
          <th style="width:150px">Status</th>
          <th style="width:150px">erstellt am</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @service_jobs.each do |service_job| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= service_job.ot_auftragsnummer %>
          </td>
          <td>
            <%= service_job.kunde_string %>
          </td>
          <td>
            <%= status_short service_job.status %>
          </td>
          <td>
            <%= service_job.created_at.strftime("%d.%m.%Y %H:%M") %>
          </td>
          <td class="last">
            <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), [current_view, service_job] %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <%= page_entries_info %><br/><br/><br/>
      <%= will_paginate @posts %><br/><br/><br/>
    </div>
  </div>
</div>

