<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Entstörungsauftrag</h2>
    <div class="inner">
      <%= form_for @service_job, :url => url_for([current_view, @service_job])+"?fromPath=#{params[:fromPath]}", :html => { :class => :form, :multipart => true } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>
