<% page_param_name ||= "page" %>
<% search_param_name ||= "q" %>
<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>
  <div class="content service-jobs">
    <h2 class="title">Entstörungsaufträge meiner Gruppe</h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first"><%= sort_link_custom search_param_name, :ot_auftragsnummer, "OT Auftragsnummer" %></th>
          <th class='nachname'><%= sort_link_custom search_param_name, :kunde_string, "Kunde" %></th>
          <th class='client_names'><%= sort_link_custom search_param_name, :status, "Status" %></th>
          <th class='client_names'><%= sort_link_custom search_param_name, :created_at, "erstellt am" %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @service_jobs.each do |service_job| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= service_job.ot_auftragsnummer %>
          </td>
          <td>
            <%= service_job.kunde_string %>
          </td>
          <td>
            <%= status_short service_job.status %>
          </td>
          <td>
            <%= service_job.created_at.strftime("%d.%m.%Y %H:%M") %>
          </td>
          <td class="last">
            <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), [current_view, service_job] %>
          </td>
        </tr>
        <% end -%>
      </table>
      <%= page_entries_info %><br/><br/><br/>
      <%= will_paginate @posts %><br/><br/><br/>
    </div>
  </div>
</div>

