<script type="text/javascript">
		if(self.name!="") window.close();
		opener.reloadCalendar()
</script>

<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">   
    <h2 class="title">Entstörungsauftrag</h2>
    <div class="inner">
      <%= render "button_bar" %>          
      <%= form_for @service_job, :url => url_for([current_view, @service_job]), :html => { :class => :form } do |f| -%>
      <%= render :partial => "form", :locals => {:f => f, :disabled => true} %>
      <% end -%>
      <%= render "button_bar" %> 
    </div>
  </div>
</div>
