<%= form_for(@bugtracker) do |f| %>
  <% if @bugtracker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bugtracker.errors.count, "error") %> prohibited this bugtracker from being saved:</h2>

      <ul>
      <% @bugtracker.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :email, "E-Mail" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :bug, "Problem" %><br />
    <%= f.text_field :bug %>
  </div>
  <div class="field">
    <%= f.label :location, "Ort" %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :description, "Beschreibung" %><br />
    <%= f.text_area :description %>
  </div>
  
  <div class="actions">
    <%= f.submit "Problem melden" %>
  </div>
<% end %>
