<div id="bugtracker">
    <h1>Gefundene Bugs</h1>

    <table>
      <tr>
        <th>User</th>
        <th>Email</th>
        <th>Bug</th>
        <th>Location</th>
        <th>Description</th>
        <th>Bug solved</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @bugtrackers.each do |bugtracker| %>
      <tr>
        <td><%= bugtracker.user %></td>
        <td><%= bugtracker.email %></td>
        <td><%= bugtracker.bug %></td>
        <td><%= bugtracker.location %></td>
        <td><%= bugtracker.description %></td>
        <td><%= bugtracker.bug_solved %></td>
        <td><%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), bugtracker %></td>
        <td><%= link_to image_tag("/assets/icons/edit.png", :title=>"Bearbeiten", :alt=>"Bearbeiten"), edit_bugtracker_path(bugtracker) %></td>
        <td><%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen"), bugtracker, :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}" %></td>
      </tr>
    <% end %>
    </table>

    <br />

    <%= link_to 'New Bugtracker', new_bugtracker_path %>
</div>