<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @bugtracker.user %>
</p>

<p>
  <b>Email:</b>
  <%= @bugtracker.email %>
</p>

<p>
  <b>Bug:</b>
  <%= @bugtracker.bug %>
</p>

<p>
  <b>Location:</b>
  <%= @bugtracker.location %>
</p>

<p>
  <b>Description:</b>
  <%= @bugtracker.description %>
</p>

<p>
  <b>Bug solved:</b>
  <%= @bugtracker.bug_solved %>
</p>


<%= link_to 'Edit', edit_bugtracker_path(@bugtracker) %> |
<%= link_to 'Back', bugtrackers_path %>
