<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<table class="table">
  <tr>             
    <th class="first" style="width:150px"><%= sort_link @search, :ot_auftragsnummer, "OT-Nummer" %></th>
    <th><%= sort_link @search, :kunde_plz, "PLZ" %></th>
    <th><%= sort_link @search, :kunde_ort, "Ort" %></th>
    <th><%= sort_link @search, :kunde_strasse, "Strasse" %></th>
    <th><%= sort_link @search, :kunde_nachname, "Kunde" %></th>
    <th><%= sort_link @search, :kunde_telefon_privat, "Telefon" %></th>
    <th><%= sort_link @search, :kunde_telefon_mobil, "Mobile" %></th>
    <th class="last">&nbsp;</th>
  </tr>
  <% jobs.each do |job| -%>
  <tr class="<%= cycle("odd", "even") %>">
    <td>
      <%= job.ot_auftragsnummer %>
    </td>
    <td>
      <%= job.kunde_plz %>
    </td>
    <td>
      <%= job.kunde_ort %>
    </td>
    <td>
      <%= job.kunde_strasse_full %>
    </td>
    <td>
      <%= job.kunde_name %>
    </td>
    <td>
      <%= job.kunde_telefon_privat %>
    </td>
    <td>
      <%= job.kunde_telefon_mobil %>
    </td>
    <td class="last">
      <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), management_job_path(job) %>
    </td>
  </tr>          
  <% end -%>
</table>
<div class="navform wat-cf">
  <div class="page-entries"><%= page_entries_info %></div>
  <%= will_paginate jobs %>
</div>