<li class="first <%= params[:action]  == 'index' ? 'active' : '' %>"><%= link_to "Alle Installationsaufträge", management_jobs_path %></li>
<% if params[:action] == 'show' then %>
<li class="active"><%= link_to "Auftragsansicht", management_job_path %></li>
<% end %>