<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>
  <div class="content">
    <h2 class="title">Alle Installationsaufträge</h2>
    <div class="inner">

    <%= search_form_for @search, :url => management_jobs_path do |f| %>
      <%= render :partial => "jobs/jobs_filter_panel", :locals => {:f => f, :status_closed => false} %>
      <div id="jobs"><%= render :partial => "jobs", :locals => {:jobs => @jobs, :disabled => true} %></div>
    <% end %>
    </div>
  </div>
</div>


<%= content_for :bottom do %>
<script type="text/javascript">
/*
$(function() {
  $("#jobs th a, #jobs .pagination a").live("click", function(){
    $.getScript(this.href);
    return false;
  });

  $("#jobs_search").keyup(function(){
    $.get($("#jobs_search").attr("action"), $("#jobs_search").serialize(), null, "script");
    return false;
  });

});
*/
</script>
<% end %>