<li class="first <%= params[:action]  == 'index' ? 'active' : '' %>"><%= link_to "Alle Terminanfragen", scheduling_leader_appointment_requests_path %></li>
<% if params[:action] == 'show' then %>
<li class="active"><%= link_to "Terminanfrageansicht", scheduling_leader_appointment_request_path %></li>
<% end %>

