<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title">Alle Termine</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first" style="width:600px">Auftrag</th>
          <th style="width:150px">Tag</th>
          <th style="width:150px">Beginn</th>
          <th style="width:150px">Ende</th>
          <th style="width:150px">Techniker</th>
          <th>Status</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @appointments.each do |appointment| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= link_to appointment.job.short_description, [current_view, appointment.job] unless appointment.job.blank? %>
          </td>
          <td>
            <%= appointment.day.strftime("%d.%m.%Y") %>
          </td>
          <td>
            <%= appointment.start_time.strftime("%H:%M") %>
          </td>
          <td>
            <%= appointment.end_time.strftime("%H:%M") %>
          </td>
          <td>
            <%= link_to appointment.user.full_name, [current_view, appointment.user] unless appointment.user.blank? %>
          </td>
          <td>
            <%= display_state appointment.status %>
          </td>
          <td class="last">
            <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), [current_view, appointment] %>
            <%= link_to image_tag("/assets/icons/edit.png", :title=>"Bearbeiten", :alt=>"Bearbeiten"), [ :edit, current_view, appointment] %>
            <%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen"), [current_view, appointment], :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <%= page_entries_info %><br/><br/><br/>
      <%= will_paginate @posts %><br/><br/><br/>
    </div>
  </div>
</div>

