<li class="first <%= controller.controller_path == 'purchase/base' ? 'active' : '' %>"><%= link_to "Übersicht", purchase_path %></li>

<li class="<%= (controller.controller_path == 'purchase/article_groups' && ["index","new","edit","show"].include?(params[:action])) ? 'active' : '' %>"><a href="<%= purchase_article_groups_path %>">Warengruppen</a></li>

<li class="<%= (controller.controller_path == 'purchase/articles' && ["index","new","edit","show"].include?(params[:action])) ? 'active' : '' %>"><a href="<%= purchase_articles_path %>">Artikel</a></li>

<li class="<%= controller.controller_path == 'purchase/article_availabilities' ? 'active' : '' %>"><a href="<%= purchase_article_availabilities_path %>">Artikelverfügbarkeiten</a></li>

<li class="<%= controller.controller_path == 'purchase/storages' ? 'active' : '' %>"><a href="<%= purchase_storages_path %>">Lager</a></li>

<li class="<%= controller.controller_path == 'purchase/suppliers' ? 'active' : '' %>"><a href="<%= purchase_suppliers_path %>">Lieferanten</a></li>

<!--
<li class="<%= controller.controller_path == 'purchase/orders' ? 'active' : '' %>"><a href="<%=  %>">Bestellungen</a></li>
-->

<li class="<%= controller.controller_path == 'purchase/deliveries' ? 'active' : '' %>"><a href="<%= purchase_deliveries_path %>">Lieferungen</a></li>

<li class="<%= controller.controller_path == 'purchase/technicians' ? 'active' : '' %>"><a href="<%= purchase_technicians_path %>">Technikerausstattung</a></li>
