<li class="first <%= params[:action]  == 'index' ? 'active' : '' %>"><%= link_to "Alle FI Sicherungen", admin_fi_fuse_types_path %></li>
<li class="<%= params[:action] == 'new' ? 'active' : '' %>"><%= link_to "Neue FI Sicherung anlegen", new_admin_fi_fuse_type_path %></li>
<% if params[:action] == 'edit' then %>
<li class="active"><%= link_to "FI Sicherung bearbeiten", edit_admin_fi_fuse_type_path %></li>
<% end %>
<% if params[:action] == 'show' then %>
<li class="active"><%= link_to "FI Sicherungansicht", admin_fi_fuse_type_path %></li>
<% end %>

