<li class="first <%= params[:action]  == 'index' ? 'active' : '' %>"><%= link_to "Alle Klärungsfälle", scheduling_leader_cancellations_path %></li>
<% if params[:action] == 'show' then %>
<li class="active"><%= link_to "Klärungsfallansicht", scheduling_leader_cancellation_path %></li>
<% end %>

