<!--<li class="first"><%= link_to "Neuer Mandant", new_admin_client_path %></li>
<li><%= link_to "Neuer Auftrag", new_admin_job_path %></li>
<li><%= link_to "Neue Auftragsart", new_admin_job_type_path %></li>
<li><%= link_to "Neue Objektart", new_admin_building_type_path %></li>
<li><%= link_to "Neue Netztopologie", new_admin_network_type_path %></li>
<li><%= link_to "Neuer Wartegrund", new_admin_waiting_cause_path %></li>
<li><%= link_to "Neuer Termin", new_admin_appointment_path %></li>
<li><%= link_to "Neuer Benutzer", new_admin_user_path %></li>
<li><%= link_to "Neue Technikergruppe", new_admin_service_user_group_path %></li>
-->