<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>
  <div class="content">
    <h2 class="title">Neue Serviceaufträge per Hand importieren</h2>
    <div class="inner">
      <h2>Anleitung</h2>
      <p class="instructions">
          1) Melden Sie sich bei <a target="_blank" style="text-decoration:underline" href="https://otweb.kabelbw.com/sp">OMNITRACKER</a> an.<br/>
          2) Gehen Sie zu folgender URL:<br/>
          <% url = Settings.OT_LIST_URL.gsub("##FOLDER_ID##",Settings.OT_SERVICE_JOB_FOLDER_ID.to_s).gsub("##NUMBER_OF_JOBS_TO_GET##",Settings.MAX_NUMBER_OF_JOBS_TO_GET.to_s) %>
          <a href='<%= url %>' style="text-decoration:underline" target="_blank"><%= url %></a><br/>
          3) Kopieren Sie den gesamten Inhalt des Browserfensters in untenstehendes Textfeld.<br/>
          4) Wählen Sie den passenden Mandanten (mit dem Sie sich auch im OT eingeloggt haben)<br/>
          5) Klicken Sie auf "Importieren" und haben Sie etwas Geduld. (Es werden max. <%= Settings.MAX_NUMBER_OF_JOBS_TO_GET %> Aufträge importiert)<br/>
      </p>
      <%= form_tag :action => "create_service_jobs_from_text" do %>

        <%= text_area_tag :jobs_text, nil, :style => "width:99%; height:200px" %>
<br/><br/>
        <%= label_tag :client_id, "Mandant" %>
        <%= select_tag :client_id, options_for_select(current_user.clients.options_for_select) %>
<br/><br/>
        <%= submit_tag "Importieren", :class => "button", :style => "margin-left:190px" %>
      <% end %>
    </div>
  </div>
</div>


