<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>
  <div class="content">
    <h2 class="title">Alle zDE Installationsaufträge importieren</h2>
    <div class="inner">
      <h2>Anleitung</h2>
      <p class="instructions">
          1) Wählen Sie den passenden Mandanten (mit dem Sie sich auch im OT eingeloggt haben)<br/>
          2) Klicken Sie auf "Importieren" (Sie erhalten Mail wenn der Import abgeschlossen ist und können derweil weiterarbeiten)<br/>
      </p>
      <%= form_tag :action => "import_zde_jobs" do %>
        <%= label_tag :client_id, "Mandant" %>
        <%= select_tag :client_id, options_for_select(current_user.clients.options_for_select) %>
<br/><br/>
        <%= submit_tag "Importieren", :class => "button", :style => "margin-left:190px" %>
      <% end %>
    </div>
  </div>
</div>


