<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
    <%= render "sub_menu" %>
    </ul>
  </div>       

  <div class="content">          
    <h2 class="title">Aufträge importieren</h2>
    <div class="inner">
    <%= link_to "Aufträge mittels Text importieren", admin_import_jobs_from_text_path, :class => "button" %>  
    <%= link_to "einzelnen Auftrag importieren", admin_import_job_path, :class => "button" %>  
    <% link_to "Aufträge direkt aus OT importieren", admin_import_jobs_path, :class => "button" %>  
    <br/>
    </div>
  </div>
          
  <div class="content">            
    <h2 class="title">Admin Übersicht</h2>
    <div class="inner">
    <h3>Neuen Datensatz erstellen:</h3>
      
      <%= link_to "Auftrag", new_admin_job_path, :class => "button" %>
      <%= link_to "Termin", new_admin_appointment_path, :class => "button" %>
      <%= link_to "Abschluß", new_admin_completion_path, :class => "button" %>
      <%= link_to "Klärungsfall", new_admin_cancellation_path, :class => "button" %>
      <%= link_to "Terminanfrage", new_admin_appointment_request_path, :class => "button" %>
      <br/><br/>
      <%= link_to "Auftragsart", new_admin_job_type_path, :class => "button" %>
      <%= link_to "Objektart", new_admin_building_type_path, :class => "button" %>
      <%= link_to "Netztopologie", new_admin_network_type_path, :class => "button" %>
      <%= link_to "Wartegrund", new_admin_waiting_cause_path, :class => "button" %>
      <br/><br/>
      <%= link_to "Mandant", new_admin_client_path, :class => "button" %>
      <%= link_to "Benutzer", new_admin_user_path, :class => "button" %>
      <%= link_to "Technikergruppe", new_admin_service_user_group_path, :class => "button" %>
    <br style="clear:both">
    </div>
    <div class="inner">
    <h3>Einstellungen</h3>
    <div style="overflow:auto">
    <table class="table">
      <% Settings.each do |s| %>
        <tr><td><label><%= s[0] %></label></td><td><%= s[1] %></td></tr>
      <% end %>
      </table>
    </div>
    </div>
  </div>
</div>
