<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>

  <div class="content">
      <h2>Import gestartet.</h2><br/>
      <div class="inner">
        Sie erhalten eine Email an <b><%= current_user.email %></b> sobald der Import abgeschlossen ist.
      </div>
  </div>
</div>
