<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>

  <div class="content">
    <% if @new_job.blank? then %>
      <h2>Keinen NEUEN Auftrag erhalten.</h2><br/>
    <% else %>
      <h2 class="title">neuer Auftrag: <%= link_to @new_job.ot_auftragsnummer, [current_view, @new_job], :style => "text-decoration:underline" %> </h2>
      <div class="inner">
          <% if @new_job.scheduling_user_group.blank? then %>
            Keine Dispogruppe zur PLZ gefunden. Bitte wählen Sie eine Dispogruppe.
            <%= form_for @new_job, :url => [current_view, @new_job], :html => { :class => :form } do |f| -%>
              <%= simple_select(f, @new_job, :scheduling_user_group, "Dispogruppe", SchedulingUserGroup.collect {|c| [ c.name, c.id ] }, false)  %>
            <% end -%>
          <% end -%>

          <div class=" navform wat-cf">
              <button class="button" type="submit">
                <%= image_tag("web-app-theme/icons/tick.png", :alt => "speichern") %> speichern
              </button>
          </div>
      </div>
    <% end %>
  </div>
</div>
