<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>

  <div class="content">
    <% if @new_jobs.blank? then %>
      <h2>Keine NEUEN Aufträge enthalten.</h2><br/>
    <% else %>
      <h2 class="title"><%= @new_jobs.length %> neue Aufträge</h2>
      <div class="inner">
        <%= render :partial => "general/jobs_table", :locals => {:jobs => @new_jobs} %>
      </div>
    <% end %>
    <% if !@blocked_jobs.blank? then %>
      <h2>Blockierte Aufträge</h2>
      <div class="inner">
        <span>Folgende Aufträge konnten nicht importiert werden, das sie von jemand anderem in Omnitracker geöffnet sind:</span><br/>
        <span><%= @blocked_jobs.join(", ") %></span>
      </div>
    <% end %>
  </div>
</div>
