<div class="navform wat-cf button-bar">
	<%= link_to(image_tag("/assets/icons/application_view_list.png", :alt => "PDF mit Terminen erzeugen")+"PDF mit Terminen erzeugen", "/scheduling_leader/service_users/#{@service_user.id}/create_pdf", :class => "button", :target => "_blank") %>
	<%= link_to(image_tag("/assets/icons/edit.png", :alt => "Bearbeiten")+"Bearbeiten", "/scheduling_leader/service_users/#{@service_user.id}/edit", :class => "button") %>
</div>
