<% disabled = false unless defined?(disabled) %>

  <% if @service_user.errors.any? %>
    <%= render :partial => "general/error_messages", :locals => { :current_model => @service_user } %>
  <% end %>
  
  <fieldset class="group">
    <legend>Kontaktdaten</legend>
    <div class="cl">
      <p><%= f.label :vorname, :class => :label %></p>
      <p><%= f.text_field :vorname, :class => :text_field, :disabled => disabled %></p>
      <p><%= f.label :nachname, :class => :label %></p>
      <p><%= f.text_field :nachname, :class => :text_field, :disabled => disabled %></p>
      <p><%= f.label :telefon, :class => :label %></p>
      <p><%= f.text_field :telefon, :class => :text_field, :disabled => disabled %></p>
      <p><%= f.label :telefon_mobil, :class => :label %></p>
      <p><%= f.text_field :telefon_mobil, :class => :text_field, :disabled => disabled %></p>
      <p><%= f.label :email, :class => :label %></p>
      <p><%= f.text_field :email, :class => :text_field, :disabled => disabled %></p>
      <p><%= f.label :plz, :class => :label %></p>
      <p><%= f.text_field :plz, :class => :text_field, :disabled => disabled %></p>
      <p><%= f.label :ort, :class => :label %></p>
      <p><%= f.text_field :ort, :class => :text_field, :disabled => disabled %></p>
      <p><%= f.label :strasse, :class => :label %></p>
      <p><%= f.text_field :strasse, :class => :text_field, :disabled => disabled %></p>
      <p><%= f.label :hausnummer, :class => :label %></p>
      <p><%= f.text_field :hausnummer, :class => :text_field, :disabled => disabled %></p>
      <p><%= f.label :active, "aktiv" %></p>
      <p><%= f.check_box :active, :class => 'check_box', :disabled => disabled %></p>
      <br class="clear" />
    </div>
  </fieldset>


  <% if (["new","create"].include?(params[:action])) %>
<fieldset class="group">
  <legend>Anmeldung</legend>
  <div class="cc">
    <p><%= f.label :password, "Passwort" %></p>
    <p><%= f.password_field :password, :disabled => disabled %></p>
    <p><%= f.label :password_confirmation, "Passwortbestätigung" %></p>
    <p><%= f.password_field :password_confirmation, :disabled => disabled %></p>

  </div>
</fieldset>
<% end %>

	<fieldset class="group">
	  <legend>Mandanten</legend>
	  <div class="cc">
	    <% current_user.clients.each do |client| -%>
	    <div>
	      <p><%= label_tag :client_ids, client.name -%></p>
	      <p><%= check_box_tag :client_ids, client.id, @service_user.clients.include?(client), :name => 'user[client_ids][]', :disabled => disabled -%></p>
	    </div>
	    <% end -%>
	  </div>
	</fieldset>

  <fieldset class="group">
    <legend>Technikerdaten</legend>
    <div>
     <div class="cc" >
      <%= simple_text_field(f, @service_user, :tabledibkom_zertifikat_nummer, "Dibkom-Zertifikat-Nr", disabled = disabled, required = false)%>
    </div>
    </div>
  </fieldset>


<style type="text/css">
.working-hours table tr td select{
width:60px;
}
.working-hours table tr td{
width:240px;
text-align: center;
}
.working-hours table tr th{
font-weight: bold;
}
.working-hours table tr{
height:40px;
}
.working-hours table, .working-hours tr, .working-hours td, .working-hours th{
border: 1px solid #ddd;
}

</style>

<fieldset class="group">
	<legend>
		Arbeitszeiten
	</legend>
	   <div class="working-hours">
      <table>
      	<tr>
      		<th>Wochentag</th>
      		<th>Arbeitsbeginn</th>
      		<th>Arbeitsende</th>
      		<th>Pausenbeginn</th>
      		<th>Pausenende</th>
      	</tr>
      	<tr>
      		<td>Montag</td>
      		<td><%= f.time_select(:monday_work_start , :class => 'time_select' , :minute_step => 15, :disabled => disabled, :include_blank => true) %></td>
      		<td><%= f.time_select(:monday_work_end , :class => 'time_select' , :minute_step => 15, :disabled => disabled, :include_blank => true) %></td>
      		<td><%= f.time_select(:monday_lunch_break_start , :class => 'time_select' , :minute_step => 15, :disabled => disabled, :include_blank => true) %></td>
      		<td><%= f.time_select(:monday_lunch_break_end , :class => 'time_select' , :minute_step => 15, :disabled => disabled, :include_blank => true) %></td>
      	</tr>
      	<tr>
      		<td>Dienstag</td>
      		<td><%= f.time_select(:tuesday_work_start , :class => 'time_select' , :minute_step => 15, :disabled => disabled, :include_blank => true) %></td>
      		<td><%= f.time_select(:tuesday_work_end , :class => 'time_select' , :minute_step => 15, :disabled => disabled, :include_blank => true) %></td>
      		<td><%= f.time_select(:tuesday_lunch_break_start , :class => 'time_select' , :minute_step => 15, :disabled => disabled, :include_blank => true) %></td>
      		<td><%= f.time_select(:tuesday_lunch_break_end , :class => 'time_select' , :minute_step => 15, :disabled => disabled, :include_blank => true) %></td>
      	</tr>
      	<tr>
      		<td>Mittwoch</td>
      		<td><%= f.time_select(:wednesday_work_start , :class => 'time_select' , :minute_step => 15, :disabled => disabled, :include_blank => true) %></td>
      		<td><%= f.time_select(:wednesday_work_end , :class => 'time_select' , :minute_step => 15, :disabled => disabled, :include_blank => true) %></td>
      		<td><%= f.time_select(:wednesday_lunch_break_start , :class => 'time_select' , :minute_step => 15, :disabled => disabled, :include_blank => true) %></td>
      		<td><%= f.time_select(:wednesday_lunch_break_end , :class => 'time_select' , :minute_step => 15, :disabled => disabled, :include_blank => true) %></td>
      	</tr>
      	<tr>
      		<td>Donnerstag</td>
      		<td><%= f.time_select(:thursday_work_start , :class => 'time_select' , :minute_step => 15, :disabled => disabled, :include_blank => true) %></td>
      		<td><%= f.time_select(:thursday_work_end , :class => 'time_select' , :minute_step => 15, :disabled => disabled, :include_blank => true) %></td>
      		<td><%= f.time_select(:thursday_lunch_break_start , :class => 'time_select' , :minute_step => 15, :disabled => disabled, :include_blank => true) %></td>
      		<td><%= f.time_select(:thursday_lunch_break_end , :class => 'time_select' , :minute_step => 15, :disabled => disabled, :include_blank => true) %></td>
      	</tr>
      	<tr>
      		<td>Freitag</td>
      		<td><%= f.time_select(:friday_work_start , :class => 'time_select' , :minute_step => 15, :disabled => disabled, :include_blank => true) %></td>
      		<td><%= f.time_select(:friday_work_end , :class => 'time_select' , :minute_step => 15, :disabled => disabled, :include_blank => true) %></td>
      		<td><%= f.time_select(:friday_lunch_break_start , :class => 'time_select' , :minute_step => 15, :disabled => disabled, :include_blank => true) %></td>
      		<td><%= f.time_select(:friday_lunch_break_end , :class => 'time_select' , :minute_step => 15, :disabled => disabled, :include_blank => true) %></td>
      	</tr>

      	<tr>
      		<td>Samstag</td>
      		<td><%= f.time_select(:saturday_work_start , :class => 'time_select' , :minute_step => 15, :disabled => disabled, :include_blank => true) %></td>
      		<td><%= f.time_select(:saturday_work_end , :class => 'time_select' , :minute_step => 15, :disabled => disabled, :include_blank => true) %></td>
      		<td><%= f.time_select(:saturday_lunch_break_start , :class => 'time_select' , :minute_step => 15, :disabled => disabled, :include_blank => true) %></td>
      		<td><%= f.time_select(:saturday_lunch_break_end , :class => 'time_select' , :minute_step => 15, :disabled => disabled, :include_blank => true) %></td>
      	</tr>

      	<tr>
      		<td>Sonntag</td>
      		<td><%= f.time_select(:sunday_work_start , :class => 'time_select' , :minute_step => 15, :disabled => disabled, :include_blank => true) %></td>
      		<td><%= f.time_select(:sunday_work_end , :class => 'time_select' , :minute_step => 15, :disabled => disabled, :include_blank => true) %></td>
      		<td><%= f.time_select(:sunday_lunch_break_start , :class => 'time_select' , :minute_step => 15, :disabled => disabled, :include_blank => true) %></td>
      		<td><%= f.time_select(:sunday_lunch_break_end , :class => 'time_select' , :minute_step => 15, :disabled => disabled, :include_blank => true) %></td>
      	</tr>
      </table>
		</div>
</fieldset>
<% if !disabled then %>
<div class="navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "speichern") %> speichern
  </button>
  <span class="text_button_padding"> oder </span>
  <%= link_to "abbrechen", "/", :class => "text_button_padding link_button", :style=>"color:red"%>
</div>
<% end %>

<br/>
<% if (disabled && (!["new","create"].include?(params[:action]))) %>
	    <fieldset class="group">
	    <legend>Offene Termine</legend>
	    <div>
	<%= render :partial => "general/appointments_embed", :locals => {:appointments => @appointments} %>
	</div></fieldset>
	

<fieldset class="group">
	<legend>
		Fehlzeiten
	</legend>
	<div id="article-availabilities">
		<%= render :partial => "general/days_of_absence_table", :locals => {:days_of_absence_list => @days_of_absence} %>
	</div>
	<a href="#" class="button" style="margin:5px" id="add-days-of-absence"> <%= image_tag("web-app-theme/icons/tick.png", :alt => "Fehlzeit hinzufügen") %> Fehlzeit hinzufügen </a>
	
<% content_for :bottom do %>
<script type="text/javascript">
$(function() {
  $("#article-availabilities .table tr").unbind("click");
  $("#article-availabilities .table tr").live("click",function(event) {
    var ev = arguments[0] || window.event,
      origEl = ev.target || ev.srcElement;
      if ((origEl.tagName == "A"))
        return; //don't mess with real links

      var href = $(this).find("td.last a").attr("href"); //else: use first link from edit column
      if(href){
        //window.location = href;

        $.fancybox({
        'href': href,
        'autoDimensions': false,
        'width'      : 600,
        'height'      : 430,
        'autoScale'     : false,
        'transitionIn'    : 'none',
        'transitionOut'   : 'none',
        'centerOnScroll'  : true,
        'type'        : 'iframe',
        'onClosed'    : function(){
        $('#article-availabilities').load('/<%= current_view %>/service_users/<%= @service_user.id %>/get_days_of_absence', function() {
        });
      }
        });
      }
      event.preventDefault();
  });


  $("#add-days-of-absence").click(function(){
    $.fancybox({
      'href':'/<%= current_view %>/service_users/<%= @service_user.id %>/days_of_absence/new',
      'autoDimensions': false,
      'width'      : 600,
      'height'      : 430,
      'autoScale'     : false,
      'transitionIn'    : 'none',
      'transitionOut'   : 'none',
      'centerOnScroll'  : true,
      'type'        : 'iframe',
      'onClosed'    : function(){
        $('#article-availabilities').load('/<%= current_view %>/service_users/<%= @service_user.id %>/get_days_of_absence', function() {
        });
      }
    });
    return false;
  })
});

</script>
<% end %>
</fieldset>


<% end %>
