<li class="first <%= params[:action] == "service_users" && params[:action]  == 'edit' ? 'active' : '' %>">
	<%= link_to "Alle bekannten Techniker", scheduling_leader_service_users_path %>
</li>

<li class="<%= params[:action] == 'new' ? 'active' : '' %>">
	<%= link_to "Neuen Techniker anlegen", [:new, current_view, :service_user] %>
</li>

<% if ['edit','show','appointments'].include?(params[:action]) then %>
<li class="<%= params[:action]  == 'show' ? 'active' : '' %>">
	<%= link_to "Technikeransicht", scheduling_leader_service_user_path %>
</li>
<li class="<%= params[:action]  == 'appointments' ? 'active' : '' %>">
	<%= link_to "Kalender", appointments_scheduling_leader_service_user_path %>
</li>
<% end %>

<li class="<%= params[:action] == 'show_send_emails' ? 'active' : '' %>">
	<%= link_to "Abschlüsse versenden", [:show_send_emails, current_view, :service_users] %>
</li>