<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Termine für <%= @service_user.full_name %></h2>
    <div class="clear">&nbsp;</div>
    <div class="inner">
      <%= render :partial => "general/calendar", :locals => { :users => [@service_user], :data_url =>  "/scheduling/service_users/#{@service_user.id.to_s}/appointments_data", :on_click_path => "/scheduling/appointments/CAL_EVENT_ID/edit", :read_only => false } %>
    </div>
  </div>
</div>
