<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN""http://www.w3.org/TR/html4/loose.dtd"><html>
<head>
	<title>Kommende Termine</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"></head>
<body>
<div style="width:100%">
<div style="width:1200px; margin-left:auto; margin-right:auto">
<h1> Kommmende Termine für <%= @service_user.full_name %></h1>
<% @appointments.group_by{|j| j.day.strftime("%d.%m.")}.each do |day, arr| %>
	<h2><%= day %></h2>
	<table class="bordered-table">
	<tr>
		<th style="width:100px">Uhrzeit</th>
		<th style="width:700px">Auftrag</th>
		<th style="width:100px">Auftragsart</th>
		<th style="width:300px">Bemerkungen</th>
	</tr>
	<% arr.each do |a| %>
		<tr>
			<td><%= "#{a.start_time.strftime("%H:%M")}-#{a.end_time.strftime("%H:%M")}" %></td>
			<td><%= a.job.short_description %></td>
			<td><%= a.job.job_type.shortname %></td>
			<td><%= a.bemerkungen %></td>
		</tr>
	<% end %>
	</table>
<% end %>
</div></div>
</body>
</html>
