<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Technikeransicht</h2>
    <div class="inner">
      <%= form_for @service_user, :url => scheduling_leader_service_user_path(@service_user), :html => { :class => :form } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f, :disabled => false} %>
      <% end -%>
    </div>
  </div>
</div>
