<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title">Alle bekannten Techniker</h2>
    
    <div class="inner">
      <table class="table">
        <tr>             

    <th class="first" >Vorname</th>
    <th>Nachname</th>
    <th>zugehörig</th>
    <th>Telefon</th>
    <th>Telefon mobil</th>
    <th>Plz</th>
    <th>Ort</th>
    <th>Strasse</th>
    <th>Hausnummer</th>
    <th class="last">&nbsp;</th>
  </tr>

<% @service_users.each do |service_user| %>
  <tr class="<%= cycle("odd", "even") %>">
    <td><%= service_user.vorname %></td>
    <td><%= service_user.nachname %></td>
    <td><%= service_user.client_names %></td>
    <td><%= service_user.telefon %></td>
    <td><%= service_user.telefon_mobil %></td>
    <td><%= service_user.plz %></td>
    <td><%= service_user.ort %></td>
    <td><%= service_user.strasse %></td>
    <td><%= service_user.hausnummer %></td>
    <td class="last">
        <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), scheduling_leader_service_user_path(service_user) %>
        <%= link_to image_tag("/assets/icons/date.png", :title=>"Kalender", :alt=>"Kalender"), appointments_scheduling_leader_service_user_path(service_user) %>
        <%= link_to image_tag("/assets/icons/edit.png", :title=>"Bearbeiten", :alt=>"Bearbeiten"), edit_scheduling_leader_service_user_path(service_user) %>

      </td>
  </tr>
<% end %>
   </table>
<div class="navform wat-cf">
  <div class="page-entries"><%= page_entries_info %></div>
  <%= will_paginate @jobs %>
</div>

    </div>
  </div>
</div>

