<div class="block">
	<div class="secondary-navigation">
		<ul class="wat-cf">
			<%= render "sub_menu" %>
		</ul>
	</div>          
	<div class="content">          
		<div class="inner">
			<p>Hiermit können Sie den Versand aller Abschlußformulare für die Termine morgen starten. </p>
			<p>Wählen Sie ggf. den gewünschten Mandanten und klicken Sie auf "Jetzt senden". </p> 
			<p>
				<% current_user.clients.where(:active => true).each do |c| %>
					<%= "#{c.name} - Installationen: #{Appointment.joins(:job).where(:day => Date.tomorrow).where("jobs.client_id = ?", c.id).length}, Entstörungen: #{ServiceAppointment.joins(:service_job).where(:day => Date.tomorrow).where("service_jobs.client_id = ?", c.id).length}" %><br/>
				<% end %>
			</p>
				<%= form_tag :action => "send_emails" do %>

				<%= label_tag :client_id, "Mandant" %>
				<%= select_tag :client_id, options_for_select(current_user.clients.where(:active => true).collect{|c| [ c.name, c.id ] }) %>
				<br/><br/>

				<%= submit_tag "Jetzt senden", :class => "button", :style => "margin-left:190px" %>
				<% end %>
			</div>
		</div>
	</div>


