<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Mehraufwand bearbeiten<%= raw " für Auftrag "+link_to(@special_expense.job.short_description, [current_view, @special_expense.job]) if @special_expense.job %></h2>
    <div class="inner">
      <%= form_for @special_expense, :url => [current_view, @special_expense], :html => { :class => :form } do |f| -%>
        <%= render :partial => "general/special_expense_form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>
