<div class="block"> 
  <div class="content">          
    <h2 class="title">Alle Mehraufwendungen</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first" style="width:600px">Auftrag</th>
          <th style="width:150px">Bezeichnung</th>
          <th style="width:150px">Euro</th>
          <th style="width:150px">Faktor</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @special_expenses.each do |special_expense| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= link_to special_expense.job.short_description, [current_view, special_expense.job] unless special_expense.job.blank? %>
          </td>
          <td>
            <%= special_expense.name %>
          </td>
          <td>
            <%= special_expense.costs %>
          </td>
          <td>
            <%= special_expense.factor %>
          </td>
          <td class="last">
            <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), [current_view, special_expense] %>
            <%= link_to image_tag("/assets/icons/edit.png", :title=>"Bearbeiten", :alt=>"Bearbeiten"), [:edit, current_view, special_expense] %>
            <%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen"), [current_view, special_expense], :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <%= page_entries_info %><br/><br/><br/>
      <%= will_paginate @posts %><br/><br/><br/>
    </div>
  </div>
</div>

