<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Mehraufwand anlegen <%= raw " für Auftrag "+link_to(@special_expense.appointment.job.short_description, [current_view, @special_expense.appointment.job]) if @special_expense.appointment.job %></h2>
    <div class="inner">
      <%= form_for :special_expense, :url => url_for([current_view, :special_expenses])+"?fromPath=#{params[:fromPath]}", :html => { :class => :form } do |f| -%>
        <%= render :partial => "general/special_expense_form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>