<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Mehraufwand<%= raw " für Auftrag "+link_to(@special_expense.job.short_description, [current_view, @special_expense.job]) if @special_expense.job %></h2>
    <div class="inner">
    <div class="inner">
      <%= form_for @special_expense, :url => [current_view, @special_expense], :html => { :class => :form } do |f| -%>
        <%= render :partial => "general/special_expense_form", :locals => {:f => f, :disabled => true} %>
      <% end -%>
        <% if ["admin","scheduling","scheduling_leader"].include?(current_view) then %>
       <div class="navform wat-cf">
        <a class="button" href="<%= url_for([:edit, current_view, @special_expense]) %>">
          <%= image_tag("/assets/icons/edit.png", :alt => "bearbeiten")%> bearbeiten
        </a>

      </div>
        <% end %>
    </div>
  </div>
</div>
