<% disabled = false unless defined?(disabled) %>

<% if @client.errors.any? %>
<%= render :partial => "general/error_messages", :locals => { :current_model => @client } %>
<% end %>

<fieldset class="group">
  <legend>Omnitracker Login</legend>
  <div class="cc" >
    <%= f.label :ot_login, "OT Login", :class => :label %>
    <%= f.text_field :ot_login, :class => 'text_field', :disabled => disabled %>  
    <%= f.label :ot_password, "OT Passwort", :class => :label %>
    <%= f.text_field :ot_password, :class => 'text_field', :disabled => disabled %>
  </div>
</fieldset>
<fieldset class="group">
  <legend>Mandanten Logo</legend>
  <div class="cc" style="padding-left:10px">
  	<%= f.file_field(:logo_img) unless disabled %>
  	<br />
  	<!-- <% if (@client.logo_img.url(:thumb).nil?) %>
    <%= image_tag @client.logo_img.url(:thumb) %>
    <% end %> -->
    <%= image_tag @client.show_logo_img unless  @client.show_logo_img.blank? %>
  </div>
</fieldset>
<% begin %>  
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "speichern")%> speichern
  </button>
  <span class="text_button_padding"> oder </span>
  <%= link_to "abbrechen", scheduling_leader_clients_path, :class => "text_button_padding link_button" %>
</div>
<% end unless disabled %>