<li class="first <%= params[:action]  == 'index' ? 'active' : '' %>"><%= link_to "Meine Mandanten", scheduling_leader_clients_path %></li>
<% if params[:action] == 'edit' then %>
<li class="active"><%= link_to "Mandanten bearbeiten", edit_scheduling_leader_client_path %></li>
<% end %>
<% if params[:action] == 'show' then %>
<li class="active"><%= link_to "Mandantenansicht", scheduling_leader_client_path %></li>
<% end %>

