<li class="first <%= params[:action]  == 'index' ? 'active' : '' %>"><%= link_to "Alle Netztopologien", admin_network_types_path %></li>
<li class="<%= params[:action] == 'new' ? 'active' : '' %>"><%= link_to "Neue Netztopologie anlegen", new_admin_network_type_path %></li>
<% if params[:action] == 'edit' then %>
<li class="active"><%= link_to "Netztopologie bearbeiten", edit_admin_network_type_path %></li>
<% end %>
<% if params[:action] == 'show' then %>
<li class="active"><%= link_to "Netztopologieansicht", admin_network_type_path %></li>
<% end %>

