<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title">Alle Netztopologien</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first" style="width:300px">Name</th>
          <th style="width:300px">aktiv</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @network_types.each do |network_type| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= network_type.name %>
          </td>
          <td>
            <%= display_active_state network_type.name %>
          </td>
          <td class="last">
            <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), admin_network_type_path(network_type) %>
            <%= link_to image_tag("/assets/icons/edit.png", :title=>"Bearbeiten", :alt=>"Bearbeiten"), edit_admin_network_type_path(network_type) %>
            <%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen"), admin_network_type_path(network_type), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <%= page_entries_info %><br/><br/><br/>
      <%= will_paginate @posts %><br/><br/><br/>
    </div>
  </div>
</div>

