
<li class="<%= ((controller.controller_path == 'service/base') && (params[:action] != "equipment")) ? 'active' : '' %>"><a href="<%= service_path %>">Übersicht</a></li>
<li class="<%= controller.controller_path == 'service/appointments' ? 'active' : '' %>"><a href="<%= service_appointments_path %>">Mein Kalender</a></li>
<li class="<%= controller.controller_path == 'service/jobs' ? 'active' : '' %>"><a href="<%= service_jobs_path %>">Meine erledigten Aufträge</a></li>
<li class="<%= ((controller.controller_path == 'service/base') && (params[:action] == "equipment")) ? 'active' : '' %>"><a href="<%= service_equipment_path %>">Meine Ausstattung</a></li>