<li class="first <%= params[:action]  == 'index' ? 'active' : '' %>"><%= link_to "Alle Fotos", admin_photos_path %></li>
<li class="<%= params[:action] == 'new' ? 'active' : '' %>"><%= link_to "Neues Foto anlegen", new_admin_photo_path %></li>
<% if params[:action] == 'edit' then %>
<li class="active"><%= link_to "Foto bearbeiten", edit_admin_photo_path %></li>
<% end %>
<% if params[:action] == 'show' then %>
<li class="active"><%= link_to "Fotoansicht", admin_photo_path %></li>
<% end %>

