<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Foto bearbeiten<%= raw " für Auftrag "+link_to(@photo.job.short_description, [current_view, @photo.job]) if @photo.job %></h2>
    <div class="inner">
      <%= form_for @photo, :url => [current_view, @photo], :html => { :class => :form } do |f| -%>
        <%= render :partial => "general/photo_form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>
