<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Foto anlegen</h2>
    <div class="inner">
      <%= form_for :photo, :url => url_for([current_view, :photos]), :html => { :class => :form, :multipart => true } do |f| -%>
        <%= render :partial => "general/photo_form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>