<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Foto</h2>
    <div class="inner">
    <div class="inner">
    <%= image_tag @photo.photo.url %>

      </div>
    </div>
  </div>
</div>
