<li class="first <%= params[:action]  == 'closed' ? 'active' : '' %>"><%= link_to "Abgeschlossene Aufträge meiner Gruppe", [:closed, current_view, :jobs] %></li>
<li class="<%= params[:action]  == 'all_closed' ? 'active' : '' %>"><%= link_to "Alle abgeschlossenen Aufträge", [:all_closed , current_view, :jobs] %></li>
