<li class="first <%= params[:action]  == 'index' ? 'active' : '' %>"><%= link_to "Installationsaufträge meiner Gruppe", [current_view, :jobs] %></li>
<li class="<%= params[:action]  == 'all' ? 'active' : '' %>"><%= link_to "Alle Installationsaufträge", [:all , current_view, :jobs] %></li>
<% if params[:action] == 'edit' then %>
<li class="active"><%= link_to "Auftrag bearbeiten", [:edit, current_view, :job] %></li>
<% end %>
<% if params[:action] == 'show' then %>
<li class="active"><%= link_to "Auftragsansicht", [current_view, :job] %></li>
<% end %>