<% page_param_name ||= "page" %>
<% search_param_name ||= "q" %>
<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu_closed" %>
    </ul>
  </div>       
  <div class="content">     
    <h2 class="title">Abgeschlossene Installationsaufträge</h2>
    <div class="inner" id="closed_jobs">
      <table class="table">
        <tr>             
          <th class="first" style="width:150px">OT-Nummer</th>
          <th><%= sort_link_custom search_param_name, :kunde_plz, "PLZ" %></th>
          <th><%= sort_link_custom search_param_name, :kunde_ort, "Ort" %></th>
          <th><%= sort_link_custom search_param_name, :kunde_strasse, "Strasse" %></th>
          <th><%= sort_link_custom search_param_name, :kunde_nachname, "Kunde" %></th>
          <th><%= sort_link_custom search_param_name, :created_at, "erstellt am" %></th>
          <th><%= sort_link_custom search_param_name, :service_user, "Techniker" %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @closed_jobs.each do |job| %>
        <tr class="<%= cycle("odd", "even") %>" data-id="<%= job.id %>">
          <td>
            <%= job.ot_auftragsnummer %>
          </td>
          <td>
            <%= job.kunde_plz %>
          </td>
          <td>
            <%= job.kunde_ort %>
          </td>
          <td>
            <%= "#{job.kunde_strasse}  #{job.kunde_hausnummer}" %>
          </td>
          <td>
            <%= "#{job.kunde_nachname}, #{job.kunde_vorname}" %>
          </td>
          <td>
            <%= date_format job.completion.created_at %>
          </td>
          <td>
            <%= job.completion.technician.full_name %>
          </td>
          <td class="last">
            <%=  image_tag("/assets/icons/show.png", :title=>"Auftrag anzeigen", :alt=>"Auftrag anzeigen") %>
          </td>
        </tr>  

        <tr class="no-highlite review-row" style="display:none;" id="review-<%= job.id %>">
        <td colspan="7">
          <div class="images-row">
          
      <% if job.completion.messwerte_photo_file_name then %>
        <div class="uneditable-photo"><span>Messwerte-Screenshot</span>
        <%= link_to(image_tag(job.messwerte_photo_url) ,job.messwerte_photo_url, :class => "lightbox", :rel => "completion_photos", :title => "Messwerte-Screenshot") %>
        </div>
      <% end %>
      <% if job.completion.bvt_photo_file_name then %>
        <div class="uneditable-photo"><span>BVT</span>
        <%= link_to(image_tag(job.bvt_photo_url) ,job.bvt_photo_url, :class => "lightbox", :rel => "completion_photos", :title => "BVT") %>
        </div>
      <% end %>
      <% if job.completion.uep_photo_file_name then %>
        <div class="uneditable-photo"><span>ÜP</span>
        <%= link_to(image_tag(job.uep_photo_url) ,job.uep_photo_url, :class => "lightbox", :rel => "completion_photos", :title => "ÜP") %>
        </div>
      <% end %>
      <% if job.completion.pot_schiene_photo_file_name then %>
        <div class="uneditable-photo"><span>POT-Schiene</span>
        <%= link_to(image_tag(job.pot_schiene_photo_url) ,job.pot_schiene_photo_url, :class => "lightbox", :rel => "completion_photos", :title => "POT-Schiene") %>
        </div>
      <% end %>
      <% if job.completion.pot_gas_photo_file_name then %>
        <div class="uneditable-photo"><span>POT-GAS</span>
        <%= link_to(image_tag(job.pot_gas_photo_url) ,job.pot_gas_photo_url, :class => "lightbox", :rel => "completion_photos", :title => "POT-GAS") %>
        </div>
      <% end %>
      <% if job.completion.pot_wasser_photo_file_name then %>
        <div class="uneditable-photo"><span>POT-Wasser</span>
        <%= link_to(image_tag(job.pot_wasser_photo_url) ,job.pot_wasser_photo_url, :class => "lightbox", :rel => "completion_photos", :title => "POT-Wasser") %>
        </div>
      <% end %>
      <% if job.completion.pot_hak_photo_file_name then %>
        <div class="uneditable-photo"><span>POT-HAK</span>
        <%= link_to(image_tag(job.pot_hak_photo_url) ,job.pot_hak_photo_url, :class => "lightbox", :rel => "completion_photos", :title => "POT-HAK") %>
        </div>
      <% end %>
      <% if job.completion.pot_heizung_photo_file_name then %>
        <div class="uneditable-photo"><span>POT-Heizung</span>
        <%= link_to(image_tag(job.pot_heizung_photo_url) ,job.pot_heizung_photo_url, :class => "lightbox", :rel => "completion_photos", :title => "POT-Heizung") %>
        </div>
      <% end %>
      <% if job.completion.pot_oel_photo_file_name then %>
        <div class="uneditable-photo"><span>POT-Öl</span>
        <%= link_to(image_tag(job.pot_oel_photo_url) ,job.pot_oel_photo_url, :class => "lightbox", :rel => "completion_photos", :title => "POT-Öl") %>
        </div>
      <% end %>
      <% if job.completion.mmd_unbundled_photo_file_name then %>
        <div class="uneditable-photo"><span>MMD unbundled</span>
        <%= link_to(image_tag(job.mmd_unbundled_photo_url) ,job.mmd_unbundled_photo_url, :class => "lightbox", :rel => "completion_photos", :title => "MMD unbundled") %>
        </div>
      <% end %>
        </td>
        <td class="last" style="text-align:left;">
          <%= link_to image_tag("/assets/icons/show.png")+"Auftrag anzeigen", scheduling_job_path(job), :class => "button", :style => "width:150px; text-left:center" %>
    <br/>
    <br/>
    <br/>
    <br/>
        <%= link_to image_tag("/assets/icons/application_edit.png")+"Abschluss bearbeiten", edit_scheduling_completion_path(job.completion), :class => "button", :style => "width:150px; text-left:center" %>
    <br/>
    <br/>
    <br/>
    <br/>
    <%= link_to image_tag("/assets/icons/PDF.png")+"Abschluss als PDF", "/#{ current_view}/completions/#{job.completion.id}/pdf", :class => "button", :style => "width:150px; text-left:center", :target => "_blank" %>
    <br/>
    <br/>
    <br/>
    <br/>
    <%= link_to image_tag("/assets/icons/application_put.png")+"Zip erstellen", [:get_zip, current_view, job.completion ], :class => "button", :style => "width:150px; text-left:center" %>
    <!--<br/>
    <br/>
    <br/>
    <br/>  
    <%= link_to image_tag("/assets/icons/application_get.png")+"nach OMNITRACKER", [:get_zip, current_view, job.completion ], :class => "button", :style => "width:150px; text-left:center"%>-->
    <br/>
    <br/>
    <br/>
    <br/>  
    <%= link_to image_tag("/assets/icons/accept.png")+"komplett schliessen", [:close, current_view, job ], :class => "button", :style => "width:150px; text-left:center"%>

          </td>
        </tr>       

        <% end %>
      </table>
      <%= page_entries_info @closed_jobs %><br/>
      <%= will_paginate @closed_jobs %><br/>
    </div>
  </div>



  <div class="content">          
    <h2 class="title">Installationsaufträge mit Klärungsfall</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first" style="width:150px">OT-Nummer</th>
          <th>PLZ</th>
          <th>Ort</th>
          <th>Straße</th>
          <th>Hausnummer</th>
          <th>Nachname</th>
          <th>Vorname</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @cancelled_jobs.each do |job| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= job.ot_auftragsnummer %>
          </td>
          <td>
            <%= job.kunde_plz %>
          </td>
          <td>
            <%= job.kunde_ort %>
          </td>
          <td>
            <%= job.kunde_strasse %>
          </td>
          <td>
            <%= job.kunde_hausnummer %>
          </td>
          <td>
            <%= job.kunde_nachname %>
          </td>
          <td>
            <%= job.kunde_vorname %>
          </td>
          <td class="last">
            <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), scheduling_job_path(job) %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <%= page_entries_info @cancelled_jobs %><br/>
      <%= will_paginate @cancelled_jobs %><br/>
    </div>
  </div>

 <div class="content">     
    <h2 class="title">Abgeschlossene Entstörungsaufträge</h2>
    <div class="inner" id="closed_service_jobs">
      <table class="table">
        <tr>             
          <th class="first" style="width:150px">OT-Nummer</th>
          <th><%= sort_link_custom search_param_name, :kunde_plz, "PLZ" %></th>
          <th><%= sort_link_custom search_param_name, :kunde_ort, "Ort" %></th>
          <th><%= sort_link_custom search_param_name, :kunde_strasse, "Strasse" %></th>
          <th><%= sort_link_custom search_param_name, :kunde_nachname, "Kunde" %></th>
          <th><%= sort_link_custom search_param_name, :created_at, "erstellt am" %></th>
          <th><%= sort_link_custom search_param_name, :service_user, "Techniker" %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @closed_service_jobs.each do |service_job| %>
        <tr class="<%= cycle("odd", "even") %>" data-id="<%= service_job.id %>">
          <td>
            <%= service_job.ot_auftragsnummer %>
          </td>
          <td>
            <%= service_job.kunde_plz %>
          </td>
          <td>
            <%= service_job.kunde_ort %>
          </td>
          <td>
            <%= "#{service_job.kunde_strasse}  #{service_job.kunde_hausnummer}" %>
          </td>
          <td>
            <%= "#{service_job.kunde_nachname}, #{service_job.kunde_vorname}" %>
          </td>
          <td>
            <%= date_format service_job.service_completion.created_at %>
          </td>
          <td>
            <%= service_job.service_completion.technician.full_name %>
          </td>
          <td class="last">
            <%=  image_tag("/assets/icons/show.png", :title=>"Auftrag anzeigen", :alt=>"Auftrag anzeigen") %>
          </td>
        </tr>  

        <tr class="no-highlite review-row" style="display:none;" id="review-<%= service_job.id %>">
        <td colspan="7">
        </td>
        <td class="last" style="text-align:left;">
          <%= link_to image_tag("/assets/icons/show.png")+"Auftrag anzeigen", scheduling_service_job_path(service_job), :class => "button", :style => "width:150px; text-left:center" %>
    <br/>
    <br/>
    <br/>
    <br/>
        <%= link_to image_tag("/assets/icons/application_edit.png")+"Abschluss bearbeiten", edit_scheduling_service_completion_path(service_job.service_completion), :class => "button", :style => "width:150px; text-left:center" %>
    <br/>
    <br/>
    <br/>
    <br/>
    <%= link_to image_tag("/assets/icons/PDF.png")+"Abschluss als PDF", "/#{ current_view}/service_completions/#{service_job.service_completion.id}/pdf", :class => "button", :style => "width:150px; text-left:center", :target => "_blank" %>
<!--    <br/>
    <br/>
    <br/>
    <br/>
    <%= link_to image_tag("/assets/icons/application_put.png")+"Zip erstellen", [:get_zip, current_view, service_job.service_completion ], :class => "button", :style => "width:150px; text-left:center" %>
    <br/>
    <br/>
    <br/>
    <br/>  
    <%= link_to image_tag("/assets/icons/application_get.png")+"nach OMNITRACKER", [:get_zip, current_view, service_job.service_completion ], :class => "button", :style => "width:150px; text-left:center"%>-->
    <br/>
    <br/>
    <br/>
    <br/>  
    <%= link_to image_tag("/assets/icons/accept.png")+"komplett schliessen", [:close, current_view, service_job ], :class => "button", :style => "width:150px; text-left:center"%>

          </td>
        </tr>       

        <% end %>
      </table>
      <%= page_entries_info @closed_service_jobs %><br/>
      <%= will_paginate @closed_service_jobs %><br/>
    </div>
  </div>
</div>



<%= content_for :bottom do %>
<script type="text/javascript">
$(function(){

  $("a.lightbox").fancybox({
    'transitionIn'  : 'elastic',
    'transitionOut' : 'elastic',
    'speedIn'   : 200, 
    'speedOut'    : 200, 
    'overlayShow' : false,
    'cyclic' : true,
    'opacity' : true,
    'titlePosition' : 'over'
  });
});


var currentAppointmentId = -1;
$(function(){
  $("#closed_jobs .table tbody tr").unbind("click");
  $("#closed_jobs .table tbody tr").click(function(){
    //$(".review-row").hide();
    $("#review-"+$(this).attr("data-id")).toggle();

  });

  $("#closed_service_jobs .table tbody tr").unbind("click");
  $("#closed_service_jobs .table tbody tr").click(function(){
    //$(".review-row").hide();
    $("#review-"+$(this).attr("data-id")).toggle();

  });

});
</script>
<% end %>