<li class="first <%= params[:action]  == 'index' ? 'active' : '' %>"><%= link_to "Alle Klärungsfälle", admin_cancellations_path %></li>
<li class="<%= params[:action] == 'new' ? 'active' : '' %>"><%= link_to "Neuen Klärungsfall anlegen", new_admin_cancellation_path %></li>
<% if params[:action] == 'edit' then %>
<li class="active"><%= link_to "Klärungsfall bearbeiten", edit_admin_cancellation_path %></li>
<% end %>
<% if params[:action] == 'show' then %>
<li class="active"><%= link_to "Klärungsfallansicht", admin_cancellation_path %></li>
<% end %>

