<div id="charts" style="width: 800px; height: 250px; margin: 0 auto"></div> 
<div class="success-quotes">
<span><%= @ea_success_quote %></span>
<span><%= @fa_success_quote %></span>
<span><%= @other_success_quote %></span>
</div>
<%= content_for :bottom do %>
<script type="text/javascript" src="/javascripts/highcharts.js"></script> 
<script type="text/javascript"> 

  var chart;
  $(document).ready(function() {
    chart = new Highcharts.Chart({
      chart: {
        renderTo: 'charts',
        defaultSeriesType: 'column'
      },
      title: {
        text: ''
      },
      subtitle: {
        text: ''
      },
      credits: {
        	enabled: false
      },
      xAxis: {
        categories: [
          'Erstinstallationen', 
          'Folgeinstallationen', 
          'sonstige', 
        ]
      },
      yAxis: {
        min: 0,
        title: {
          text: 'Aufträge'
        }
      },
      legend: {
        layout: 'vertical',
        backgroundColor: '#FFFFFF',
        align: 'left',
        verticalAlign: 'top',
        x: 100,
        y: 70,
        floating: true,
        shadow: true
      },
      tooltip: {
        formatter: function() {
          return ''+
            this.x +': '+ this.y;
        }
      },
      plotOptions: {
        column: {
          pointPadding: 0.2,
          borderWidth: 0
        }
      },
            series: [{
        name: 'erfolgreich',
        data: <%= to_js_array(@quotes[:succesfull])  %>
    
      }, {
        name: 'gesamt',
        data: <%= to_js_array(@quotes[:all])  %>
    
      }]
    });
    
    
  });
    
</script> 
<% end %>