
<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>
  <div class="content">
    <h2 class="title">Meine Ausstattung</h2>
    <div class="inner">
    	<%= render :partial => "general/equipment_table", :locals => {:equipments => @equipments} %>
    </div>
  </div>
</div>

