<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
    <%= render "sub_menu" %>
    </ul>
  </div>         
  <div class="content">            
    <h2 class="title">Meine Termine heute</h2>
    <div class="inner">
<% if (false) then %>
Keine weiteren Termine heute!
<% else %> 
   		<div id="today_appointments"><%= render :partial => "general/appointments_embed", :locals => {:appointments => @today_appointments, :search => @search_today, :search_param_name => "search_today", :page_param_name => "page_today"} %></div>
<% end %>
    
<div class="navform wat-cf button-bar">
  <%= link_to(image_tag("/assets/icons/application_view_list.png", :alt => "PDF mit Terminen erzeugen")+"PDF mit Terminen", "/service/create_pdf", :class => "button", :target => "_blank") %>
</div>
    </div>
  </div>
 <div class="content">            
  <div class="chart">
    <span class="title">Meine Erfolgsrate</span>
    <div class="inner">
        <iframe src="/service/quotes_per_technician?frameWidth=450" frameborder="0" width="450" height="340" ></iframe>
    </div>
  </div>
  <div class="chart">
    <span class="title">Mein Auftragsvolumen über Zeitraum</span>
    <div class="inner">
        <iframe src="/service/appointments_per_period?frameWidth=450" frameborder="0" width="450" height="340" ></iframe>
    </div>
  </div>
  <br style="clear:both" />
</div>



<%= content_for :bottom do %>
<script type="text/javascript">
var currentAppointmentId = -1;
$(function(){

  $("#today_appointments .table tbody tr").unbind("click");
  $("#today_appointments .table tbody tr").click(function(){
    ot_number = $(this).children("td:eq(0)").html().toString();
    
    if(ot_number.indexOf("S-") == -1){
    $.fancybox({
      'href':'/service/appointments/'+$(this).attr("data-id")+'/preview',
      'autoDimensions': false,
      'width'      : 600,
      'height'      : 400,
      'autoScale'     : false,
      'transitionIn'    : 'none',
      'transitionOut'   : 'none',
      'centerOnScroll'  : true,
      'type'        : 'iframe'
    });
    //$(".modal").show();
    return false;
    }
    else{
      $.fancybox({
      'href':'/service/service_appointments/'+$(this).attr("data-id")+'/preview',
      'autoDimensions': false,
      'width'      : 600,
      'height'      : 400,
      'autoScale'     : false,
      'transitionIn'    : 'none',
      'transitionOut'   : 'none',
      'centerOnScroll'  : true,
      'type'        : 'iframe'
    });
    //$(".modal").show();
    return false;
    }
  });

});
</script>
<% end %>


    