<% page_param_name ||= "page" %>
<% search_param_name ||= "q" %>
<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<style>
	#wrapper_total_evaluation, table {
		width: 600px;
	}

	#wrapper_total_evaluation td {
		padding-top: 20px;
	}
	#installations_report {
		margin-bottom: 50px;
	}
</style>

<div class="block">
	<div class="secondary-navigation">
		<ul class="wat-cf">
			<%= render "/management/reports/sub_menu" %>
		</ul>
	</div>

	<div class="content">
		<div class="inner">
			<div id="wrapper_total_evaluation">
				<br />
				<table>
					<tr>
						<td><label for="client_id_select">Mandant</label> <%= select_tag "client_id_select", options_for_select(Client.find(current_user.client_ids).collect {|p| [ p.name, p.id]}) %> </td>
						<td><label for="client_id_select">Format</label> <%= select_tag "format_select", options_for_select(['html','pdf','csv']) %> </td>
					</tr>
					<tr></tr>
					<tr>
						<td><label for="client_id_select">Beginn</label> <%= date_select("start_select","param", :order => [:day, :month, :year ], :default => Date.today.beginning_of_month) %></td>
						<td><label for="client_id_select">Ende</label> <%= date_select("end_select","param", :order => [:day, :month, :year ], :default => Date.today.end_of_month) %></td>
					</tr>
					<tr></tr>
				</table>
				<br />
				<hr/>
				<h2 class="title">Gesamtauswertung</h2>
				<a class="button" href="/management/reports/total_evaluation_reports/total_evaluation?start=&end=&layout=reports&client=">Zur Gesamtauswertung</a>
				<br />
				<br />
				<hr />
				<div id='installations_report'>
					<h2 class="title">Installationen</h2>
					<a class="button" href="/management/reports/installation_reports/number_of_jobs?start=&end=&layout=reports&client=">Installation - Beauftragungen</a>
					<a class="button" href="/management/reports/installation_reports/number_of_dispositions?start=&end=&layout=reports&client=">Installation - Disposition</a>
					<br />
					<br />
					<a class="button" href="/management/reports/installation_reports/performance?start=&end=&layout=reports&client=">Performance - Termine</a>
					<a class="button" href="/management/reports/installation_reports/performance_success_rate?start=&end=&layout=reports&client=">Performance - Auftragserfolgsquote</a>
					<a class="button" href="/management/reports/installation_reports/successful_installations?start=&end=&layout=reports&client=">Erfolgreiche Installationen</a>
				</div>
			</div>
		</div>
		<br style="clear:both"/>
	</div>
</div>

<% content_for :bottom do %>
<script>
	function pad(num, size) {
		var s = num + "";
		while (s.length < size)
		s = "0" + s;
		return s;
	}

	$(function() {
		$("#wrapper_total_evaluation .button").click(function() {
			var oldUrl = $(this).attr("href");

			//Mandant auswählen
			var clientId = $("#client_id_select").val();
			var newUrl = oldUrl + clientId;

			//Format auswählen
			var format = $("#format_select").val();
			if (format == 'pdf') {
				newUrl = newUrl.replace("?", ".pdf?");
			}
			if (format == 'csv') {
				newUrl = newUrl.replace("?", ".csv?");
			}
			$(this).attr("href", newUrl);

			//date_select for params (start + end)
			var start_year = $("#start_select_param_1i").val();
			var start_month = $("#start_select_param_2i").val();
			var start_day = $("#start_select_param_3i").val();

			var end_year = $("#end_select_param_1i").val();
			var end_month = $("#end_select_param_2i").val();
			var end_day = $("#end_select_param_3i").val();

			var start_date = start_year.toString() + "-" + pad(start_month.toString(), 2) + "-" + pad(start_day.toString(), 2);
			var end_date = end_year.toString() + "-" + pad(end_month.toString(), 2) + "-" + pad(end_day.toString(), 2);

			//Zeitraum auswählen
			newUrl = newUrl.replace("start=", "start=" + start_date).replace("end=", "end=" + end_date);
			$(this).attr("href", newUrl);
		})
	});

</script>
<% end %>
</div>

<script type="text/javascript">
	function setColspan() {

	}
</script>