
<div style="width:220px; margin-left:80px; float:left;font-size:12px;" >
	<%= completion.job.kunde_name %><br/>
	<%= completion.job.kunde_strasse %> <%= completion.job.kunde_hausnummer %><br/>
	<%= completion.job.kunde_plz %> <%= completion.job.kunde_ort %><br/>
</div>
<div style="width:130px; margin-left:135px;float:left;font-size:12px;" >
	<%= completion.job.telefon_neu %><br/>
	<%= completion.job.kunde_telefon_geschaeftlich %><br/>
	<%= completion.job.kunde_telefon_mobil %><br/>
</div>

<div style="width:80px; margin-left:100px;float:left;font-size:12px;" >
	<%= completion.job.ot_auftragsnummer.gsub("OT-","") %><br/>
	<%= completion.job.workorder %><br/>
	<%= completion.job.kunde_kundennummer %><br/>
</div>