<div style="width:280px; margin-left:0px; float:left" >
	<%= completion.job.kunde_name %><br/>
	<%= completion.job.kunde_strasse %> <%= completion.job.kunde_hausnummer %><br/>
	<%= completion.job.kunde_plz %> <%= completion.job.kunde_ort %><br/>
</div>
<div style="width:130px; margin-left:78px;float:left" >
	<%= completion.job.telefon_neu %><br/>
	<%= completion.job.kunde_telefon_geschaeftlich %><br/>
	<%= completion.job.kunde_telefon_mobil %><br/>
</div>

<div style="width:110px; margin-left:90px;float:left" >
	<%= completion.job.ot_auftragsnummer %><br/>
	<%= completion.job.workorder %><br/>
	<%= completion.job.kunde_kundennummer %><br/>
</div>