<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title">Alle Auftragsabschlüsse</h2>
    <div class="inner">
      <%= search_form_for @search, :url => [current_view, :completions] do |f| %>
        <% # render :partial => "general/completions_filter_panel", :locals => {:f => f, :status_closed => false} %>  
        <div id="completions"><%= render :partial => "general/completions_table", :locals => {:jobs => @jobs, :search_param_name => "q"} %></div>
      <% end %>
    </div>
  </div>
</div>

