<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Auftragsabschluss <%= raw " für Auftrag "+link_to(@completion.job.short, [current_view, @completion.job], :class => "link") if @completion.job %></h2>
    <div class="inner">
      <%= form_for :completion, :url => url_for([current_view, :completions])+"?fromPath=#{params[:fromPath]}", :html => { :class => :form, :multipart => true } do |f| -%>
        <%= render :partial => "general/completion_form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>