<% 
completion = @completion if @completion 
empty_form = false
empty_form = true if @empty_form 
%>
<HTML>
	<HEAD><TITLE></TITLE>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<STYLE type="text/css">
		body {margin-top: 0px;margin-left: 0px;font-family:'Helvetica Neue'; width:800px;}
		</STYLE>
	</HEAD>

	<BODY>

		<img style="position:absolute; z-index:-100; left:0px; top:0px" src="<%= Settings.ASSET_HOST %>/completion_form_v4/completion_form_v4_1.png"/>

		<img style="position:absolute; z-index:-100; left:0px; top:1200px" src="<%= Settings.ASSET_HOST %>/completion_form_v4/completion_form_v4_2.png"/>


		<div id="formular" style="font-size:12px;">

			<!-- PAGE 1 -->
			<div style="position:absolute;top:85px; width:800px;font-family:'Helvetica Neue';line-height:16px">
				<%= render :partial => "completions/kundendaten_v2", :locals => {:completion => completion} %>
			</div>

			<div style="position:absolute;top:170px;left:155px;width:180px;font-family:'Helvetica Neue';line-height:16px;"><%= completion.appointment.user.full_name %>
			</div>
			<div style="position:absolute;top:175px;left:635px;width:180px;font-family:'Helvetica Neue';line-height:16px;"><%= completion.appointment.day.strftime("%d.%m.%Y") %>
			</div>
			<div style="position:absolute;top:195px;left:155px;width:180px;font-family:'Helvetica Neue';line-height:16px;"><%= completion.appointment.job.client.name %>
			</div>

			<div style="position:absolute;top:243px;left:640px;width:180px;font-family:'Helvetica Neue';line-height:16px;"><%= "X" if completion.adresspruefung if !empty_form %>
			</div>

			<div style="position:absolute;top:293px;left:190px; line-height:24px;font-family:'Helvetica Neue'">
				<%= bool_format completion.clever_pro if !empty_form %><br/>
				<%= bool_format completion.unbundled if !empty_form %><br/>
				<%= date_format completion.job.modemaktivierung %><br/>
				<%= completion.job.modem_type.name %><br/>
				<%= bool_format completion.umzug if !empty_form %><br/>
			</div>

			<div style="position:absolute;top:295px;left:475px;width:180px;font-family:'Helvetica Neue';line-height:16px;"><%= completion.appointment.job.telefon_neu %>
			</div>
			
			<div style="position:absolute;top:440px;left:260px;">
				<%= completion.job.aktive_kunden %>
			</div>

			<div style="position:absolute;top:470px;left:260px; line-height:24px;font-family:'Helvetica Neue'">
				<%= completion.job.wohneinheiten %>
			</div>
			<div style="position:absolute;top:505px;left:260px; line-height:24px;font-family:'Helvetica Neue'">
				<%= completion.wohneinheiten if !empty_form %>
			</div>

			<div style="position:absolute;top:555px;left:205px;">
				<%= completion.job.rks_anlagennummer %>
			</div>

			<div style="position:absolute;top:443px;left:445px;">
				<%= completion.job.network_type.name %>
			</div>

			<div style="position:absolute;top:443px;left:645px;">
				<%= completion.job.job_type.name %>
			</div>



			<div style="position:absolute;top:462px;left:503px; line-height:24px;font-family:'Helvetica Neue'">
				<%= "X" if !empty_form && completion.network_type.name == "Stern" %><br/>
				<%= "X" if !empty_form && completion.network_type.name == "Baum" %><br/>
				<%= "X" if !empty_form && completion.network_type.name == "Etagenstern" %><br/>
				<%= "X" if !empty_form && completion.network_type.name == "Mischnetz" %><br/>
				<%= "X" if !empty_form && completion.network_type.name == "SingleLine" %><br/>
			</div>

			<div style="position:absolute;top:613px;left:415px;">
				<%= "X" if !empty_form && completion.installationsart_id == 2 %>
			</div>
			<div style="position:absolute;top:636px;left:415px;">
				<%= "X" if !empty_form && completion.installationsart_id == 3 %>
			</div>
			<div style="position:absolute;top:613px;left:753px;">
				<%= "X" if !empty_form && completion.installationsart_id == 1 %>
			</div>
			<div style="position:absolute;top:630px;left:490px;width:230px;text-align:right">
				<%= completion.installationsart_sonstiges if !empty_form %>
			</div>

			<div style="position:absolute;top:685px;left:615px;">
				<%= "X" if !empty_form && (completion.provisionierung_id == 2) %>
			</div>
			<div style="position:absolute;top:710px;left:615px;">
				<%= "X" if !empty_form && (completion.provisionierung_id == 3) %>
			</div>
			<div style="position:absolute;top:685px;left:750px;">
				<%= "X" if !empty_form && (completion.provisionierung_id == 1) %>
			</div>

			<div style="position:absolute;top:810px;left:150px;font-size:20px">
				<%= completion.D130.to_s.gsub(".",",") if !empty_form %>
			</div>
			<div style="position:absolute;top:850px;left:150px;font-size:20px">
				<%= completion.K5.to_s.gsub(".",",") if !empty_form %>
			</div>
			<div style="position:absolute;top:810px;left:270px;font-size:20px">
				<%= completion.D802.to_s.gsub(".",",") if !empty_form %>
			</div>
			<div style="position:absolute;top:850px;left:270px;font-size:20px">
				<%= completion.K29.to_s.gsub(".",",") if !empty_form %>
			</div>

			<div style="position:absolute;top:910px;left:386px;font-size:25px; letter-spacing:1px">
				<%= completion.HFC_MAC.gsub(":","") if !empty_form %>
			</div>

			<div style="position:absolute;top:998px;left:633px;">
				<%= "X" if !empty_form && completion.uebrige_modems_im_gebaeude_per_SBC_portal_geprueft %>
			</div>

			<div style="position:absolute;top:998px;left:752px;">
				<%= "X" if !empty_form && completion.sbc_meldung_erfolgt %>
			</div>






			<!-- PAGE 2 -->

			<div style="position:absolute;top:1285px; width:800px;font-family:'Helvetica Neue';line-height:16px">
				<%= render :partial => "completions/kundendaten_v2", :locals => {:completion => completion} %>
			</div>


			<div style="position:absolute;top:1380px;left:412px;">
				<%= "X" if !empty_form && completion.potentialausgleich_id == 2 %>
			</div>

			<div style="position:absolute;top:1380px;left:765px;">
				<%= "X" if !empty_form && completion.potentialausgleich_id == 3 %>
			</div>

			<div style="position:absolute;top:1428px;left:412px;">
				<%= "X" if !empty_form && completion.potentialausgleich_id == 1 %>
			</div>



			<div style="position:absolute;top:1580px;left:100px;">
				<%= completion.appointment.user.full_name.upcase %>
			</div>

			<div style="position:absolute;top:1580px;left:290px;">
				<% completion.appointment.user.full_name.upcase %>
			</div>

<% if !empty_form  %>

			<div style="position:absolute;top:1580px;left:430px;">
				<%= completion.created_at.strftime("%d.%m.%Y") %>
			</div>

			<div style="position:absolute;top:1545px;left:520px;z-index:-100">
			<%= image_tag "https://s3.amazonaws.com/#{S3_CONFIG[Rails.env]['bucket']}/signatures/signature_technician_#{completion.technician.id}.gif",:size => "200x50", :alt => "Technikerunterschrift" %>
			</div>

			<div style="position:absolute;top:1705px;left:388px;">
				<%= "X" if completion.telefon_ok%>
			</div>

			<div style="position:absolute;top:1755px;left:388px;">
				<%= "X" if completion.internet_ok %>
			</div>

			<div style="position:absolute;top:1818px;left:388px;">
				<%= "X" if completion.fernsehempfang_ok %>
			</div>

			<div style="position:absolute;top:1867px;left:388px;">
				<%= "X" if completion.installationsort_sauber_verlassen %>
			</div>

			<div style="position:absolute;top:1725px;left:458px; font-size:18px; width:300px">
				<%= completion.bemerkungen_kunde %>
			</div>

			<div style="position:absolute;top:1980px;left:400px;">
				<%= completion.created_at.strftime("%d.%m.%Y") %>
			</div>


			<div style="position:absolute;top:1945px;left:520px;z-index:-100">
			<%= image_tag "https://s3.amazonaws.com/#{S3_CONFIG[Rails.env]['bucket']}/signatures/signature_#{completion.job.ot_auftragsnummer}.gif",:size => "200x50", :alt => "Kundenunterschrift" %>
			</div>
<% end %>

		<img style="position:absolute; z-index:-100; left:0px; top:2400px" src="<%= Settings.ASSET_HOST %>/completion_form_v4/completion_form_v4_3.png"/>

		<img style="position:absolute; z-index:-100; left:0px; top:3600px" src="<%= Settings.ASSET_HOST %>/completion_form_v4/completion_form_v4_4.png"/>

		<img style="position:absolute; z-index:-100; left:0px; top:4800px" src="<%= Settings.ASSET_HOST %>/completion_form_v4/completion_form_v4_5.png"/>

		<img style="position:absolute; z-index:-100; left:0px; top:6000px" src="<%= Settings.ASSET_HOST %>/completion_form_v4/completion_form_v4_6.png"/>

			<!-- PAGE 3 -->

			<div style="position:absolute;top:2482px; width:800px;font-family:'Helvetica Neue';line-height:16px">
				<%= render :partial => "completions/kundendaten_v2", :locals => {:completion => completion} %>
			</div>

			<!-- PAGE 4 -->

			<div style="position:absolute;top:3727px; width:800px;font-family:'Helvetica Neue';line-height:16px">
				<%= render :partial => "completions/kundendaten_v2", :locals => {:completion => completion} %>
			</div>

			<!-- PAGE 5 -->

			<div style="position:absolute;top:4930px; width:800px;font-family:'Helvetica Neue';line-height:16px">
				<%= render :partial => "completions/kundendaten_v2", :locals => {:completion => completion} %>
			</div>

			<!-- PAGE 6 -->

			<div style="position:absolute;top:6125px; width:800px;font-family:'Helvetica Neue';line-height:16px">
				<%= render :partial => "completions/kundendaten_v2", :locals => {:completion => completion} %>
			</div>

			<div style="position:absolute;top:6580px;left:80px;line-height:15px">
				<%=raw completion.job.beauftragte_leistungen.gsub("\n", "<br/>") %>
			</div>

		</div>
	</BODY>
</HTML>