<% completion = @completion if @completion %>
<HTML>
<HEAD><TITLE>completion_form</TITLE>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<STYLE type="text/css">
.mac{font-size:30px; position:relative; top:-10px; left:5px;}

body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin-top: 20px;margin-left: 66px;margin-bottom: 32px;width: 691px;background-image: url(<%= Settings.ASSET_HOST %>/assets/completion_form_images/completion_form1.jpg);background-position: 0px 0px;background-size: 690px 1054px;background-repeat: no-repeat;}



#page_2 {position:relative; overflow: hidden;margin-top: 18px;margin-left: 76px;margin-bottom: 32px;width: 691px;background-image: url(<%= Settings.ASSET_HOST %>/assets/completion_form_images/completion_form2.jpg);background-position: 0px 0px;background-size: 690px 1056px;background-repeat: no-repeat;}
#page_2 #id_1 {border:none;margin-top: 4px;width: 690px;overflow: hidden;}
#page_2 #id_2 {border:none;margin-top: 4px;width: 689px;overflow: hidden;}
#page_2 #id_2 #id_2_1 {float:left;border:none;width: 337px;overflow: hidden;}
#page_2 #id_2 #id_2_2 {float:left;border:none;margin-left: 37px;width: 315px;overflow: hidden;}
#page_2 #id_3 {border:none;margin-top: 36px;width: 691px;overflow: hidden;}



#page_3 {position:relative; overflow: hidden;margin-top: 18px;margin-left: 76px;margin-bottom: 32px;width: 691px;background-image: url(<%= Settings.ASSET_HOST %>/assets/completion_form_images/completion_form3.jpg);background-position: 0px 0px;background-size: 691px 1056px;background-repeat: no-repeat;}

.header{ background-color:#aaa;}

.ft0{font: bold 21px 'Arial';line-height: 24px;}
.ft1{font: bold 12px 'Arial';line-height: 15px;}
.ft2{font: bold 12px 'Arial';line-height: 15px;white-space: nowrap;}
.ft3{font: bold 11px 'Arial';line-height: 14px;white-space: nowrap;}
.ft4{font: 11px 'Arial';line-height: 14px;white-space: nowrap;}
.ft5{font: bold 12px 'Arial';color: #ff0000;line-height: 15px;white-space: nowrap;}
.ft6{font: italic 12px 'Arial';line-height: 15px;white-space: nowrap;}
.ft7{font: bold 10px 'Arial';line-height: 12px;white-space: nowrap;}
.ft8{font: 12px 'Arial';line-height: 14px;white-space: nowrap;}
.ft9{font: 12px 'Arial';line-height: 15px;white-space: nowrap;}
.ft10{font: 10px 'Arial';line-height: 13px;white-space: nowrap;}
.ft11{font: italic bold 12px 'Arial';line-height: 15px;white-space: nowrap;}
.ft12{font: 12px 'Arial';line-height: 15px;}
.ft13{font: italic bold 12px 'Arial';line-height: 15px;}

.p0{text-align: left;margin-top: 3px;margin-bottom: 0px;}
.p1{text-align: left;padding-left: 2px;margin-top: 17px;margin-bottom: 0px;}
.p2{text-align: left;margin-top: 0px;margin-bottom: 0px;}
.p3{text-align: left;padding-left: 2px;margin-top: 89px;margin-bottom: 0px;}
.p4{text-align: left;margin-top: 7px;margin-bottom: 0px;}
.p5{text-align: left;margin-top: 10px;margin-bottom: 0px;}
.p6{text-align: left;margin-top: 9px;margin-bottom: 0px;}
.p7{text-align: left;padding-left: 2px;margin-top: 8px;margin-bottom: 0px;}
.p8{text-align: left;padding-left: 2px;margin-top: 9px;margin-bottom: 0px;}
.p9{text-align: left;padding-left: 2px;margin-top: 16px;margin-bottom: 0px;}
.p10{text-align: left;margin-top: 4px;margin-bottom: 0px;}
.p11{text-align: left;padding-left: 2px;margin-top: 14px;margin-bottom: 0px;}
.p12{text-align: left;margin-top: 8px;margin-bottom: 0px;}
.p13{text-align: left;padding-left: 2px;margin-top: 20px;margin-bottom: 0px;}
.p14{text-align: left;padding-left: 2px;margin-top: 88px;margin-bottom: 0px;}
.p15{text-align: left;padding-left: 2px;margin-top: 21px;margin-bottom: 0px;}

.td0{text-align: left;padding-left: 0px;padding-right: 0px;width: 149px;vertical-align: bottom;}
.td1{text-align: left;padding-left: 0px;padding-right: 0px;width: 37px;vertical-align: bottom;}
.td2{text-align: left;padding-left: 0px;padding-right: 0px;width: 96px;vertical-align: bottom;}
.td3{text-align: left;padding-left: 0px;padding-right: 0px;width: 13px;vertical-align: bottom;}
.td4{text-align: left;padding-left: 9px;padding-right: 0px;width: 60px;vertical-align: bottom;}
.td5{text-align: right;padding-left: 0px;padding-right: 37px;width: 63px;vertical-align: bottom;}
.td6{text-align: left;padding-left: 48px;padding-right: 0px;width: 67px;vertical-align: bottom;}
.td7{text-align: left;padding-left: 37px;padding-right: 0px;width: 74px;vertical-align: bottom;}
.td8{text-align: left;padding-left: 0px;padding-right: 0px;width: 103px;vertical-align: bottom;}
.td9{text-align: left;padding-left: 0px;padding-right: 0px;width: 46px;vertical-align: bottom;}
.td10{text-align: left;padding-left: 0px;padding-right: 0px;width: 100px;vertical-align: bottom;}
.td11{text-align: left;padding-left: 48px;padding-right: 0px;width: 63px;vertical-align: bottom;}
.td12{text-align: left;padding-left: 0px;padding-right: 0px;width: 4px;vertical-align: bottom;}
.td13{text-align: right;padding-left: 0px;padding-right: 3px;width: 108px;vertical-align: bottom;}
.td14{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 4px;width: 149px;vertical-align: bottom;}
.td15{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 4px;width: 37px;vertical-align: bottom;}
.td16{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 4px;width: 96px;vertical-align: bottom;}
.td17{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 4px;width: 13px;vertical-align: bottom;}
.td18{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 4px;width: 69px;vertical-align: bottom;}
.td19{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 4px;width: 100px;vertical-align: bottom;}
.td20{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 4px;width: 111px;vertical-align: bottom;}
.td21{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 4px;width: 4px;vertical-align: bottom;}
.td22{border-left: #000000 1pt solid;border-bottom: #000000 1pt solid;text-align: left;padding-left: 2px;padding-right: 0px;width: 147px;vertical-align: bottom;}
.td23{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 37px;vertical-align: bottom;}
.td24{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 96px;vertical-align: bottom;}
.td25{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 13px;vertical-align: bottom;}
.td26{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 9px;vertical-align: bottom;}
.td27{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 32px;vertical-align: bottom;}
.td28{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 28px;vertical-align: bottom;}
.td29{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 4px;vertical-align: bottom;}
.td30{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 15px;vertical-align: bottom;}
.td31{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 31px;vertical-align: bottom;}
.td32{border-right: #000000 1pt solid;border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 3px;vertical-align: bottom;}
.td33{text-align: left;padding-left: 0px;padding-right: 0px;width: 52px;vertical-align: bottom;}
.td34{text-align: left;padding-left: 0px;padding-right: 0px;width: 51px;vertical-align: bottom;}
.td35{text-align: left;padding-left: 0px;padding-right: 0px;width: 41px;vertical-align: bottom;}
.td36{text-align: left;padding-left: 0px;padding-right: 0px;width: 5px;vertical-align: bottom;}
.td37{text-align: left;padding-left: 57px;padding-right: 0px;width: 112px;vertical-align: bottom;}
.td38{text-align: left;padding-left: 0px;padding-right: 0px;width: 32px;vertical-align: bottom;}
.td39{text-align: left;padding-left: 0px;padding-right: 0px;width: 15px;vertical-align: bottom;}
.td40{text-align: right;padding-left: 0px;padding-right: 3px;width: 112px;vertical-align: bottom;}
.td41{text-align: left;padding-left: 4px;padding-right: 0px;width: 93px;vertical-align: bottom;}
.td42{text-align: left;padding-left: 0px;padding-right: 0px;width: 111px;vertical-align: bottom;}
.td43{text-align: center;padding-left: 0px;padding-right: 12px;width: 71px;vertical-align: bottom;}
.td44{text-align: left;padding-left: 0px;padding-right: 0px;width: 69px;vertical-align: bottom;}
.td45{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 4px;width: 26px;vertical-align: bottom;}
.td46{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 5px;width: 43px;vertical-align: bottom;}
.td47{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 5px;width: 18px;vertical-align: bottom;}
.td48{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 4px;width: 193px;vertical-align: bottom;}
.td49{border-left: #000000 1pt solid;text-align: left;padding-left: 2px;padding-right: 0px;width: 147px;vertical-align: bottom;}
.td50{text-align: left;padding-left: 0px;padding-right: 0px;width: 9px;vertical-align: bottom;}
.td51{border-right: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 17px;vertical-align: bottom;}
.td52{text-align: left;padding-left: 0px;padding-right: 0px;width: 28px;vertical-align: bottom;}
.td53{border-right: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 18px;vertical-align: bottom;}
.td54{text-align: left;padding-left: 2px;padding-right: 0px;width: 191px;vertical-align: bottom;}
.td55{text-align: left;padding-left: 0px;padding-right: 0px;width: 31px;vertical-align: bottom;}
.td56{border-right: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 3px;vertical-align: bottom;}
.td57{border-left: #000000 1pt solid;border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 3px;width: 103px;vertical-align: bottom;}
.td58{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 3px;width: 46px;vertical-align: bottom;}
.td59{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 3px;width: 37px;vertical-align: bottom;}
.td60{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 3px;width: 96px;vertical-align: bottom;}
.td61{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 3px;width: 13px;vertical-align: bottom;}
.td62{border-right: #000000 1pt solid;border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 3px;width: 26px;vertical-align: bottom;}
.td63{border-right: #c0c0c0 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 4px;width: 31px;vertical-align: bottom;}
.td64{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 4px;width: 12px;vertical-align: bottom;}
.td65{border-right: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 4px;width: 18px;vertical-align: bottom;}
.td66{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 3px;width: 82px;vertical-align: bottom;}
.td67{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 3px;width: 111px;vertical-align: bottom;}
.td68{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 3px;width: 4px;vertical-align: bottom;}
.td69{border-right: #000000 1pt solid;border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 3px;width: 111px;vertical-align: bottom;}
.td70{text-align: left;padding-left: 6px;padding-right: 0px;width: 90px;vertical-align: bottom;}
.td71{text-align: left;padding-left: 0px;padding-right: 0px;width: 17px;vertical-align: bottom;}
.td72{border-right: #c0c0c0 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 16px;vertical-align: bottom;}
.td73{text-align: left;padding-left: 0px;padding-right: 0px;width: 12px;vertical-align: bottom;}
.td74{text-align: left;padding-left: 20px;padding-right: 0px;width: 80px;vertical-align: bottom;}
.td75{text-align: left;padding-left: 0px;padding-right: 0px;width: 3px;vertical-align: bottom;}
.td76{border-right: #c0c0c0 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 57px;vertical-align: bottom;}
.td77{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 51px;vertical-align: bottom;}
.td78{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 41px;vertical-align: bottom;}
.td79{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 5px;vertical-align: bottom;}
.td80{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 37px;vertical-align: bottom;}
.td81{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 13px;vertical-align: bottom;}
.td82{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 9px;vertical-align: bottom;}
.td83{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 17px;vertical-align: bottom;}
.td84{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 15px;vertical-align: bottom;}
.td85{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 28px;vertical-align: bottom;}
.td86{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 4px;vertical-align: bottom;}
.td87{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 14px;vertical-align: bottom;}
.td88{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 18px;vertical-align: bottom;}
.td89{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 32px;vertical-align: bottom;}
.td90{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 31px;vertical-align: bottom;}
.td91{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 3px;vertical-align: bottom;}
.td92{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 149px;vertical-align: bottom;}
.td93{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 37px;vertical-align: bottom;}
.td94{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 96px;vertical-align: bottom;}
.td95{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 13px;vertical-align: bottom;}
.td96{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 69px;vertical-align: bottom;}
.td97{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 100px;vertical-align: bottom;}
.td98{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 111px;vertical-align: bottom;}
.td99{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 4px;vertical-align: bottom;}
.td100{border-left: #000000 1pt solid;border-bottom: #000000 1pt solid;text-align: left;padding-left: 3px;padding-right: 0px;width: 146px;vertical-align: bottom;}
.td101{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 17px;vertical-align: bottom;}
.td102{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 16px;vertical-align: bottom;}
.td103{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 12px;vertical-align: bottom;}
.td104{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 14px;vertical-align: bottom;}
.td105{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 18px;vertical-align: bottom;}
.td106{text-align: left;padding-left: 22px;padding-right: 0px;width: 15px;vertical-align: bottom;}
.td107{text-align: left;padding-left: 38px;padding-right: 0px;width: 140px;vertical-align: bottom;}
.td108{text-align: left;padding-left: 8px;padding-right: 0px;width: 103px;vertical-align: bottom;}
.td109{text-align: left;padding-left: 13px;padding-right: 0px;width: 98px;vertical-align: bottom;}
.td110{text-align: left;padding-left: 38px;padding-right: 0px;width: 58px;vertical-align: bottom;}
.td111{text-align: left;padding-left: 1px;padding-right: 0px;width: 68px;vertical-align: bottom;}
.td112{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 8px;width: 8px;vertical-align: bottom;}
.td113{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 8px;width: 44px;vertical-align: bottom;}
.td114{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 8px;width: 51px;vertical-align: bottom;}
.td115{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 8px;width: 46px;vertical-align: bottom;}
.td116{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 8px;width: 37px;vertical-align: bottom;}
.td117{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 8px;width: 96px;vertical-align: bottom;}
.td118{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 8px;width: 13px;vertical-align: bottom;}
.td119{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 8px;width: 100px;vertical-align: bottom;}
.td120{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 8px;width: 111px;vertical-align: bottom;}
.td121{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 8px;width: 4px;vertical-align: bottom;}
.td122{text-align: left;padding-left: 0px;padding-right: 0px;width: 8px;vertical-align: bottom;}
.td123{text-align: left;padding-left: 0px;padding-right: 0px;width: 44px;vertical-align: bottom;}
.td124{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 8px;vertical-align: bottom;}
.td125{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 44px;vertical-align: bottom;}
.td126{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 46px;vertical-align: bottom;}
.td127{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 96px;vertical-align: bottom;}
.td128{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 100px;vertical-align: bottom;}
.td129{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 111px;vertical-align: bottom;}
.td130{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 103px;vertical-align: bottom;}
.td131{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 46px;vertical-align: bottom;}
.td132{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 69px;vertical-align: bottom;}
.td133{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 100px;vertical-align: bottom;}
.td134{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 111px;vertical-align: bottom;}
.td135{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 108px;vertical-align: bottom;}
.td136{border-left: #000000 1pt solid;border-bottom: #000000 1pt solid;text-align: left;padding-left: 2px;padding-right: 0px;width: 101px;vertical-align: bottom;}
.td137{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 41px;vertical-align: bottom;}
.td138{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 5px;vertical-align: bottom;}
.td139{border-right: #000000 1pt solid;border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 31px;vertical-align: bottom;}
.td140{border-left: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 3px;vertical-align: bottom;}
.td141{text-align: right;padding-left: 0px;padding-right: 45px;width: 133px;vertical-align: bottom;}
.td142{text-align: left;padding-left: 0px;padding-right: 0px;width: 14px;vertical-align: bottom;}
.td143{text-align: left;padding-left: 0px;padding-right: 0px;width: 18px;vertical-align: bottom;}
.td144{text-align: right;padding-left: 0px;padding-right: 35px;width: 76px;vertical-align: bottom;}
.td145{text-align: right;padding-left: 0px;padding-right: 35px;width: 191px;vertical-align: bottom;}
.td146{text-align: left;padding-left: 21px;padding-right: 0px;width: 194px;vertical-align: bottom;}
.td147{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 6px;width: 8px;vertical-align: bottom;}
.td148{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 6px;width: 44px;vertical-align: bottom;}
.td149{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 6px;width: 51px;vertical-align: bottom;}
.td150{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 6px;width: 46px;vertical-align: bottom;}
.td151{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 6px;width: 100px;vertical-align: bottom;}
.td152{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 6px;width: 111px;vertical-align: bottom;}
.td153{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 6px;width: 4px;vertical-align: bottom;}
.td154{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 6px;width: 149px;vertical-align: bottom;}
.td155{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 6px;width: 37px;vertical-align: bottom;}
.td156{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 6px;width: 96px;vertical-align: bottom;}
.td157{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 6px;width: 13px;vertical-align: bottom;}
.td158{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 6px;width: 69px;vertical-align: bottom;}
.td159{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 6px;width: 100px;vertical-align: bottom;}
.td160{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 6px;width: 111px;vertical-align: bottom;}
.td161{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 6px;width: 4px;vertical-align: bottom;}
.td162{text-align: left;padding-left: 5px;padding-right: 0px;width: 77px;vertical-align: bottom;}
.td163{text-align: left;padding-left: 8px;padding-right: 0px;width: 218px;vertical-align: bottom;}
.td164{text-align: right;padding-left: 0px;padding-right: 48px;width: 341px;vertical-align: bottom;}
.td165{text-align: right;padding-left: 0px;padding-right: 34px;width: 77px;vertical-align: bottom;}
.td166{text-align: right;padding-left: 0px;padding-right: 48px;width: 232px;vertical-align: bottom;}
.td167{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 9px;width: 8px;vertical-align: bottom;}
.td168{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 8px;width: 44px;vertical-align: bottom;}
.td169{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 8px;width: 230px;vertical-align: bottom;}
.td170{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 8px;width: 13px;vertical-align: bottom;}
.td171{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 9px;width: 9px;vertical-align: bottom;}
.td172{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 8px;width: 60px;vertical-align: bottom;}
.td173{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 8px;width: 211px;vertical-align: bottom;}
.td174{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 8px;width: 4px;vertical-align: bottom;}
.td175{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 8px;width: 108px;vertical-align: bottom;}
.td176{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 9px;width: 3px;vertical-align: bottom;}
.td177{border-right: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 8px;vertical-align: bottom;}
.td178{border-left: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 44px;vertical-align: bottom;}
.td179{text-align: center;padding-left: 0px;padding-right: 54px;width: 176px;vertical-align: bottom;}
.td180{border-right: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 13px;vertical-align: bottom;}
.td181{border-right: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 9px;vertical-align: bottom;}
.td182{text-align: left;padding-left: 0px;padding-right: 0px;width: 60px;vertical-align: bottom;}
.td183{text-align: left;padding-left: 89px;padding-right: 0px;width: 122px;vertical-align: bottom;}
.td184{border-right: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 108px;vertical-align: bottom;}
.td185{border-right: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 8px;vertical-align: bottom;}
.td186{border-left: #000000 1pt solid;border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 6px;width: 44px;vertical-align: bottom;}
.td187{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 6px;width: 230px;vertical-align: bottom;}
.td188{border-right: #000000 1pt solid;border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 6px;width: 13px;vertical-align: bottom;}
.td189{border-right: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 9px;vertical-align: bottom;}
.td190{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 6px;width: 60px;vertical-align: bottom;}
.td191{border-right: #000000 1pt solid;border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 6px;width: 108px;vertical-align: bottom;}
.td192{text-align: left;padding-left: 17px;padding-right: 0px;width: 213px;vertical-align: bottom;}
.td193{border-left: #000000 1pt solid;border-right: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 9px;vertical-align: bottom;}
.td194{border-right: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 8px;width: 8px;vertical-align: bottom;}
.td195{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 44px;vertical-align: bottom;}
.td196{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 51px;vertical-align: bottom;}
.td197{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 46px;vertical-align: bottom;}
.td198{border-right: #000000 1pt solid;border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 13px;vertical-align: bottom;}
.td199{border-left: #000000 1pt solid;border-right: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 8px;width: 9px;vertical-align: bottom;}
.td200{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 8px;width: 60px;vertical-align: bottom;}
.td201{border-right: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 8px;width: 108px;vertical-align: bottom;}
.td202{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 8px;width: 3px;vertical-align: bottom;}
.td203{border-left: #000000 1pt solid;text-align: left;padding-left: 12px;padding-right: 0px;width: 32px;vertical-align: bottom;}
.td204{border-right: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 41px;vertical-align: bottom;}
.td205{text-align: left;padding-left: 3px;padding-right: 0px;width: 34px;vertical-align: bottom;}
.td206{border-left: #000000 1pt solid;border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 44px;vertical-align: bottom;}
.td207{border-right: #000000 1pt solid;border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 41px;vertical-align: bottom;}
.td208{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 5px;vertical-align: bottom;}
.td209{border-right: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 8px;width: 9px;vertical-align: bottom;}
.td210{border-bottom: #000000 1pt solid;text-align: left;padding-left: 12px;padding-right: 0px;width: 148px;vertical-align: bottom;}
.td211{border-left: #000000 1pt solid;border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 44px;vertical-align: bottom;}
.td212{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 51px;vertical-align: bottom;}
.td213{border-right: #000000 1pt solid;border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 13px;vertical-align: bottom;}
.td214{border-right: #000000 1pt solid;border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 108px;vertical-align: bottom;}
.td215{border-right: #000000 1pt solid;border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 32px;vertical-align: bottom;}
.td216{border-right: #000000 1pt solid;border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 4px;vertical-align: bottom;}
.td217{text-align: left;padding-left: 0px;padding-right: 0px;width: 73px;vertical-align: bottom;}
.td218{text-align: right;padding-left: 0px;padding-right: 11px;width: 65px;vertical-align: bottom;}
.td219{text-align: right;padding-left: 0px;padding-right: 189px;width: 57px;vertical-align: bottom;}
.td220{text-align: left;padding-left: 189px;padding-right: 0px;width: 50px;vertical-align: bottom;}
.td221{text-align: left;padding-left: 12px;padding-right: 0px;width: 30px;vertical-align: bottom;}
.td222{text-align: right;padding-left: 0px;padding-right: 0px;width: 15px;vertical-align: bottom;}
.td223{text-align: left;padding-left: 0px;padding-right: 0px;width: 237px;vertical-align: bottom;}
.td224{text-align: left;padding-left: 67px;padding-right: 0px;width: 59px;vertical-align: bottom;}
.td225{text-align: right;padding-left: 0px;padding-right: 54px;width: 64px;vertical-align: bottom;}
.td226{text-align: left;padding-left: 31px;padding-right: 0px;width: 85px;vertical-align: bottom;}
.td227{text-align: right;padding-left: 0px;padding-right: 3px;width: 90px;vertical-align: bottom;}
.td228{text-align: left;padding-left: 0px;padding-right: 0px;width: 117px;vertical-align: bottom;}
.td229{text-align: left;padding-left: 0px;padding-right: 0px;width: 120px;vertical-align: bottom;}
.td230{text-align: left;padding-left: 0px;padding-right: 0px;width: 118px;vertical-align: bottom;}
.td231{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 9px;width: 117px;vertical-align: bottom;}
.td232{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 9px;width: 120px;vertical-align: bottom;}
.td233{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 9px;width: 126px;vertical-align: bottom;}
.td234{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 9px;width: 118px;vertical-align: bottom;}
.td235{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 9px;width: 116px;vertical-align: bottom;}
.td236{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 9px;width: 93px;vertical-align: bottom;}
.td237{border-left: #000000 1pt solid;border-bottom: #000000 1pt solid;text-align: left;padding-left: 2px;padding-right: 0px;width: 115px;vertical-align: bottom;}
.td238{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 120px;vertical-align: bottom;}
.td239{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 126px;vertical-align: bottom;}
.td240{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 118px;vertical-align: bottom;}
.td241{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 116px;vertical-align: bottom;}
.td242{border-right: #000000 1pt solid;border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 93px;vertical-align: bottom;}
.td243{text-align: left;padding-left: 3px;padding-right: 0px;width: 361px;vertical-align: bottom;}
.td244{text-align: left;padding-left: 53px;padding-right: 0px;width: 63px;vertical-align: bottom;}
.td245{text-align: right;padding-left: 0px;padding-right: 35px;width: 58px;vertical-align: bottom;}
.td246{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 9px;width: 117px;vertical-align: bottom;}
.td247{text-align: left;padding-left: 3px;padding-right: 0px;width: 243px;vertical-align: bottom;}
.td248{text-align: left;padding-left: 3px;padding-right: 0px;width: 117px;vertical-align: bottom;}
.td249{text-align: left;padding-left: 0px;padding-right: 0px;width: 126px;vertical-align: bottom;}
.td250{text-align: left;padding-left: 0px;padding-right: 0px;width: 116px;vertical-align: bottom;}
.td251{text-align: left;padding-left: 0px;padding-right: 0px;width: 93px;vertical-align: bottom;}
.td252{text-align: left;padding-left: 160px;padding-right: 0px;width: 43px;vertical-align: bottom;}
.td253{text-align: left;padding-left: 21px;padding-right: 0px;width: 52px;vertical-align: bottom;}
.td254{text-align: left;padding-left: 12px;padding-right: 0px;width: 49px;vertical-align: bottom;}
.td255{text-align: left;padding-left: 12px;padding-right: 0px;width: 76px;vertical-align: bottom;}
.td256{border-right: #000000 1pt solid;text-align: left;padding-left: 15px;padding-right: 0px;width: 233px;vertical-align: bottom;}
.td257{border-left: #000000 1pt solid;border-right: #000000 1pt solid;border-top: #000000 1pt solid;border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 13px;width: 15px;vertical-align: bottom;}
.td258{border-left: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 2px;vertical-align: bottom;}
.td259{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 10px;width: 169px;vertical-align: bottom;}
.td260{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 9px;width: 15px;vertical-align: bottom;}
.td261{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 10px;width: 19px;vertical-align: bottom;}
.td262{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 10px;width: 30px;vertical-align: bottom;}
.td263{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 10px;width: 28px;vertical-align: bottom;}
.td264{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 10px;width: 21px;vertical-align: bottom;}
.td265{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 10px;width: 25px;vertical-align: bottom;}
.td266{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 10px;width: 24px;vertical-align: bottom;}
.td267{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 10px;width: 49px;vertical-align: bottom;}
.td268{text-align: left;padding-left: 15px;padding-right: 0px;width: 154px;vertical-align: bottom;}
.td269{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 10px;width: 79px;vertical-align: bottom;}
.td270{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 10px;width: 2px;vertical-align: bottom;}
.td271{border-right: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 169px;vertical-align: bottom;}
.td272{border-left: #000000 1pt solid;border-right: #000000 1pt solid;border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 13px;width: 15px;vertical-align: bottom;}
.td273{text-align: left;padding-left: 0px;padding-right: 0px;width: 19px;vertical-align: bottom;}
.td274{border-right: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 30px;vertical-align: bottom;}
.td275{border-right: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 21px;vertical-align: bottom;}
.td276{text-align: left;padding-left: 0px;padding-right: 0px;width: 25px;vertical-align: bottom;}
.td277{border-right: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 24px;vertical-align: bottom;}
.td278{text-align: left;padding-left: 0px;padding-right: 0px;width: 49px;vertical-align: bottom;}
.td279{border-right: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 79px;vertical-align: bottom;}
.td280{border-right: #000000 1pt solid;border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 13px;width: 15px;vertical-align: bottom;}
.td281{border-left: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 19px;vertical-align: bottom;}
.td282{border-left: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 28px;vertical-align: bottom;}
.td283{border-left: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 25px;vertical-align: bottom;}
.td284{border-left: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 49px;vertical-align: bottom;}
.td285{border-right: #000000 1pt solid;text-align: left;padding-left: 30px;padding-right: 0px;width: 49px;vertical-align: bottom;}
.td286{text-align: left;padding-left: 0px;padding-right: 0px;width: 203px;vertical-align: bottom;}
.td287{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 10px;width: 15px;vertical-align: bottom;}
.td288{text-align: left;padding-left: 0px;padding-right: 0px;width: 24px;vertical-align: bottom;}
.td289{text-align: left;padding-left: 0px;padding-right: 0px;width: 169px;vertical-align: bottom;}
.td290{text-align: left;padding-left: 0px;padding-right: 0px;width: 30px;vertical-align: bottom;}
.td291{text-align: left;padding-left: 0px;padding-right: 0px;width: 21px;vertical-align: bottom;}
.td292{text-align: left;padding-left: 0px;padding-right: 0px;width: 79px;vertical-align: bottom;}
.td293{text-align: left;padding-left: 0px;padding-right: 0px;width: 2px;vertical-align: bottom;}
.td294{text-align: center;padding-left: 9px;padding-right: 0px;width: 64px;vertical-align: bottom;}
.td295{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 9px;width: 61px;vertical-align: bottom;}
.td296{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 9px;width: 88px;vertical-align: bottom;}
.td297{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 9px;width: 79px;vertical-align: bottom;}
.td298{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 8px;width: 15px;vertical-align: bottom;}
.td299{text-align: left;padding-left: 0px;padding-right: 0px;line-height: 9px;width: 2px;vertical-align: bottom;}
.td300{border-right: #000000 1pt solid;text-align: left;padding-left: 6px;padding-right: 0px;width: 73px;vertical-align: bottom;}
.td301{text-align: left;padding-left: 11px;padding-right: 0px;width: 77px;vertical-align: bottom;}
.td302{text-align: left;padding-left: 0px;padding-right: 0px;width: 425px;vertical-align: bottom;}
.td303{text-align: left;padding-left: 131px;padding-right: 0px;width: 38px;vertical-align: bottom;}
.td304{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 203px;vertical-align: bottom;}
.td305{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 73px;vertical-align: bottom;}
.td306{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 61px;vertical-align: bottom;}
.td307{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 88px;vertical-align: bottom;}
.td308{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 169px;vertical-align: bottom;}
.td309{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 79px;vertical-align: bottom;}
.td310{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 15px;vertical-align: bottom;}
.td311{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 7px;width: 2px;vertical-align: bottom;}
.td312{border-left: #000000 1pt solid;border-bottom: #000000 1pt solid;text-align: left;padding-left: 2px;padding-right: 0px;width: 201px;vertical-align: bottom;}
.td313{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 30px;vertical-align: bottom;}
.td314{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 21px;vertical-align: bottom;}
.td315{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 25px;vertical-align: bottom;}
.td316{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 24px;vertical-align: bottom;}
.td317{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 49px;vertical-align: bottom;}
.td318{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 169px;vertical-align: bottom;}
.td319{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 79px;vertical-align: bottom;}
.td320{border-right: #000000 1pt solid;border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 2px;vertical-align: bottom;}
.td321{text-align: left;padding-left: 7px;padding-right: 0px;width: 346px;vertical-align: bottom;}
.td322{text-align: left;padding-left: 0px;padding-right: 0px;width: 61px;vertical-align: bottom;}
.td323{text-align: left;padding-left: 5px;padding-right: 0px;width: 68px;vertical-align: bottom;}
.td324{text-align: left;padding-left: 41px;padding-right: 0px;width: 47px;vertical-align: bottom;}
.td325{text-align: left;padding-left: 95px;padding-right: 0px;width: 170px;vertical-align: bottom;}
.td326{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 11px;width: 337px;vertical-align: bottom;}
.td327{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 11px;width: 88px;vertical-align: bottom;}
.td328{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 11px;width: 169px;vertical-align: bottom;}
.td329{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 11px;width: 79px;vertical-align: bottom;}
.td330{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 11px;width: 15px;vertical-align: bottom;}
.td331{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;line-height: 11px;width: 2px;vertical-align: bottom;}
.td332{border-left: #000000 1pt solid;border-bottom: #000000 1pt solid;text-align: left;padding-left: 2px;padding-right: 0px;width: 335px;vertical-align: bottom;}
.td333{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 175px;vertical-align: bottom;}
.td334{border-bottom: #000000 1pt solid;text-align: left;padding-left: 140px;padding-right: 0px;width: 22px;vertical-align: bottom;}
.td335{border-bottom: #000000 1pt solid;text-align: left;padding-left: 0px;padding-right: 0px;width: 216px;vertical-align: bottom;}
.td336{border-bottom: #000000 1pt solid;text-align: left;padding-left: 98px;padding-right: 0px;width: 23px;vertical-align: bottom;}
.td337{border-bottom: #000000 1pt solid;text-align: left;padding-left: 2px;padding-right: 0px;width: 242px;vertical-align: bottom;}
.td338{border-bottom: #000000 1pt solid;text-align: left;padding-left: 48px;padding-right: 0px;width: 23px;vertical-align: bottom;}
.td339{text-align: left;padding-left: 0px;padding-right: 0px;width: 214px;vertical-align: bottom;}
.td340{text-align: left;padding-left: 90px;padding-right: 0px;width: 59px;vertical-align: bottom;}
.td341{text-align: right;padding-left: 0px;padding-right: 42px;width: 64px;vertical-align: bottom;}
.td342{text-align: left;padding-left: 43px;padding-right: 0px;width: 85px;vertical-align: bottom;}
.td343{text-align: right;padding-left: 0px;padding-right: 0px;width: 90px;vertical-align: bottom;}
.td344{text-align: left;padding-left: 0px;padding-right: 0px;width: 106px;vertical-align: bottom;}
.td345{text-align: left;padding-left: 0px;padding-right: 0px;width: 130px;vertical-align: bottom;}
.td346{text-align: left;padding-left: 14px;padding-right: 0px;width: 319px;vertical-align: bottom;}
.td347{text-align: left;padding-left: 0px;padding-right: 0px;width: 110px;vertical-align: bottom;}
.td348{text-align: right;padding-left: 0px;padding-right: 135px;width: 24px;vertical-align: bottom;}
.td349{text-align: left;padding-left: 63px;padding-right: 0px;width: 111px;vertical-align: bottom;}
.td350{text-align: right;padding-left: 0px;padding-right: 75px;width: 35px;vertical-align: bottom;}
.td351{text-align: left;padding-left: 14px;padding-right: 0px;width: 145px;vertical-align: bottom;}
.td352{text-align: left;padding-left: 0px;padding-right: 0px;width: 174px;vertical-align: bottom;}
.td353{text-align: right;padding-left: 0px;padding-right: 0px;width: 110px;vertical-align: bottom;}

.tr0{height: 16px;}
.tr1{height: 17px;}
.tr2{height: 5px;}
.tr3{height: 20px;}
.tr4{height: 36px;}
.tr5{height: 24px;}
.tr6{height: 18px;}
.tr7{height: 4px;}
.tr8{height: 21px;}
.tr9{height: 7px;}
.tr10{height: 8px;}
.tr11{height: 23px;}
.tr12{height: 27px;}
.tr13{height: 33px;}
.tr14{height: 6px;}
.tr15{height: 30px;}
.tr16{height: 32px;}
.tr17{height: 9px;}
.tr18{height: 31px;}
.tr19{height: 49px;}
.tr20{height: 10px;}
.tr21{height: 38px;}
.tr22{height: 47px;}
.tr23{height: 15px;}
.tr24{height: 14px;}
.tr25{height: 26px;}
.tr26{height: 54px;}
.tr27{height: 12px;}

.t0{width: 690px;margin-top: 8px;font: 12px 'Arial';line-height: 15px;}
.t1{width: 691px;margin-top: 19px;font: 12px 'Arial';line-height: 15px;}
.t2{width: 690px;margin-top: 8px;font: bold 12px 'Arial';line-height: 14px;}
.t3{width: 337px;font: bold 12px 'Arial';line-height: 15px;}
.t4{width: 337px;margin-top: 18px;font: bold 12px 'Arial';line-height: 15px;}
.t5{width: 315px;font: bold 12px 'Arial';line-height: 15px;}
.t6{width: 691px;font: 12px 'Arial';line-height: 15px;}
.t7{width: 687px;margin-top: 8px;font: 12px 'Arial';line-height: 15px;}
.t8{width: 573px;margin-top: 9px;font: bold 12px 'Arial';line-height: 15px;}
.t9{width: 691px;margin-top: 501px;font: 12px 'Arial';line-height: 15px;}

</STYLE>
</HEAD>

<BODY>
<DIV id="page_1">
<img style="position:absolute; z-index:-100" src="<%= Settings.ASSET_HOST %>/assets/completion_form_images/completion_form1.jpg" />
<P class="p0"><FONT class="ft0">CleverKabel Installationsauftrag</FONT></P>
<P class="p1 header"><FONT class="ft1">Kunde</FONT></P>
<TABLE cellpadding=0 cellspacing=0 class="t0">
<TR class="tr0">
	<TD colspan=5 class="td0"><%= completion.job.kunde_name %></TD>
	<TD class="td1">&nbsp;</TD>
	<TD class="td2">&nbsp;</TD>
	<TD class="td3">&nbsp;</TD>
	<TD colspan=5 class="td4"><FONT class="ft2">privat</FONT></TD>
	<TD colspan=5 class="td5"><%= completion.job.telefon_neu %></TD>
	<TD colspan=5 class="td6"><FONT class="ft3">OT Nummer</FONT></TD>
	<TD colspan=5 class="td7"><FONT class="ft4"><%= completion.job.ot_auftragsnummer %></FONT></TD>
</TR>
<TR class="tr0">
	<TD colspan=3 class="td8"><%= completion.job.kunde_strasse %> <%= completion.job.kunde_hausnummer %></TD>
	<TD colspan=2 class="td9">&nbsp;</TD>
	<TD class="td1">&nbsp;</TD>
	<TD class="td2">&nbsp;</TD>
	<TD class="td3">&nbsp;</TD>
	<TD colspan=5 class="td4"><FONT class="ft2">gesch&#228;ftl.</FONT></TD>
	<TD colspan=5 class="td10"><%= completion.job.kunde_telefon_geschaeftlich %></TD>
	<TD colspan=4 class="td11"><FONT class="ft2">Workorder</FONT></TD>
	<TD class="td12">&nbsp;</TD>
	<TD colspan=5 class="td13"><%= completion.job.workorder %></TD>
</TR>
<TR class="tr1">
	<TD colspan=3 class="td8"><FONT class="ft4"><%= completion.job.kunde_plz %> <%= completion.job.kunde_ort %></FONT></TD>
	<TD colspan=2 class="td9">&nbsp;</TD>
	<TD class="td1">&nbsp;</TD>
	<TD class="td2">&nbsp;</TD>
	<TD class="td3">&nbsp;</TD>
	<TD colspan=5 class="td4"><FONT class="ft2">mobil</FONT></TD>
	<TD colspan=5 class="td10"><%= completion.job.kunde_telefon_mobil %></TD>
	<TD colspan=4 class="td11"><FONT class="ft2">Kunden Nr.</FONT></TD>
	<TD class="td12">&nbsp;</TD>
	<TD colspan=5 class="td13"><%= completion.job.kunde_kundennummer %></TD>
</TR>
<TR class="tr2">
	<TD colspan=5 class="td14">&nbsp;</TD>
	<TD class="td15">&nbsp;</TD>
	<TD class="td16">&nbsp;</TD>
	<TD class="td17">&nbsp;</TD>
	<TD colspan=5 class="td18">&nbsp;</TD>
	<TD colspan=5 class="td19">&nbsp;</TD>
	<TD colspan=4 class="td20">&nbsp;</TD>
	<TD class="td21">&nbsp;</TD>
	<TD colspan=5 class="td20">&nbsp;</TD>
</TR>
<TR class="tr3 header">
	<TD colspan=5 class="td22"><FONT class="ft2">Terminvereinbarung</FONT></TD>
	<TD class="td23">&nbsp;</TD>
	<TD class="td24">&nbsp;</TD>
	<TD class="td25">&nbsp;</TD>
	<TD class="td26">&nbsp;</TD>
	<TD colspan=2 class="td27">&nbsp;</TD>
	<TD colspan=2 class="td28">&nbsp;</TD>
	<TD class="td29">&nbsp;</TD>
	<TD colspan=2 class="td27">&nbsp;</TD>
	<TD class="td27">&nbsp;</TD>
	<TD class="td27">&nbsp;</TD>
	<TD class="td27">&nbsp;</TD>
	<TD class="td27">&nbsp;</TD>
	<TD class="td27">&nbsp;</TD>
	<TD class="td30">&nbsp;</TD>
	<TD class="td29">&nbsp;</TD>
	<TD class="td25">&nbsp;</TD>
	<TD class="td27">&nbsp;</TD>
	<TD class="td27">&nbsp;</TD>
	<TD class="td31">&nbsp;</TD>
	<TD class="td32">&nbsp;</TD>
</TR>
<TR class="tr4">
	<TD colspan=2 class="td33"><FONT class="ft2">Monteur</FONT></TD>
	<TD class="td3" colspan=6 ><%= completion.appointment.user.full_name %></TD>
	<TD colspan=10 class="td37"><FONT class="ft2">Installationstermin</FONT></TD>
	<TD class="td38">&nbsp;</TD>
	<TD class="td38">&nbsp;</TD>
	<TD class="td38">&nbsp;</TD>
	<TD class="td39">&nbsp;</TD>
	<TD colspan=6 class="td40"><FONT class="ft4"><%= date_format completion.appointment.day %> <%= time_format completion.appointment.start_time %></FONT></TD>
</TR>
<TR class="tr5">
	<TD colspan=2 class="td33"><FONT class="ft2">Partner</FONT></TD>
	<TD colspan=3 class="td41"><%= completion.job.client.name %></TD>
	<TD class="td1">&nbsp;</TD>
	<TD class="td2">&nbsp;</TD>
	<TD class="td3">&nbsp;</TD>
	<TD colspan=10 class="td37"><FONT class="ft5"><%= "verb. Inst.-termin" if completion.job.verbindlicher_installationstermin %></FONT></TD>
	<TD colspan=4 class="td42">&nbsp;</TD>
	<TD class="td12">&nbsp;</TD>
	<TD colspan=5 class="td42">&nbsp;</TD>
</TR>
<TR class="tr5">
	<TD colspan=3 class="td8"><FONT class="ft2">Bemerkungen</FONT></TD>
	<TD colspan=3 class="td43"><FONT class="ft4"><%= completion.appointment.bemerkungen %></FONT></TD>
	<TD class="td2">&nbsp;</TD>
	<TD class="td3">&nbsp;</TD>
	<TD colspan=5 class="td44">&nbsp;</TD>
	<TD colspan=5 class="td10">&nbsp;</TD>
	<TD colspan=4 class="td42">&nbsp;</TD>
	<TD class="td12">&nbsp;</TD>
	<TD colspan=5 class="td42">&nbsp;</TD>
</TR>
<TR class="tr2">
	<TD colspan=5 class="td14">&nbsp;</TD>
	<TD class="td15">&nbsp;</TD>
	<TD class="td16">&nbsp;</TD>
	<TD class="td17">&nbsp;</TD>
	<TD colspan=2 class="td45">&nbsp;</TD>
	<TD colspan=3 class="td46">&nbsp;</TD>
	<TD colspan=2 class="td47">&nbsp;</TD>
	<TD colspan=7 class="td48">&nbsp;</TD>
	<TD class="td21">&nbsp;</TD>
	<TD colspan=5 class="td20">&nbsp;</TD>
</TR>
<TR class="tr6">
	<TD colspan=5 class="td49 "><FONT class="ft2">Leistungsmerkmale</FONT></TD>
	<TD class="td1">&nbsp;</TD>
	<TD class="td2">&nbsp;</TD>
	<TD class="td3">&nbsp;</TD>
	<TD class="td50">&nbsp;</TD>
	<TD class="td51">&nbsp;</TD>
	<TD class="td39">&nbsp;</TD>
	<TD colspan=2 class="td52">&nbsp;</TD>
	<TD colspan=2 class="td53">&nbsp;</TD>
	<TD colspan=7 class="td54"><FONT class="ft2">Telefonnummern</FONT></TD>
	<TD class="td12">&nbsp;</TD>
	<TD class="td3">&nbsp;</TD>
	<TD class="td38">&nbsp;</TD>
	<TD class="td38">&nbsp;</TD>
	<TD class="td55">&nbsp;</TD>
	<TD class="td56">&nbsp;</TD>
</TR>
<TR class="tr7">
	<TD colspan=3 class="td57">&nbsp;</TD>
	<TD colspan=2 class="td58">&nbsp;</TD>
	<TD class="td59">&nbsp;</TD>
	<TD class="td60">&nbsp;</TD>
	<TD class="td61">&nbsp;</TD>
	<TD colspan=2 class="td62">&nbsp;</TD>
	<TD colspan=2 class="td63">&nbsp;</TD>
	<TD class="td64">&nbsp;</TD>
	<TD colspan=2 class="td65">&nbsp;</TD>
	<TD colspan=3 class="td66">&nbsp;</TD>
	<TD colspan=4 class="td67">&nbsp;</TD>
	<TD class="td68">&nbsp;</TD>
	<TD colspan=5 class="td69">&nbsp;</TD>
</TR>
<TR class="tr8">
	<TD colspan=3 class="td8"><FONT class="ft2">Clever Pro:</FONT></TD>
	<TD class="td35">&nbsp;</TD>
	<TD class="td36">&nbsp;</TD>
	<TD class="td1">&nbsp;</TD>
	<TD class="td70"><%= bool_format completion.clever_pro %></TD>
	<TD class="td3">&nbsp;</TD>
	<TD class="td50">&nbsp;</TD>
	<TD class="td71">&nbsp;</TD>
	<TD class="td39">&nbsp;</TD>
	<TD class="td72">&nbsp;</TD>
	<TD class="td73">&nbsp;</TD>
	<TD colspan=5 class="td74">P <%= completion.job.kunde_telefon_privat %></TD>
	<TD class="td38">&nbsp;</TD>
	<TD class="td38">&nbsp;</TD>
	<TD class="td38">&nbsp;</TD>
	<TD class="td39">&nbsp;</TD>
	<TD class="td12">&nbsp;</TD>
	<TD class="td3">&nbsp;</TD>
	<TD class="td38">&nbsp;</TD>
	<TD class="td38">&nbsp;</TD>
	<TD class="td55">&nbsp;</TD>
	<TD class="td75">&nbsp;</TD>
</TR>
<TR class="tr5">
	<TD colspan=3 class="td8"><FONT class="ft2">Unbundled:</FONT></TD>
	<TD colspan=2 class="td9">&nbsp;</TD>
	<TD class="td1">&nbsp;</TD>
	<TD class="td70"><%= bool_format completion.unbundled %></TD>
	<TD class="td3">&nbsp;</TD>
	<TD colspan=4 class="td76">&nbsp;</TD>
	<TD class="td73">&nbsp;</TD>
	<TD colspan=5 class="td10">&nbsp;</TD>
	<TD colspan=4 class="td42">&nbsp;</TD>
	<TD class="td12">&nbsp;</TD>
	<TD colspan=5 class="td42">&nbsp;</TD>
</TR>
<TR class="tr5">
	<TD colspan=5 class="td0"><FONT class="ft2">Modemaktivierung:</FONT></TD>
	<TD class="td1">&nbsp;</TD>
	<TD class="td70"><%= date_format completion.job.modemaktivierung %></TD>
	<TD class="td3">&nbsp;</TD>
	<TD colspan=4 class="td76">&nbsp;</TD>
	<TD class="td73">&nbsp;</TD>
	<TD colspan=5 class="td10">&nbsp;</TD>
	<TD colspan=4 class="td42">&nbsp;</TD>
	<TD class="td12">&nbsp;</TD>
	<TD colspan=5 class="td42">&nbsp;</TD>
</TR>
<TR class="tr5">
	<TD colspan=3 class="td8"><FONT class="ft2">Modemtyp:</FONT></TD>
	<TD colspan=2 class="td9">&nbsp;</TD>
	<TD class="td1">&nbsp;</TD>
	<TD class="td70"><%= completion.job.modem_type.name %></TD>
	<TD class="td3">&nbsp;</TD>
	<TD colspan=4 class="td76">&nbsp;</TD>
	<TD class="td73">&nbsp;</TD>
	<TD colspan=5 class="td10">&nbsp;</TD>
	<TD colspan=4 class="td42">&nbsp;</TD>
	<TD class="td12">&nbsp;</TD>
	<TD colspan=5 class="td42">&nbsp;</TD>
</TR>
<TR class="tr1">
	<TD colspan=2 rowspan=2 class="td33"><FONT class="ft2">Umzug:</FONT></TD>
	<TD class="td34">&nbsp;</TD>
	<TD colspan=2 class="td9">&nbsp;</TD>
	<TD class="td1">&nbsp;</TD>
	<TD rowspan=2 class="td70"><%= bool_format completion.umzug %></TD>
	<TD class="td3">&nbsp;</TD>
	<TD colspan=4 class="td76">&nbsp;</TD>
	<TD class="td73">&nbsp;</TD>
	<TD colspan=5 class="td10">&nbsp;</TD>
	<TD colspan=4 class="td42">&nbsp;</TD>
	<TD class="td12">&nbsp;</TD>
	<TD colspan=5 class="td42">&nbsp;</TD>
</TR>
<TR class="tr9">
	<TD class="td77">&nbsp;</TD>
	<TD class="td78">&nbsp;</TD>
	<TD class="td79">&nbsp;</TD>
	<TD class="td80">&nbsp;</TD>
	<TD class="td81">&nbsp;</TD>
	<TD class="td82">&nbsp;</TD>
	<TD class="td83">&nbsp;</TD>
	<TD class="td84">&nbsp;</TD>
	<TD colspan=2 class="td85">&nbsp;</TD>
	<TD class="td86">&nbsp;</TD>
	<TD class="td87">&nbsp;</TD>
	<TD class="td88">&nbsp;</TD>
	<TD class="td89">&nbsp;</TD>
	<TD class="td89">&nbsp;</TD>
	<TD class="td89">&nbsp;</TD>
	<TD class="td89">&nbsp;</TD>
	<TD class="td89">&nbsp;</TD>
	<TD class="td84">&nbsp;</TD>
	<TD class="td86">&nbsp;</TD>
	<TD class="td81">&nbsp;</TD>
	<TD class="td89">&nbsp;</TD>
	<TD class="td89">&nbsp;</TD>
	<TD class="td90">&nbsp;</TD>
	<TD class="td91">&nbsp;</TD>
</TR>
<TR class="tr10">
	<TD colspan=5 class="td92">&nbsp;</TD>
	<TD class="td93">&nbsp;</TD>
	<TD class="td94">&nbsp;</TD>
	<TD class="td95">&nbsp;</TD>
	<TD colspan=5 class="td96">&nbsp;</TD>
	<TD colspan=5 class="td97">&nbsp;</TD>
	<TD colspan=4 class="td98">&nbsp;</TD>
	<TD class="td99">&nbsp;</TD>
	<TD colspan=5 class="td98">&nbsp;</TD>
</TR>
<TR class="tr3">
	<TD colspan=5 class="td100"><FONT class="ft2">Geb&#228;udeinformationen</FONT></TD>
	<TD class="td23">&nbsp;</TD>
	<TD class="td24">&nbsp;</TD>
	<TD class="td25">&nbsp;</TD>
	<TD class="td26">&nbsp;</TD>
	<TD class="td101">&nbsp;</TD>
	<TD class="td30">&nbsp;</TD>
	<TD class="td102">&nbsp;</TD>
	<TD class="td103">&nbsp;</TD>
	<TD class="td29">&nbsp;</TD>
	<TD class="td104">&nbsp;</TD>
	<TD class="td105">&nbsp;</TD>
	<TD class="td27">&nbsp;</TD>
	<TD class="td27">&nbsp;</TD>
	<TD class="td27">&nbsp;</TD>
	<TD class="td27">&nbsp;</TD>
	<TD class="td27">&nbsp;</TD>
	<TD class="td30">&nbsp;</TD>
	<TD class="td29">&nbsp;</TD>
	<TD class="td25">&nbsp;</TD>
	<TD class="td27">&nbsp;</TD>
	<TD class="td27">&nbsp;</TD>
	<TD class="td31">&nbsp;</TD>
	<TD class="td32">&nbsp;</TD>
</TR>
<TR class="tr3">
	<TD colspan=5 class="td0"><FONT class="ft2">aktuell aktive CK Kunden</FONT></TD>
	<TD class="td106"><%= completion.job.aktive_kunden %></TD>
	<TD colspan=7 class="td107"><FONT class="ft2">Netztopologie</FONT></TD>
	<TD colspan=5 class="td74"><%= completion.job.network_type.name %></TD>
	<TD colspan=4 class="td108"><FONT class="ft2">Anschlussart</FONT></TD>
	<TD class="td12">&nbsp;</TD>
	<TD colspan=5 class="td109"><%= completion.job_type.name %></TD>
</TR>
<TR class="tr5">
	<TD colspan=3 class="td8"><FONT class="ft2">WE im Objekt</FONT></TD>
	<TD colspan=2 class="td9">&nbsp;</TD>
	<TD class="td106">1</TD>
	<TD class="td110"><FONT class="ft2">Korrektur</FONT></TD>
	<TD class="td3">&nbsp;</TD>
	<TD colspan=5 class="td111">Stern</TD>
	<TD colspan=5 class="td10" style="padding-left:84px"><%= "X" if completion.network_type.name == "Stern" %></TD>
	<TD colspan=4 class="td42">&nbsp;</TD>
	<TD class="td12">&nbsp;</TD>
	<TD colspan=5 class="td42">&nbsp;</TD>
</TR>
<TR class="tr11">
	<TD colspan=5 rowspan=2 class="td0"><FONT class="ft2">Korrektur WE im Objekt</FONT></TD>
	<TD class="td1"><span style="position:relative; top:15px; left:20px"><%= completion.wohneinheiten %></span></TD>
	<TD class="td2">&nbsp;</TD>
	<TD class="td3">&nbsp;</TD>
	<TD colspan=5 class="td111">Baum</TD>
	<TD colspan=5 class="td10" style="padding-left:84px"><%= "X" if completion.network_type.name == "Baum" %></TD>
	<TD colspan=4 class="td42">&nbsp;</TD>
	<TD class="td12">&nbsp;</TD>
	<TD colspan=5 class="td42">&nbsp;</TD>
</TR>
<TR class="tr0">
	<TD class="td1">&nbsp;</TD>
	<TD class="td2">&nbsp;</TD>
	<TD class="td3">&nbsp;</TD>
	<TD colspan=5 rowspan=2 class="td111">Etagenstern</TD>
	<TD colspan=5 class="td10" style="padding-left:84px"><span style="position:relative; top:10px"><%= "X" if completion.network_type.name == "Etagenstern" %></span></TD>
	<TD colspan=4 class="td42">&nbsp;</TD>
	<TD class="td12">&nbsp;</TD>
	<TD colspan=5 class="td42">&nbsp;</TD>
</TR>
<TR class="tr10">
	<TD class="td112">&nbsp;</TD>
	<TD class="td113">&nbsp;</TD>
	<TD class="td114">&nbsp;</TD>
	<TD colspan=2 class="td115">&nbsp;</TD>
	<TD class="td116">&nbsp;</TD>
	<TD class="td117">&nbsp;</TD>
	<TD class="td118">&nbsp;</TD>
	<TD colspan=5 class="td119">&nbsp;</TD>
	<TD colspan=4 class="td120">&nbsp;</TD>
	<TD class="td121">&nbsp;</TD>
	<TD colspan=5 class="td120">&nbsp;</TD>
</TR>
<TR class="tr5">
	<TD class="td122">&nbsp;</TD>
	<TD class="td123">&nbsp;</TD>
	<TD class="td34">&nbsp;</TD>
	<TD colspan=2 class="td9">&nbsp;</TD>
	<TD class="td1">&nbsp;</TD>
	<TD class="td2">&nbsp;</TD>
	<TD class="td3">&nbsp;</TD>
	<TD colspan=5 class="td111">Mischnetz</TD>
	<TD colspan=5 class="td10" style="padding-left:84px"><%= "X" if completion.network_type.name == "Mischnetz" %></TD>
	<TD colspan=4 class="td42">&nbsp;</TD>
	<TD class="td12">&nbsp;</TD>
	<TD colspan=5 class="td42">&nbsp;</TD>
</TR>
<TR class="tr1">
	<TD colspan=5 class="td0"><FONT class="ft2">RKS-Anlagennummer</FONT></TD>
	<TD class="td1"><span ><%= completion.job.rks_anlagennummer %></span></TD>
	<TD class="td2">&nbsp;</TD>
	<TD class="td3">&nbsp;</TD>
	<TD colspan=5 rowspan=2 class="td111">SingleLine</TD>
	<TD colspan=5 class="td10" style="padding-left:84px; "><span style="position:relative; top:10px"><%= "X" if completion.network_type.name == "SingleLine" %></span></TD>
	<TD colspan=4 class="td42">&nbsp;</TD>
	<TD class="td12">&nbsp;</TD>
	<TD colspan=5 class="td42">&nbsp;</TD>
</TR>
<TR class="tr9">
	<TD class="td124">&nbsp;</TD>
	<TD class="td125">&nbsp;</TD>
	<TD class="td77">&nbsp;</TD>
	<TD colspan=2 class="td126">&nbsp;</TD>
	<TD class="td80">&nbsp;</TD>
	<TD class="td127">&nbsp;</TD>
	<TD class="td81">&nbsp;</TD>
	<TD colspan=5 class="td128">&nbsp;</TD>
	<TD colspan=4 class="td129">&nbsp;</TD>
	<TD class="td86">&nbsp;</TD>
	<TD colspan=5 class="td129">&nbsp;</TD>
</TR>
<TR class="tr0">
	<TD colspan=3 class="td130">&nbsp;</TD>
	<TD colspan=2 class="td131">&nbsp;</TD>
	<TD class="td23">&nbsp;</TD>
	<TD class="td24">&nbsp;</TD>
	<TD class="td25">&nbsp;</TD>
	<TD colspan=5 class="td132">&nbsp;</TD>
	<TD colspan=5 class="td133">&nbsp;</TD>
	<TD colspan=4 class="td134">&nbsp;</TD>
	<TD class="td29">&nbsp;</TD>
	<TD colspan=4 class="td135">&nbsp;</TD>
	<TD class="td75">&nbsp;</TD>
</TR>
<TR class="tr3">
	<TD colspan=3 class="td136"><FONT class="ft2">Erstinstallation</FONT></TD>
	<TD class="td137">&nbsp;</TD>
	<TD class="td138">&nbsp;</TD>
	<TD class="td23">&nbsp;</TD>
	<TD class="td24">&nbsp;</TD>
	<TD class="td25">&nbsp;</TD>
	<TD class="td26">&nbsp;</TD>
	<TD class="td101">&nbsp;</TD>
	<TD class="td30">&nbsp;</TD>
	<TD class="td102">&nbsp;</TD>
	<TD class="td103">&nbsp;</TD>
	<TD class="td29">&nbsp;</TD>
	<TD class="td104">&nbsp;</TD>
	<TD class="td105">&nbsp;</TD>
	<TD class="td27">&nbsp;</TD>
	<TD class="td27">&nbsp;</TD>
	<TD class="td27">&nbsp;</TD>
	<TD class="td27">&nbsp;</TD>
	<TD class="td27">&nbsp;</TD>
	<TD class="td30">&nbsp;</TD>
	<TD class="td29">&nbsp;</TD>
	<TD class="td25">&nbsp;</TD>
	<TD class="td27">&nbsp;</TD>
	<TD class="td27">&nbsp;</TD>
	<TD class="td139">&nbsp;</TD>
	<TD class="td140">&nbsp;</TD>
</TR>
<TR class="tr12">
	<TD colspan=3 class="td8"><FONT class="ft2">FI-Sicherung</FONT></TD>
	<TD class="td35">&nbsp;</TD>
	<TD class="td36">&nbsp;</TD>
	<TD class="td1">&nbsp;</TD>
	<TD colspan=7 class="td141">Bestandsschutz</TD>
	<TD class="td12"><span style="position:relative; left:-5px"><%= "X" if completion.fi_sicherung_id == 2 %></span></TD>
	<TD class="td142">&nbsp;</TD>
	<TD class="td143">&nbsp;</TD>
	<TD class="td38">&nbsp;</TD>
	<TD class="td38">&nbsp;</TD>
	<TD class="td38">&nbsp;</TD>
	<TD class="td38">&nbsp;</TD>
	<TD class="td38">&nbsp;</TD>
	<TD class="td39">&nbsp;</TD>
	<TD class="td12">&nbsp;</TD>
	<TD colspan=5 class="td144"><FONT class="ft4">BVT-Geh&#228;use</FONT><span style="position:relative; left:30px;"><%= "X" if completion.fi_sicherung_id == 4 %></span></TD>
</TR>
<TR class="tr0">
	<TD colspan=5 class="td0">(bei Eingriff in die Anlage)</TD>
	<TD class="td1">&nbsp;</TD>
	<TD colspan=7 rowspan=2 class="td141">FI-Schutzschalter</TD>
	<TD colspan=5 class="td10"><span style="position:relative; left:-2px; top:10px"><%= "X" if completion.fi_sicherung_id == 1 %></span></TD>
	<TD colspan=10 rowspan=2 class="td145">Verst&#228;rker-Festanschluss<span style="position:relative; left:30px;"><%= "X" if completion.fi_sicherung_id == 3 %></span></TD>
</TR>
<TR class="tr10">
	<TD class="td112">&nbsp;</TD>
	<TD class="td113">&nbsp;</TD>
	<TD class="td114">&nbsp;</TD>
	<TD colspan=2 class="td115">&nbsp;</TD>
	<TD class="td116">&nbsp;</TD>
	<TD colspan=5 class="td119">&nbsp;</TD>
</TR>
<TR class="tr13">
	<TD colspan=3 class="td8"><FONT class="ft3">Potentialausgleich</FONT></TD>
	<TD colspan=2 class="td9">&nbsp;</TD>
	<TD colspan=8 rowspan=2 class="td146">Einbindung in vorhandenen</TD>
	<TD colspan=5 class="td10">&nbsp;</TD>
	<TD colspan=10 class="td145">Erdungsanlage erstellt<span style="position:relative; left:30px;"><%= "X" if completion.potentialausgleich_id == 3 %></span></TD>
</TR>
<TR class="tr14">
	<TD class="td147">&nbsp;</TD>
	<TD class="td148">&nbsp;</TD>
	<TD class="td149">&nbsp;</TD>
	<TD colspan=2 class="td150">&nbsp;</TD>
	<TD colspan=5 class="td151">&nbsp;</TD>
	<TD colspan=4 class="td152">&nbsp;</TD>
	<TD class="td153">&nbsp;</TD>
	<TD colspan=5 class="td152">&nbsp;</TD>
</TR>
<TR class="tr1">
	<TD class="td122">&nbsp;</TD>
	<TD class="td123">&nbsp;</TD>
	<TD class="td34">&nbsp;</TD>
	<TD colspan=2 class="td9">&nbsp;</TD>
	<TD class="td1">&nbsp;</TD>
	<TD colspan=7 class="td141">Potentialausgleich<span style="position:relative; left:52px;"><%= "X" if completion.potentialausgleich_id == 2 %></span></TD>
	<TD colspan=5 class="td10">&nbsp;</TD>
	<TD colspan=10 class="td145"><FONT class="ft4">Hauptpotentialausgleich hergestellt</FONT><span style="position:relative; left:30px;"><%= "X" if completion.potentialausgleich_id == 1 %></span></TD>
</TR>
<TR class="tr9">
	<TD colspan=5 class="td154">&nbsp;</TD>
	<TD class="td155">&nbsp;</TD>
	<TD class="td156">&nbsp;</TD>
	<TD class="td157">&nbsp;</TD>
	<TD colspan=5 class="td158">&nbsp;</TD>
	<TD colspan=5 class="td159">&nbsp;</TD>
	<TD colspan=4 class="td160">&nbsp;</TD>
	<TD class="td161">&nbsp;</TD>
	<TD colspan=5 class="td160">&nbsp;</TD>
</TR>
<TR class="tr3">
	<TD colspan=5 class="td22"><FONT class="ft2">Modeminstallation</FONT></TD>
	<TD class="td23">&nbsp;</TD>
	<TD class="td24">&nbsp;</TD>
	<TD class="td25">&nbsp;</TD>
	<TD class="td26">&nbsp;</TD>
	<TD class="td101">&nbsp;</TD>
	<TD class="td30">&nbsp;</TD>
	<TD class="td102">&nbsp;</TD>
	<TD class="td103">&nbsp;</TD>
	<TD class="td29">&nbsp;</TD>
	<TD class="td104">&nbsp;</TD>
	<TD class="td105">&nbsp;</TD>
	<TD class="td27">&nbsp;</TD>
	<TD class="td27">&nbsp;</TD>
	<TD class="td27">&nbsp;</TD>
	<TD class="td27">&nbsp;</TD>
	<TD class="td27">&nbsp;</TD>
	<TD class="td30">&nbsp;</TD>
	<TD class="td29">&nbsp;</TD>
	<TD class="td25">&nbsp;</TD>
	<TD class="td27">&nbsp;</TD>
	<TD class="td27">&nbsp;</TD>
	<TD class="td31">&nbsp;</TD>
	<TD class="td32">&nbsp;</TD>
</TR>
<TR class="tr15">
	<TD colspan=5 class="td0"><FONT class="ft2">Installationsort Modem</FONT></TD>
	<TD class="td1">&nbsp;</TD>
	<TD class="td2">&nbsp;</TD>
	<TD colspan=6 class="td162">Keller<span style="position:relative; left:33px;"><%= "X" if completion.installationsart_id == 2 %></span></TD>
	<TD class="td12">&nbsp;</TD>
	<TD class="td142">&nbsp;</TD>
	<TD class="td143">&nbsp;</TD>
	<TD class="td38">&nbsp;</TD>
	<TD class="td38">&nbsp;</TD>
	<TD class="td38">&nbsp;</TD>
	<TD class="td38">&nbsp;</TD>
	<TD class="td38">&nbsp;</TD>
	<TD class="td39">&nbsp;</TD>
	<TD class="td12">&nbsp;</TD>
	<TD colspan=5 class="td144">andere<span style="position:relative; left:30px;"><%= "X" if completion.installationsart_id == 1 %></span></TD>
</TR>
<TR class="tr11">
	<TD class="td122">&nbsp;</TD>
	<TD class="td123">&nbsp;</TD>
	<TD class="td34">&nbsp;</TD>
	<TD colspan=2 class="td9">&nbsp;</TD>
	<TD class="td1">&nbsp;</TD>
	<TD colspan=7 class="td141">Wohnzimmer</TD>
	<TD colspan=5 class="td10"><span style="position:relative; left:-2px;"><%= "X" if completion.installationsart_id == 3 %></span></TD>
	<TD colspan=10 class="td163"><div style="position:relative; left:0px; width:220px; text-align:right;"><%= completion.installationsart_sonstiges %></div></TD>
</TR>
<TR class="tr16">
	<TD colspan=3 class="td8"><FONT class="ft2">Provisionierung</FONT></TD>
	<TD colspan=2 class="td9">&nbsp;</TD>
	<TD class="td1">&nbsp;</TD>
	<TD colspan=16 class="td164">Stormwatch: per eMail an <FONT class="ft6">Stormwatch.kbws@kabelbw.com</FONT></TD>
	<TD class="td12"><span style="position:relative; left:-25px;"><%= "X" if (completion.provisionierung_id == 2) %></span></TD>
	<TD colspan=5 class="td165">WASP<span style="position:relative; left:30px;"><%= "X" if (completion.provisionierung_id == 1) %></span></TD>
</TR>
<TR class="tr5">
	<TD class="td122">&nbsp;</TD>
	<TD class="td123">&nbsp;</TD>
	<TD class="td34">&nbsp;</TD>
	<TD colspan=2 class="td9">&nbsp;</TD>
	<TD class="td1">&nbsp;</TD>
	<TD class="td2">&nbsp;</TD>
	<TD class="td3">&nbsp;</TD>
	<TD colspan=14 class="td166">Provisioning Hotline 06221/ 333-2630<span style="position:relative; left:32px;"><%= "X" if (completion.provisionierung_id == 3) %></span></TD>
	<TD class="td12">&nbsp;</TD>
	<TD colspan=5 class="td42">&nbsp;</TD>
</TR>
<TR class="tr17">
	<TD class="td167">&nbsp;</TD>
	<TD class="td168">&nbsp;</TD>
	<TD colspan=5 class="td169">&nbsp;</TD>
	<TD class="td170">&nbsp;</TD>
	<TD class="td171">&nbsp;</TD>
	<TD colspan=4 class="td172">&nbsp;</TD>
	<TD colspan=9 class="td173">&nbsp;</TD>
	<TD class="td174">&nbsp;</TD>
	<TD colspan=4 class="td175">&nbsp;</TD>
	<TD class="td176">&nbsp;</TD>
</TR>
<TR class="tr5">
	<TD class="td177">&nbsp;</TD>
	<TD class="td178">&nbsp;</TD>
	<TD colspan=5 class="td179"><FONT class="ft7">Pegelwerte MM-ADo</FONT></TD>
	<TD class="td180">&nbsp;</TD>
	<TD class="td181">&nbsp;</TD>
	<TD colspan=4 class="td182">&nbsp;</TD>
	<TD colspan=9 class="td183"><FONT class="ft2">Modemaufkleber</FONT></TD>
	<TD class="td12">&nbsp;</TD>
	<TD colspan=4 class="td184">&nbsp;</TD>
	<TD class="td75">&nbsp;</TD>
</TR>
<TR class="tr9">
	<TD class="td185">&nbsp;</TD>
	<TD class="td186">&nbsp;</TD>
	<TD colspan=5 class="td187">&nbsp;</TD>
	<TD class="td188">&nbsp;</TD>
	<TD class="td189">&nbsp;</TD>
	<TD colspan=4 class="td190">&nbsp;</TD>
	<TD colspan=5 class="td159">&nbsp;</TD>
	<TD colspan=4 class="td160">&nbsp;</TD>
	<TD class="td161">&nbsp;</TD>
	<TD colspan=4 class="td191">&nbsp;</TD>
	<TD class="td91">&nbsp;</TD>
</TR>
<TR class="tr1">
	<TD class="td177">&nbsp;</TD>
	<TD class="td123">&nbsp;</TD>
	<TD colspan=5 class="td192">Pegelwerte <FONT class="ft2">TV-Buchse </FONT>dB(&#956;V)</TD>
	<TD class="td180">&nbsp;</TD>
	<TD class="td193">&nbsp;</TD>
	<TD colspan=4 class="td182">&nbsp;</TD>
	<TD colspan=5 class="td10">&nbsp;</TD>
	<TD colspan=4 class="td42">&nbsp;</TD>
	<TD class="td12">&nbsp;</TD>
	<TD colspan=4 class="td184">&nbsp;</TD>
	<TD class="td75">&nbsp;</TD>
</TR>
<TR class="tr10">
	<TD class="td194">&nbsp;</TD>
	<TD class="td195">&nbsp;</TD>
	<TD class="td196">&nbsp;</TD>
	<TD colspan=2 class="td197">&nbsp;</TD>
	<TD class="td93">&nbsp;</TD>
	<TD class="td94">&nbsp;</TD>
	<TD class="td198">&nbsp;</TD>
	<TD class="td199">&nbsp;</TD>
	<TD colspan=4 class="td200">&nbsp;</TD>
	<TD colspan=5 class="td119">&nbsp;</TD>
	<TD colspan=4 class="td120">&nbsp;</TD>
	<TD class="td121">&nbsp;</TD>
	<TD colspan=4 class="td201">&nbsp;</TD>
	<TD class="td202">&nbsp;</TD>
</TR>
<TR class="tr18">
	<TD class="td177">&nbsp;</TD>
	<TD class="td203">D130</TD>
	<TD class="td34">&nbsp;</TD>
	<TD class="td204"><span style="position:relative"><%= completion.D130 %></span></TD>
	<TD class="td36">&nbsp;</TD>
	<TD class="td205">D802</TD>
	<TD class="td2"><span style="position:relative; left:60px"><%= completion.D802 %></span></TD>
	<TD class="td180">&nbsp;</TD>
	<TD class="td181">&nbsp;</TD>
	<TD colspan=4 class="td182">&nbsp;</TD>
	<TD colspan=5 class="td10">&nbsp;</TD>
	<TD colspan=4 class="td42">&nbsp;</TD>
	<TD class="td12">&nbsp;</TD>
	<TD colspan=4 class="td184">&nbsp;</TD>
	<TD class="td75">&nbsp;</TD>
</TR>
<TR class="tr10">
	<TD class="td194">&nbsp;</TD>
	<TD class="td206">&nbsp;</TD>
	<TD class="td196">&nbsp;</TD>
	<TD class="td207">&nbsp;</TD>
	<TD class="td208">&nbsp;</TD>
	<TD class="td93">&nbsp;</TD>
	<TD class="td94">&nbsp;</TD>
	<TD class="td198">&nbsp;</TD>
	<TD class="td209">&nbsp;</TD>
	<TD colspan=4 class="td200">&nbsp;</TD>
	<TD colspan=5 class="td119">&nbsp;</TD>
	<TD colspan=4 class="td120">&nbsp;</TD>
	<TD class="td121">&nbsp;</TD>
	<TD colspan=4 class="td201">&nbsp;</TD>
	<TD class="td202">&nbsp;</TD>
</TR>
<TR class="tr16">
	<TD class="td177">&nbsp;</TD>
	<TD class="td203">K05</TD>
	<TD class="td34"><span style="position:relative; left:50px"><%= completion.K5 %></span></TD>
	<TD class="td204">&nbsp;</TD>
	<TD class="td36">&nbsp;</TD>
	<TD class="td205">K29</TD>
	<TD class="td2"><span style="position:relative; left:60px"><%= completion.K29 %></span></TD>
	<TD class="td180">&nbsp;</TD>
	<TD class="td181">&nbsp;</TD>
	<TD colspan=4 class="td182">&nbsp;</TD>
	<TD colspan=5 class="td10">&nbsp;</TD>
	<TD colspan=4 class="td42">&nbsp;</TD>
	<TD class="td12">&nbsp;</TD>
	<TD colspan=4 class="td184">&nbsp;</TD>
	<TD class="td75">&nbsp;</TD>
</TR>
<TR class="tr10">
	<TD class="td194">&nbsp;</TD>
	<TD class="td206">&nbsp;</TD>
	<TD class="td196">&nbsp;</TD>
	<TD class="td207">&nbsp;</TD>
	<TD class="td208">&nbsp;</TD>
	<TD class="td93">&nbsp;</TD>
	<TD class="td94">&nbsp;</TD>
	<TD class="td198">&nbsp;</TD>
	<TD class="td209">&nbsp;</TD>
	<TD colspan=9 rowspan=2 class="td210"><FONT class="ft2">HFC-MAC</FONT></TD>
	<TD colspan=4 class="td120">&nbsp;</TD>
	<TD class="td121">&nbsp;</TD>
	<TD colspan=4 class="td201">&nbsp;</TD>
	<TD class="td202">&nbsp;</TD>
</TR>
<TR class="tr5">
	<TD class="td177">&nbsp;</TD>
	<TD class="td211">&nbsp;</TD>
	<TD class="td212">&nbsp;</TD>
	<TD colspan=2 class="td131">&nbsp;</TD>
	<TD class="td23">&nbsp;</TD>
	<TD class="td24">&nbsp;</TD>
	<TD class="td213">&nbsp;</TD>
	<TD class="td181">&nbsp;</TD>
	<TD colspan=4 class="td134">&nbsp;</TD>
	<TD class="td29">&nbsp;</TD>
	<TD colspan=4 class="td214">&nbsp;</TD>
	<TD class="td75">&nbsp;</TD>
</TR>
<TR class="tr19">
	<TD class="td122">&nbsp;</TD>
	<TD class="td123">&nbsp;</TD>
	<TD class="td34">&nbsp;</TD>
	<TD colspan=2 class="td9">&nbsp;</TD>
	<TD class="td1">&nbsp;</TD>
	<TD class="td2">&nbsp;</TD>
	<TD class="td3">&nbsp;</TD>
	<TD class="td181">&nbsp;</TD>
	<TD colspan=2 class="td215"><span class="mac"><%= completion.HFC_MAC.split('')[0] %></span></TD>
	<TD colspan=2 class="td28"><span class="mac"><%= completion.HFC_MAC.split('')[1] %></span></TD>
	<TD class="td216"></TD>
	<TD colspan=2 class="td215"><span class="mac"><%= completion.HFC_MAC.split('')[3] %></span></TD>
	<TD class="td215"><span class="mac"><%= completion.HFC_MAC.split('')[4] %></span></TD>
	<TD class="td215"><span class="mac"><%= completion.HFC_MAC.split('')[6] %></span></TD>
	<TD class="td215"><span class="mac"><%= completion.HFC_MAC.split('')[7] %></span></TD>
	<TD class="td215"><span class="mac"><%= completion.HFC_MAC.split('')[9] %></span></TD>
	<TD class="td215"><span class="mac"><%= completion.HFC_MAC.split('')[10] %></span></TD>
	<TD class="td30"><span class="mac"><%= completion.HFC_MAC.split('')[12] %></span></TD>
	<TD class="td29">&nbsp;</TD>
	<TD class="td213">&nbsp;</TD>
	<TD class="td215"><span class="mac"><%= completion.HFC_MAC.split('')[13] %></span></TD>
	<TD class="td215"><span class="mac"><%= completion.HFC_MAC.split('')[15] %></span></TD>
	<TD class="td139"><span class="mac"><%= completion.HFC_MAC.split('')[16] %></span></TD>
	<TD class="td75">&nbsp;</TD>
</TR>
</TABLE>
<TABLE cellpadding=0 cellspacing=0 class="t1">
<TR class="tr6">
	<TD class="td217">Druckdatum:</TD>
	<TD class="td218"><%= date_format completion.created_at %></TD>
	<TD class="td219"><%= time_format completion.created_at %></TD>
	<TD class="td220">Seite 1</TD>
	<TD class="td221">von</TD>
	<TD class="td222">3</TD>
</TR>
</TABLE>
</DIV>
<DIV id="page_2">
<img style="position:absolute; z-index:-100" src="<%= Settings.ASSET_HOST %>/assets/completion_form_images/completion_form2.jpg" />

<DIV id="id_1">
<P class="p2"><FONT class="ft0">CleverKabel Installationsauftrag</FONT></P>
<P class="p1"><FONT class="ft1">Kunde</FONT></P>
<TABLE cellpadding=0 cellspacing=0 class="t0">
<TR class="tr0">
	<TD colspan=2 class="td223"><%= completion.job.kunde_name %></TD>
	<TD class="td224"><FONT class="ft2">privat</FONT></TD>
	<TD class="td225"><%= completion.job.kunde_telefon_privat %></TD>
	<TD class="td226"><FONT class="ft2">OT Nummer</FONT></TD>
	<TD class="td227"><%= completion.job.ot_auftragsnummer %></TD>
</TR>
<TR class="tr0">
	<TD class="td228"><%= completion.job.kunde_strasse %> <%= completion.job.kunde_hausnummer %></TD>
	<TD class="td229">&nbsp;</TD>
	<TD class="td224"><FONT class="ft2">gesch&#228;ftl.</FONT></TD>
	<TD class="td230"><%= completion.job.kunde_telefon_geschaeftlich %></TD>
	<TD class="td226"><FONT class="ft2">Workorder</FONT></TD>
	<TD class="td227"><%= completion.job.workorder %></TD>
</TR>
<TR class="tr1">
	<TD class="td228"><%= completion.job.kunde_plz %> <%= completion.job.kunde_ort %></TD>
	<TD class="td229">&nbsp;</TD>
	<TD class="td224"><FONT class="ft2">mobil</FONT></TD>
	<TD class="td230"><%= completion.job.kunde_telefon_mobil %></TD>
	<TD class="td226"><FONT class="ft2">Kunden Nr.</FONT></TD>
	<TD class="td227"><%= completion.job.kunde_kundennummer %></TD>
</TR>
<TR class="tr20">
	<TD class="td231">&nbsp;</TD>
	<TD class="td232">&nbsp;</TD>
	<TD class="td233">&nbsp;</TD>
	<TD class="td234">&nbsp;</TD>
	<TD class="td235">&nbsp;</TD>
	<TD class="td236">&nbsp;</TD>
</TR>
<TR class="tr3">
	<TD class="td237"><FONT class="ft2">Installationspr&#252;fung</FONT></TD>
	<TD class="td238">&nbsp;</TD>
	<TD class="td239">&nbsp;</TD>
	<TD class="td240">&nbsp;</TD>
	<TD class="td241">&nbsp;</TD>
	<TD class="td242">&nbsp;</TD>
</TR>
<TR class="tr21">
	<TD class="td228"><FONT class="ft2">Installations-</FONT></TD>
	<TD colspan=3 class="td243"><FONT class="ft2">&#252;brige Modems im Geb&#228;ude per SBC Portal gepr&#252;ft</FONT></TD>
	<TD class="td244">ja<span style="position:relative; left:6px"><%= "X" if completion.uebrige_modems_im_gebaeude_per_SBC_portal_geprueft %></span></TD>
	<TD class="td245">nein<span style="position:relative; left:30px"><%= "X" if !completion.uebrige_modems_im_gebaeude_per_SBC_portal_geprueft %></span></TD>
</TR>
<TR class="tr0">
	<TD class="td228"><FONT class="ft2">pr&#252;fung</FONT></TD>
	<TD colspan=3 rowspan=2 class="td243"><FONT class="ft2">TV Empfang beim Kunden erfolgreich gepr&#252;ft</FONT></TD>
	<TD rowspan=2 class="td244">ja<span style="position:relative; left:6px"><%= "X" if completion.tv_empfang_beim_kunden_erfolgreich_geprueft %></span></TD>
	<TD rowspan=2 class="td245">nein<span style="position:relative; left:30px"><%= "X" if !completion.tv_empfang_beim_kunden_erfolgreich_geprueft %></span></TD>
</TR>
<TR class="tr17">
	<TD class="td246">&nbsp;</TD>
</TR>
<TR class="tr5">
	<TD class="td228">&nbsp;</TD>
	<TD colspan=3 class="td243"><FONT class="ft2">Internetzugang mit Montagelaptop erfolgreich durchgef&#252;hrt</FONT></TD>
	<TD class="td244">ja<span style="position:relative; left:6px"><%= "X" if completion.internetzugang_mit_montagelaptop_geprueft %></span></TD>
	<TD class="td245">nein<span style="position:relative; left:30px"><%= "X" if !completion.internetzugang_mit_montagelaptop_geprueft %></span></TD>
</TR>
<TR class="tr5">
	<TD class="td228">&nbsp;</TD>
	<TD colspan=2 class="td247"><FONT class="ft2">Telefon abgehend erfolgreich getestet</FONT></TD>
	<TD class="td230">&nbsp;</TD>
	<TD class="td244">ja<span style="position:relative; left:6px"><%= "X" if completion.telefon_abgehend_erfolgreich_getestet %></span></TD>
	<TD class="td245">nein<span style="position:relative; left:6px"><%= "X" if !completion.telefon_abgehend_erfolgreich_getestet %></span></TD>
</TR>
<TR class="tr5">
	<TD class="td228">&nbsp;</TD>
	<TD colspan=2 class="td247"><FONT class="ft2">Telefon ankommend erfolgreich getestet</FONT></TD>
	<TD class="td230">&nbsp;</TD>
	<TD class="td244">ja<span style="position:relative; left:6px"><%= "X" if completion.telefon_ankommend_erfolgreich_getestet %></span></TD>
	<TD class="td245">nein<span style="position:relative; left:6px"><%= "X" if !completion.telefon_ankommend_erfolgreich_getestet %></span></TD>
</TR>
<TR class="tr22">
	<TD class="td228"><FONT class="ft2">Adress-</FONT></TD>
	<TD colspan=3 class="td243"><FONT class="ft2">Installationsadresse und Adresse auf Auftrag sind</FONT></TD>
	<TD class="td244">ja<span style="position:relative; left:6px"><%= "X" if completion.adresspruefung %></span></TD>
	<TD class="td245">nein<span style="position:relative; left:30px"><%= "X" if !completion.telefon_abgehend_erfolgreich_getestet %></span></TD>
</TR>
<TR class="tr0">
	<TD class="td228"><FONT class="ft2">pr&#252;fung</FONT></TD>
	<TD class="td248"><FONT class="ft2">identisch</FONT></TD>
	<TD class="td249">&nbsp;</TD>
	<TD class="td230">&nbsp;</TD>
	<TD class="td250">&nbsp;</TD>
	<TD class="td251">&nbsp;</TD>
</TR>
</TABLE>
<P class="p3"><FONT class="ft1">erbrachte Leistungen</FONT></P>
<TABLE cellpadding=0 cellspacing=0 class="t2">
<TR class="tr23">
	<TD colspan=3 class="td252">1-3 WE</TD>
	<TD colspan=3 class="td253">4-6 WE</TD>
	<TD colspan=3 class="td254">7-8 WE</TD>
	<TD colspan=3 class="td255">9-18 WE</TD>
	<TD colspan=2 class="td256">Folgeinstallation <FONT class="ft8">(inkl. Leitungsweg)</FONT></TD>
	<TD class="td257">&nbsp;<%= "X" if completion.job.job_type.shortname == "FA" %></TD>
	<TD class="td258">&nbsp;</TD>
</TR>
<TR class="tr20">
	<TD class="td259">&nbsp;</TD>
	<TD class="td260">&nbsp;</TD>
	<TD class="td261">&nbsp;</TD>
	<TD class="td262">&nbsp;</TD>
	<TD class="td260">&nbsp;</TD>
	<TD class="td263">&nbsp;</TD>
	<TD class="td264">&nbsp;</TD>
	<TD class="td260">&nbsp;</TD>
	<TD class="td265">&nbsp;</TD>
	<TD class="td266">&nbsp;</TD>
	<TD class="td260">&nbsp;</TD>
	<TD class="td267">&nbsp;</TD>
	<TD rowspan=2 class="td268"><FONT class="ft2">Provisionierung</FONT></TD>
	<TD class="td269">&nbsp;</TD>
	<TD class="td260">&nbsp;</TD>
	<TD class="td270">&nbsp;</TD>
</TR>
<TR class="tr24">
	<TD class="td271">Erstinstallation</TD>
	<TD class="td272">&nbsp;<span style="position:relative;"><%= "X" if completion.job_type.shortname == "EA" %></span></TD>
	<TD class="td273">&nbsp;</TD>
	<TD class="td274">&nbsp;</TD>
	<TD class="td272">&nbsp;</TD>
	<TD class="td52">&nbsp;</TD>
	<TD class="td275">&nbsp;</TD>
	<TD class="td272">&nbsp;</TD>
	<TD class="td276">&nbsp;</TD>
	<TD class="td277">&nbsp;</TD>
	<TD class="td272">&nbsp;</TD>
	<TD class="td278">&nbsp;</TD>
	<TD class="td279">&nbsp;</TD>
	<TD class="td272">&nbsp;</TD>
	<TD class="td258">&nbsp;</TD>
</TR>
<TR class="tr20">
	<TD class="td259">&nbsp;</TD>
	<TD class="td260">&nbsp;</TD>
	<TD class="td261">&nbsp;</TD>
	<TD class="td262">&nbsp;</TD>
	<TD class="td260">&nbsp;</TD>
	<TD class="td263">&nbsp;</TD>
	<TD class="td264">&nbsp;</TD>
	<TD class="td260">&nbsp;</TD>
	<TD class="td265">&nbsp;</TD>
	<TD class="td266">&nbsp;</TD>
	<TD class="td260">&nbsp;</TD>
	<TD class="td267">&nbsp;</TD>
	<TD rowspan=2 class="td268"><FONT class="ft2">Verst&#228;rkerzuschlag</FONT></TD>
	<TD class="td269">&nbsp;</TD>
	<TD class="td260">&nbsp;</TD>
	<TD class="td270">&nbsp;</TD>
</TR>
<TR class="tr24">
	<TD class="td271">Vorverst&#228;rker</TD>
	<TD class="td280">&nbsp;<span style="position:relative;"><%= "X" if completion.vorverstaerker_id > 0  %></span></TD>
	<TD class="td281">&nbsp;</TD>
	<TD class="td274">&nbsp;</TD>
	<TD class="td280">&nbsp;</TD>
	<TD class="td282">&nbsp;</TD>
	<TD class="td275">&nbsp;</TD>
	<TD class="td280">&nbsp;</TD>
	<TD class="td283">&nbsp;</TD>
	<TD class="td277">&nbsp;</TD>
	<TD class="td280">&nbsp;</TD>
	<TD class="td284">&nbsp;</TD>
	<TD class="td285">4C</TD>
	<TD class="td280">&nbsp;<%= "X" if completion.vorverstaerker_id == 2 %></TD>
	<TD class="td258">&nbsp;</TD>
</TR>
<TR class="tr20">
	<TD colspan=3 rowspan=2 class="td286"><FONT class="ft2">geschlossener BVT</FONT><span style="position:relative; left:55px"><%= "X" if completion.geschlossener_bvt %></span></TD>
	<TD class="td262">&nbsp;</TD>
	<TD class="td260">&nbsp;</TD>
	<TD class="td263">&nbsp;</TD>
	<TD class="td264">&nbsp;</TD>
	<TD class="td260">&nbsp;</TD>
	<TD class="td265">&nbsp;</TD>
	<TD class="td266">&nbsp;</TD>
	<TD class="td287">&nbsp;</TD>
	<TD class="td267">&nbsp;</TD>
	<TD rowspan=2 class="td268"><FONT class="ft2">Erstellung</FONT></TD>
	<TD class="td269">&nbsp;</TD>
	<TD class="td260">&nbsp;</TD>
	<TD class="td270">&nbsp;</TD>
</TR>
<TR class="tr24">
	<TD class="td274">&nbsp;</TD>
	<TD class="td280">&nbsp;</TD>
	<TD class="td282">&nbsp;</TD>
	<TD class="td275">&nbsp;</TD>
	<TD class="td280">&nbsp;</TD>
	<TD class="td283">&nbsp;</TD>
	<TD class="td288">&nbsp;</TD>
	<TD class="td39">&nbsp;</TD>
	<TD class="td278">&nbsp;</TD>
	<TD class="td279">&nbsp;</TD>
	<TD class="td280">&nbsp;</TD>
	<TD class="td258">&nbsp;</TD>
</TR>
<TR class="tr1">
	<TD class="td289">&nbsp;</TD>
	<TD class="td39">&nbsp;</TD>
	<TD class="td273">&nbsp;</TD>
	<TD class="td290">&nbsp;</TD>
	<TD class="td39">&nbsp;</TD>
	<TD class="td52">&nbsp;</TD>
	<TD class="td291">&nbsp;</TD>
	<TD class="td39">&nbsp;</TD>
	<TD class="td276">&nbsp;</TD>
	<TD class="td288">&nbsp;</TD>
	<TD class="td39">&nbsp;</TD>
	<TD class="td278">&nbsp;</TD>
	<TD class="td268"><FONT class="ft2">Hauptpotentialausgleich</FONT></TD>
	<TD class="td292">&nbsp;</TD>
	<TD class="td39">&nbsp;<span style="position:relative; top:-17px"><%= "X" if completion.potentialausgleich_id == 1 %></span></TD>
	<TD class="td293">&nbsp;</TD>
</TR>
<TR class="tr17">
	<TD colspan=3 rowspan=2 class="td286"><FONT class="ft2">Dosentausch <span style="position:relative; left:100px"><%= completion.dosentausch %></span></FONT></TD>
	<TD colspan=3 rowspan=2 class="td294"><FONT class="ft3">St&#252;ck</FONT></TD>
	<TD colspan=3 class="td295">&nbsp;</TD>
	<TD colspan=3 class="td296">&nbsp;</TD>
	<TD rowspan=2 class="td268"><FONT class="ft2">Linienverst&#228;rker</FONT></TD>
	<TD class="td297">&nbsp;</TD>
	<TD class="td298">&nbsp;</TD>
	<TD class="td299">&nbsp;</TD>
</TR>
<TR class="tr24">
	<TD class="td291">&nbsp;</TD>
	<TD class="td39">&nbsp;</TD>
	<TD class="td276">&nbsp;</TD>
	<TD class="td288">&nbsp;</TD>
	<TD class="td39">&nbsp;</TD>
	<TD class="td278">&nbsp;</TD>
	<TD class="td300">Klasse 1</TD>
	<TD class="td280">&nbsp;<%= "X" if completion.linienverstaerker_id == 0 %></TD>
	<TD class="td258">&nbsp;</TD>
</TR>
<TR class="tr20">
	<TD colspan=3 rowspan=2 class="td286"><FONT class="ft2">Kellerquerverkabelung</FONT></TD>
	<TD class="td262">&nbsp;</TD>
	<TD class="td287">&nbsp;</TD>
	<TD class="td263">&nbsp;</TD>
	<TD class="td264">&nbsp;</TD>
	<TD class="td287"><span style="position:relative; top:10px"><%= completion.kellerquerverkabelung_laenge %></span></TD>
	<TD class="td265">&nbsp;</TD>
	<TD colspan=3 rowspan=2 class="td301"><FONT class="ft2">Meter</FONT></TD>
	<TD class="td259">&nbsp;</TD>
	<TD class="td269">&nbsp;</TD>
	<TD class="td260">&nbsp;</TD>
	<TD class="td270">&nbsp;</TD>
</TR>
<TR class="tr24">
	<TD class="td290">&nbsp;</TD>
	<TD class="td39">&nbsp;</TD>
	<TD class="td52">&nbsp;</TD>
	<TD class="td291">&nbsp;</TD>
	<TD class="td39">&nbsp;</TD>
	<TD class="td276">&nbsp;</TD>
	<TD class="td289">&nbsp;</TD>
	<TD class="td300">Klasse 2</TD>
	<TD class="td280">&nbsp;<%= "X" if completion.linienverstaerker_id == 1 %></TD>
	<TD class="td258">&nbsp;</TD>
</TR>
<TR class="tr25">
	<TD colspan=12 class="td302"><FONT class="ft2">Vorinstallation einer WE im Baum ohne Kunde (Dosentausch und Leitung)</FONT></TD>
	<TD class="td303"><FONT class="ft2">St&#252;ck</FONT></TD>
	<TD class="td292">&nbsp;</TD>
	<TD class="td39">&nbsp;</TD>
	<TD class="td293">&nbsp;</TD>
</TR>
<TR class="tr10">
	<TD colspan=3 class="td304">&nbsp;</TD>
	<TD colspan=3 class="td305">&nbsp;</TD>
	<TD colspan=3 class="td306">&nbsp;</TD>
	<TD colspan=3 class="td307">&nbsp;</TD>
	<TD class="td308">&nbsp;</TD>
	<TD class="td309">&nbsp;</TD>
	<TD class="td310">&nbsp;</TD>
	<TD class="td311">&nbsp;</TD>
</TR>
<TR class="tr3">
	<TD colspan=3 class="td312"><FONT class="ft2">Best&#228;tigung</FONT></TD>
	<TD class="td313">&nbsp;</TD>
	<TD class="td30">&nbsp;</TD>
	<TD class="td28">&nbsp;</TD>
	<TD class="td314">&nbsp;</TD>
	<TD class="td30">&nbsp;</TD>
	<TD class="td315">&nbsp;</TD>
	<TD class="td316">&nbsp;</TD>
	<TD class="td30">&nbsp;</TD>
	<TD class="td317">&nbsp;</TD>
	<TD class="td318">&nbsp;</TD>
	<TD class="td319">&nbsp;</TD>
	<TD class="td30">&nbsp;</TD>
	<TD class="td320">&nbsp;</TD>
</TR>
<TR class="tr6">
	<TD class="td289">&nbsp;</TD>
	<TD class="td39">&nbsp;</TD>
	<TD class="td273">&nbsp;</TD>
	<TD class="td290">&nbsp;</TD>
	<TD class="td39">&nbsp;</TD>
	<TD class="td52">&nbsp;</TD>
	<TD class="td291">&nbsp;</TD>
	<TD class="td39">&nbsp;</TD>
	<TD class="td276">&nbsp;</TD>
	<TD colspan=7 class="td321"><FONT class="ft9">Die Arbeiten wurden ordnungsgem&#228;&#223; ausgef&#252;hrt und der</FONT></TD>
</TR>
<TR class="tr0">
	<TD colspan=3 class="td286">&nbsp;
<span style="position:relative;top:40px; font-size:14px"><%= completion.appointment.user.full_name.upcase %></span>
</TD>
	<TD colspan=3 class="td217">&nbsp;<span style="position:relative;top:40px; font-size:14px"><%= image_tag @completion.signature_photo.url(:thumb), :style => "width:150px; position:absolute; top:-65px; left:-100px"  %><% image_tag "#{Settings.ASSET_HOST}/assets/techniker_dummy.png", :style => "width:200px; position:absolute; top:-25px; left:-20px" %></span></TD>
	<TD colspan=3 class="td322">&nbsp;</TD>
	<TD colspan=7 class="td321"><FONT class="ft9">CleverKabel-Anschluss betriebsbereit &#252;bergeben.</FONT>
	<span style="position:relative; top:40px; left:-260px"><%= date_format completion.created_at %><%= image_tag @completion.signature_photo.url(:thumb), :style => "width:150px; position:absolute; top:-65px; left:50px"  %><% image_tag "#{Settings.ASSET_HOST}/assets/kunde_dummy.png", :style => "width:200px; position:absolute; top:-25px; left:100px" %></span>
	</TD>
</TR>
<TR class="tr26">
	<TD colspan=3 class="td286"><FONT class="ft10">Monteur (Druckbuchstaben)</FONT></TD>
	<TD colspan=3 class="td323"><FONT class="ft10">Unterschrift</FONT></TD>
	<TD colspan=3 class="td322">&nbsp;</TD>
	<TD colspan=3 class="td324"><FONT class="ft10">Datum</FONT></TD>
	<TD colspan=4 class="td325"><FONT class="ft10">Unterschrift des Kunden</FONT></TD>
</TR>
<TR class="tr27">
	<TD colspan=9 class="td326">&nbsp;</TD>
	<TD colspan=3 class="td327">&nbsp;</TD>
	<TD class="td328">&nbsp;</TD>
	<TD class="td329">&nbsp;</TD>
	<TD class="td330">&nbsp;</TD>
	<TD class="td331">&nbsp;</TD>
</TR>
<TR class="tr3">
	<TD colspan=9 class="td332"><FONT class="ft2">Installationsbehinderung </FONT><FONT class="ft11">(KEINE STORNO-BEST&#196;TIGUNG)</FONT></TD>
	<TD class="td316">&nbsp;</TD>
	<TD class="td30">&nbsp;</TD>
	<TD class="td317">&nbsp;</TD>
	<TD class="td318">&nbsp;</TD>
	<TD class="td319">&nbsp;</TD>
	<TD class="td30">&nbsp;</TD>
	<TD class="td320">&nbsp;</TD>
</TR>
</TABLE>
</DIV>
<DIV id="id_2">
<DIV id="id_2_1">
<TABLE cellpadding=0 cellspacing=0 class="t3">
<TR class="tr0">
	<TD class="td333">Kunde</TD>
	<TD class="td334">R11</TD>
</TR>
</TABLE>
<P class="p4"><FONT class="ft1">Leitungverlegung </FONT><FONT class="ft12">(in Kundenwohnung)</FONT></P>
<P class="p5"><FONT class="ft1">Dose nicht zug&#228;nglich</FONT></P>
<P class="p6"><FONT class="ft1">Standort Telefon / Internet</FONT></P>
<P class="p6"><FONT class="ft1">Falschberatung</FONT></P>
<P class="p2"><FONT class="ft12">(Kunde muss schriftlich widerrufen)</FONT></P>
<TABLE cellpadding=0 cellspacing=0 class="t4">
<TR class="tr0">
	<TD class="td335">HE, HV oder Nachbar</TD>
	<TD class="td336">R12</TD>
</TR>
</TABLE>
<P class="p4"><FONT class="ft1">Leitungsverlegung </FONT><FONT class="ft12">(au&#223;erhalb Kundenwohnung)</FONT></P>
<P class="p5"><FONT class="ft1">Potentialausgleich</FONT></P>
<P class="p6"><FONT class="ft1">Anlage / H&#220;P nicht zug&#228;nglich</FONT></P>
</DIV>
<DIV id="id_2_2">
<TABLE cellpadding=0 cellspacing=0 class="t5">
<TR class="tr0">
	<TD class="td337">KabelBW Unterst&#252;tzung notwendig</TD>
	<TD class="td338">R13</TD>
</TR>
</TABLE>
<P class="p7"><FONT class="ft1">Modernisierungsvereinbarung notwendig</FONT></P>
<P class="p8"><FONT class="ft1">Brandschutz / Denkmalschutz</FONT></P>
<P class="p8"><FONT class="ft1">Mehraufwand n&#246;tig</FONT></P>
<P class="p9"><FONT class="ft13">sonstiges</FONT></P>
</DIV>
</DIV>
<DIV id="id_3">
<TABLE cellpadding=0 cellspacing=0 class="t6">
<TR class="tr6">
	<TD class="td217">Druckdatum:</TD>
	<TD class="td218"><%= date_format completion.created_at %></TD>
	<TD class="td219"><%= time_format completion.created_at %></TD>
	<TD class="td220">Seite 2</TD>
	<TD class="td221">von</TD>
	<TD class="td222">3</TD>
</TR>
</TABLE>
</DIV>
</DIV>
<DIV id="page_3">
<img style="position:absolute; z-index:-100" src="<%= Settings.ASSET_HOST %>/assets/completion_form_images/completion_form3.jpg" />

<P class="p10"><FONT class="ft0">CleverKabel Installationsauftrag</FONT></P>
<P class="p1"><FONT class="ft1">Kunde</FONT></P>
<TABLE cellpadding=0 cellspacing=0 class="t7">
<TR class="tr0">
	<TD class="td339"><%= completion.job.kunde_name %></TD>
	<TD class="td340"><FONT class="ft2">privat</FONT></TD>
	<TD class="td341"><%= completion.job.kunde_telefon_privat %></TD>
	<TD class="td342"><FONT class="ft2">OT Nummer</FONT></TD>
	<TD class="td343"><%= completion.job.ot_auftragsnummer %></TD>
</TR>
<TR class="tr0">
	<TD class="td339"><%= completion.job.kunde_strasse %> <%= completion.job.kunde_hausnummer %></TD>
	<TD class="td340"><FONT class="ft2">gesch&#228;ftl.</FONT></TD>
	<TD class="td344"><%= completion.job.kunde_telefon_geschaeftlich %></TD>
	<TD class="td342"><FONT class="ft2">Workorder</FONT></TD>
	<TD class="td343"><%= completion.job.workorder %></TD>
</TR>
<TR class="tr1">
	<TD class="td339"><%= completion.job.kunde_plz %> <%= completion.job.kunde_ort %></TD>
	<TD class="td340"><FONT class="ft2">mobil</FONT></TD>
	<TD class="td344"><%= completion.job.kunde_telefon_mobil %></TD>
	<TD class="td342"><FONT class="ft2">Kunden Nr.</FONT></TD>
	<TD class="td343"><%= completion.job.kunde_kundennummer %></TD>
</TR>
</TABLE>
<P class="p11"><FONT class="ft1">beauftragte Leistungen</FONT></P>
<div style="height:110px;margin-top:5px;font-size:13px; font-family: 'Arial'">
<%=raw completion.job.beauftragte_leistungen.gsub("\n", "<br/>") %>
</div>
<P class="p13"><FONT class="ft1">Eigent&#252;merdaten des Objektes</FONT></P>
<div style="height:85px;margin-top:5px;font-size:13px;font-family: 'Arial'">
<%= completion.job.eigentuemer_daten %>
</div>
<P class="p14" style="margin-top:0"><FONT class="ft1">&#220;P Daten</FONT></P>
<TABLE cellpadding=0 cellspacing=0 class="t8">
<TR class="tr1">
	<TD class="td345">Adresse</TD>
	<TD colspan=2 class="td346"><FONT class="ft9"><%= completion.job.transfer_point.plz %> <%= completion.job.transfer_point.ort %> , <%= completion.job.transfer_point.strasse %> <%= completion.job.transfer_point.hausnummer %> - ID: <%= completion.job.transfer_point.uid %></FONT></TD>
	<TD class="td347">&nbsp;</TD>
</TR>
<TR class="tr5">
	<TD class="td345">Objekte am &#220;P</TD>
	<TD class="td348"><FONT class="ft9"><%= completion.job.transfer_point.aktive_kunden_am_uep %></FONT></TD>
	<TD class="td349">WE am &#220;P</TD>
	<TD class="td350"><FONT class="ft9"><%= completion.job.transfer_point.we_am_uep %></FONT></TD>
</TR>
<TR class="tr5">
	<TD class="td345">Diensteverf&#252;gbarkeit</TD>
	<TD class="td351"><FONT class="ft9"><%= completion.job.transfer_point.dienstverfuegbarkeit %></FONT></TD>
	<TD class="td352">&nbsp;</TD>
	<TD class="td347">&nbsp;</TD>
</TR>
<TR class="tr5">
	<TD class="td345">&#220;P-Typ</TD>
	<TD class="td351"><FONT class="ft9"><%= completion.job.transfer_point.typ %></FONT></TD>
	<TD class="td349">Mini Fiber Node</TD>
	<TD class="td353"><FONT class="ft9"><%=  completion.job.transfer_point.mini_fibre_node ? "" : "nicht " %>vorhanden</FONT></TD>
</TR>
</TABLE>
<P class="p15"><FONT class="ft1">Mitversorgungen</FONT></P>
<P class="p0">
<% completion.job.transfer_point.jobs.each do |job| %>
	<FONT class="ft12"><%= job.kunde_plz %> <%= job.kunde_ort %> , <%= job.kunde_strasse %> <%= job.kunde_hausnummer %> - ID: <%= job.ot_id %></FONT><br/>
<% end %>
</P>
<TABLE cellpadding=0 cellspacing=0 class="t9">
<TR >
	<TD class="td217">Druckdatum:</TD>
	<TD class="td218"><%= date_format completion.created_at %></TD>
	<TD class="td219"><%= time_format completion.created_at %></TD>
	<TD class="td220">Seite 3</TD>
	<TD class="td221">von</TD>
	<TD class="td222">3</TD>
</TR>
</TABLE>
</DIV>
</HTML>
