<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Auftragsabschluss<%= raw " für Auftrag "+link_to(@completion.job.short,[current_view, @completion.job], :class => "link") if @completion.job %></h2>
    <div class="inner">
      <%= form_for @completion, :url => url_for([current_view, @completion]), :html => { :class => :form } do |f| -%>
        <%= render :partial => "general/completion_form", :locals => {:f => f, :disabled => true} %>
      <% end -%>
       <div class="navform wat-cf">
        <a class="button" href="<%= url_for([:edit, current_view, @completion]) %>">
          <%= image_tag("/assets/icons/edit.png", :alt => "bearbeiten")%> bearbeiten
        </a>
        <%= link_to image_tag("/assets/icons/PDF.png")+"Abschluss als PDF", "/#{ current_view}/completions/#{@completion.id}/pdf", :class => "button", :style => "width:150px; text-left:center", :target => "_blank" %>
        <%= link_to image_tag("/assets/icons/application_put.png")+"Zip erstellen", [:get_zip, current_view, @completion ], :class => "button", :style => "width:150px; text-left:center" %>
      </div>
    </div>
  </div>
</div>
