<div class="block">        
  <div class="content">            
    <div class="inner">
      <%= form_for @delivery_item, :url => [current_view, @delivery_item], :html => { :class => :form } do |f| -%>
        <%= render :partial => "general/delivery_item_form", :locals => {:f => f} %>
      <% end -%>

    </div>
  </div>
</div>