// Place all the styles related to the Bugtrackers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bugtracker, body.bugtracker-new {
	background-color: #FFF;
	.bugtracker_inner {
		width: 95%;
		padding: 20px 2.5%;
	}

	textarea {
		width: 500px;
	}

	h1:not(.bugtracker-index) {
		background-color: #444;
		color: #FFF;
		padding: 10px 0 10px 60px;
		margin: 0;
	}
	
	form {
		background-color: #EEE
	}

}

body.bugtracker-new {
	h1 {
		
		
	}

}