/* Override here any style defined by web-app-theme */

body
{
	margin:0px;
	background-color:#555;
}

#outer-container
{
	width: 100%;
}
#container
{
	/*width:1000px;*/
	margin-left:auto;
	margin-right:auto;
	background-color:#C4C4C4;
	border: 1px solid #000;
	border-top:none;
}
 /* Raised shadow - no pseudo-elements needed */

.raised {
-webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}


li
{
	color:white;
}

.user-settings-link
{
	color:red;
}

.cl
{
	background-color: #eee;
	margin: 0px 5px 10px 5px;

}
.c /*1column row */
{
	padding:10px 0 10px 0;
	float:left;
	/*width: 920px;*/
	width:99%;
	margin: 0px 5px 10px 5px;
	background-color: #eee;
}

.c .label
{
	width:455px;
}

.cc /*2column row */
{
	padding:10px 0 10px 0;
	float:left;
	/*width: 455px;*/
	width:49%;
	min-width:455px;
	margin: 0px 5px 10px 5px;
	background-color: #eee;
}

.cc .label
{
	width:230px;
}

.form input.file_field
{
	margin-top:2px;
	padding-left:5px;
	padding-right:5px;
	height:25px;
	font-size: 1.2em;
}

form .cc input.text_field
{
	width:190px;
}

.form input.text_field
{
	margin-top:5px;
	padding-left:5px;
	padding-right:5px;
	height:25px;
}
.form select.select
{
	margin-top:5px;
	background-color:white;
}
.form input.check_box
{
	margin-top:-7px;
	height:25px;
}

.form label.label
{
	padding:10px 0 5px 0;
	margin-right:10px;
}

.ccc /*3column row */
{
	padding:10px 0 10px 0;
	float: left;
	width: 300px;
	margin: 0px 5px 10px 5px;
	background-color: #eee;
}
.ccc h3
{
	font-size: 16px;
	font-weight: bold;
	color: #666;
	padding:0;
	margin:0;
	text-align:center;
}
.cccc /*4column row */
{
	padding:10px 0 10px 0;
	float: left;
	width: 100%;
	margin: 0px 5px 10px 5px;
	background-color: #eee;
}
.cccc .label
{
	width:110px;
}
.cccc .select
{
	width:100px;
	margin-right:10px;
}
form .cccc input.text_field
{
	width:100px;
}

.ccc .label
{
	width:140px;
}

form .ccc input.text_field
{
	width:130px;
}

.form .c textarea{
	width:98%;
	margin-left:10px;
}

.form textarea.text_area {
	height:120px;
	padding: 5px;
}
.form .date_select{
	display:table
}

.form .date_select select{
	width:100px;
}
.form .cc .date_select select{
	width:65px;
  margin-bottom:10px;
  margin-top:5px;
}
.form .ccc .date_select select{
	width:65px;
}
.form .ccc .date_select .label{
	width:85px;
}

.form .ccc .select{
	width:140px;
}
.form .time_select select{
	width:70px;
}

.clear
{
	clear: both;
	height: 0;
	background-color: #000; /* utile per vederlo */
	font-size: 1px;
	line-height: 0;
}

.group
{
	margin-left:0px;
	/*width:930px;*/
	border: 2px solid #eee;
	padding-top:10px;
}

.group legend
{
	font-size: 16px;
	font-weight: bold;
	color: #666;
	margin-left:20px;
}

#main
{
	width:100%;
}

.form input.text_field
{
  width:200px;
  float:left;
  margin-bottom:10px;
}

.form input.check_box
{
  width:200px;
  float:left;
  margin-bottom:10px;
}

.select
{
  width:200px;
  float:left;
  margin-bottom:14px;
}

form label {
  float:left;
  display: inline;
  padding-bottom: 2px;
  font-weight: bold;
//  width:180px;
  margin-right:10px;
}

.login-form
{
	background-color:#fafafa;
	border: 4px solid #eee;
	width:400px;
	margin-top:150px;
	margin-left:auto;
	margin-right:auto;
	padding:10px 50px 20px 50px;
}

.login-form h2
{
	margin-left:110px;
	font-weight:bold;
}


.login-form .label
{
	font-weight:bold;
	margin-right:10px;
	width: 100px;
}


.login-form .button
{
	margin-left:110px;
}

*:disabled
{
	background-color:#f6f6f6;
}

#user-navigation
{
	position:absolute;
	top:20px;
	height:50px;
}

#header h1 a
{
	background-color: white;
	font-size:150%;
}

.app-information
{
	color:white;
	position:relative;
	top:-20px;
	text-align: right;
}

.app-information td
{
	height:20px;
}
.app-information a
{
	color:white;
}

#days-to-show-select
{
	position:relative;
	top:38px;
	left:150px;
	background-color:#e6e6e6;
	padding:3px 10px 3px 10px;
	border: 1px solid lightGrey;
	width:110px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#days-to-show-select span
{
	color:#555;
}
#days-to-show-select select
{
	margin-left:15px;
	background: transparent;
	width: 60px;
	padding: 5px;
	border: 1px solid #ccc;
}

th a:link, th a:visited, th a:hover, th a:active
{
	color: white;
}


.table th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}


.search-panel
{
	width:200px;
	float:left;
	height:120px;
	padding:10px;
	margin-right:6px;
	font-size: 12px;
	color: #666;
	border: 2px solid #ddd;
}

.search-panel label
{
	font-size:11px;
	margin:0;
	padding:0;
	width:100%;
	margin-top:5px;
}
.search-panel input.text_field
{
 	width: 110px;
 	height:10px;
 	margin-left:5px;
 	margin-top:5px;
}

.search-panel select.select
{
  	margin-bottom:1px;
 	width: 110px;
 	height:23px;
 	font-size:12px;
 	margin-left:5px;
 	margin-top:5px;
}

.search-panel legend
{
	width:20px;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	margin:0px;
	color: #666;
}

.page-entries
{
	margin-bottom:10px;
}


select
{
	font-size:14px;
	line-height:18px;
	height:18px;
	border:1px solid #ccc;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}



.error
{
	font-size:20px;
	color:red;
}

#error_explanation
{
	background-color:white;
	width:910px;
	padding:10px;
	border: 2px solid #aaa;
	margin-bottom:20px;
}
#main .block .content #error_explanation h2
{
	color:red;
	margin-left:0px;
	padding:0;
	margin:0;
}

#error_explanation ul {
	padding:0;
	margin:5px;
}
#error_explanation ul li
{
	color:red;
	font-size:130%;
	list-style:none;
	padding:0;
}

.table tr:hover
{
	cursor: hand;
	cursor: pointer;
}

.table tr.highlite
{
	background-color:#ddd;
}

.mac_text_field input[type="text"]
{
	width:25px;
	font-size:30px;
	height:30px;
}

.job-associaction-links a
{
	display:block;
	font-size:16px;
	margin-bottom:10px;
	margin-left:10px;
}

.required:after
{
	content: " * ";
	font-size:100%;
	color:red;
	top:2px;
	position:relative;
}

.modal-backdrop{background-color:rgba(0, 0, 0, 0.5);position:fixed;top:0;left:0;right:0;bottom:0;z-index:1000;}
.modal2{ border:2px solid #ddd; height:375px}
.modal2 .modal-header{border-bottom:1px solid #eee;padding:5px 20px; }
.modal2 .modal-header a.close{position:absolute;right:10px;top:10px;color:#999;line-height:10px;font-size:18px;}
.modal2 .modal-body{padding:20px;}
.modal2 .modal-footer{background-color:#f5f5f5;padding:14px 20px 15px;border-top:1px solid #ddd;-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px;-webkit-box-shadow:inset 0 1px 0 #ffffff;-moz-box-shadow:inset 0 1px 0 #ffffff;box-shadow:inset 0 1px 0 #ffffff;zoom:1;}
.modal .modal-footer:before,.modal .modal-footer:after{display:table;content:"";}
.modal2 .modal-footer:after{clear:both;}
.modal2 .modal-footer .btn{float:right;margin-left:10px;}

.delete-photo{
	position:relative;
	top:-63px;
	left:-20px;
	cursor:pointer;
}

.file-upload{
	background-color:red;
	display:none;
}

.photo-thumb{
	height:80px;
}

#loading-animation{
	opacity:.5;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; // first!
	filter: alpha(opacity=50);
	padding:13px;
	z-index:1000;
	height:30px;
	width:30px;
	background-color:black;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.filter-panel
{
	background-color:#EBEBEB;
	padding:1px 5px 0 5px;
	height:220px;
	margin-bottom:15px;
}
.filter-panel h3
{
	color:#555;
	padding:0;
	margin:0 5px;
	font-weight:bold;
}

.calender-popup-button{
	margin: 10px;
}


.form fieldset a{
	color:#555;
	font-size:14px;
	font-weight: bold;
  	margin-top:12px;
  	float:left;
}

.form fieldset input[type="checkbox"]{
	float:left;
	position:relative;
	top:14px;
	margin-right:10px;
}

#pop_up{
	padding:10px
}

#pop_up #error_explanation{
	width:95%;
}

#view_selection{
	margin:5px 0 0 5px;
	height:25px;
}

#service-user-selection{
  position:relative;
  float:right;
  top: -40px;
  right:20px;
}
#service-user-selection select{
	height:24px
}

.uneditable-photo{
	float:left;
	background-color:#aaa;
	margin-left:10px;
	margin-bottom:10px;
	width:100px;
	padding:5px;
}
.uneditable-photo img{
	height:80px;
	width:100px;
	margin-left:auto;
	margin-right:auto;
}

.uneditable-photo span{
	height:20px;
	display:block;
}

.images-row span{
	display:block;
	margin-bottom:5px;
}

.title{
	font-size:20px;
	margin-left:30px;
}

.chart{
	display:inline;
	float:left;
	/*
	background-color:#eee;
	margin:10px;
	padding-top:10px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	*/
}

.instructions
{
	margin-left:20px;
	font-size:16px;
}

#help-button
{
}

#main-navigation
{
	color:red;
/*width:960px; */
/*	overflow-x: auto;
	overflow-y: hidden;*/
}

.button-bar{
	margin-bottom:20px;
}

.link{
	text-decoration:underline;
}

.erstauftrag td{
	font-weight:bold;
	background-color:#ffc;
}

.table tr.highlite.erstauftrag  td
{
	background-color:#eec;
}



#short-info{
	margin-left:25px;
	margin-top:5px;
	font-size:10px;
}

#short-info a{
	font-size:10px;
}

#open-calendar-link img{
	margin-left:10px;
	width:20px;
}

.block-form-wrapper {
	span {
		display: block;
	}
}

.c {
	.left-floating-span {
		 float: left;
	}
	label.label {
		width: 200px;
	}
	.simple-field {
		float: left;
		margin-right: 180px;

		select {
			margin: 0;
		}
	}
	textarea.text_area {
		margin: 0;
	}
}

div#user-navigation, div#main-navigation, div.secondary-navigation {
	> ul {
		> li {
			float: left !important;
		}
	}
}

#main-navigation ul.submenu a {
	color: white !important;
}

#main-navigation ul.submenu li.active a {
	color: black !important;
}

#main-navigation ul.submenu a {
	padding-left: 0 !important;
}

#main-navigation ul.submenu li.active a {
	padding-left: 16px !important;
}

#main-navigation ul.submenu li:last-child {
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
}

#main-navigation li {
	border-top: 0px solid black !important;
}