/* CSS for HTML*/
body {
	font-family: Arial;
}
.main-header {
	height: 100px;
	width: auto;
}

/*.footer {
 background-color: #ffe;
 }*/

.client-name {
	width: 300px;
	height: 50px;
	font-size: 18px;
	display: inline;
	float: left;
}
.client-logo {
	width: 100px;
	float: right;
}
.application-logo {
	width: 300px;
	padding-top: 10px;
	padding-right: 200px;
	float: left;
}
.client-address {
	width: 200px;
	height: 50px;
	display: inline;
}
.section {
	margin-bottom: 20px;
}
.section-header {
	font-size: 20px;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 15px
}
.container {
	width: 940px;
	margin-bottom: 20px;
}
.container-header {
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 10px;
}

.string-field .label {
	font-weight: bold;
}
.text-field {
	text-align: justify;
}
.text-field .label {
	font-weight: bold;
	display: block;
}
.clear {
	clear: both
}

#highchart_graph {
	min-height: 400px;
	max-width: 940px;
	overflow-x: visible;
	overflow-y: scroll;
}

.table-field {
	overflow-x: visible;
	overflow-y: hidden;
}

.table-field table, .table-field tr {
	border: 1px solid #ccc;
}
.table-field td {
	padding-top: 5px;
	padding-bottom: 5px;
}
.table-field .even {
	background-color: #eee;
}
.table-field tr th {
	background-color: #36393d;
	font-size: 14px;
	color: white;
	border: 1px solid #36393d;
	padding-right: 10px;
}

.table-field thead tr th {
	border-bottom: 4px solid black;
}

.table-field tfoot tr th {
	border-top: 4px solid black;
	text-align: left;
}

.table-field td.emphasize {
	padding: 5px;
	font-weight: bold;
}
.table-field tr.summary {
	background-color: #ccc;
}
.table-field tr.summary td {
	font-weight: bold;
	font-size: 16px;
	padding: 10px;
	border: 1px solid #ddd;
}

.info_section label {
	font-weight: bold;
	font-size: 13px;
}
.link-field {
	text-decoration: none;
	color: black;
}

button .pdf-link {
	text-decoration: none;
}
.pdf_csv_btn {
	margin-bottom: 20px;
}

/* Tablesorter */
table.tablesorter thead tr .header {
	background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAAP///////yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color: #F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	/*background-color: #B82862;*/
}

/* CSS for PDF */
@media print {
	.pdf-link {
		display: none;
	}
	
	button {
		display: none;
	}
	.page-break {
		page-break-before: always;
	}
	.footer {
		display: none;
	}

	.table-field {
		overflow: inherit; /* must be used in print to overwrite html css setting (else it does not display) */
	}
}