/* header */
#header {
  background-color: white;
  color: black;
  li {
    border-top: 1px solid black; } }

.app-information {
  color: black;
  a {
    color: black; }
 }
.service-jobs th {
  &.first{
    width: 150px;
  }
}
.users th {
  width: 100px;
  &.first, &.nachname {
    width: 120px;}
  &.plz, &.ort {
  width: 80px;}
  &.mobil {
    width: 220px; }
  &.hausnummer {
    width: 180px; }
  &.last {
    width: 140px !important; } }

/*For advanced search*/
.advanced-search {
  h2.title {
    clear: both;
    padding-top: 25px;
  }
  label[for='distinct'] {
    text-align: left;
    float: left;
    width: auto;
  }
  .user_search {
    margin-left: 18px;
    margin-top: 10px;
    button {
      text-indent: 0;
      white-space: inherit;
    }
    button.add_fields {
      margin: 3px;
    }
    button.remove_fields{
      font-size: 14px;
      font-weight: normal;
      padding: 2px 10px;
    }
    input[type='text'] {
      height: 17px;
      margin-left: -1px;
      margin-right: 7px;
      margin-top: -1px;
      width: 200px;
    }
    button {
      float: none;
      display: inline;
      font-weight: normal;
    }
    input {
      &[type='checkbox'] {
        float: left;
        margin-right: 10px;
        margin-top: 6px;
      }
      &[value='Search'] {
        float: left;
      }
    }
    fieldset {
      border: 2px groove threedface;
      padding: 10px;
      display: block;
      margin-left: 2px;
      margin-right: 20px;
    }
    select {
      margin-right: 3px;
      margin-top: 1px;
      padding-top: 2px;
      option{
        padding-left: 5px;
      }
    }
    span.fields {
      margin: 4px 0;
      display: inline-block;
    }
    fieldset legend {
      padding-left: 2px;
      padding-right: 2px;
      width: -moz-fit-content;
      display: block;
      margin-left: 5px !important;
    }
  }
}

/*For simple search form*/
h2.more {
  clear: both;
  padding-top: 25px; }

.search-users {
  margin-bottom: 20px;
  fieldset {
    padding: 0 0 0 19px;
    margin-bottom: 0px;
    legend {
      margin-left: 0px;
      font-size: 18px;
      }
  }
  label[for='distinct'] {
    float: left;
  }
  input {
    &[type='checkbox'] {
      float: left;
      margin-right: 10px;
      margin-top: 6px;
    }
    &[type='submit'] {
      float: left;
    }
  }
}

.padding-20{
  padding: 20px;
  /*width: 880px;*/
}

.abschluss {
  .simple-field {
    input.check_box {
      width: 23px;
    }
    label {
     width: 466px;
    }
  }
}



.scroll-area{
  overflow:auto; 
/*  width:930px;*/
}


.form .pagination a {
  color: black;
  margin-top:0px;
  font-size: 12px;
}

.mainmenu {
  li {
    position: relative;
    .submenu {
      position: absolute;
      display: none;
      top: 10px;
      left: 0px;
      top: 30px;
      width: auto;
      
        &.block {
          display: block;
        }
        li {
          display: block !important;
        }
    }
    &:hover {
      .submenu {
        display: block
      }
    }
  }
}