dd = dateObj.getDate();
dow = dateObj.getDay();

var first_dow = dd - dow; // first date of the week as an index


// new dateObj which holds the date of the first day of the week
dateObj.setDate(dd-(dow-1));
mm = dateObj.getMonth();
yyyy = dateObj.getFullYear();

var arrM = new Array("Jan","Feb","Mär","Apr","Mai","Jun","Jul","Aug","Sep","Okt","Nov","Dez");
var arrY = new Array();
	for (ii=0;ii<=4;ii++){
		arrY[ii] = yyyy - 2 + ii;
	}
var arrD = new Array("","Mo","Di","Mi","Do","Fr","Sa", "So");
var arrT = new Array();
var arrTermine = new Array();

<% user_counter = 0
@users.each do |user| %>
	// save Technician Name into JS Array
	arrT.push(<%= user_counter %>);
	arrT[<%= user_counter %>] = new Array();
	arrT[<%= user_counter %>]["id"] = "<%= user.id %>";
	arrT[<%= user_counter %>]["full_name"] = "<%= user.full_name %>";

	// get Appointments from DB
	<% date = nil %>
	arrTermine[<%= user_counter %>] = new Array();

	// initialize JS Technician days array
	<% 7.times do |day_index| %>
		arrTermine[<%= user_counter %>][<%= day_index+1 %>] = new Array();
	<% end %>

	<% task_counter = 0
	if !params[:date].nil?
		date = Date.parse(params[:date])
	else
		date = Date.today
	end
	# save Appointments into JS Array
	@appointments_week.where(:user_id => user.id).each do |a|

			offset_in_hours = a.start_time.utc_offset.to_f / 3600.0
			anzStunden = (a.end_time-a.start_time).to_i/3600

			anzStunden.times do |stunden| %>

				arrTermine[<%= user_counter %>][<%= a.day.cwday %>][<%= task_counter %>] = new Array();

				arrTermine[<%= user_counter %>][<%= a.day.cwday %>][<%= task_counter %>]["id"]="<%= a.id %>";
				arrTermine[<%= user_counter %>][<%= a.day.cwday %>][<%= task_counter %>]["time"]="<%= (a.start_time-offset_in_hours.hours+stunden.hours).strftime("%H") %>";
				arrTermine[<%= user_counter %>][<%= a.day.cwday %>][<%= task_counter %>]["ot_auftragsnummer"]="<%= a.job.ot_auftragsnummer if stunden==0 %>";
				arrTermine[<%= user_counter %>][<%= a.day.cwday %>][<%= task_counter %>]["auftragsart"]="<%= a.job.job_type.shortname %>";
				arrTermine[<%= user_counter %>][<%= a.day.cwday %>][<%= task_counter %>]["workorder"]="<%= a.job.workorder %>";
				arrTermine[<%= user_counter %>][<%= a.day.cwday %>][<%= task_counter %>]["ot_id"]=null // used in ServiceApppointments as "workorder";
				arrTermine[<%= user_counter %>][<%= a.day.cwday %>][<%= task_counter %>]["kunde_plz"]="<%= a.job.kunde_plz if stunden==0 %>";
				arrTermine[<%= user_counter %>][<%= a.day.cwday %>][<%= task_counter %>]["kunde_ort"]="<%= a.job.kunde_ort if stunden==0 %>";
				arrTermine[<%= user_counter %>][<%= a.day.cwday %>][<%= task_counter %>]["kunde_strasse"]="<%= a.job.kunde_strasse if stunden==0 %>";
				arrTermine[<%= user_counter %>][<%= a.day.cwday %>][<%= task_counter %>]["kunde_nachname"]="<%= a.job.kunde_nachname if stunden==0 %>";
				arrTermine[<%= user_counter %>][<%= a.day.cwday %>][<%= task_counter %>]["kunde_vorname"]="<%= a.job.kunde_vorname if stunden==0 %>";
				arrTermine[<%= user_counter %>][<%= a.day.cwday %>][<%= task_counter %>]["kunde_hausnummer"]="<%= a.job.kunde_hausnummer if stunden==0 %>";
				arrTermine[<%= user_counter %>][<%= a.day.cwday %>][<%= task_counter %>]["day"]="<%= a.day %>";

				<% task_counter += 1
			end
	end

	# save Service Appointments into JS Array
	@service_appointments_week.where(:user_id => user.id).each do |a|

			offset_in_hours = a.start_time.utc_offset.to_f / 3600.0
			anzStunden = (a.end_time-a.start_time).to_i/3600

			anzStunden.times do |stunden|
			%>

				arrTermine[<%= user_counter %>][<%= a.day.cwday %>][<%= task_counter %>] = new Array();

				arrTermine[<%= user_counter %>][<%= a.day.cwday %>][<%= task_counter %>]["id"]="<%= a.id %>";
				arrTermine[<%= user_counter %>][<%= a.day.cwday %>][<%= task_counter %>]["time"]="<%= (a.start_time-offset_in_hours.hours+stunden.hours).strftime("%H") %>";
				arrTermine[<%= user_counter %>][<%= a.day.cwday %>][<%= task_counter %>]["ot_auftragsnummer"]="<%= a.service_job.ot_auftragsnummer if stunden==0 %>";
				arrTermine[<%= user_counter %>][<%= a.day.cwday %>][<%= task_counter %>]["auftragsklasse"]="<%= a.job.auftragsklasse %>";
				arrTermine[<%= user_counter %>][<%= a.day.cwday %>][<%= task_counter %>]["workorder"]=null // used in Apppointments as "ot_id";
				arrTermine[<%= user_counter %>][<%= a.day.cwday %>][<%= task_counter %>]["ot_id"]="<%= a.service_job.ot_id %>";
				arrTermine[<%= user_counter %>][<%= a.day.cwday %>][<%= task_counter %>]["kunde_plz"]="<%= a.service_job.kunde_plz if stunden==0 %>";
				arrTermine[<%= user_counter %>][<%= a.day.cwday %>][<%= task_counter %>]["kunde_ort"]="<%= a.service_job.kunde_ort if stunden==0 %>";
				arrTermine[<%= user_counter %>][<%= a.day.cwday %>][<%= task_counter %>]["kunde_strasse"]="<%= a.service_job.kunde_strasse if stunden==0 %>";
				arrTermine[<%= user_counter %>][<%= a.day.cwday %>][<%= task_counter %>]["kunde_nachname"]="<%= a.service_job.kunde_nachname if stunden==0 %>";
				arrTermine[<%= user_counter %>][<%= a.day.cwday %>][<%= task_counter %>]["kunde_vorname"]="<%= a.service_job.kunde_vorname if stunden==0 %>";
				arrTermine[<%= user_counter %>][<%= a.day.cwday %>][<%= task_counter %>]["kunde_hausnummer"]="<%= a.service_job.kunde_hausnummer if stunden==0 %>";
				arrTermine[<%= user_counter %>][<%= a.day.cwday %>][<%= task_counter %>]["day"]="<%= a.day %>"

				<% task_counter += 1
			end
	end

	user_counter+=1
end %>