<li class="first <%= params[:action]  == 'index' ? 'active' : '' %>"><%= link_to "Alle Termine", scheduling_appointments_path %></li>
<li class="<%= params[:action] == 'new' ? 'active' : '' %>"><%= link_to "Neuen Termin anlegen", new_scheduling_appointment_path %></li>
<% if params[:action] == 'edit' then %>
<li class="active"><%= link_to "Termin bearbeiten", edit_scheduling_appointment_path %></li>
<% end %>
<% if params[:action] == 'show' then %>
<li class="active"><%= link_to "Terminansicht", scheduling_appointment_path %></li>
<% end %>

