<%
if !params[:date].nil?
	date = Date.parse(params[:date]) 
else
	date = Date.today
end
%>
<div class="block">        
  <div class="content" style="margin:30px;">            
    <div style="position:fixed;top:0px;width:1700px;background-color:whitesmoke;border-left:2px solid gray;border-right:2px solid gray;z-index:1;">
    	<h2 class="title">Kalenderübersicht</h2>
	    <div id="service-user-selection" style="text-align:right;">
	      <span id='reload_msg'>Kalender wird geladen ...</span> &nbsp;|&nbsp;
	      <a href="calendar.csv?week=<%= date.strftime("%W").to_i+1 %>">&raquo;CSV Export</a>  &nbsp;|&nbsp;
	      
	      <%= select_tag "service-users", grouped_options_for_select(@grouped_options, :selected => params[:users]) %>
	    </div>
    	<div class="clear">&nbsp;</div>
    </div>
    <div class="inner" style="width:100%; overflow:auto;">
    	<% 
    		#calendar_min_width = 910 
    		#calendar_width = 100 * @service_users.count
    		#calendar_width = calendar_min_width if calendar_width < calendar_min_width
    	%>
    	
      <%= render :partial => "general/calendar", :locals => { :users => @service_users, :data_url =>  "/#{current_view}/appointments/data?users=#{params[:users]}", :on_click_path => "/#{current_view}/appointments/CAL_EVENT_ID/edit", :read_only => false } %>
    	
    </div>
  </div>
</div>

<%= content_for :bottom do %>
<script type="text/javascript">
  $(function() {
  $("#service-users").change(function(){
   window.location = "/scheduling/appointments/calendar?users="+$("#service-users").val()+"&date=<%= date %>" 
  });
});
</script>
<% end %>