<% 
    @id_map = Hash.new
    i=0
    @service_users.each do |u|
      @id_map[u.id] = i
      i += 1
    end

    def get_local_id(id)
      return @id_map[id]
    end
 
  installation_appointments = @service_users.collect { |user| 
   user.appointments.collect{ |a|
       '{"id":'+a.id.to_s+', "start":"'+a.day.strftime('%Y-%m-%d')+a.start_time.strftime(' %H:%M:00')+'", "end":"'+ a.day.strftime('%Y-%m-%d')+a.end_time.strftime(' %H:%M:00')+'", "title":"'+a.job.short_description+'", "userId":'+get_local_id(user.id).to_s+', "color":"'+a.job.job_type.color+'", "highPriority":'+(a.high_priority ? "true" : "false")+' }' if (a.day >= @start_date) && (a.day <= @end_date)
    }.delete_if{|x| x.blank?}.join(",") 
    
    }.delete_if{|x| x.blank?}.join(",") 

	service_appointments = @service_users.collect { |user| 
   user.service_appointments.collect{ |a|
       '{"id":'+a.id.to_s+', "start":"'+a.day.strftime('%Y-%m-%d')+a.start_time.strftime(' %H:%M:00')+'", "end":"'+ a.day.strftime('%Y-%m-%d')+a.end_time.strftime(' %H:%M:00')+'", "title":"'+a.service_job.short_description+'", "userId":'+get_local_id(user.id).to_s+', "color":"'+"green"+'", "highPriority":'+(a.high_priority ? "true" : "false")+' }' if (a.day >= @start_date) && (a.day <= @end_date)
    }.delete_if{|x| x.blank?}.join(",") 
    
    }.delete_if{|x| x.blank?}.join(",") 

	 holidays = @service_users.collect { |user| 
     user.days_of_absence.where(:cause_id => 1).collect{ |h|
			h.starting_point.to_date.upto(h.end_point.to_date).collect{|day| 
			'{"id":'+h.id.to_s+', "start":"'+day.strftime('%Y-%m-%d 06:00:00')+'", "end":"'+ day.strftime('%Y-%m-%d 21:00:00')+'", "title":"'+h.cause+'", "userId":'+get_local_id(user.id).to_s+', "color":"'+"#e0e"+'", "highPriority":'+"false"+' }'
			}
    }.delete_if{|x| x.blank?}.join(",") 

    }.delete_if{|x| x.blank?}.join(",") 

	 sick_days = @service_users.collect { |user|    
     user.days_of_absence.where(:cause_id => 2).collect{ |h|
			h.starting_point.to_date.upto(h.end_point.to_date).collect{|day| 
			'{"id":'+h.id.to_s+', "start":"'+day.strftime('%Y-%m-%d 06:00:00')+'", "end":"'+ day.strftime('%Y-%m-%d 21:00:00')+'", "title":"'+h.cause+'", "userId":'+get_local_id(user.id).to_s+', "color":"'+"#0ee"+'", "highPriority":'+"false"+' }'
			}
    }.delete_if{|x| x.blank?}.join(",") 

    }.delete_if{|x| x.blank?}.join(",") 

	output = "["+[installation_appointments, service_appointments, holidays, sick_days].join(",")+"]" 
%>
<%= raw output.gsub(",,",",").gsub(",,",",").gsub("},]","}]").gsub("}, ]","}]")  %>
<% #sub!(/^,/, '') %>