<% page_param_name ||= "page" %>
<% search_param_name ||= "q" %>
<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= @header ? @header : "Alle Installationstermine" %></h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first" style="width:600px"><%= sort_link_custom search_param_name, :short_description, "Auftrag" %></th>
          <th><%= sort_link_custom search_param_name, :day, "Tag" %></th>
          <th class='nachname'><%= sort_link_custom search_param_name, :start_time, "Beginn" %></th>
          <th><%= sort_link_custom search_param_name, :end_time, "Ende" %></th>
          <th style="width:150px"><%= sort_link_custom search_param_name, :full_name, "Techniker" %></th>
          <th><%= sort_link_custom search_param_name, :status, "Status" %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @appointments.each do |appointment| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= link_to appointment.job.short_description, [current_view, appointment.job] unless appointment.job.blank? %>
          </td>
          <td>
            <%= appointment.day.strftime("%d.%m.%Y") %>
          </td>
          <td>
            <%= appointment.start_time.strftime("%H:%M") %>
          </td>
          <td>
            <%= appointment.end_time.strftime("%H:%M") %>
          </td>
          <td>
            <%= link_to appointment.user.full_name, [current_view, appointment.user] unless appointment.user.blank? %>
          </td>
          <td>
            <%= display_state appointment.status %>
          </td>
          <td class="last">
            <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), [current_view, appointment] %>
            <%= link_to image_tag("/assets/icons/edit.png", :title=>"Bearbeiten", :alt=>"Bearbeiten"), [ :edit, current_view, appointment] %>
          </td>
        </tr>
        <% end -%>
      </table>
      <%= page_entries_info %><br/><br/><br/>
      <%= will_paginate @posts %><br/><br/><br/>
    </div>
    <h2 class="title"><%= @header_service ? @header_service : "Alle Entstörungstermine" %></h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first" style="width:600px">Auftrag</th>
          <th style="width:150px">Tag</th>
          <th style="width:150px">Beginn</th>
          <th style="width:150px">Ende</th>
          <th style="width:150px">Techniker</th>
          <th>Status</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @service_appointments.each do |service_appointment| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= link_to service_appointment.service_job.short_description, [current_view, service_appointment.service_job] unless service_appointment.service_job.blank? %>
          </td>
          <td>
            <%= service_appointment.day.strftime("%d.%m.%Y") %>
          </td>
          <td>
            <%= service_appointment.start_time.strftime("%H:%M") %>
          </td>
          <td>
            <%= service_appointment.end_time.strftime("%H:%M") %>
          </td>
          <td>
            <%= link_to service_appointment.user.full_name, [current_view, service_appointment.user] unless service_appointment.user.blank? %>
          </td>
          <td>
          </td>
          <td class="last">
            <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), [current_view, service_appointment] %>
            <%= link_to image_tag("/assets/icons/edit.png", :title=>"Bearbeiten", :alt=>"Bearbeiten"), [ :edit, current_view, service_appointment] %>
          </td>
        </tr>
        <% end -%>
      </table>
      <%= page_entries_info %><br/><br/><br/>
      <%= will_paginate @posts %><br/><br/><br/>
    </div>
  </div>
</div>

