<div class="block">       
  <div class="content">            
    <h2 class="title">Neuer Termin <%= raw "für Auftrag #{link_to @job.short,[current_view, @job], :class => "link" }" if @job %></h2>
    <div class="inner">
      <%= form_for :appointment, :url => scheduling_appointments_path, :html => { :class => :form } do |f| -%>
        <%= render :partial => "general/appointment_form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>