  <%= render :partial => "general/calendar", :locals => { :users => @service_users, :data_url =>  "/#{ current_view }/appointments/data", :read_only => false, :on_click_path => "/#{ current_view }/appointments/CAL_EVENT_ID", :is_pop_up => true }%>