<script type="text/javascript">
		if(self.name!="") window.close();
		opener.reloadCalendar()
</script>

<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Terminansicht</h2>
    <div class="inner">
      <%= form_for @appointment, :url => scheduling_appointment_path(@appointment), :html => { :class => :form } do |f| -%>
        <%= render :partial => "general/appointment_form", :locals => {:f => f, :disabled => true} %>
      <% end -%>
       <div class="navform wat-cf">
        <% if ['scheduling','admin'].include?(current_view) then %>
        <a class="button" href="<%= url_for([:edit, current_view, @appointment]) %>">
          <%= image_tag("/assets/icons/edit.png", :alt => "bearbeiten")%> bearbeiten
        </a>
          <% if (current_view == "scheduling") then %>
            <%= link_to(image_tag("/assets/icons/application_view_list.png", :alt => "PDF mit Abschlußformular erzeugen")+"PDF mit Abschlußformular erzeugen", "/scheduling/appointments/#{@appointment.id}/create_pdf", :class => "button", :target => "_blank") %>
            <%= link_to(image_tag("/assets/icons/email_go.png", :alt => "Email mit Abschlußformular an Techniker senden")+"Email mit Abschlußformular an Techniker senden", "/scheduling/appointments/#{@appointment.id}/mail_pdf", :class => "button") %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
