    
    <h2 class="title">Mehraufwand</h2>

      <table class="table">
        <tr>             
          <th style="width:150px">Bezeichnung</th>
          <th style="width:150px">Euro</th>
          <th style="width:150px">Faktor</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @appointment.special_expenses.each do |special_expense| -%>
        <tr class="<%= cycle("odd", "even") %>">
         
          <td>
            <%= special_expense.name %>
          </td>
          <td>
            <%= special_expense.costs %>
          </td>
          <td>
            <%= special_expense.factor %>
          </td>
          <td class="last">
            <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), [current_view, special_expense] %>
            <%= link_to image_tag("/assets/icons/edit.png", :title=>"Bearbeiten", :alt=>"Bearbeiten"), [:edit, current_view, special_expense] %>
            <%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen"), [current_view, special_expense], :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
