<li class="first <%= params[:action]  == 'index' ? 'active' : '' %>">
	<%= link_to "Alle Terminanfragen", scheduling_appointment_requests_path %>
</li>
<li class="<%= params[:action] == 'new' ? 'active' : '' %>">
	<%= link_to "Neuer Terminanfrage anlegen", new_scheduling_appointment_request_path %>
</li>
<% if params[:action] == 'edit' then %>
<li class="active">
	<%= link_to "Terminanfrage bearbeiten", edit_scheduling_appointment_request_path %>
</li>
<% end %>
<% if params[:action] == 'show' then %>
<li class="active">
	<%= link_to "Terminanfrageansicht", scheduling_appointment_request_path %>
</li>
<% end %>

