<div style="background-color:#36393d">
<center>
<%= image_tag "/assets/mobile_logo.png" %>
</center>
</div>
<br/>
<br/>
<br/>
<br/>
<div style="width:100%">
<div style="width:250px; margin-left:auto; margin-right:auto; height:120px">
<a href="/mobile/appointments" data-role="button">Termine heute</a>
<a href="/mobile/appointments/next_open_appointment" data-role="button">nächster Termin</a>
<!--<a href="/mobile/appointments/calendar" data-role="button">Kalender??</a>
<a href="/mobile/appointments/calendar" data-role="button">Karte??</a>-->
</div>
</div>