<fieldset class="fields condition" data-object-name="<%= f.object_name %>">
  <legend>Suchkriterium <%= button_to_remove_fields "x", f %></legend>
  <%= f.attribute_fields do |a| %>
    <%= render 'attribute_fields', f: a %>
  <% end %>

  <%= f.predicate_select({:compounds => false}) %>
  <%= f.value_fields do |v| %>
    <%= render 'value_fields', f: v %>
  <% end %>
  <%= button_to_add_fields "Weiteren Wert hinzufügen ", f, :value %>
</fieldset>