
<% if @user.errors.any? %>
<%= render :partial => "general/error_messages", :locals => { :current_model => @user } %>
<% end %>  

<fieldset class="group">
  <legend>Kontaktdaten</legend>
  <div class="cc">
    <p><%= f.label :vorname %></p>
    <p><%= f.text_field :vorname, :disabled => disabled %></p>
    <p><%= f.label :nachname %></p>
    <p><%= f.text_field :nachname, :disabled => disabled %></p>
    <p><%= f.label :telefon %></p>
    <p><%= f.text_field :telefon, :disabled => disabled %></p>
    <p><%= f.label :telefon_mobil %></p>
    <p><%= f.text_field :telefon_mobil, :disabled => disabled %></p>
    <p><%= f.label :email %></p>
    <p><%= f.text_field :email, :disabled => disabled %></p>
    <p><%= f.label :plz %></p>
    <p><%= f.text_field :plz, :disabled => disabled %></p>
    <p><%= f.label :ort %></p>
    <p><%= f.text_field :ort, :disabled => disabled %></p>
    <p><%= f.label :strasse %></p>
    <p><%= f.text_field :strasse, :disabled => disabled %></p>
    <p><%= f.label :hausnummer %></p>
    <p><%= f.text_field :hausnummer, :disabled => disabled %></p>
    <p><%= f.label :active, "aktiv" %></p>
    <p><%= f.check_box :active, :class => 'check_box', :disabled => disabled %></p>
  </div>
</fieldset> 
<% if (params[:action] == "new") %>
<fieldset class="group">
  <legend>Anmeldung</legend>
  <div class="cc">
    <p><%= f.label :password, "Passwort" %></p>
    <p><%= f.password_field :password, :disabled => disabled %></p>
    <p><%= f.label :password_confirmation, "Passwortbestätigung" %></p>
    <p><%= f.password_field :password_confirmation, :disabled => disabled %></p>

  </div>
</fieldset>
<% end %>
<fieldset class="group">
  <legend>Rollen</legend>
  <div class="cc">
    <p><%= f.label :is_boss, "Geschäftsführung" %></p>
    <p><%= f.check_box :is_boss, :disabled => disabled %></p>
    <p><%= f.label :is_controller, "Disponierung" %></p>
    <p><%= f.check_box :is_controller, :disabled => disabled %></p>
    <p><%= f.label :is_controller_leader, "Disponierungsleitung" %></p>
    <p><%= f.check_box :is_controller_leader, :disabled => disabled %></p>
    <p><%= f.label :is_technician, "Aussendienst" %></p>
    <p><%= f.check_box :is_technician, :disabled => disabled %></p>
    <p><%= f.label :is_accountant, "Einkaufsleitung" %></p>
    <p><%= f.check_box :is_purchase_manager, :disabled => disabled %></p>
    <p><%= f.label :is_admin, "Administration" %></p>
    <p><%= f.check_box :is_admin, :disabled => disabled %></p>
  </div>
</fieldset>
<fieldset class="group">
  <legend>Mandanten</legend>
  <div class="cc">
    <% Client.all.each do |client| -%>
    <div>
      <p><%= label_tag :client_ids, client.name -%></p>
      <p><%= check_box_tag :client_ids, client.id, @user.clients.include?(client), :name => 'user[client_ids][]', :disabled => disabled -%></p>
    </div>
    <% end -%>
  </div>
</fieldset>
<fieldset class="group">
  <legend>Unterschrift des Mitarbeiters</legend>
  <div>
   <div class="c padding-20" >
    <% if !disabled then %>
    <h1>Mitarbeiter auf Touchscreen hier unterschreiben lassen:</h1>
    <% end %>
    <%= render :partial => "general/signature_field", :locals => {:f => f, :disabled => disabled, :model_name => "user"} %>
  </div>

</fieldset>
<fieldset class="group">
  <legend>Technikerdaten</legend>
  <div>
   <div class="cc" >
    <%= simple_text_field(f, @user, :tabledibkom_zertifikat_nummer, "Dibkom-Zertifikat-Nr", disabled = disabled, required = false)%>
  </div>
  </div>
</fieldset>
<% if !disabled then %>
<br/>
<div class="navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "speichern") %> speichern
  </button>

  <% if (!@user.errors.any?) && (params[:action] != "new") then %>
  <%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen")+" löschen", admin_user_path(@user), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}", :class=>"button" %>
  <% end %>
  <span class="text_button_padding"> oder </span>
  <%= link_to "abbrechen", "/", :class => "text_button_padding link_button", :style=>"color:red"%>
</div>
<% end %>
