<fieldset class="fields" data-object-name="<%= f.object_name %>">
  <legend>Suchkriterium <%= button_to_remove_fields "x", f %></legend>
  <%= f.condition_fields do |c| %>
    <%= render 'condition_fields', f: c %>
  <% end %>
  <%= button_to_add_fields "Suchkriterium  hinzufügen", f, :condition %>

  <%= f.grouping_fields do |g| %>
    <%= render 'grouping_fields', f: g %>
  <% end %>
  <%= button_to_nest_fields "Suchgruppe hinzufügen", :grouping %>
</fieldset>