<div class="inner users">
  <table class="table">
    <tr>            
      <th class="first" ><%= sort_link @search, :vorname, {}, :method => action_name == 'advanced_search' ? :post : :get %></th>
      <th class='nachname'><%= sort_link @search, :nachname, {}, :method => action_name == 'advanced_search' ? :post : :get %></th>
      <th class='telefon'><%= sort_link @search, :telefon, {}, :method => action_name == 'advanced_search' ? :post : :get %></th>
      <th class='mobil'><%= sort_link @search, :telefon_mobil, {}, :method => action_name == 'advanced_search' ? :post : :get %></th>
      <th class='plz'><%= sort_link @search, :plz, {}, :method => action_name == 'advanced_search' ? :post : :get %></th>
      <th class='ort'><%= sort_link @search, :ort, {}, :method => action_name == 'advanced_search' ? :post : :get %></th>
      <th class='strasse'><%= sort_link @search, :strasse, {}, :method => action_name == 'advanced_search' ? :post : :get %></th>
      <th class='hausnummer'><%= sort_link @search, :hausnummer, {}, :method => action_name == 'advanced_search' ? :post : :get %></th>
      <th class='active'><%= sort_link @search, :active, {}, :method => action_name == 'advanced_search' ? :post : :get %></th>
      <th class="last">&nbsp;</th>
    </tr>

    <% @users.each do |user| %>
      <tr class="">
        <td><%= user.vorname %></td>
        <td><%= user.nachname %></td>
        <td><%= user.telefon %></td>
        <td><%= user.telefon_mobil %></td>
        <td><%= user.plz %></td>
        <td><%= user.ort %></td>
        <td><%= user.strasse %></td>
        <td><%= user.hausnummer %></td>
        <td><%= display_active_state user.active %></td>
        <td class="last">
            <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), admin_user_path(user) %>
            <%= link_to image_tag("/assets/icons/edit.png", :title=>"Bearbeiten", :alt=>"Bearbeiten"), edit_admin_user_path(user) %>
            <%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen"), admin_user_path(user), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}" %>
          </td>
      </tr>
    <% end %>
  </table>
  <%= page_entries_info %><br/><br/><br/>
  <%= will_paginate @users %><br/><br/><br/>
  <%= link_to '', new_user_path, :class=>"btn" %>
</div>