
<li class='<%= params[:action] == "index" ? "active" : "" %>'><%= link_to 'Alle Benutzer', admin_users_path %></li>
<li class='<%= params[:action] == "advanced_search" ? "active" : "" %>'><%= link_to 'Erweiterte Suche', advanced_search_admin_users_path %></li>
<li class="first <%= params[:action] == 'new' ? 'active' : '' %>"><%= link_to "Neuen Benutzer anlegen", new_admin_user_path %></li>
<% if params[:action] == 'edit' then %>
<li class="active"><%= link_to "Benutzerdaten bearbeiten", edit_admin_user_path %></li>
<% end %>
<% if params[:action] == 'show' then %>
<li class="active"><%= link_to "Benutzeransicht", admin_user_path %></li>
<% end %>
