<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content advanced-search">          
    <%= search_form_for @search, url: advanced_search_admin_users_path, html: {method: :post} do |f| %>
      <% setup_search_form f %>

      <fieldset>
        <legend>Sortierung</legend>
        <%= f.sort_fields do |s| %>
          <%= render 'sort_fields', f: s %>
        <% end %>
        <%= button_to_add_fields "Sortierung hinzufügen", f, :sort %>
      </fieldset>

      <fieldset>
        <legend>Suchgruppen</legend>
        <%= f.grouping_fields do |g| %>
          <%= render 'grouping_fields', f: g %>
        <% end %>
        <%= button_to_add_fields "Suchgruppe hinzufügen", f, :grouping %>
      </fieldset>

      <%= label_tag :distinct, 'Duplikate vermeiden?' %>
      <%= check_box_tag :distinct, '1', params[:distinct].to_i == 1 %>
      <%= f.submit "Suchen", :class => 'button' %>
    <% end %>
    <h2 class="title">
      <%if params[:q] && params[:q][:s].blank? %>
        <%= t('search.result', :count => @users.total_entries)%>
      <%else%>
        Alle Benutzer
      <%end%>
    </h2>
    <%= render 'results' %>
  </div>
</div>
