<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title">Suche</h2>
    <%= search_form_for [:admin, @search], :html => {:class => "search-users"} do |f| %>
    <fieldset>
      <ul>
        <li>
          <%= f.text_field :vorname_or_nachname_or_telefon_or_telefon_mobil_or_plz_or_ort_or_strasse_or_hausnummer_cont, {:value => @search_term}%>
        </li>
      </ul>
    </fieldset>
 
    <%= label_tag :distinct, 'Duplikate vermeiden?' %>
    <%= check_box_tag :distinct, '1', params[:distinct].to_i == 1 %>
    <%= f.submit "Suchen", :class => "button" %>
    
    <% end %>
    <h2 class="title more">
      <% if params[:q] && !params[:q].values.first.blank? && params[:q][:s].blank? %>
        <%= t('search.result', :count => @users.total_entries) + " mit '#{@search_term}'" %>
      <%else%>
        Alle Benutzer
      <%end%>
    </h2>
    <%= render 'results' %>
  </div>
</div>

