<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Neuer Benutzer Shortcut</h2>
    <div class="inner">
    <% disabled = false %>
    <p>Benutzerdaten werden automatisch aus Email erstellt.<br>
    Beispiel: max.mustermann@firma.de -> Vorname: Max, Nachname: Mustermann, Passwort: max
    </p>
     <%= form_for @user, :url => create_shortcut_admin_users_path, do |f| %>
     


  <% if @user.errors.any? %>
    <%= render :partial => "general/error_messages", :locals => { :current_model => @user } %>
  <% end %>  

  <fieldset class="group">
    <legend>Kontaktdaten</legend>
    <div class="cc">
      <p><%= f.label :email %></p>
      <p><%= f.text_field :email, :disabled => disabled %></p>
    </div>
  </fieldset> 
  <% if (params[:action] == "new") %>
  <fieldset class="group">
    <legend>Anmeldung</legend>
    <div class="cc">
      <p><%= f.label :password, "Passwort" %></p>
      <p><%= f.password_field :password, :disabled => disabled %></p>
      <p><%= f.label :password_confirmation, "Passwortbestätigung" %></p>
      <p><%= f.password_field :password_confirmation, :disabled => disabled %></p>
 
    </div>
  </fieldset>
  <% end %>
   <fieldset class="group">
    <legend>Rollen</legend>
    <div class="cc">
      <p><%= f.label :is_boss, "Geschäftsführung" %></p>
      <p><%= f.check_box :is_boss, :disabled => disabled %></p>
      <p><%= f.label :is_controller, "Disponierung" %></p>
      <p><%= f.check_box :is_controller, :disabled => disabled %></p>
      <p><%= f.label :is_controller_leader, "Disponierungsleitung" %></p>
      <p><%= f.check_box :is_controller_leader, :disabled => disabled %></p>
      <p><%= f.label :is_technician, "Aussendienst" %></p>
      <p><%= f.check_box :is_technician, :disabled => disabled %></p>
      <p><%= f.label :is_accountant, "Rechnungstelle" %></p>
      <p><%= f.check_box :is_accountant, :disabled => disabled %></p>
      <p><%= f.label :is_admin, "Administration" %></p>
      <p><%= f.check_box :is_admin, :disabled => disabled %></p>
    </div>
  <fieldset class="group">
  <legend>Mandanten</legend>
    <div class="cc">
      <% Client.all.each do |client| -%>
        <div>
          <p><%= label_tag :client_ids, client.name -%></p>
          <p><%= check_box_tag :client_ids, client.id, @user.clients.include?(client), :name => 'user[client_ids][]', :disabled => disabled -%></p>
        </div>
      <% end -%>
    </div>
  </fieldset>  
<br/>
<div class="navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "speichern") %> speichern
  </button>
  <span class="text_button_padding"> oder </span>
  <%= link_to "abbrechen", "/", :class => "text_button_padding link_button", :style=>"color:red"%>
</div>


      <% end %>
    </div>
  </div>
</div>
