<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Benutzerdaten</h2>
    <div class="inner">
      <%= form_for @user, :url => admin_user_path(@building_type), :html => { :class => :form } do |f| -%>
		<%= render :partial => "form", :locals => {:disabled => true, :f => f} %>
      <% end -%>
       <div class="navform wat-cf">
        <a class="button" href="<%= edit_admin_user_path(@job) %>">
          <%= image_tag("/assets/icons/edit.png", :alt => "bearbeiten")%> bearbeiten
        </a>
      </div>
    </div>
  </div>
</div>
