<li class="first <%= params[:action]  == 'index' ? 'active' : '' %>"><%= link_to "Alle Technikergruppen", admin_service_user_groups_path %></li>
<li class="<%= params[:action] == 'new' ? 'active' : '' %>"><%= link_to "Neue Technikergruppe anlegen", new_admin_service_user_group_path %></li>
<% if params[:action] == 'edit' then %>
<li class="active"><%= link_to "Technikergruppe bearbeiten", edit_admin_service_user_group_path %></li>
<% end %>
<% if params[:action] == 'show' then %>
<li class="active"><%= link_to "Technikergruppeansicht", admin_service_user_group_path %></li>
<% end %>
<% if params[:action] == 'appointments' then %>
<li class="active"><%= link_to "Gruppenkalender", appointments_admin_service_user_group_path %></li>
<% end %>

