<% disabled = false unless defined?(disabled) %>

<% if @automatic_workflow_item.errors.any? %>
<%= render :partial => "general/error_messages", :locals => { :current_model => @automatic_workflow_item } %>
<% end %>

<fieldset class="group">
  <legend>Abläufedetails</legend>
  <div class="c">
    <%= simple_time_select(f, @automatic_workflow_item, :start_time, "Beginn", nil, disabled, true) %>

    <%= simple_select(f, @automatic_workflow_item, :workflow_action_id, "Aktion", options_for_select([["Test Email an Admin",1],["Email mit Terminen an alle Techniker",2],["Emails pro Termin mit Auftragsabschlussformular an alle Techniker",3],["automatische Emails bei Terminänderungen - aktivieren",4],["automatische Emails bei Terminänderungen - deaktivieren",5]], @automatic_workflow_item.workflow_action_id) , disabled, true)  %>
    <%= simple_select(f, @automatic_workflow_item, :client_id, "Mandant", current_user.clients.collect {|c| [ c.name, c.id ] }, disabled, true)  %>
    <%= simple_boolean_select(f, @automatic_workflow_item, :active, "aktiv", disabled, true, nil)  %>
    <br class="clear"/>
  </div>
</fieldset>
<% begin %>  
<div class="navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "speichern")%> speichern
  </button>

  <% if (!@automatic_workflow_item.errors.any?) &&(params[:action] != "new") then %>
  <%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen")+" löschen", [current_view, @automatic_workflow_item], :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}", :class=>"button" %>
  <% end %>
  <span class="text_button_padding"> oder </span>
  <%= link_to "abbrechen", [current_view, :automatic_workflow_items], :class => "text_button_padding link_button" %>
</div>
<% end unless disabled %>