<li class="first <%= params[:action]  == 'index' ? 'active' : '' %>"><%= link_to "Alle Abläufe", [current_view, :automatic_workflow_items] %></li>
<li class="<%= params[:action] == 'new' ? 'active' : '' %>"><%= link_to "Neuen Ablauf anlegen", [:new, current_view, :automatic_workflow_item] %></li>
<% if params[:action] == 'edit' then %>
<li class="active"><%= link_to "Ablauf bearbeiten", [:edit, current_view, :automatic_workflow_item] %></li>
<% end %>
<% if params[:action] == 'show' then %>
<li class="active"><%= link_to "Ablaufansicht", [current_view, :automatic_workflow_item] %></li>
<% end %>
