<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Disponentengruppe bearbeiten</h2>
    <div class="inner">
      <%= form_for @automatic_workflow_item, :url => [current_view,@automatic_workflow_item], :html => { :class => :form } do |f| -%>
        <%= render :partial => "automatic_workflow_items/form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>
