<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title">Alle Abläufe</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first" style="width:200px" >Startzeit</th>
          <th style="width:400px">Aktion</th>
          <th style="width:100px">Mandant</th>
          <th style="width:100px">aktiv</th>
          <th style="width:200px">zuletzt durchgeführt am</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @automatic_workflow_items.each do |automatic_workflow_item| %>
        <tr class="<%= cycle("odd", "even") %>">
          <td><%= automatic_workflow_item.start_time.strftime("%H:%M") %></td>
          <td><%= link_to automatic_workflow_item.action, [current_view, automatic_workflow_item] %></td>
          <td><%= automatic_workflow_item.client.name %></td>
          <td><%= bool_format(automatic_workflow_item.active) %></td>
          <td><%= automatic_workflow_item.last_run_at.blank? ? "-" : automatic_workflow_item.last_run_at.strftime("%d.%m.%Y") %></td>
          <td class="last">
            <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), [current_view, automatic_workflow_item] %>
            <%= link_to image_tag("/assets/icons/edit.png", :title=>"Bearbeiten", :alt=>"Bearbeiten"), [:edit, current_view, automatic_workflow_item] %>
            <%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen"), [current_view, automatic_workflow_item], :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}"  %>
          </td>
        </tr>
        <% end %>
      </table>
      <div class="navform wat-cf">
        <div class="page-entries"><%= page_entries_info %></div>
        <%= will_paginate @automatic_workflow_items %>
      </div>


    </div>
  </div>
</div>
