<p id="notice"><%= notice %></p>
<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Ablaufansicht</h2>
    <div class="inner">
      <%= form_for @automatic_workflow_item, :url => [current_view, @automatic_workflow_item], :html => { :class => :form } do |f| -%>
        <%= render :partial => "automatic_workflow_items/form", :locals => {:f => f, :disabled => true} %>
      <% end -%>
      <div class="navform wat-cf">
        <a class="button" href="<%= url_for([:edit, current_view, @automatic_workflow_item]) %>">
          <%= image_tag("/assets/icons/edit.png", :alt => "bearbeiten")%> bearbeiten
        </a>
      </div>
    </div>
  </div>
</div>
