<% disabled = false unless defined?(disabled) %>

  <% if @special_expense.errors.any? %>
    <%= render :partial => "general/error_messages", :locals => { :current_model => @special_expense } %>
  <% end %>
  <%= hidden_field :special_expense, :appointment_id, :value => @special_expense.appointment.id %>
   
  <fieldset class="group" >
    <div class="cc">
      <%= simple_text_field(f, @special_expense, :name, "Bezeichnung", disabled, true) %>
      <%= simple_number_field(f, @special_expense, :costs, "Euro", disabled, false) %>
      <%= simple_number_field(f, @special_expense, :factor, "Faktor", disabled, false) %>
    </div>
  </fieldset>

<% begin %>        
<div class="navform wat-cf">
  <button class="button" type="submit" data-inline="true">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "speichern") %> speichern
  </button>
  <span class="text_button_padding"> oder </span>
  <%= link_to "abbrechen", ["mobile", @special_expense.appointment, :special_expenses] %>
</div>
<% end unless disabled  %>