<div class="block">
  <div class="content">            
    <h1>Mehraufwand bearbeiten</h1>
    <div class="inner">
      <%= form_for @special_expense, :url => ["mobile", @special_expense.appointment, @special_expense], :html => { :class => :form } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>
