
    <h1>Mehraufwand</h1>
    <div class="inner">
      <table class="table" style="width:100%">
        <tr>             
          <th style="width:150px" class="first">Bezeichnung</th>
          <th style="width:50px">Euro</th>
          <th style="width:50px">Faktor</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @special_expenses.each do |special_expense| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= link_to special_expense.name, [:edit, "mobile", @appointment, special_expense]  %>
          </td>
          <td>
            <%= number_format special_expense.costs %>
          </td>
          <td>
            <%= number_format special_expense.factor %>
          </td>
          <td class="last">
            <%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen"), ["mobile", @appointment, special_expense], :method => :delete %>
          </td>
        </tr>          
        <% end -%>
      </table>
    <%= page_entries_info %><br/>
	<%= will_paginate @posts %>
	<br/>
	<%= link_to "Neuen Mehraufwand anlegen", [:new, "mobile", @appointment, :special_expense], "data-inline"=>"true", "data-role" => "button" %></li>
    </div>

<style type="text/css">
td{
  height:50px;
}
</style>

