<div class="block">
  <div class="content">            
    <h1>Mehraufwand anlegen</h1>
    <div class="inner">
      <%= form_for :special_expense, :url => url_for(["mobile", @appointment, :special_expenses])+"?fromPath=#{params[:fromPath]}", :html => { :class => :form } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>