<table class="table">
  <tr>
    <th class="first" style="width:150px">am</th>
    <th>von</th>
    <th>Kommentar</th>
    <th class="last">&nbsp;</th>
  </tr>
<% @service_comments.order("created_at ASC").each do |service_comment| %>
  <tr>
    <td><%= service_comment.created_at.strftime("%d.%m.%Y-%H:%M") %></td>
    <td><%= link_to(service_comment.user.full_name, [current_view, service_comment.user]) %></td>
    <td><%= service_comment.body %></td>
    <td></td>
  </tr>
<% end %>
</table>