<div class="block">        
  <div class="content">            
    <div class="inner">
      <%= form_for :service_comment, :url => url_for([current_view, @service_comment.service_job, :service_comments])+"?fromPath=#{params[:fromPath]}", :html => { :class => :form } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>