<li class="first <%= params[:action]  == 'index' ? 'active' : '' %>"><%= link_to "Alle Technikergruppen", scheduling_service_user_groups_path %></li>

<% if params[:action] == 'show' then %>
<li class="active"><%= link_to "Technikergruppeansicht", scheduling_service_user_group_path %></li>
<% end %>
<% if params[:action] == 'appointments' then %>
<li class="active"><%= link_to "Gruppenkalender", appointments_scheduling_service_user_group_path %></li>
<% end %>

