<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN""http://www.w3.org/TR/html4/loose.dtd"><html>
<head>
	<title>Neuer Termin</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"></head>
<body>
<div style="width:100%">
<div style="width:1200px; margin-left:auto; margin-right:auto">
<h1><%= @appointment.short_description %></h1>
<h2><%= @appointment.job.short_info %></h2>
<%= @appointment.bemerkungen %>
</div></div>
</body>
</html>
