<div class="block">
  <div class="content">            
    <h2 class="title">Mehraufwand anlegen</h2>
    <div class="inner">
      <%= form_for :special_expense, :url => url_for([current_view, :special_expenses])+"?fromPath=#{params[:fromPath]}", :html => { :class => :form } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>