<% if ["admin","scheduling","scheduling_leader"].include?(current_view) then %>
<li class="first <%= params[:action]  == 'index' ? 'active' : '' %>"><%= link_to "Alle ÜP", [current_view, :transfer_points] %></li>
<li class="<%= params[:action] == 'new' ? 'active' : '' %>"><%= link_to "Neuen ÜP anlegen", [:new, current_view, :transfer_point] %></li>
<% end %>
<% if params[:action] == 'edit' then %>
<li class="active"><%= link_to "ÜP bearbeiten", [:edit, current_view, :transfer_point] %></li>
<% end %>
<% if params[:action] == 'show' then %>
<li class="active"><%= link_to "ÜP-Ansicht", [current_view, :transfer_point] %></li>
<% end %>

