<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title">Alle ÜP</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first" style="width:600px">ÜP</th>
          <th style="width:150px">erstellt am</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @transfer_points.each do |transfer_point| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= link_to transfer_point.short_description, [current_view, transfer_point]%>
          </td>
          <td>
            <%= transfer_point.created_at.strftime("%d.%m.%Y %H:%M") %>
          </td>
          <td class="last">
            <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), [current_view, transfer_point] %>
            <%= link_to image_tag("/assets/icons/edit.png", :title=>"Bearbeiten", :alt=>"Bearbeiten"), [:edit, current_view, transfer_point] %>
            <%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen"), [current_view, transfer_point], :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <%= page_entries_info %><br/><br/><br/>
      <%= will_paginate @posts %><br/><br/><br/>
    </div>
  </div>
</div>

