<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">ÜP anlegen</h2>
    <div class="inner">
      <%= form_for :transfer_point, :url => url_for([current_view, :transfer_points])+"?fromPath=#{params[:fromPath]}", :html => { :class => :form } do |f| -%>
        <%= render :partial => "general/transfer_point_form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>