<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">ÜP</h2>
    <div class="inner">
      <%= form_for @transfer_point, :url => [current_view, @transfer_point], :html => { :class => :form } do |f| -%>
        <%= render :partial => "general/transfer_point_form", :locals => {:f => f, :disabled => true} %>
      <% end -%>
        <% if ["admin","scheduling","scheduling_leader"].include?(current_view) then %>
       <div class="navform wat-cf">
        <a class="button" href="<%= url_for([:edit, current_view, @transfer_point]) %>">
          <%= image_tag("/assets/icons/edit.png", :alt => "bearbeiten")%> bearbeiten
        </a>
      </div>
        <% end %>
    </div>
  </div>
</div>
