<% disabled = false unless defined?(disabled) %>

  <% if @scheduling_user.errors.any? %>
    <%= render :partial => "general/error_messages", :locals => { :current_model => @scheduling_user } %>
  <% end %>
  
  <fieldset class="group">
    <legend>Kontaktdaten</legend>
    <div class="cl">
      <p><%= f.label :vorname, :class => :label %></p>
      <p><%= f.text_field :vorname, :class => :text_field, :disabled => disabled %></p>
      <p><%= f.label :nachname, :class => :label %></p>
      <p><%= f.text_field :nachname, :class => :text_field, :disabled => disabled %></p>
      <p><%= f.label :telefon, :class => :label %></p>
      <p><%= f.text_field :telefon, :class => :text_field, :disabled => disabled %></p>
      <p><%= f.label :telefon_mobil, :class => :label %></p>
      <p><%= f.text_field :telefon_mobil, :class => :text_field, :disabled => disabled %></p>
      <p><%= f.label :email, :class => :label %></p>
      <p><%= f.text_field :email, :class => :text_field, :disabled => disabled %></p>
      <p><%= f.label :plz, :class => :label %></p>
      <p><%= f.text_field :plz, :class => :text_field, :disabled => disabled %></p>
      <p><%= f.label :ort, :class => :label %></p>
      <p><%= f.text_field :ort, :class => :text_field, :disabled => disabled %></p>
      <p><%= f.label :strasse, :class => :label %></p>
      <p><%= f.text_field :strasse, :class => :text_field, :disabled => disabled %></p>
      <p><%= f.label :hausnummer, :class => :label %></p>
      <p><%= f.text_field :hausnummer, :class => :text_field, :disabled => disabled %></p>
      <br class="clear" />
    </div>
  </fieldset>


<% if !disabled then %>
<div class="navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "speichern") %> speichern
  </button>
  <span class="text_button_padding"> oder </span>
  <%= link_to "abbrechen", "/", :class => "text_button_padding link_button", :style=>"color:red"%>
</div>
<% end %>
