<li class="first <%= params[:action] == "scheduling_users" && params[:action]  == 'edit' ? 'active' : '' %>"><%= link_to "Alle Disponenten", management_scheduling_users_path %></li>

<% if ['edit','show','appointments'].include?(params[:action]) then %>
<li class="<%= params[:action]  == 'show' ? 'active' : '' %>"><%= link_to "Disponentenansicht", management_scheduling_user_path %></li>
<% end %>