<% page_param_name ||= "page" %>
<% search_param_name ||= "q" %>
<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>       
  
 <div class="content">            
    <h2 class="title">Erfolgsraten pro Disponent</h2>
    <div class="inner">
       <iframe src="/management/quotes_per_controller?frameWidth=940" frameborder="0" width="100%" height="330" ></iframe>
    </div>
 
    <h2 class="title">Alle Disponenten</h2>
    <div class="inner">
      <table class="table">
        <tr>             

          <th class="first"><%= sort_link_custom search_param_name, :vorname, "Vorname" %></th>
          <th class='nachname'><%= sort_link_custom search_param_name, :nachname, "Nachname" %></th>
          <th class='telefon'><%= sort_link @search, :telefon, {}, :method => :get %></th>
          <th class='mobil'><%= sort_link @search, :telefon_mobil, {}, :method => :get %></th>
          <th class='plz'><%= sort_link_custom search_param_name, :plz, "Plz" %></th>
          <th class='ort'><%= sort_link_custom search_param_name, :ort, "Ort" %></th>
          <th class='strasse'><%= sort_link_custom search_param_name, :strasse, "Strasse" %></th>
          <th class='hausnummer'><%= sort_link_custom search_param_name, :hausnummer, "Hausnummer" %>
    <th class="last">&nbsp;</th>
  </tr>

<% @scheduling_users.each do |scheduling_user| %>
  <tr class="<%= cycle("odd", "even") %>">
    <td><%= scheduling_user.vorname %></td>
    <td><%= scheduling_user.nachname %></td>
    <td><%= scheduling_user.telefon %></td>
    <td><%= scheduling_user.telefon_mobil %></td>
    <td><%= scheduling_user.plz %></td>
    <td><%= scheduling_user.ort %></td>
    <td><%= scheduling_user.strasse %></td>
    <td><%= scheduling_user.hausnummer %></td>
    <td class="last">
        <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), management_scheduling_user_path(scheduling_user) %>
      </td>
  </tr>
<% end %>
   </table>
<div class="navform wat-cf">
  <div class="page-entries"><%= page_entries_info %></div>
  <%= will_paginate @jobs %>
</div>

    </div>
  </div>
</div>

