<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Disponentenansicht</h2>
    <div class="inner">
      <%= form_for @scheduling_user, :url => management_scheduling_user_path(@scheduling_user), :html => { :class => :form } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f, :disabled => true} %>
      <% end -%>
    
             
	  <div class="chart">
	    <span class="title">disponierte Termine und Folgen</span>
	    <div class="inner">
	        <iframe src="/management/quotes_per_controller?controllers=<%= @scheduling_user.id %>&userSelection=false&frameWidth=430" frameborder="0" width="430" height="330" ></iframe>
	    </div>
	  </div>
	  <div class="chart">
	    <span class="title">Arbeitsvolumen über Zeitraum</span>
	    <div class="inner">
	        <iframe src="/management/volume_per_controller?controllers=<%= @scheduling_user.id %>&userSelection=false&frameWidth=430" frameborder="0" width="430" height="330" ></iframe>
	    </div>
	  </div>
	  <br style="clear:both" />

    </div>
  </div>
</div>
