<% disabled = false unless defined?(disabled) %>

<% if @article.errors.any? %>
<%= render :partial => "general/error_messages", :locals => { :current_model => @article } %>
<% end %>

<fieldset class="group">
  <legend>Artikeldetails</legend>
  <div class="cc">
    <span style="margin-left:160px; font-size:16px; font-weight:bold; color:#555">Details</span>
    <br /><br class="clear" />
    <%= simple_text_field(f, @article, :name, "Name", disabled, true)  %>
    <%= simple_select(f, @article, :article_group_id, "Warengruppe", ArticleGroup.where(:active => true).collect {|c| [ c.name, c.id ] }, disabled, true)  %>
    <%= simple_select(f, @article, :unit_id, "Einheit", [["Stück",1],["Meter",2],], disabled, true) %>
    <%= simple_text_field(f, @article, :description, "Beschreibung", disabled, true)  %>
    <%= simple_select(f, @article, :status_id, "Status", [["aktiv",1],["nicht verfügbar",2],["ausgelistet",3]], disabled, true) %>

  </div>
  <div class="cc">
    <span style="margin-left:160px; font-size:16px; font-weight:bold; color:#555">Bestand</span>
    <br /><br class="clear" />
    <%= simple_text_field(f, @article, :current_quantity_in_storage, "Lagerbestand", disabled, true)  %>
    <%= simple_text_field(f, @article, :minimum_quantity_in_storage, "Mindestbestand", disabled, true)  %>
    <%= simple_text_field(f, @article, :minimum_quantity_pro_technician, "Mindestmenge pro Techniker" , disabled, true)  %>
    <%= simple_text_field(f, @article, :supply_to_technician_quantity, "Abgabemenge an Techniker", disabled, true)  %>
    <%= simple_text_field(f, @article, :order_quantity, "Bestellmenge", disabled, true)  %>
  </div>
</fieldset>

<fieldset class="group">
  <legend>Abgabe</legend>
  <div class="ccc">
    <%= simple_text_field(f, @article, :price1, "VK Preis 1", disabled, true)  %>
  </div>
  <div class="ccc">
    <%= simple_text_field(f, @article, :price2, "VK Preis 2", disabled, true)  %>
  </div>
  <div class="ccc">
    <%= simple_text_field(f, @article, :price3, "VK Preis 3", disabled, false)  %>
  </div>
</fieldset>

<% begin %>
<fieldset class="group">
	<legend>
		Lieferanten
	</legend>

	<div id="article-availabilities">
		<%= render :partial => "general/article_availabilities_table", :locals => {:article_availabilities => @article_availabilities} %>
	</div>
	<a href="#" class="button" style="margin:5px" id="add-article-availability"> <%= image_tag("web-app-theme/icons/tick.png", :alt => "Lieferant hinzufügen") %> Lieferant hinzufügen </a>

<% content_for :bottom do %>
<script type="text/javascript">
$(function() {
  $("#article-availabilities .table tr").unbind("click");
  $("#article-availabilities .table tr").live("click",function(event) {
    var ev = arguments[0] || window.event,
      origEl = ev.target || ev.srcElement;
      if ((origEl.tagName == "A"))
        return; //don't mess with real links

      var href = $(this).find("td.last a").attr("href"); //else: use first link from edit column
      if(href){
        //window.location = href;

        $.fancybox({
        'href': href,
        'autoDimensions': false,
        'width'      : 600,
        'height'      : 430,
        'autoScale'     : false,
        'transitionIn'    : 'none',
        'transitionOut'   : 'none',
        'centerOnScroll'  : true,
        'type'        : 'iframe',
        'onClosed'    : function(){
        $('#article-availabilities').load('/<%= current_view %>/articles/<%= @article.id %>/get_article_availabilities', function() {
        });
      }
        });
      }
      event.preventDefault();
  });


  $("#add-article-availability").click(function(){
    $.fancybox({
      'href':'/<%= current_view %>/articles/<%= @article.id %>/article_availabilities/new',
      'autoDimensions': false,
      'width'      : 600,
      'height'      : 430,
      'autoScale'     : false,
      'transitionIn'    : 'none',
      'transitionOut'   : 'none',
      'centerOnScroll'  : true,
      'type'        : 'iframe',
      'onClosed'    : function(){
        $('#article-availabilities').load('/<%= current_view %>/articles/<%= @article.id %>/article_availabilities', function() {
        });
      }
    });
    return false;
  })
});

</script>
<% end %>
</fieldset>
<% end if disabled %>

<% begin %>  
<div class="navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "speichern")%> speichern
  </button>

  <% if (!@article.errors.any?) && (params[:action] != "new") then %>
  <%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen")+" löschen", purchase_article_path(@article), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}", :class=>"button" %>
  <% end %>
  <span class="text_button_padding"> oder </span>
  <%= link_to "abbrechen", purchase_articles_path, :class => "text_button_padding link_button" %>
</div>
<% end unless disabled %>
