<li class="first <%= params[:action]  == 'index' ? 'active' : '' %>"><%= link_to "Alle Artikel", purchase_articles_path %></li>
<li class="<%= params[:action] == 'new' ? 'active' : '' %>"><%= link_to "Neuen Artikel anlegen", new_purchase_article_path %></li>
<% if params[:action] == 'edit' then %>
<li class="active"><%= link_to "Artikel bearbeiten", edit_purchase_article_path %></li>
<% end %>
<% if params[:action] == 'show' then %>
<li class="active"><%= link_to "Artikelansicht", purchase_article_path %></li>
<% end %>

