<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title">Alle Artikel</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first" style="width:200px">Name</th>
          <th style="width:400px">Beschreibung</th>
          <th style="width:100px">Lagerbestand</th>
          <th style="width:100px">Mindestbestand</th>
          <th style="width:100px">Restmenge</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @articles.each do |article| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= article.name %>
          </td>
          <td>
            <%= article.description %>
          </td>
          <td>
            <%= article.current_quantity_in_storage %>
          </td>
          <td>
            <%= article.minimum_quantity_in_storage %>
          </td>
          <td>
            <%= article.residue %>
          </td>
          <td class="last">
            <%= link_to image_tag("/assets/icons/show.png", :title=>"Anzeigen", :alt=>"Anzeigen"), purchase_article_path(article) %>
            <%= link_to image_tag("/assets/icons/edit.png", :title=>"Bearbeiten", :alt=>"Bearbeiten"), edit_purchase_article_path(article) %>
            <%= link_to image_tag("/assets/icons/cross.png", :title=>"Löschen", :alt=>"Löschen"), purchase_article_path(article), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Wirklich löschen?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <%= page_entries_info %><br/><br/><br/>
      <%= will_paginate @articles %><br/><br/><br/>
    </div>
  </div>
</div>

