<!DOCTYPE html>
<html>
<head>
  <title><%= (Rails.env == "production") ? Settings.PRODUCT_NAME : "ct - #{Rails.env}" %></title>
  <%= stylesheet_link_tag "application" %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "general/feedback_widget" %>
  <div style="position:fixed;" ><div id="loading-animation" style="display:none"><%= image_tag "ajax-loader.gif" %></div></div>
  <div id="outer-container">
  <div id="container" class="drop-shadow raised">
    <div id="header">
      <%
      logo_path = "logo.png"
      logo_path =  "entwurf-#{params[:logo]}.png" if params[:logo]
      %>
      <h1><a href="/"><%= image_tag logo_path, :style => "width:500px; height:60px; margin-top:0px; margin-left:0px" %></a></h1>
      <!--<span style="color:white;font-size:30px; position:relative; font-style:italic; left:175px; top:-15px ">mobile</span>-->
      <div id="user-navigation">
        <table class="app-information">
          <tr>
            <td>
              Registriert für <%= current_user.client_names %> -
              <a id="help-button" href="#" data-help-page="<%= @help_path %>">Online-Hilfe</a>
            </td>
          </tr>
          <tr>
            <td>
              Angemeldet als <%= link_to current_user.email, edit_user_path(current_user), :style => "ext-decoration:underline" %>&nbsp;&nbsp;&nbsp;
              <%= link_to "Abmelden", destroy_user_session_path, :class => "logout" %>
            </td>
          </tr>
          <tr>
            <td>
              <%= label_tag 'view_selection', 'Ansicht ' %><%= select_tag "view_selection",  options_for_select(get_current_user_view_options, current_view) %>
            </td>
          </tr>
          <% if (["scheduling","scheduling_leader"].include?(current_view)) then %>
          <tr>
            <td><%= render "scheduling/short_info" %></td>
          </tr>
          <% end %>
        </table>
      </div>
      <%= render "general/main_menu" %>
    </div>
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| %>
          <% if !message.blank? then %>
            <div class="message <%= type %>">
              <p><%= raw message %></p>
            </div>
          <% end %>
        <% end %>
      </div>
      <div id="main">
        <%= yield %>
        <div id="footer">
          <div class="block">
            <p>Copyright &copy; <%= Time.now.year %> <%= Settings.PRODUCT_NAME %>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% javascript_include_tag "application", "http://cdn.jquerytools.org/1.2.6/form/jquery.tools.min.js" %>
<!-- TODO: atm needs jquery before 1.9 for certain plugins to work -->
<script src="/assets/jquery.min-1.8.3.js" type="text/javascript"></script>
<script src="/assets/bugtrackers.js.erb?body=1" type="text/javascript"></script>
<script src="/assets/jquery_ujs.js?body=1" type="text/javascript"></script>
<script src="/assets/customSelect.jquery.js?body=1" type="text/javascript"></script>
<script src="/assets/highcharts.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery.autocomplete.min.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery.fancybox-1.3.4.pack.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery.filestyle.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery.mousewheel-3.0.4.pack.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery.query.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery.watermark.min.js?body=1" type="text/javascript"></script>
<script src="/assets/underscore-min.js?body=1" type="text/javascript"></script>
<script src="/assets/search.js?body=1" type="text/javascript"></script>
<script src="http://cdn.jquerytools.org/1.2.6/form/jquery.tools.min.js" type="text/javascript"></script>

  <%= csrf_meta_tag %>
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%>


  <script type="text/javascript">
     $(function() {
      <%= yield :document_ready %>
    });

  $(function() {

  $("#help-button").click(function(){
    $.fancybox({
      'href':'/docu/'+$(this).attr("data-help-page"),
      'autoDimensions': false,
      'width'      : 800,
      'height'      : 600,
      'autoScale'     : false,
      'transitionIn'    : 'none',
      'transitionOut'   : 'none',
      'centerOnScroll'  : true,
      'type'        : 'iframe'
    });
    //$(".modal").show();
    return false;
  });

    $('#loading-animation').center(); //but don't display

    //handle view selection
    $('#view_selection').change(function(){
      var view = $("#view_selection :selected").val();
      switchToView(view);
    });

    //make rows clickable
    $('.table tr').click(function() {
      var ev = arguments[0] || window.event,
      origEl = ev.target || ev.srcElement;
      if ((origEl.tagName == "A") || (origEl.tagName == "IMG"))
        return; //don't mess with real links

      var href = $(this).find("td.last a").attr("href"); //else: use first link from edit column
      if(href)
        window.location = href;
    });

    //hovering table rows
    $('.table tr').hover(function() {
      if ($(this).hasClass("no-highlite") != true)
        $(this).toggleClass('highlite');
    });


    $(".modal .modal-header .close").click(function(event){
      $(".modal").hide();
    });

    if ($("input[type=file]").filestyle)
      $("input[type=file]").filestyle({
        imageheight : 30,
        imagewidth : 140,
        width : 150
      });

  });

  function switchToView(view)
  {
    window.location = "/"+view;
  }

  // Always send the authenticity_token with ajax
  $(document).ajaxSend(function(event, request, settings) {
      if ( settings.type == 'post' ) {
          settings.data = (settings.data ? settings.data + "&" : "")
                  + "authenticity_token=" + encodeURIComponent( AUTH_TOKEN );
          request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
      }
  });

  //add label reference to input elements -> handy for getting label later; see below
  var labels = document.getElementsByTagName('LABEL');
  for (var i = 0; i < labels.length; i++) {
      if (labels[i].htmlFor != '') {
           var elem = document.getElementById(labels[i].htmlFor);
           if (elem)
              elem.label = labels[i];
      }
  }

  function addRequired(inputId){
    if ($(inputId)[0] == null)
      alert("Fehler: "+inputId + " not found - ignoring");
    else
      $($(inputId)[0].label).addClass("required");
  }

  function removeRequired(inputId){
      $($(inputId)[0].label).removeClass("required");
  }

  function showLoadingAnimation(){
    $('#loading-animation').center().show()
  }
  jQuery.fn.center = function () {
    this.css("position","fixed");
    this.css("top", (($(window).height() - this.outerHeight()) / 2) + $(window).scrollTop() + "px");
    this.css("left", (($(window).width() - this.outerWidth()) / 2) + $(window).scrollLeft() + "px");
    return this;
}

  </script>

  <%= yield :bottom %>
    </div>
</body>
</html>
