<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "application" %>
  <%= yield :head %>
</head>

<body style="background-color:white;">    
    
    <%= yield %>
    <%= javascript_include_tag "application" %>
    <% javascript_include_tag 'jquery.min-1.9.1.js' %> 
    <%= javascript_include_tag 'jquery-ui-1.10.3.js' %> 
    <%= csrf_meta_tag %>

    <%= yield :bottom %>



</body>
</html>
