<html>
<head>
<style type="text/css">
.success-quotes {
  font-size:20px;
  margin-bottom:50px;
}
.success-quotes {
  padding-left:150px;
}
.chart{
  margin-top:20px;  
}
#period-selection{
  float:right;
  margin-right:10px;
}
#technician-selection{
  float:right;
}
#controller-selection{
  float:right;
}
</style>
<%= yield :head %>
</head>
<body>
<%= yield %>

<%= javascript_include_tag "jquery.min.js" %>
<%= javascript_include_tag "jquery.query.js" %>
<%= javascript_include_tag "highcharts.js" %>
<script type="text/javascript">
function addParamToUrl(url, key, value){
  key = escape(key); value = escape(value);
  var kvp = url.split('?')[1].split('&');
  var i=kvp.length; var x; while(i--) {
    x = kvp[i].split('=');
    if (x[0]==key){
      x[1] = value;
      kvp[i] = x.join('=');
      break;
    }
  }

  if(i<0) {kvp[kvp.length] = [key,value].join('=');}
  newUrl = url.split("?")[0]+"?" + kvp.join('&'); 
  return newUrl;
} 
</script>
<%= yield :bottom %>
</body>
</html>
