<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1">

  <title>scheduling mobile</title>
  <%= stylesheet_link_tag 'http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.css' %>
  <%= javascript_include_tag 'http://code.jquery.com/jquery-1.4.3.min.js' %>
  <%= javascript_include_tag 'jquery_ujs' %>
  <%= javascript_include_tag 'http://code.jquery.com/mobile/1.0a4/jquery.mobile-1.0a4.min.js' %> 
  
  <% stylesheet_link_tag 'http://code.jquery.com/mobile/1.0rc1/jquery.mobile-1.0rc1.min.css' %>
  <% javascript_include_tag 'http://code.jquery.com/jquery-1.6.4.min.js' %>
  <% javascript_include_tag 'jquery_ujs' %>
  <% javascript_include_tag 'http://code.jquery.com/mobile/1.0rc1/jquery.mobile-1.0rc1.min.js' %>

  <%= csrf_meta_tag %>

  <style type="text/css">
  	h1{
  		font-size: 25px;
  	}
  	.odd{
  		background-color:white;
  	}
  	.even{
  		background-color:#ebebeb;
  	}
	.panel 
	{
  		width:100%;
		border-collapse:collapse;
	}
	.panel ,th, td
	{
		border: 1px solid #ddd;
	}
  	.panel .name{
  		padding:10px;
  		background-color:#ebebeb;
  		
  	}
  	.panel .value{
  		padding:10px;
  		background-color:#fff;
  		
  	}
    .small-header{
      font-weight: bold;
    }
    h1{
      font-size:20px;
      padding:0;
      margin:0;
    }
    h2{
      font-size:16px;
      padding:0;
      margin:0;
    }
    .group .cc{
      padding:10px;
    }
  </style>
  <script type="text/javascript">
function pageScript(func) {
  var $context = $("div:jqmData(role='page'):last");
  func($context);
}
</script>
</head>
<body>
	<div data-role="page" data-add-back-btn="true" data-back-btn-text="zurück" >
		<div data-role="header">
			<h1><%= Settings.PRODUCT_NAME %></h1>
			<a href="/mobile" data-icon="home" data-direction="reverse" class="ui-btn-right">home</a>
		</div><!-- /header -->
		<!--<div data-role="content" style="padding0; margin:0">	-->
			    <div style="min-height:423px"><%= yield %></div>
		<!--</div><!-- /content -->

<div data-role="footer" class="ui-bar" >
<% if current_user then %>
<span style="font-size:13px; position:relative; top:5px">Benutzer: <%= current_user.full_name %></span>
  <a href="/d/sign_out" data-role="button" data-icon="delete" style="float: right; margin-right:27px;">abmelden</a>
<% end %>
</div>
	</div><!-- /page -->
	   

  	</div>
    <%= yield :bottom %>
</body>
</html>
