<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "application" %>
  <%= yield :head %>
</head>
<body style="background-color:white;">
  <div id="pop_up">
      <div class="flash">
        <% flash.each do |type, message| %>
          <% if !message.blank? then %>
            <div class="message <%= type %>">
              <p><%= raw message %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    
    <%= yield %>
    <% javascript_include_tag "application" %>
    <!-- TODO: atm needs jquery before 1.9 for certain plugins to work -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="/assets/jquery_ujs.js?body=1" type="text/javascript"></script>
		<script src="/assets/customSelect.jquery.js?body=1" type="text/javascript"></script>
		<script src="/assets/highcharts.js?body=1" type="text/javascript"></script>
		<script src="/assets/jquery.autocomplete.min.js?body=1" type="text/javascript"></script>
		<script src="/assets/jquery.fancybox-1.3.4.pack.js?body=1" type="text/javascript"></script>
		<script src="/assets/jquery.filestyle.js?body=1" type="text/javascript"></script>
		<script src="/assets/jquery.mousewheel-3.0.4.pack.js?body=1" type="text/javascript"></script>
		<script src="/assets/jquery.query.js?body=1" type="text/javascript"></script>
		<script src="/assets/jquery.watermark.min.js?body=1" type="text/javascript"></script>
		<script src="/assets/underscore-min.js?body=1" type="text/javascript"></script>
		<script src="/assets/search.js?body=1" type="text/javascript"></script>
		<script src="http://cdn.jquerytools.org/1.2.6/form/jquery.tools.min.js" type="text/javascript"></script>

    <%= csrf_meta_tag %>
    <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%>
    <%= yield :bottom %>
  </div>
  <script type="text/javascript">
  var currentJobId = -1;
  $(function() {

    //handle view selection
    $('#view_selection').change(function(){
      var view = $("#view_selection :selected").val();
      switchToView(view);
    });

    //make rows clickable
    $('.table tr').click(function() {
      var ev = arguments[0] || window.event,
      origEl = ev.target || ev.srcElement;
      if ((origEl.tagName == "A") || (origEl.tagName == "IMG"))
        return; //don't mess with real links

      var href = $(this).find("td.last a").attr("href"); //else: use first link from edit column
      if(href)
        window.location = href;
    });

    //hovering table rows
    $('.table tr').hover(function() {
      $(this).toggleClass('highlite');
    });

      
    $(".modal .modal-header .close").click(function(event){
      $(".modal").hide();
    });

    $("#today_appointments .table tr").unbind("click");
    $("#today_appointments .table tr").click(function(){
      currentJobId = $(this).attr("data-id");
      $(".modal").show();
      return false;
    });

  });

  function switchToView(view)
  {
    window.location = "/"+view;
  }
  
  // Always send the authenticity_token with ajax
  $(document).ajaxSend(function(event, request, settings) {
      if ( settings.type == 'post' ) {
          settings.data = (settings.data ? settings.data + "&" : "")
                  + "authenticity_token=" + encodeURIComponent( AUTH_TOKEN );
          request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
      }
  });

  </script>
  </div>
</body>
</html>
