<li class="first <%= params[:action]  == 'index' ? 'active' : '' %>"><%= link_to "Mein Dashboard", [current_view] %></li>
<li class="<%= params[:action]  == 'all' ? 'active' : '' %>"><%= link_to "Dashboard alle Aufträge", [current_view, :all] %></li>
<li class="<%= params[:action]  == 'import_job' ? 'active' : '' %>"><%= link_to "Einzelauftrag importieren", scheduling_import_job_path %></li>

<!--
<li class="first <%= params[:action]  == 'import_zde_jobs_form' ? 'active' : '' %>"><%= link_to "zDE Installationsaufträge importieren", scheduling_import_zde_jobs_form_path %></li>
<li class="first <%= params[:action]  == 'import_zde_service_jobs_form' ? 'active' : '' %>"><%= link_to "zDE Entstörungsaufträge importieren", scheduling_import_zde_service_jobs_form_path %></li>
-->