<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <%= render "sub_menu" %>
    </ul>
  </div>
  <div class="content">
    <h2 class="title">Zu disponierende Installationsaufträge</h2>
    <div class="inner">
       <div id="new_jobs"><%= render :partial => "general/jobs_table", :locals => {:jobs => @new_jobs, :search => @search_new, :search_param_name => "q", :page_param_name => "page_new", :from_path => "/scheduling"} %></div>
    </div>
  </div>
 <div class="content">
    <h2 class="title">Zu disponierende Entstörungsaufträge</h2>
    <div class="inner">
       <div id="new_jobs"><%= render :partial => "general/service_jobs_table", :locals => {:service_jobs => @new_service_jobs, :search => @search_new_service, :search_param_name => "q", :page_param_name => "page_new_service", :from_path => "/scheduling"} %></div>
    </div>
  </div>

  <div class="content">
    <h2 class="title">Installationsaufträge mit neuer Terminanfrage</h2>
    <div class="inner">
       <div id="waiting_jobs"><%= render :partial => "general/jobs_table", :locals => {:jobs => @cancelled_jobs, :search => @search_cancelled_jobs, :search_param_name => "search_cancelled_jobs", :page_param_name => "page_cancelled_jobsg", :from_path => "/scheduling"} %></div>
    </div>
  </div>


 <div class="content">
  <div class="chart">
    <span class="title">Disponierte Termine und Folgen</span>
    <div class="inner">
        <iframe src="/scheduling/quotes_per_controller" frameborder="0" width="450" height="340" ></iframe>
    </div>
  </div>
  <div class="chart">
    <span class="title">Mein Arbeitsvolumen über Zeitraum</span>
    <div class="inner">
        <iframe src="/scheduling/volume_per_controller" frameborder="0" width="450" height="340" ></iframe>
    </div>
  </div>
  <br style="clear:both" />
</div>


</div>
